/* Services */

//
@import "../blocks/tabs/tabs";
//
//
.index-services {
  @extend .mt-50,
  .container-fluid;
  //
  &__container {
    @extend .container;
  }
  // HEADER
  &__header {
    @extend .px-15,
    .px-sm-0,
    .mb-25,
    .col-12,
    .index-header;
    & small {
      @extend .ml-md-5;
    }
  }
  //
  &__tabs {
    @extend .mt-10;
    min-height: 51rem;
  }
}

// //
//
// Import ELEMENTS
@import "__tabs/tabs";