// HEADER NAVBAR-BRAND NAVBAR-SM-MENU SEARCH-MENU
//
.header {
  ////
  &__navbar-item_search {
    z-index: 1002;
    &.collapse-x {
      display: none !important;
      & .header__header-form_search {
        width: 0rem;
      }
      &.show {
        display: flex !important;
        & .header__header-form_search {
          @extend .container;
        }
      }
    }
  }
  //
  &__navbar-item_search {
    @extend .w-100;
    background: rgba($white, .75);
    position: absolute;
    bottom: 0px;
    height: auto !important;
    @include transition($transition-base);
  }
  //
  &__header-form_search {
    @extend .form-inline,
    .p-0,
    .row,
    .justify-content-end;
    @include transition($transition-collapse-x);
    @include media-breakpoint-down(xs) {
      width: 100% !important;
      padding: 0 ($spacer * 1.5) !important;
    }
  }
  //
  &__input-group_search {
    @extend .input-group,
    .p-0,
    .col-12,
    .col-md-5,
    .col-lg-4,
    .col-xl-3;
    @include border ($gray-light, $size: 3);
  }
  //
  &__input_search {
    &:active,
    &:focus {
      border-color: rgba($gray, 0) !important;
    }
  }
  //    
  &__input-btn {
    //
    &_search {
      background-position: center;
      background-repeat: no-repeat;
      background-size: ($spacer * 2);
      background-image: $icon-arrow;
      background: $aledo;
      display: none;
      @include media-breakpoint-up(md) {
        padding: ($spacer * 1.9) ($spacer * 2.5);
      }
    }
    &_search-close {
      @include media-breakpoint-up(md) {
        padding: ($spacer * 1.9) ($spacer * 2.5) !important;
      }
    }
  }
  //
  // SM OPEN
  &_sm-open &__navbar-item_search {
    top: 5rem;
    bottom: inherit;
  }
  //
  // stuck
  &_stuck &__navbar-item_search {
    @include media-breakpoint-up(md) {
      background: rgba($gray-lighter, .75);
    }
  }
  //
  &_stuck &__input {
    @include media-breakpoint-up(md) {
      padding: ($spacer * .5) ($spacer * 1.5);
    }
  }
  //    
  &_stuck &__input-btn {
    //
    &_search {
      @include media-breakpoint-up(md) {
        padding: 1.5rem ($spacer * 2.5);
      }
    }
    &_search-close {
      @include media-breakpoint-up(md) {
        padding: 1.5rem ($spacer * 2.5) !important;
      }
    }
  }
}
