//- SEARCH MENU
div(elem='navbar-item' mods='search' class='collapse-x')
  form(elem='header-form' mods='search')
     div(elem='input-group' mods='search')
       input(elem='input' mods='search' id='header__search-form' type='search', placeholder='Начните поиск' autofocus)
       div(elem='input-group-addon') 
         //- WHEN FORM DONE
         button(elem='input-btn' mods='search' type='submit')
         // CLOSE FORM
         a(elem='input-btn' mods='close search:close' class='js-toggler show' href='#')