/* INDEX SHOWCASE */
//
$showcase-card-size-base: ($spacer * 10);
//
$showcase-card-sizes: ( 
  xs: $showcase-card-size-base * 4.15, 
  sm: $showcase-card-size-base * 4.15,
  md: $showcase-card-size-base * 2.75, 
  lg: $showcase-card-size-base * 3.15, 
  xl: $showcase-card-size-base * 3.5
);
//
//
.index-showcase {
  @extend .px-0,
  .mt-25,
  .container-fluid;  
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    margin-top: 10rem;
  }
  //
  &__header {
    @extend .container,
    .px-15,
    .px-md-25,
    .index-header;
    //
    & small {
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }
  //
  &__cards-wrap {
    @extend .px-0,
    .px-sm-15,
    .px-md-20,
    .mt-15,
    .container,
    .card-deck,
    .align-items-start,
    .align-items-md-stretch,
    .justify-content-between;
    @include media-breakpoint-down(xs) {
      position: relative;
      min-width: 540px;
    }
    //
    &_second {
      margin-top: 10px !important;
    }
  }
  //
  &__input {
    position: absolute;
    display: none;
  }
  &__label {
    @extend .d-flex,
    .col-6,
    .col-md-4;
    margin-bottom: 0;
    overflow: hidden;
    transition: all .5s ease;
    //
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $card-height: map-get($showcase-card-sizes, $breakpoint);
        height: $card-height;
      }
    }  
    //
    @include media-breakpoint-down(xs) {
      position: absolute;
      top: 0;
      &:nth-of-type(1) {
        left: 10px;
      }
      &:nth-of-type(2) {
        left: 280px;
      }
    }
  }
  //
  // OPEN
  &__input:checked+&__label {
    @extend .col-6,
    .col-md-8;
  }
  //  
  @include media-breakpoint-down(xs) {
    &__input:checked+&__label {
      &:nth-of-type(2) {
        left: calc(100vw - 295px);
      }
    }
    &__input:not(:checked)+&__label {
      &:nth-of-type(1) {
        left: calc(100vw - 565px);
      }
    }
    &__input:nth-of-type(1):checked~&__arrow_xs-left,
    &__input:nth-of-type(2):checked~&__arrow_xs-right {
      opacity: 0;
    }
  }
  //
  &__catalog-btn {
    @extend .mt-25,
    .mx-auto,
    .btn-border,
    .d-block;
    width: 12rem;
  }
  // XS-ARROWS
  &__arrow {
    @extend .d-sm-none,
    .arrow-btn;
    //
    &_xs-right {
      @extend .arrow-btn-right;
      left: calc(100vw - 45px);
      right: auto;
    }
    &_xs-left {
      @extend .arrow-btn-left;
    }
  }
}

// //
//
// Import ELEMENTS
@import "__cards/cards";
