// INDEX SHOWCASE
section(block='index-showcase')
  //-
  h1(elem='header') 
    | Мы поставляем
    small.text-muted светодиодное оборудование европейского качества по&nbsp;ценам Азии
  //-
  div(elem='cards-wrap')
    input(elem='input' id='index-showcase__card-1' name='index-showcase__card' type='radio' checked)
    label(elem='label' for='index-showcase__card-1')
      include __cards/card-1.pug
    |
    input(elem='input' id='index-showcase__card-2' name='index-showcase__card' type='radio')
    label(elem='label' for='index-showcase__card-2')
      include __cards/card-2.pug
    |
    //- XS-ARROWS
    label(elem='arrow' mods='xs:left' for='index-showcase__card-1')
    label(elem='arrow' mods='xs:right' for='index-showcase__card-2')    