/* HEADER USER REG MODAL */

.solutions-cinema-sample-modal {
  @extend .modal,
  .fade;
  //
  &__dialog {
    @extend .modal-dialog;
    max-width: 720px;
    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }
  //
  &__content {
    @extend .p-15,
    .modal-content;
    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }
  //
  // MODAL HEADER
  &__header {
    @extend .p-0,
    .modal-header,
    .align-items-baseline;
    flex: 0 0 auto;
  }
  //
  &__close-btn {
    @extend .px-10,
    .btn;
    height: 2rem;
    background: {
      color: transparent;
      position: center;
      repeat: no-repeat;
      image: $icon-close;
    }
    @include hover {
      background-image: $icon-close-hover;
    }
  }
  //
  &__text {
    @extend .mb-0;
  }
  //
  // MODAL BODY
  &__body {
    @extend .p-0,
    .p-md-25,
    .modal-body;
    overflow-y: auto;
    //
  }
  //
  &__projects-btn {
    @extend .mt-25,
    .mb-25,
    .mb-md-0,
    .mx-auto,
    .px-25,
    .py-10,
    .btn-border,
    .d-block;
    width: 20rem;
  }
}

// //
//
// Import ELEMENTS
@import '__project-details/project-details';
