// solutions-cinema-sample-Modal 
div(block='solutions-cinema-sample-modal' id="js-solutions-cinema-sample-modal" tabindex='-1' role='dialog' aria-labelledby='modal' aria-hidden='true')
  div(elem='dialog' role='document')
    div(elem='content')
      |
      div(elem='header')
        h5(elem='h5') Светотехнический расчёт по&nbsp;проекту
        //- CLOSE BUTTON
        a(elem='close-btn' class='js-toggler' data-dismiss='modal' aria-hidden='true' aria-label='Close' href='#')
      |
      div(elem='body')
        //-
        include __project-details/project-details.pug
        |
        //- LINK
        a(elem='projects-btn' mods='sm:down' href='/projects/view/66' target='_blank') Открыть проект
        