// HEADER NAVBAR-BRAND //
nav(elem='navbar-brand')
  //-
  include ../__navbar-logo/navbar-logo.pug  
  |
  //- SM-USER GROUP
  include ../__user-group/user-group.pug
  |
  //- NAVBAR-ITEMS  
  ul(elem='navbar-nav' mods='md:up')
    include ../__navbar-items/navbar-items.pug
  |
  //-
  ul(elem='navbar-nav' mods='collapse:menu')
    include ../__menu-toggler/menu-toggler.pug