/* HEADER NAVBAR-BRAND */

.header {
    //
    &__navbar-brand {
        @extend .py-0,
        .pl-15,
        .pl-sm-0,
        .py-md-25,
        .d-flex,
        .flex-row,
        .justify-content-between;
        @include make-container();
        @include make-container-max-widths();
        position: relative;
    }
    //
    // stuck
    &_stuck &__navbar-brand {
        @extend .py-md-15;
    }
}
