/* INDEX BLOG */

.index-blog {
  @extend .py-35,
  .px-0,
  .container-fluid;
  background: $gray-light;  
  overflow: hidden;
  //
  // HEADER
  &__header {
    @extend .px-15,
    .px-sm-25,
    .mb-25,
    .container,
    .d-flex,
    .flex-row,
    .align-items-baseline,
    .justify-content-between;
    color: $white !important;
    & small {
      @extend .ml-md-5;
      color: $white !important;
    }
  }
  &__h2 {
    @extend .index-header;
  }
  &__link {
    @extend .ml-auto,
    .text-uppercase;
    color: $gray-lightest;
    @include hover-focus() {
      color: $white;
    }
  }
  //
  &__blog-slider {
    @extend .px-15,
    .px-sm-25,
    .mx-0,
    .mx-sm-auto,
    .mb-25,
    .container;
    height: 0;
    opacity: 0;
    transition: all .35s ease-in-out;
    //
    .flickity-viewport {
      overflow: visible !important;
    }
    .flickity-prev-next-button {
      &.previous {
        left: 0;
      }
      &.next {
        right: 0;
      }
      &:after {
        background-color: transparent !important;
      }
      @include media-breakpoint-up(sm) {
        &.previous {
          left: -2.5rem;
        }
        &.next {
          right: -2.5rem;
        }
      }
    }
  }
}

// //
//
// Import ELEMENTS
@import "__post/post";
