// INDEX BLOG
section(block='index-blog')
  div(elem='header') 
    h2(elem='h2') Мы пишем
      small.text-muted о свете
    a(elem='link' href='/blog') Перейти в блог
  |
  div(elem='blog-slider')
    //-
    include __post/post.pug
    include __post/post.pug
    include __post/post.pug
    include __post/post.pug