/* INDEX PROJECTS FILTERS */

.index-projects {  
  //
  &__projects-filters {
    @extend .mt-xl-0,
    .mt-md-15,
    .p-0,
    .d-none,
    .d-md-flex,
    .flex-xl-column,
    .align-items-start,
    .flex-wrap,
    .col-md-9,
    .col-xl-12;
  }
  //
  &__filter {
    @extend .pr-35,
    .text-uppercase;
    font-size: $font-size-small;
    white-space: nowrap;
    line-height: 1.785;
    @include hover {
      text-decoration: underline !important;
    }
    //
    &.active {
      @extend .font-weight-bold;
      position: relative;
      //
      &:after {
        @include after-before();
        width: ($spacer * 2);
        height: ($spacer * 1.6);
        top: 0;
        right: $spacer;
        background: {
          repeat: no-repeat;
          size: 100%;
          image: $icon-check;
        }
      }
    }
  }  
}
