// INDEX PROJECTS PROJECTS-FILTERS
div(elem='projects-filters')
  a(elem='filter' class='active' href='#') Все
  a(elem='filter' href='#') Магазины
  a(elem='filter' href='#') Кинотеатры
  a(elem='filter' href='#') Офисы
  a(elem='filter' href='#') Рестораны
  a(elem='filter' href='#') Частные аппартаменты
  a(elem='filter' href='#') Музеи и галереи