/* SERIE HEADER */

.project-header {
  @extend .pb-25;
  &__h1 {
    @extend .display-3,
    .text-uppercase;
    line-height: 3.5rem;
  }
  &__tag {
    font-size: $font-size-small;
    color: $gray-light;
  }
}
