// INDEX PROJECTS
section(block='solutions-lines-projects')
  div(elem='header') Световые линии в наших проектах
  |
  div(elem='nav-wrap')
    //- NAV
    include __projects-nav/projects-nav.pug
  |
  div(elem='projects-wrap')
    //- Project DETAIL
    include __project-details/project-details.pug
    include __project-details/project-details-1.pug
    include __project-details/project-details-2.pug
    include __project-details/project-details-1.pug
    include __project-details/project-details.pug