/* INDEX CLIENTS */

.projects-clients {
  @extend .px-0,
  .container-fluid;
  height: 20rem;
  overflow: hidden;
  background: {
    color: $white;
  }
  transition: all .65s ease .35s;
  &:hover &__slide {
    opacity: 1;
  }
  // SLIDER
  &__slide {
    height: 100%;
    flex: 0 0 160rem;
    width: 160rem !important;
    background: {
      position: center;
      repeat: repeat-x;
      size: 100% auto;
      image: url(../img/clients.png);
    }
    transition: opacity .35s ease-in-out .15s;
    opacity: .7;
  }
}
