- var mods = [ { code: '166603', name:	'UN-TL00-255405A1', color: 'Чёрный', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '55°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '165754', name:	'UN-TL00-253301A1', color: 'Белый', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '35°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р'},	{ code: '166730', name:	'UN-TL00-25530IA1 55', color: 'Серебристый', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '55°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166726', name:	'UN-TL00-252401A1', color: 'Серебристый', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '25°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166725', name:	'UN-TL00-252301A1', color: 'Серебристый', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '25°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166724', name:	'UN-TL00-251401A1', color: 'Серебристый', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '15°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166212', name:	'UN-TL00-252305A1', color: 'Чёрный', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '25°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р '}, { code: '166723', name:	'UN-TL00-251301A1', color: 'Серебристый', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '15°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166721', name:	'UN-TL00-255401A1', color: 'Белый', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '55°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р'},	{ code: '166720', name:	'UN-TL00-252401A1', color: 'Белый', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '25°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р '}, { code: '166718', name:	'UN-TL00-251301A1', color: 'Белый', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '15°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166717', name:	'UN-TL00-251401A1', color: 'Белый', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3400 лм',	angle: '15°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р '}, { code: '166716', name:	'UN-TL00-253405A1S', color: 'Чёрный', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '35°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р'},	{ code: '166715', name:	'UN-TL00-251405A1', color: 'Чёрный', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '15°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166697', name:	'UN-TL00-255305A1', color: 'Чёрный', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '55°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р '}, { code: '166414', name:	'UN-TL00-252405A1', color: 'Чёрный', cri: '', ct: '', special: 'Для мяса', lighting: '25 Вт / 3500 лм',	angle: '25°', count: '0', hiPrice: '5995 Р',	lowPrice: '4197 Р'},	{ code: '166460', name:	'UN-TL00-251305A1', color: 'Чёрный', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '15°', count: '1',  hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166728', name:	'UN-TL00-25340IA1', color: 'Серебристый', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3600 лм',	angle: '35°', count: '2',  hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166727', name:	'UN-TL00-25330IA1', color: 'Серебристый', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '35°', count: '2',  hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166257', name:	'UN-TL00-255301A1', color: 'Белый', cri: '', ct: '', special: 'Для мяса', lighting: '25 Вт / 3500 лм',	angle: '55°', count: '5',  hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166729', name:	'UN-TL00-255401A1 55', color: 'Серебристый', cri: '90+', ct: '4000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '55°', count: '5',  hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166719', name:	'UN-TL00-252301A1', color: 'Белый', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3600 лм',	angle: '25°', count: '15',  hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166210', name:	'UN-TL00-253305A1', color: 'Чёрный', cri: '80+', ct: '3000 K', special: '', lighting: '25 Вт / 3500 лм',	angle: '35°', count: '17',  hiPrice: '5995 Р',	lowPrice: '4197 Р' }, { code: '166419', name:	'UN-TL00-253401A1', color: 'Белый', cri: '', ct: '', special: 'Для хлеба', lighting: '25 Вт / 3500 лм',	angle: '35°', count: '0',  hiPrice: '5995 Р',	lowPrice: '4197 Р' } ]
//-
- var a = {"Ё":"YO","Й":"I","Ц":"TS","У":"U","К":"K","Е":"E","Н":"N","Г":"G","Ш":"SH","Щ":"SCH","З":"Z","Х":"H","Ъ":"'","ё":"yo","й":"i","ц":"ts","у":"u","к":"k","е":"e","н":"n","г":"g","ш":"sh","щ":"sch","з":"z","х":"h","ъ":"'","Ф":"F","Ы":"I","В":"V","А":"a","П":"P","Р":"R","О":"O","Л":"L","Д":"D","Ж":"ZH","Э":"E","ф":"f","ы":"i","в":"v","а":"a","п":"p","р":"r","о":"o","л":"l","д":"d","ж":"zh","э":"e","Я":"Ya","Ч":"CH","С":"S","М":"M","И":"I","Т":"T","Ь":"'","Б":"B","Ю":"YU","я":"ya","ч":"ch","с":"s","м":"m","и":"i","т":"t","ь":"'","б":"b","ю":"yu"}
- var transliterate = function (word) { return word.split('').map( function (char) { return a[char] || char; } ).join("").toLowerCase(); }
//-
-var lightings = mods.map(function(mod) { return mod.lighting; }).filter(function(value, index, self) { if(value!=='') return self.indexOf(value) === index; }); 
-var cris = mods.map(function(mod) { return mod.cri; }).filter(function(value, index, self) { if(value!=='') return self.indexOf(value) === index; }); 
-var cts = mods.map(function(mod) { return mod.ct; }).filter(function(value, index, self) { if(value!=='') return self.indexOf(value) === index; }); 
-var specials = mods.map(function(mod) { return mod.special; }).filter(function(value, index, self) { if(value!=='') return self.indexOf(value) === index; }); 
-var angles = mods.map(function(mod) { return mod.angle; }).filter(function(value, index, self) { if(value!=='') return self.indexOf(value) === index; }); 
-var colors = mods.map(function(mod) { return mod.color; }).filter(function(value, index, self) { if(value!=='') return self.indexOf(value) === index; }); 
// serie-modifications
section(block='serie-modifications')
  h3(elem='h3') Список модификаций
  //-
  div(elem='filters-wrapper')
    div(elem='table-filters' id="serie-modification__filters_100359")
      div(elem='filters-col') Фильтры:
      div(elem='filters-col' data-filter-group='lighting')
        div(elem='filters-title') Мощность / Световой поток
        each lighting in lightings
          label(elem='filters-label')
            input(type='checkbox' value='.lighting-' + lighting.replace(' Вт / ', '-').replace(' лм', ''))
            span(elem='filters-indicator')
            =lighting
      div(elem='filters-col' data-filter-group='cri')
        div(elem='filters-title') CRI
        each cri in cris
          label(elem='filters-label')
            input(type='checkbox' value='.cri-' + cri.replace(/\+?/g, ''))
            span(elem='filters-indicator')
            =cri
      div(elem='filters-col' data-filter-group='ct')
        div(elem='filters-title') Цвет свечения
        each ct in cts
          label(elem='filters-label')
            input(type='checkbox' value='.ct-' + ct.replace(' K', ''))
            span(elem='filters-indicator')
            =ct
      div(elem='filters-col' data-filter-group='special')
        div(elem='filters-title') Спец. решения
        each special in specials
          label(elem='filters-label')
            input(type='checkbox' value='.special-' + transliterate(special).replace(' ', '-'))
            span(elem='filters-indicator')
            =special
      div(elem='filters-col' data-filter-group='angle')
        div(elem='filters-title') Угол свечения
        each angle in angles
          label(elem='filters-label')
            input(type='checkbox' value='.angle-' + angle.replace('°', ''))
            span(elem='filters-indicator')
            =angle
      div(elem='filters-col' data-filter-group='color')
        div(elem='filters-title') Цвет корпуса
        each color in colors
          label(elem='filters-label')
            input(type='checkbox' value='.color-' + transliterate(color))
            span(elem='filters-indicator')
            =color
      |
      button(elem='filters-reset' type='button')
        span Сбросить фильтры
        span(elem='close-btn')
  //- table
  div(elem='table-wrapper')
    //- collapse.show
    div(elem='moreover' id='serie-modification__table_100359'  class='collapse')
      div(elem='table')
        div(elem='th' id='sorts' class="button-group") 
          button(elem='sort-btn' data-sort='sort1' type="button") 
            span Код 
          button(elem='sort-btn' data-sort='sort2' type="button") 
            span Артикул 
          button(elem='sort-btn' data-sort='sort3' type="button") 
            span Мощность / Световой поток 
          button(elem='sort-btn' data-sort='sort4' type="button") 
            span CRI 
          button(elem='sort-btn' data-sort='sort5' type="button") 
            span Цветовая температура 
          button(elem='sort-btn' data-sort='sort6' type="button") 
            span Угол свечения 
          button(elem='sort-btn' data-sort='sort7' type="button") 
            span Цвет корпуса 
          button(elem='sort-btn' data-sort='sort8' type="button") 
            span Цена 
          button(elem='sort-btn' data-sort='sort9' type="button") 
            span Ваша цена 
          button(elem='sort-btn  type="button"' disabled) &nbsp;
        ul(elem='tbody')
          each mod, val in mods
            li(elem='tr' class='lighting-' + mod.lighting.replace(' Вт / ', '-').replace(' лм', '') + ' cri-' + mod.cri.replace(/\+?/g, '') + ' special-' + transliterate(mod.special).replace(' ', '-') + ' ct-' + mod.ct.replace(' K', '') + ' angle-' + mod.angle.replace('°', '') + ' color-' + transliterate(mod.color))
              div(elem='cell' mods='nowrap' class='cell-1 sort-1')=mod.code
              div(elem='cell' mods='description' class='cell-2 sort-2')=mod.name
              div(elem='cell' mods='nowrap' class='cell-3 sort-3')=mod.lighting
              div(elem='cell' mods='nowrap' class='cell-4 sort-4')=mod.cri
              //-
              if mod.ct
                div(elem='cell' mods='nowrap' class='cell-5 sort-5')=mod.ct
              if mod.special 
                div(elem='cell' mods='nowrap' class='cell-5 sort-5')=mod.special
              //-
              div(elem='cell' mods='nowrap' class='cell-6 sort-6')=mod.angle
              div(elem='cell' mods='nowrap' class='cell-7 sort-7')=mod.color
              div(elem='cell' mods='nowrap' class='cell-8 sort-8')=mod.hiPrice
              div(elem='cell' mods='nowrap' class='cell-9 sort-9') 
                b=mod.lowPrice
              div(elem='cell' mods='nowrap' class='cell-10')
                div(elem='table-btns')
                  button(elem='btn' mods='add' type='button') Купить
                  button(elem='btn' mods='share' type='button') &nbsp;
    //-
    button(elem="btn-more" type="button" data-toggle="collapse" data-target="#serie-modification__table_100359" aria-expanded="false")
      | Показать все  