/* serie-modifications */

.serie-modifications {
  @extend .w-100;
  &__h3 {
    @extend .display-5;
  }
  &__filters-wrapper {
    @extend .w-100;
    overflow-y: hidden;
    overflow-x: auto;
  }
  &__table-filters {
    @extend .mt-15,
    .px-15,
    .py-10,
    .d-flex,
    .flex-nowrap,
    .align-items-start,
    .justify-content-between;
    min-width: 95rem;
    background: $gray-lightest;
    @include border-dotted(top);
    font-size: $font-size-small;
  }
  &__filters-col {
    @extend .pr-25,
    .d-flex,
    .flex-column;
  }
  &__filters-title {
    @extend .mb-10;
  }
  &__filters-label {
    @extend .pl-20;
    position: relative;
    cursor: pointer;
    transition: $transition-base;
    color: $gray-dark;
    &:hover {
      color: $gray;
    }
    &:hover~&__filters-indicator {
      background-color: $aledo;
    }
    &>input {
      @extend .d-none;
    }
  }
  &__filters-label>input:checked~&__filters-indicator {
    background: {
      repeat: no-repeat;
      position: center;
      size: 14px;
      image: $icon-close;
    }
  }
  &__filters-label>input:checked:hover~&__filters-indicator {
    background-image: $icon-close-hover-dark;
  }
  &__filters-label.isDisabled {
    opacity: 0.5;
    cursor: default;
  }
  &__filters-indicator {
    @include after-before();
    top: 0.1rem;
    left: 0;
    height: 1.4rem;
    width: 1.4rem;
    background-color: $aledo-light;
    transition: $transition-base;
  }
  &__filters-reset {
    @extend .ml-auto,
    .pr-20;
    position: relative;
    visibility: hidden;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $gray;
    transition: opacity 0.35s ease-in-out 0.2s, color 0.2s ease;
    &:after {
      @include after-before();
      width: 1.5rem;
      height: 1.5rem;
      top: 0.1rem;
      right: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      background: {
        position: center;
        size: 1.5rem;
        repeat: no-repeat;
        image: $icon-close;
        color: $gray-lighter;
      }
      transition: $transition-base;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      color: $gray-dark;
      &:after {
        background-image: $icon-close-hover-dark;
      }
    }
  }
  &__table-wrapper {
    @extend .pb-10,
    .w-100;    
    position: relative;
    background: $white; // $aledo-lighter;
    @include border-dotted(bottom); //
  }
  &__moreover {
    @extend .d-block;
    height: 42.7rem;
    overflow-y: hidden;
    overflow-x: auto;
    transition: $transition-collapse;
    &.show {
      height: auto;
    }
  }
  &__table {
    @extend .w-100,
    .table;
    min-width: 95rem;
    border: 0 !important;
    font-size: $font-size-small;
  }
  &__thead {
    background-color: $gray-lighter;
  }
  &__tbody {
    @extend .mt-10,
    .list-unstyled;
    max-width: 1200px;
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
  }
  &__tr {
    @extend .flex-nowrap,
    .justify-content-between;
    display: flex;
    width: 100%;
    clear: both;
    background: $white; //$aledo-lighter;
    &:hover {
      background: $aledo-lightest;
      cursor: pointer;
    }
  }
  &__th {
    @extend .flex-nowrap,
    .justify-content-between;
    display: flex;
    width: 100%;
    background: $gray-lighter;
  }
  &__cell {
    @extend .py-5,
    .col,
    .d-flex,
    .align-items-center;
    border: 0 !important;
    &:not(:first-of-type):not(:last-of-type) {
      @extend .px-10;
    }
    /* &:first-of-type {
      @extend .pr-10;
    }
    &:last-of-type {
      @extend .pl-10;
    } */
    &_nowrap {
      &:not(:first-of-type) {
        @extend .justify-content-center;
      }
      white-space: nowrap;
    }
    &_description {
      white-space: nowrap;
      min-width: 17.5rem;
    }
  }
  &__sort-btn {
    @extend .btn;
    min-width: auto;
    font-size: $font-size-small;
    overflow: hidden;
    cursor: pointer;
    background-color: $gray-lighter;
    color: $gray;
    position: relative;
    &:hover,
    &.isAscending:hover>span:after,
    &.isDecending:hover>span:after {
      background-color: $gray-lightest;
    }
    &.is-checked {
      font-weight: $font-weight-bold;
    }
    &.isAscending>span:after,
    &.isDecending>span:after {
      @include after-before;
      width: 2.7rem;
      height: 2.7rem;
      top: 0;
      right: 0;
      transition: $transition-base;
      background: {
        repeat: no-repeat;
        position: center;
        size: 9px 12px;
        color: $gray-lighter;
      }
    }
    &.isAscending>span:after {
      background-image: $icon-ascending;
    }
    &.isDecending>span:after {
      background-image: $icon-descending;
    }
  }
  &__btn-more {
    position: absolute;
    left: calc(50% - 20rem/2);
    bottom: -(2.5rem/2);
    width: 20rem;
    height: 2.5rem;
    font-size: $font-size-small;
    background: $white;
    color: $gray;
    line-height: 2rem;
    border-radius: 1.175rem;
    @include border($gray-lighter);
    cursor: pointer;
    transition: $transition-base;
    &:hover {
      background: $gray-lightest;
      color: $gray-dark;
    }
    &:focus {
      outline: none;
    }
    & span {
      color: $gray-light;
    }
  }
  &__table-btns {
    @extend .btn-group;
  }
  &__btn {
    cursor: pointer;
    &_add {
      @extend .px-10,
      .btn-dft_inverted;
      font-size: $font-size-small;
    }
    &_share {
      @extend .btn;
      width: 2.7rem;
      background: {
        color: $gray-lighter;
        position: center;
        repeat: no-repeat;
        size: 1.65rem 1.65rem;
        image: $icon-share-lnk;
      }
      &:hover {
        background-color: $gray-light;
      }
    }
  }
}