// HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-NAV_USER-GROUP
//-
//- NAVBAR-NAV_USER-GROUP
ul(elem='navbar-nav' mods='sm user:group')
  li(elem='navbar-item' mods='sm')
    a(elem='navbar-link' mods='user' class='js-toggler' data-toggle="collapse" data-target="#js-user-login-toggle" aria-controls="js-user-login-toggle" aria-expanded="false" href='#')
      span(elem='navbar-link-icon') 
        //- mods='user:logged' or 'user:unlog'
        span(elem='navbar-icon' mods='pos:left user user:unlog') 
        span(elem='navbar-icon' mods='pos:left user user:logged')
        span Вход
  li(elem='navbar-item' mods='sm')
    a(elem='navbar-link' mods='basket basket:full' href='#')
      span(elem='navbar-link-icon') 
        span(elem='navbar-icon' mods='pos:left basket basket:full')
        span Корзина
        span(elem='navbar-badge') 2