/* HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-ITEMS_XS */

//
.header {
  //
  &__navbar-nav {
    &_sm {
      @extend .d-md-none;
    }
    //
    &_user-group {
      @extend .pl-0,
      .d-flex,
      .flex-column;
    }
  }
  //
  &__navbar-nav_collapse-menu {
    @extend .transition-fade,
    .d-none,
    .d-md-none;
  }
  //
  // NAVBAR-ICON
  &__navbar-icon {
    //
    &_user {
      background-image: $icon-user;
    }
    //
    &_user-logged {
      background-image: $icon-user-logged;
    }
    //
    &_basket {
      background-image: $icon-shop;
    }    
  }
  // NAVBAR-LINK
  &__navbar-link {
    &_user {
      @include hover {
        & .header__navbar-icon_user {
          background-image: $icon-user-hover;
        }
      }
    }
    //
    &_basket {
      @include hover {
        & .header__navbar-icon_basket {
          background-image: $icon-shop-hover;
        }
      }
    }    
  }  
  //
  // stuck / OPEN
  &_stuck &__navbar-nav,
  &_sm-open &__navbar-nav {
    //
    &_user-group {
      @extend .d-none;
    }
    //        
  }
  &_stuck &__navbar-nav_collapse-menu,
  &_sm-open &__navbar-nav_collapse-menu {
    @extend .d-flex,
    .d-md-none;
    flex: 1 100%;
  }
}
