// serie-order-form
section(block='serie-order-form')
  form(block='form' mods='order')
    div(elem='form-group' mods='left')
      label(elem='label' mods='name' for='form_name') Имя
      input(elem='input' mods='name' id='form_name' type='text' placeholder='Обязательно заполните это поле')      
    |
    div(elem='form-group' mods='right')
      label(elem='label' mods='contact' for='form_contact') Телефон или e-mail
      input(elem='input' mods='contact' id='form_contact' type='text' placeholder='Обязательно заполните это поле')      
    |
    div(elem='form-group' mods='left')
      label(elem='label' mods='checkbox')
        input(elem='input' mods='checkbox' type='checkbox' checked='checked')
        span(elem='indicator' mods='checkbox')
        span(elem='description' mods='checkbox') Согласен на&nbsp;обработку личных данных  
    |
    //- WHEN FORM DONE ACTIVE
    div(elem='form-group' mods='right')
      button(elem='input-btn' type='submit') Отправить