// service warehouse
div(elem='pane-content')
  h3(elem='pane-header') Внедрение систем управления освещением
  div(elem='pane-body')
    p(elem='pane-lead' mods='padding-bottom') 
      | Современные светотехнические решения редко обходятся без систем управления светом.
    |
    p(elem='pane-desc')
      | В&nbsp;рамках интеграции СУО наши технические специалисты и&nbsp;монтажные подразделения работают над:
    |
    ul(elem='list')
      li Разработкой световых сценариев.
      li Подбором оборудования, составлением спецификаций.
      li Установкой, программингом, пусконаладкой оборудования.
    |
    div(elem='pane-links')
      p(elem='pane-h4') Пример СУО
      a(elem='pane-link' href='/projects/view/41') Посмотреть проект
      //-
      div(elem='pane-scroller')
        div(elem='pane-img' mods='scroller' mix='block:thumbnails' style='background-image: url(img/services-system-01.png);' class='carousel-cell')
        div(elem='pane-img' mods='null' class='carousel-cell')