// service warehouse
div(elem='pane-content')
  h3(elem='pane-header') Проектные работы
  div(elem='pane-body')
    p(elem='pane-lead' mods='padding-bottom') 
      | Мы&nbsp;работаем в&nbsp;том числе и&nbsp;в&nbsp;&laquo;долгих проектах&raquo;, требующих комплексного подхода и&nbsp;решения широкого круга задач.
    |
    p(elem='pane-desc')
      | Вот некоторые из&nbsp;них:
    |
    ul(elem='list')
      li Разработка концепции освещения.
      li Создание световых планов и&nbsp;мастер-планов.
      li Разработка проектной документации (стадии П, РД).
    |
    div(elem='pane-links')
      p(elem='pane-h4') Наши проекты
      a(elem='pane-link' href='#') Все проекты
      //-
      div(elem='pane-slider')
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span Бутик «SPAZIO»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/002.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span Продуктовый супермаркет «Перекресток»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span Бутик «SPAZIO»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»