/* services panes */

//
@import "../blocks/thumbnails/thumbnails";
//
.tabs {
  //
  &__pane-content {
    @extend .ml-lg-35,
    .ml-xl-100,
    .w-100,
    .d-flex,
    .flex-column;
  }
  //
  &__pane-header {
    @extend .pb-10,
    .mb-25,
    .w-100;
    @include border-dotted (bottom);
  }
  //
  &__pane-body {
    @extend .mb-10,
    .d-flex,
    .flex-column,
    .justify-content-between;
    flex: 1 auto;
    max-width: 60rem;
  }
  //
  &__pane-lead {
    @extend .d-flex,
    .lead;
  }
  //
  &__pane-desc {
    @extend .d-flex,
    .w-100;
    color: $gray-dark;
  }
  //
  &__list {
    @extend .list;
    color: $gray-dark;
    li {
      margin-bottom: .5rem;
    }
  }
  //
  //
  // DESIGN
  //
  &__pane-lead_padding-bottom {
    @extend .pb-15;
  }
  &__pane-links {
    @extend .row;
  }
  &__pane-h4 {
    @extend .pb-10,
    .display-4,
    .col-7,
    .col-sm-6,
    .align-self-baseline;
    &_without-link {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
  &__pane-link {
    @extend .link_small,
    .link_underline,
    .text-right,
    .col-5,
    .col-sm-6,
    .align-self-baseline;
  }
  &__pane-col {
    @extend .mb-5,
    .mb-sm-0,
    .col-12,
    .col-sm-6;
  }
  &__pane-img {
    height: 14.5rem;
    //
    &_scroller {
      min-width: 58rem;
      max-width: 600rem;
      width: 100%;
    }
    &_null {
      max-width: 0rem;
    }
  }
  &__pane-name {
    
  }
  //
  // WAREHOUSE
  &__pane-info {
    @extend .my-15,
    .my-md-0,
    .py-15,
    .d-flex,
    .justify-content-center;
    @include border ($aledo, 3);
  }
  &__info-wrap {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center;
    min-width: 60rem;
    @include media-breakpoint-down(xs) {
      transform: scale(.5);
    }
    @include media-breakpoint-only(sm) {
      transform: scale(.75);
    }
    @include media-breakpoint-only(md) {
      transform: scale(.85);
    }
  }
  &__info-count {
    @extend .mr-15;
    font-weight: 100;
    font-size: 9rem;
    line-height: 9rem;
  }
  &__info-date {
    color: $gray-light;
    @include border-dotted (bottom);
  }
  &__info-desc {
    @extend .mt-5;
    font-weight: $font-weight-light;
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
  &__pane-lead_warehouse {
    @extend .text-center;
  }
  &__pane-btn {
    @extend .mt-15,
    .mt-md-0,
    .mx-auto,
    .btn-border;
    width: 20rem;
  }
  //
  //
  // PROJECT
  &__pane-slider {
    @extend .col-12;
    //
    & .flickity-prev-next-button {
      width: 4.5rem;
      opacity: 0;
      &.next {
        right: .5rem;
      }
      &.previous {
        left: .5rem;
      }
    }
    &:hover .flickity-prev-next-button {
      opacity: .8;
    }
  }
  &__pane-img_slide {
    @extend .mr-5;
    background-position: center;
    width: 20rem;
    @include media-breakpoint-up(lg) {
      width: calc(1/3*100% - 1/2*.5rem);
    }
  }
  //
  &__pane-scroller {
    @extend .col-12;
  }
}
