/* SERIE SLIDER */

.slider {
  @extend .container-fluid;
  height: 50rem;
  //
  .carousel-cell {
    height: 100%;
  }
  .flickity-prev-next-button {
    width: 4.5rem;
    opacity: 0;
  }
  &:hover .flickity-prev-next-button {
    opacity: .8;
  }
  //
  &__slide {
    background: $gray-back;
    margin-right: .5rem;    
  }
  &__img {
    width: auto;
    height: 100%; 
  }
}