// SERIE SLIDER
div(block='slider')
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-white.png' alt='')
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-black.png' alt='')
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-white.png' alt='')
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-black.png' alt='')