/* project-other-projects */
//
@import "../blocks/thumbnails/thumbnails";
//

.project-other-projects {
  @extend .mt-35,
  .container,
  .row;
  //
  &__h3 {
    @extend .pb-10,
    .display-4,
    .col-7,
    .col-sm-6,
    .align-self-baseline;
  }
  &__link {
    @extend .link_small,
    .link_underline,
    .text-right,
    .col-5,
    .col-sm-6,
    .align-self-baseline;
  }
  &__slider {
    @extend .col-12;
    //
    & .flickity-prev-next-button {      
      width: 4.5rem;
      opacity: 0;
      &.next {
        right: .5rem;
      }
      &.previous {
        left: .5rem;
      }
    }
    &:hover .flickity-prev-next-button {
      opacity: .8;
    }
  }
  &__img_slide {
    @extend .mr-5;
    background-position: center;
    width: 20rem;
    height: 17.5rem;
    @include media-breakpoint-up(md) {
      width: calc(1/3*100% - 1/2*.5rem);
    }
    @include media-breakpoint-up(lg) {
      width: calc(1/4*100% - 1/3*.5rem);
    }
     @include media-breakpoint-up(xl) {
      width: calc(1/5*100% - 1/4*.5rem);
    }
  }
}