// SOLUTIONS FORM
section(block='solutions-solutions-form')
  div(elem='wrapper')
    div(elem='header') 
      | Вы дизайнер или архитектор?
    div(elem='lead')
      | Будьте уверены, мы&nbsp;предложим вам интересные условия работы наряду с&nbsp;отличным сервисом!
    //- FORM
    form(block='form' mods='request two:lines' mix='block:solutions-solutions-form elem:form')
      |  
      div(elem='form-group' mods='input')
        label(elem='label' mods='input' for='solutions-cinema-solutions-form_name') Ваше имя
        input(elem='input' mods='input' id='solutions-cinema-solutions-form_name' type='text' placeholder='Обязательно заполните это поле')
      |
      div(elem='form-group' mods='input')
        label(elem='label' mods='input' for='solutions-cinema-solutions-form_contact') Ваш номер телефона или&nbsp;email
        input(elem='input' mods='input' id='solutions-cinema-solutions-form_contact' type='text' placeholder='Обязательно заполните это поле')      
      |
      div(elem='form-group' mods='checkbox')
        label(elem='label' mods='checkbox')
          input(elem='input' mods='checkbox' type='checkbox' checked='checked')
          span(elem='indicator' mods='checkbox')
          span(elem='description' mods='checkbox') Согласен на обработку личных данных
      |
      //- WHEN FORM DONE - ACTIVE
      div(elem='form-group' mods='btn')
        button(elem='input-btn' type='submit') Отправить  