// solutions
section(block='solutions')
  h2(elem='header') Наши решения
  |
  div(elem='row')
    |
    div(elem='column')
      a(block='card' mods='round' mix='block:solutions elem:card' href='/solutions/view/5') 
        div(elem='image' mix='block:solutions elem:image' style='background-image: url(img/s-1.png);')
        p(elem='title' mix='block:solutions elem:title') Для ритейла
    |
    div(elem='column')
       a(block='card' mods='round' mix='block:solutions elem:card' href='/solutions/cinema') 
        div(elem='image' mix='block:solutions elem:image' style='background-image: url(img/s-2.png);')
        p(elem='title' mix='block:solutions elem:title') Для кинотеатров
    |
    div(elem='column')
       a(block='card' mods='round' mix='block:solutions elem:card' href='/info/landing') 
        div(elem='image' mix='block:solutions elem:image' style='background-image: url(img/s-4.png);')
        p(elem='title' mix='block:solutions elem:title') Световые линии
    |
    div(elem='column')
      div(block='card' mods='round unavailable' mix='block:solutions elem:card') 
        div(elem='image' mix='block:solutions elem:image' style='background-image: url(img/s-3.png);')
          div(elem='fader' mods='unavailable')
            div(elem='unavailable' tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="" data-content="В настоящий момент раздел заполняется")
        p(elem='title' mix='block:solutions elem:title') Для ресторанов