/* solutions */

//
@import "../blocks/cards/card_round_unavailable";
//
.solutions {
  @extend .mt-35,
  .container;
  //
  // HEADER
  &__header {
    @extend .px-15,
    .px-sm-0,
    .display-2;
  }
  //
  &__row {
    @extend .mt-25,
    .row;
  }
  //
  &__column {
    @extend .my-15,
    .col-12,
    .col-sm-6,
    .col-md-3,
    .d-flex,
    .justify-content-center,
    .justify-content-sm-start;
  }
  //
  &__card {
    width: 85%;
  }
  //
  // XS 
  @include media-breakpoint-down(xs) {
    &__card {
      width: 100%;
      max-width: 25rem;
    }
    //
    &__column:nth-of-type(2n+1) {
      .solutions {
        &__card {
          flex-direction: row !important;
          margin-left: -25rem;
        }
        &__title {
          margin-top: 0 !important;
          margin-left: ($spacer * 1.5) !important;
        }
        &__fader {
          left: calc(100% - 4.5rem);
          background: {
            position: 5% center;
          }
        }
      }
    }
    //
    &__column:nth-of-type(2n) {
      .solutions {
        &__label {
          justify-content: flex-end;
        }
        &__card {
          flex-direction: row-reverse !important;
          margin-right: -25rem;
        }
        &__title {
          margin-top: 0 !important;
          margin-right: ($spacer * 1.5) !important;
        }
        &__fader {
          right: calc(100% - 4.5rem);
          background: {
            position: 95% center;
          }
        }
      }
    }
    //
    &__image {
      width: 25rem;
      height: 25rem;
      flex-shrink: 0;
    }
    //
    &__fader {
      top: 0;
    }
    //
    &__title {
      align-items: center;
      display: flex;
    }
  }
}
