// INDEX WRITE US FORM
section(block='index-write-us')
  //-
  h2(elem='header') Напишите нам
  |
  //- FORM
  form(block='form' mods='feedback' mix='block:index-write-us elem:form' id='index-write-us-form')
    |
    div(elem='form-group')
      label(elem='label' mods='name' for='index-write-us_name') Ваше имя
      input(elem='input' mods='name' id='index-write-us_name' type='text' placeholder='Обязательно заполните это поле')
      |
      label(elem='label' mods='contact' for='index-write-us_contact') Ваш номер телефона или email
      input(elem='input' mods='contact' id='index-write-us_contact' type='text' placeholder='Обязательно заполните это поле')
    |
    div(elem='form-group')
      label(elem='label' mods='message' for='index-write-us_message') Сообщение
      textarea(elem='input' mods='message' id='index-write-us_message' type='text' rows="5" placeholder='Обязательно заполните это поле')
    |
    div(elem='form-group' mods='checkbox')
      label(elem='label' mods='checkbox')
        input(elem='input' mods='checkbox' type='checkbox' checked='checked')
        span(elem='indicator' mods='checkbox')
        span(elem='description' mods='checkbox') Согласен на&nbsp;обработку личных данных  
    |
    //- WHEN FORM DONE ACTIVE
    div(elem='form-group' mods='btn')
      button(elem='input-btn' type='submit') Отправить