/* INDEX WRITE US FORM */

//
@import "../blocks/forms/form_feedback";
//
//
.index-write-us {
  @extend .mt-25,
  .px-15,
  .px-sm-0,
  .container;
  //
  // Header
  &__header {
    @extend .px-5,
    .pb-5,
    .display-3;
    @include border-dotted (bottom);
  }
  //
  &__form {
    @extend .px-0,
    .py-25,
    .row;
    @include border-dotted (bottom);
  }
}
