/* INDEX BLOG POST */

.index-blog {
  //
  &__post {
    @extend .mx-5,
    .p-25,
    .p-md-35,
    .p-lg-50,
    .w-100,
    .card,
    .flex-md-row,
    .align-items-center;
    opacity: .5;
    transition: opacity .35s ease;
    //
    &.is-selected {
      opacity: 1;
    }
  }
  &__post-img {
    @extend .mr-md-35,
    .mr-lg-50;
    border-radius: 50%;
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    }
    min-width: 17.5rem;
    min-height: 17.5rem;
    width: 17.5rem;
    height: 17.5rem;
    //
    @include media-breakpoint-down(md) {
      min-width: 13.4rem;
      min-height: 13.4rem;
      width: 13.4rem;
      height: 13.4rem;
    }
  }
  //
  &__post-block {
    @extend .pl-md-35,
    .pl-lg-50,
    .card-body,
    .d-flex,
    .flex-column,
    .justify-content-start;
    flex: 1 auto;
    transition: background .2s ease;
    @include media-breakpoint-up(md) {
      @include border-dotted (left);
    }
  }
  //
  &__post-title {
    @extend .d-flex,
    .card-title,
    .display-3,
    .text-center,
    .text-md-left;
    flex: 0 0 auto;
  }
  //
  &__post-desc {
    @extend .d-flex,
    .card-text,
    .text-center,
    .text-md-left;
    max-height: 8rem;
  }
  //
  &__post-link {
    @extend .mt-15,
    .card-link,
    .align-self-end;
    ;
    color: $gray-light !important;
    line-height: 1.25;
    text-decoration: underline !important;
    @include hover {
      color: $gray-dark !important;
    }
  }
}
