// INDEX BLOG POST
div(elem='post' class="carousel-cell")
    div(elem='post-img' mods='left' style='background-image: url(img/blog-img.png);')
    div(elem='post-block')
      a(elem='post-title' href='#')
          | Диммирование светодиодов в&nbsp;общем и&nbsp;в&nbsp;деталях
      p(elem='post-desc') 
        | Диммирование (от&nbsp;англ. dimming&nbsp;&mdash; затемнение)&nbsp;&mdash; это процесс управления интенсивностью освещения, уходящий своими корнями в&nbsp;XIX&nbsp;век. Впервые диммирование было применено в&nbsp;театрах, когда по&nbsp;замыслу режиссёра сцена должна была затемняться и&nbsp;освещаться в&nbsp;зависимости от&nbsp;происходящего на&nbsp;ней действия. 
      a(elem='post-link' href='#') читать далее