.series-tags-block
  |
  span#series_tag_100322_5.series-tags-block__item(style='float: left;', data-toggle='tooltip', data-target='webuiPopover27')
      span.tag-name [ PLUS ]
      .tag-tooltip
        p
          | Профессиональная линейка 
          br
          strong aledo PLUS
  |
  span#series_tag_100089_6.series-tags-block__item.popovered-tag(class='series-tags-block__item_right' style='float: right;', data-toggle='tooltip', data-target='webuiPopover0')
    svg(width='13', height='21', viewbox='0 0 13 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:figma='http://www.figma.com/figma/ns')
      title Vector
      desc Created using Figma
      g#Canvas(transform='translate(134 125)', figma:type='canvas')
        g#Vector(style='mix-blend-mode:normal;', figma:type='vector')
          use(xlink:href='#path0_fill', transform='translate(-134 -124.5)', fill='#615C5E', style='mix-blend-mode:normal;')
      defs
        path#path0_fill(d='M 6.47054 4.62C 8.66012 8.29 10.5159 12.05 10.5159 13.38C 10.5159 13.921 10.4112 14.4568 10.2079 14.9567C 10.0046 15.4565 9.70666 15.9107 9.33102 16.2933C 8.95537 16.6759 8.50942 16.9793 8.01862 17.1864C 7.52782 17.3934 7.00178 17.5 6.47054 17.5C 5.9393 17.5 5.41327 17.3934 4.92247 17.1864C 4.43167 16.9793 3.98571 16.6759 3.61007 16.2933C 3.23443 15.9107 2.93645 15.4565 2.73316 14.9567C 2.52986 14.4568 2.42523 13.921 2.42523 13.38C 2.42523 12.06 4.28096 8.29 6.47054 4.62ZM 6.47054 0C 6.47054 0 0 9.73 0 13.38C 1.39533e-14 15.1357 0.684816 16.8196 1.9038 18.061C 3.12279 19.3025 4.7761 20 6.5 20C 8.22391 20 9.8772 19.3025 11.0962 18.061C 12.3152 16.8196 13 15.1357 13 13.38C 12.9607 9.73 6.46073 8.88178e-16 6.46073 8.88178e-16L 6.47054 0Z')
    span.tag-name IP44
