// CATALOG

/* CHANGE OLD CODE */

.series-tile {
  //
  &__link {}
}

//
.series-tile:hover,
.subsection.show-info {
  .tile-title-series {
    //font-weight: bold;
    color: $gray-dark;
  }
  //
  .series-info {
    opacity: .99;
    //
    &__param {
      opacity: .99;
    }
  }
}

.subsection.show-info {}

.tile-title-series {
  position: relative;
  z-index: 102;
  background-color: transparent;
}

.series-tags-block__item_right {
  position: relative;
  z-index: 101;
}

.series-tag-new {
  background: #CCD131;
  color: #ffffff;
  width: 40px;
  height: 19px;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}

.series-tag-temporary {
  content: "";
  background: $icon-temporary 100% no-repeat;
  color: #ffffff;
  width: 32px;
  height: 25px;
  position: absolute;
  top: 0;
  left: .5rem;
}

/* NEW CLASS */

//
// HOVERS
.series-info {
  @extend .d-block;
  position: absolute;
  top: -5px;
  bottom: -10px;
  left: 0;
  right: 0;
  background: rgba($gray-lightest, .8);
  padding: 47px 15px 15px;
  z-index: 99;
  font-size: 1.2rem;
  line-height: 1.5rem;
  @include border ($gray-lighter);
  text-decoration: none !important;
  opacity: 0;
  transition: all .1s ease;
  //
  &__param {
    margin-bottom: .5rem;
    opacity: 0;
    transition: all .2s ease .1s;
    //
    &_sri {}
    &_clearfix {
      @include clearfix;
      margin-bottom: .5rem;
    }
    &_lm {
      float: left;
    }
    &_matrix {
      position: relative;
      &::after {
        @include after-before();
        top: 0;
        right: 5px;
        height: 15px;
        width: 75px;
        background: $icon-matrix center no-repeat;
      }
    }
    //
    &_dimming {
      @extend .d-inline-block,
      .float-right;
      width: 5rem;
      height: 2rem;
      margin-top: .9rem;
      background: {
        position: center;
        size: contain;
        repeat: no-repeat;
        image: $icon-dimming;
      }
    }
    //
    &_angles {
      position: absolute;
      left: 1.5rem;
      bottom: 1.5rem;
      height: 2.5rem;
      margin: 0;
    }
    //
    &_disable {
      visibility: hidden;
    }
  }
  &__title {
    &_sri {}
    &_matrix {}
  }
  &__value {
    font-weight: bold;
    color: $gray-dark;
    &_sri {}
    &_size,
    &_lm {
      display: inline-block;
      &::after {
        display: inline-block;
        margin-left: 5px;
      }
    }
    &_size {
      &::after {
        content: 'мм';
      }
    }
    &_lm {
      &::after {
        content: 'лм';
      }
    }
  }
  //
  &__angle-icon {
    display: inline-flex;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .5rem;
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
    }
    &_adjust {
      &-super-spot {
        background-image: $icon-angle-adjust-super-spot;
      }
      &-spot {
        background-image: $icon-angle-adjust-spot;
      }
      &-medium {
        background-image: $icon-angle-adjust-medium;
      }
      &-flood {
        background-image: $icon-angle-adjust-flood;
      }
      &-wide {
        background-image: $icon-angle-adjust-wide;
      }
      &-focusable {
        background-image: $icon-angle-adjust-focusable;
      }
      &-oval-flood {
        background-image: $icon-angle-adjust-oval-flood;
      }
    }
    &_fixed {
      &-super-spot {
        background-image: $icon-angle-fixed-super-spot;
      }
      &-spot {
        background-image: $icon-angle-fixed-spot;
      }
      &-medium {
        background-image: $icon-angle-fixed-medium;
      }
      &-flood {
        background-image: $icon-angle-fixed-flood;
      }
      &-wide {
        background-image: $icon-angle-fixed-wide;
      }
      &-focusable {
        background-image: $icon-angle-fixed-focusable;
      }
      &-oval-flood {
        background-image: $icon-angle-fixed-oval-flood;
      }
    }
    &_wallwasher {
      background-image: $icon-angle-wallwasher;
    }
  }
}
