// SERIE SLIDER
section(block='slider' mix='block:serie-slider')
  //-
  include _summary/_summary.pug
  |
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-white.png' alt='')
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-black.png' alt='')
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-white.png' alt='')
  div(elem='slide' mods='fancybox' class="carousel-cell")
    img(elem='img' src='./img/une-2-black.png' alt='')