/* SERIE SLIDER */
@import "../blocks/slider/slider";

.serie-slider {
  height: 40rem;
  @include media-breakpoint-up(md) {
    height: 42.5rem;
  }
  @include media-breakpoint-up(lg) {
    height: 45rem;
  }
  @include media-breakpoint-up(xl) {
    height: 50rem;
  }
}

// _summary
@import "_summary/_summary";
//
