// BREADCRUMBS SOLUTION CINEMA
nav(block='breadcrumbs')
  ul(elem='list')
    each link, name  in items 
      //-
      li(elem='nav-item')
        a(elem='nav-link' href=link) #{name}
    //-
      li(elem='nav-item')
        a(elem='nav-link' href='/solutions') Услуги и решения
    //-
    li(elem='nav-item' mods='current')
      span(elem='nav-link') #{current}