/* BREADCRUMBS */

.breadcrumbs {
  @extend .px-15,
  .px-sm-0,
  .py-25,
  .container;
  //
  &__list {
    @extend .p-0,
    .m-0;
    list-style: none;
    font-size: $font-size-small;
    line-height: 1.5rem;
  }
  &__nav-item {
    @extend .p-0,
    .mb-5,
    .d-inline-block;
    text-decoration: underline;
    @include hover {
      text-decoration: none;
    }
    //
    &::after {
      @extend .d-inline-block;
      content: '/';
      position: relative;
      margin: 0 4px 0 7px;
    }
    //
    &_current {
      @extend .font-weight-bold;
      text-decoration: none;
      &::after {
        content: '';
      }
    }
  }
  &__nav-link {}
}
