/* INDEX ABOUT US TIME LINE POPOVERS */

.index-about-us {
  //
  &__popover {
    z-index: 1020 !important;
    left: 1.05rem !important;
    @include media-breakpoint-down(xs) {
      left: .7rem !important;
      //
      &_foundation {
        left: 4.3rem !important;
      }
    }
    &.bs-popover-top {
      top: 12rem !important;
      @include media-breakpoint-down(xs) {
        top: 8rem !important;
      }
    }
    &.bs-popover-bottom {
      top: .5rem !important;
    }
  }
  //
  &__popover-body {
    padding-top: .5rem;
    //
    .popover-image {
      height: 10.5rem;
      width: 100%;
      margin-bottom: 1rem;
      background: {
        color: $gray-lightest;
        size: cover;
        position: center;
      }
    }
    //
    .popover-text {
      font-size: $font-size-small;
    }
  }
  //
  &__popover-year {
    text-align: right;
    border: 0;
    padding-bottom: 0;
    font-size: 2.4rem;
    font-weight: 300;
  }
}
