/* INDEX ABOUT US TIME LINE */

.time-line {
  //
  .back {
    opacity: 0;
    //cursor: pointer;
    transition: all 400ms ease;
    //
    &_base {
      fill: url(#back_base);
    }
    &_past {
      fill: url(#back_past);
    }
    &_foundation {
      fill: url(#back_foundation);
    }
    &_future {
      fill: url(#back_future);
    }
    &_current {
      fill: url(#back_current);
    }
    &:hover {
      opacity: 1;
    }
  }
  .past {
    outline: 0 !important;
    //
    &:hover {
      .year {
        &_past {
          font-size: 21px;
        }
        &_current {
          font-size: 24px;
        }
      }
      .mark_past {
        height: 8px;
        width: 8px;
        y: 142;
      }
    }
  }
  //
  .time-line {
    &_base {
      fill: url(#time-line_base);
    }
    &_past,
    &_current {
      fill: $aledo;
    }
  }
  //
  .mark {
    &_base,
    &_future,
    &_current {
      fill: $gray-light;
    }
    &_foundation {
      fill: $aledo;
    }
    &_past {
      fill: $aledo;
    }
  }
  //
  .year {
    fill: $gray;
    pointer-events: none;
    font-family: 'Roboto';
    font-weight: 400;
    transition: all 200ms ease;
    //
    &_base,
    &_future {
      fill: $gray-light;
      font-size: 12px;
    }
    &_past {
      font-size: 14px;
    }
    &_current {
      font-size: 18px;
    }
    &_foundation {
      font-weight: 100;
      font-size: 83px;
      letter-spacing: -.1rem;
    }
  }
  //
  .desc_foundaton {
    font-size: 23px;
  }
}
