// INDEX ABOUT US TIME LINE

svg#index-about-us__time-line(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1440 150')
  defs
    //- GRADIENTS
    //- BASE
    lineargradient#back_base(data-name='back_base', x2='0%', y2='100%', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#fff')
      stop(offset='1', stop-color='#eff0f0')
    lineargradient#time-line_base(data-name='time-line_base', x2='100%', y2='0%', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#fff')
      stop(offset='0.05', stop-color='#A4A5A6')
      stop(offset='0.95', stop-color='#A4A5A6')
      stop(offset='1', stop-color='#fff')
    //- FOUNDATION
    lineargradient#back_foundation(data-name='back_foundation', x2='0%', y2='100%', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#fff')
      stop(offset='0.85', stop-color='#fff')
      stop(offset='0.87', stop-color='#fcfcf1')
      stop(offset='0.9', stop-color='#f3f5cd')
      stop(offset='0.94', stop-color='#e6e891')
      stop(offset='1', stop-color='#d3d840')
      stop(offset='1', stop-color='#d1d639')
    //- PAST
    lineargradient#back_past(data-name='back_past', x2='0%', y2='100%', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#fff')
      stop(offset='1', stop-color='#eef4cb')
    //- CURRENT
    lineargradient#back_current(data-name='back_current', x2='0%', y2='100%', gradientunits='userSpaceOnUse')
      stop(offset='0', stop-color='#fff')
      stop(offset='1', stop-color='#eef3e1')
    //- FUTURE
    lineargradient#back_future(data-name='back_future', x2='0%', y2='100%', xlink:href='#back_future')
      stop(offset='0', stop-color='#fff')
      stop(offset='1', stop-color='#eff0f0')
  title about-us
  //- BASE
  rect#back_base-1.back.back_base(x='284.68', width='62.44', height='148')
  rect#back_base-2.back.back_base(data-name='back_base', x='222.24', width='62.44', height='148')
  rect#back_base-3.back.back_base(data-name='back_base', x='159.8', width='62.44', height='148')
  rect#back_base-4.back.back_base(data-name='back_base', x='97.36', width='62.44', height='148')
  rect#time-line_base.time-line_base(y='148', width='1440', height='2')
  rect#mark_base-1.mark_base(x='159.8', y='144.31', width='4.74', height='5.69')
  rect#mark_base-2.mark_base(data-name='mark_base', x='284.68', y='144.31', width='4.74', height='5.69')
  rect#mark_base-3.mark_base(data-name='mark_base', x='222.24', y='144.31', width='4.74', height='5.69')
  rect#mark_base-4.mark_base(data-name='mark_base', x='97.35', y='144.31', width='4.74', height='5.69')
  //- FOUNDATION
  g.past(tabindex="0")
    rect#back_foundation.back.back_foundation(x='346.84', width='154.9', height='144.31')
    rect#mark_foundation.mark_foundation(x='346.84', y='144.31', width='154.9', height='5.69')
    text#year_foundation.year.year_foundation(transform='matrix(1 0 0 1 341 118.6235)') 2011
    text#desc_foundaton.year.desc_foundaton(transform='matrix(1 0 0 1 345.1885 138.2852)') год основания 
  //- CURRENT
  rect#back_current.back.back_future(x='876.38', width='62.44', height='148')
  rect#mark_current.mark_current(x='934.09', y='144.31', width='4.74', height='5.69')
  rect#time-line_current.time-line_current(x='876.38', y='148', width='0', height='2')
  //- PAST
  g.past(tabindex="0")
    rect#back_past-1.back.back_past(data-name='back_past',x='813.94', width='62.44', height='148') 
    rect#mark_past-1.mark_past(x='871.64', y='144.31', width='4.74', height='5.69')
    rect#time-line_past-1.time-line_past(x='813.94', y='148', width='62.44', height='2')
    text#year_current.year.year_current(transform='matrix(1 0 0 1 867.8994 137.8098)') 2017
  g.past(tabindex="0")
    rect#back_past-2.back.back_past(data-name='back_past', x='751.5', width='62.44', height='148')
    rect#mark_past-2.mark_past(data-name='mark_past', x='809.2', y='144.31', width='4.74', height='5.69')
    rect#time-line_past-2.time-line_past(data-name='time-line_past', x='751.5', y='148', width='62.44', height='2')
    text#year_past.year.year_past(transform='matrix(1 0 0 1 805.4587 137.8098)') 2016
  g.past(tabindex="0")
    rect#back_past-3.back.back_past(data-name='back_past', x='689.06', width='62.44', height='148')
    rect#mark_past-3.mark_past(data-name='mark_past', x='746.76', y='144.31', width='4.74', height='5.69')
    rect#time-line_past-3.time-line_past(data-name='time-line_past', x='689.06', y='148', width='62.44', height='2')
    text#year_past-1.year.year_past(transform='matrix(1 0 0 1 743.019 137.8098)') 2015
  g.past(tabindex="0")
    rect#back_past-4.back.back_past(data-name='back_past', x='626.62', width='62.44', height='148')
    rect#mark_past-4.mark_past(data-name='mark_past', x='684.32', y='144.31', width='4.74', height='5.69')
    rect#time-line_past-4.time-line_past(data-name='time-line_past', x='626.62', y='148', width='62.44', height='2')
    text#year_past-2.year.year_past(transform='matrix(1 0 0 1 680.5793 137.8098)') 2014
  g.past(tabindex="0")
    rect#back_past-5.back.back_past(data-name='back_past', x='564.18', width='62.44', height='148')
    rect#mark_past-5.mark_past(data-name='mark_past', x='621.88', y='144.31', width='4.74', height='5.69')
    rect#time-line_past-5.time-line_past(data-name='time-line_past', x='564.18', y='148', width='62.44', height='2')
    text#year_past-3.year.year_past(transform='matrix(1 0 0 1 618.1396 137.8098)') 2013
  g.past(tabindex="0")
    rect#back_past-6.back.back_past(data-name='back_past', x='501.74', width='62.44', height='148')
    rect#time-line_past-6.time-line_past(data-name='time-line_past', x='501.74', y='148', width='62.44', height='2')
    rect#mark_past-6.mark_past(data-name='mark_past', x='559.44', y='144.31', width='4.74', height='5.69')     
    text#year_past-4.year.year_past(transform='matrix(1 0 0 1 555.7 137.8098)') 2012
  //- FUTURE
  rect#back_future-1.back.back_future(x='938.82', width='62.44', height='148')
  rect#back_future-2.back.back_future(data-name='back_future', x='1001.26', width='62.44', height='148')
  rect#back_future-3.back.back_future(data-name='back_future', x='1063.7', width='62.44', height='148')
  rect#back_future-4.back.back_future(data-name='back_future', x='1126.14', width='62.44', height='148')
  rect#back_future-5.back.back_future(data-name='back_future', x='1188.58', width='62.44', height='148')
  rect#mark_future-1.mark_future(x='996.52', y='144.31', width='4.74', height='5.69')
  rect#time-line_future.mark_future(x='938.82', y='148', width='62.44', height='2')
  rect#mark_future-2.mark_future(data-name='mark_future', x='1058.96', y='144.31', width='4.74', height='5.69')
  rect#time-line_future-2.mark_future(data-name='time-line_future', x='1001.26', y='148', width='62.44', height='2')
  rect#mark_future-3.mark_future(data-name='mark_future', x='1121.4', y='144.31', width='4.74', height='5.69')
  rect#time-line_future-3.mark_future(data-name='time-line_future', x='1063.7', y='148', width='62.44', height='2')
  rect#mark_future-4.mark_future(data-name='mark_future', x='1183.84', y='144.31', width='4.74', height='5.69')
  rect#time-line_future-4.mark_future(data-name='time-line_future', x='1126.14', y='148', width='62.44', height='2')
  rect#mark_future-5.mark_future(data-name='mark_future', x='1246.28', y='144.31', width='4.74', height='5.69')
  rect#time-line_future-5.mark_future(data-name='time-line_future', x='1188.58', y='148', width='62.44', height='2')
  //- TEXTS
  //- BASE
  text#year_base-3.year.year_base(transform='matrix(1 0 0 1 284.6798 137.8101)') 2010
  text#year_base-2.year.year_base(transform='matrix(1 0 0 1 222.2401 137.8101)') 2009
  text#year_base-1.year.year_base(transform='matrix(1 0 0 1 159.8003 137.8101)') 2008
  text#year_base.year.year_base(transform='matrix(1 0 0 1 97.3606 137.8101)') 2007   
  //- FUTURE
  text#year_future-5.year.year_future(transform='matrix(1 0 0 1 930.3497 137.8098)') 2018
  text#year_future-4.year.year_future(transform='matrix(1 0 0 1 992.7797 137.8098)') 2019
  text#year_future-3.year.year_future(transform='matrix(1 0 0 1 1055.2096 137.8098)') 2020
  text#year_future-2.year.year_future(transform='matrix(1 0 0 1 1117.6395 137.8098)') 2021
  text#year_future-1.year.year_future(transform='matrix(1 0 0 1 1180.0695 137.8098)') 2022
  text#year_future.year.year_future(transform='matrix(1 0 0 1 1242.4994 137.8098)') 2023