/* INDEX ABOUT US */

//
@import "__time-line";
//@import "__popovers";
//
//
.index-about-us {
  @extend .mt-50,
  .container-fluid;
  overflow: hidden;
  position: relative;
  //
  &__block {
    @extend .mx-auto,
    .px-25,
    .px-sm-0;
    max-width: 710px;
    @include media-breakpoint-only(sm) {
      max-width: 530px;
    }
  }
  //
  &__header {
    @extend .pb-5,
    .mb-25,
    .index-header;
    @include border-bottom ($aledo);
  }
  //
  &__text {
    @extend .pb-10;
  }
  //
  &__link {
    @extend .mt-25,
    .d-block,
    .link_read-more;
  }
  //
  .time-line {
    @extend .mt-15;
    margin-left: calc(50% - 70rem);
    width: 144rem;
    height: 15rem;
    //
    @include media-breakpoint-only(sm) {
      margin-left: calc(50% - 61rem) !important;
    }
    //
    @include media-breakpoint-down(xs) {
      width: 96rem;
      height: 10rem;
      margin-left: -20.5rem !important;
    }
  }
}
