// INDEX ABOUT US
section(block='index-about-us')
  div(elem='block')
    h2(elem='header') О&nbsp;нас
    p(elem='text')
      | Мы создали компанию в&nbsp;2011 году с&nbsp;целью предложить российскому рынку решения на&nbsp;базе качественного светодиодного оборудования и&nbsp;систем управления из&nbsp;Юго&#8209;Восточной Азии и&nbsp;Европы.
    p(elem='text')
      | Оптимальный баланс качества и&nbsp;цены делают проекты aledo привлекательными для потребителей из&nbsp;самых разных сегментов рынка.
    p(elem='text')
      | Основа команды&nbsp;&mdash; выпускники лучших питерских и&nbsp;московских высших школ: Политеха, ИТМО, ГУАПа, МГУ, Московского Энергетического Института и&nbsp;других.
    a(elem='link' href='/info') Подробнее о компании
  |
  div(block='time-line' mix='block:index-about-us elem:time-line')
    include __time-line.pug