// HEADER NAVBAR-BRAND NAVBAR-ITEMS
//- 
li(elem='navbar-item' mods='md:up about:group')
  a(elem='navbar-link' href='#')
      span О компании
  //-
  a(elem='navbar-link' href='#')
      span Партнёрам
|
li(elem='navbar-item' mods='md:up devider')
|
li(elem='navbar-item' mods='md:up user:group')
  div(elem='navbar-link' mods='show:md') 
    span 8 (800) 555 56 72
    span.text-muted  РФ
  div(elem='navbar-link' mods='user:group')
    a(elem='navbar-link' mods='user'  data-toggle="collapse" data-target="#js-user-login-toggle" aria-controls="js-user-login-toggle" aria-expanded="false" href='#')
      span(elem='navbar-link-icon') 
        span(elem='navbar-icon' mods='pos:left user user:unlog')
        span(elem='navbar-icon' mods='pos:left user user:logged')
        span(elem='navbar-user') Вход
    //-
    a(elem='navbar-link' mods='basket' href='#')
      span(elem='navbar-link-icon') 
        span(elem='navbar-icon' mods='pos:left basket basket:full')
        span(elem='navbar-basket') Ваш заказ
          span(elem='navbar-badge') 25
|
li(elem='navbar-item' mods='md:up devider hide:md user:unlog')
|
//-
li(elem='navbar-item' mods='md:up hide:md user:unlog')
  div(elem='navbar-link') 
    span 8 (800) 555 56 72 
  div(elem='navbar-link')
    span.text-muted Работаем по всей РФ
|
li(elem='navbar-item' mods='md:up devider')
|
//-
li(elem='navbar-item' mods='md:up')
  div(elem='navbar-link' mods='user:unlog') 
    span +7 (812) 448 58 49
    span.text-muted.d-none.d-lg-inline  Санкт-Петербург
    span.text-muted.d-lg-none  СПБ
  //-
  div(elem='navbar-link' mods='user:unlog') 
    span +7 (499) 703 24 42
    span.text-muted.d-none.d-lg-inline  Москва
    span.text-muted.d-lg-none  МСК
  //- LOGGED
  div(elem='navbar-link' mods='user:logged')
    span +7 (812) 448 58 49
  div(elem='navbar-link' mods='user:logged')
    span.text-muted  Санкт-Петербург
  
    