/* HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-ITEMS */

//
.header {
  //
  &__navbar-nav_md-up {
    @extend .d-none,
    .d-md-flex,
    .m-0,
    .ml-auto,
    .align-self-center;
    width: auto;
    flex: 0 0 65%;
    height: 5rem;
  }
  //
  //NAVBAR-ITEM
  &__navbar-item {
    @extend .text-center;
    flex: 1 100%;
    color: $navbar-light-color;
    @include transition($transition-base);
    //
    & a {
      @include media-breakpoint-up(md) {
        @include hover {
          text-decoration: underline;
        }
      }
    }
    //
    &_sm {
      @include hover-focus {
        color: $navbar-light-hover-color;
        background: $navbar-light-hover-background;
        text-decoration: none !important;
      }
      & .header__navbar-link {
        @include hover {
          text-decoration: none !important;
        }
      }
    }
    //
    &_md-up {
      font-size: $font-size-small;
      @include hover-focus {
        color: $navbar-light-hover-color;
      }
    }
    //
    &_devider {
      @extend .mx-0,
      .px-0;
      flex: 0 0 $px;
      @include border-dotted (left);
    }
    //
    &_hide-md {
      @extend .d-none,
      .d-lg-block;
    }
    //
    // NAVBAR-ITEM_UPPER-CASE
    &_upper-case {
      @extend .text-uppercase;
    }
    //
    &_md-up {
      flex: 0 1 0%;
      padding: {
        right: ($spacer * 2.5);
        left: ($spacer * 2.5);
      }
      //
      &:last-child {
        padding-right: 0;
      }
      & .header__navbar-link {
        text-align: left;
        height: 50% !important;
      }
    }
    //
    &_user-group {
      max-width: 16rem;
    }
  }
  //
  // NAVBAR-LINK
  &__navbar-link {
    @extend .d-inline-flex,
    .align-items-center,
    .h-100,
    .w-100;
    //
    &_show-md {
      @extend .d-lg-none;
    }
    //
    &_user-group {
      @include media-breakpoint-only(md) {
        flex-direction: row;
        flex: 0 0 auto;
        padding-right: 0;
        width: 11rem !important;
      }
      @include media-breakpoint-up(lg) {
        flex-direction: column;
        flex: 0 0 100%;
        //
        & a {
          flex: 0 0 100%;
        }
      }
    }
    //
    // BASKET-FULL
    &_basket-full .header__navbar-icon_basket-full {
      background-image: $icon-shop-full;
    }
    &_basket-full .header__navbar-badge {
      display: inline-flex;
    }
  }
  //
  &__navbar-link span {
    width: 100%;
    white-space: nowrap;
  }
  // 
  // NAVBAR-ICON
  &__navbar-icon {
    content: '';
    @extend .px-10;
    background-position: center;
    background-repeat: no-repeat;
    //
    &_pos-left {
      @extend .mr-5;
    }
    //
    &_pos-right {
      @extend .ml-5;
    }
  }
  // BADGE
  &__navbar-badge {
    @extend .ml-5,
    .badge,
    .badge-primary;
    width: auto !important;
    border-radius: ($px * 4);
    display: none;
  }
  //
  // USER-GROUP_MD
  @include media-breakpoint-only(md) {
    &__navbar-user,
    &__navbar-basket {
      display: inline-flex;
      overflow: hidden;
      max-width: 8rem;
    }
    &__navbar-basket {
      width: 100% !important;
      @include transition($transition-collapse-x);
    }
    &__navbar-link_user {
      & .header__navbar-user {
        width: 0 !important;
      }
      //
      &:hover,
      &.header__navbar-link_login {
        & .header__navbar-user {
          width: 6.4rem !important;
          @include transition($transition-collapse-x);
        }
        &+.header__navbar-link_basket .header__navbar-basket {
          width: 0rem !important;
          transition: all 0s linear;
        }
      }
    }
  }
  //
  // USER-UNLOGGED
  &_user-unlog &__navbar-link_user-logged {
    @extend .d-none;
  }
  &_user-unlog &__navbar-icon_user-logged {
    display: none;
  }
  //
  // USER-LOGGED
  &_user-logged &__navbar-nav_md-up {
    flex: 0 0 41%;
  }
  &_user-logged &__navbar-link {
    &_user-unlog {
      @extend .d-none;
    }
    &_user-logged {
      @extend .d-flex;
    }
  }
  &_user-logged &__navbar-icon {
    &_user-unlog {
      @extend .d-none;
    }
    &_user-logged {
      display: initial;
    }
  }
  &_user-logged &__navbar-item_user-unlog {
    @extend .d-none;
  }
}

  //
@include media-breakpoint-up(xl) {
.header__navbar-item_about-group {
      flex: 0 0 auto;
      padding-right: 0;
      &>.header__navbar-link {
        width: auto !important;
        padding-right: ($spacer * 2.5);
      }
    }
  }
