/* INDEX CLIENTS */

.solutions-cinema-clients {
  @extend .mt-50,
  .pt-25,
  .pb-15,
  .px-0,
  .container-fluid;
  background: {
    color: $gray-lightest;
  }
  //
  &__header {
    @extend .px-15,
    .px-sm-0,
    .container,
    .display-3;
  }
  // SLIDER
  &__slider {
    @extend .mt-5;
  }
  &__slider:hover &__slide {
    filter: grayscale(0%);
    opacity: 1;
  }
  //
  &__slide {
    @extend .mx-10;
    height: 10rem;
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    transition: opacity .35s ease-in-out .15s;
    filter: grayscale(100%);
    opacity: 0;
  }
}
