// INDEX CLIENTS
section(block='solutions-cinema-clients')
  h3(elem='header') С&nbsp;нами согласны:
  div(elem='slider')
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-02.png);' class="carousel-cell")
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-03.png);' class="carousel-cell")
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-01.png);' class="carousel-cell")
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-04.png);' class="carousel-cell")
    |
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-02.png);' class="carousel-cell")
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-03.png);' class="carousel-cell")
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-01.png);' class="carousel-cell")
    div(elem='slide' style='background-image: url(img/solutions-cinema-client-04.png);' class="carousel-cell")