// _input-counter
//
.input-counter {
  @extend .d-flex,
  .flex-nowrap,
  .align-items-center;
  &__count {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    @include border();
    background-color: transparent;
    color: $gray;
    line-height: 2rem;
    font-weight: $font-weight-bold;
    cursor: pointer;
    background: {
      position: center;
      size: 1rem;
      repeat: no-repeat;
    }
    transition: $transition-base;
    &_down {
      background-image: $icon-minus-small;
      &:hover {
        background-image: $icon-minus-small-hover;
      }
    }
    &_up {
      background-image: $icon-plus-small;
      &:hover {
        background-image: $icon-plus-small-hover;
      }
    }
    &:hover {
      @include border($gray-dark);
      background-color: rgba($white,.5);
    }
    &:focus {
      outline: none;
    }
  }
  &__input {
    @extend .mx-10,
    .py-5,
    .px-10,
    .form-control;
    width: 6.5rem;
    font-size: $font-size-small;
    background: $white;
  }
}
