/* FORM REQUEST */

//
@import "form";
//
//
.form_request {
  @extend .mx-0,
  .mx-md-auto,
  .row;
  //
  .form {
    //
    &__form-group {
      &_input,
      &_checkbox {
        @extend .mx-0,
        .col-12,
        .row;
      }
    }
    //
    &__label_input {
      @extend .col-12,
      .d-inline-flex,
      .align-items-center;
    }
    //
    &__label_checkbox {
      @extend .mt-5,
      .mt-md-0;
    }
    //
    &__description_checkbox {
      @extend .pl-20;
    }
    //
    &__input_input {
      @extend .pl-15,
      .col-12;
      height: 3.5rem;
    }
    //
    &__input-btn {
      @extend .py-5,
      .py-md-0,
      .mt-10,
      .mt-md-0,
      .w-100,
      .h-100;
    }
  }
}
