/* FORM FILE */

//
@import "form";
//
//
.form_file {
  //
  input[type='file'] {
    @extend .h-100;
    position: absolute;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
  //
  .form {
    //
    &__form-col {
      @extend .col-12,
      .col-md-6,
      .row,
      .no-gutters;
    }
    //
    &__form-group {
      @extend .mb-5,
      .row,
      .no-gutters;
      //
      &_inline-lg-up {
        @extend .col-12;
      }
      //
      &_file {
        @extend .align-content-start;
        position: relative;
      }
      //
      &_checkbox {
        @extend .col-lg-8,
        .col-xl-9,
        .ml-lg-auto;
      }
      //
      &_btn {
        @extend .mt-10,
        .mt-sm-0,
        .col-lg-8,
        .ml-lg-auto,
        .col-xl-9;
      }
    }
    //
    &__label {
      &_inline-lg-up,
      &_file,
      &_comment {
        @extend .mb-5,
        .mb-lg-10,
        .col-12,
        .col-lg-4,
        .col-xl-3;
      }
      &_file {
        
      }
      &_file {
        @include media-breakpoint-up(lg) {
          padding-top: 1.8rem;
        }
      }
      &_comment {
        @extend .pt-lg-10;
      }
      &_inline-lg-up {
        @extend .align-self-lg-center;
      }
    }
    //
    &__input {
      @extend .pl-15,
      .form-control;
      min-height: 3.5rem;
      //
      &_inline-lg-up {
        @extend .col-12,
        .col-lg-8,
        .col-xl-9;
      }
      //
      &_file {
        z-index: 100;
        //
        &:hover~.form__file-text {
          background-color: $aledo-lightest;
          @include border($aledo, 3);
        }
      }
      //
      &_comment {
        @extend .pt-10;
      }
    }
    //
    &__file-text {
      @extend .mb-5,
      .p-15,
      .col-lg-8,
      .col-xl-9;
      background-color: $aledo-lighter;
      color: $gray-dark;
      transition: $transition-base;
      @include border-dotted(null, $aledo, 3);
    }
    &__file-text-underline {
      @extend .link_underline;
      cursor: pointer;
    }
    //
    &__input-btn {
      @extend .py-10,
      .w-100,
      .h-100;
    }
  }
}
