/* FORM REQUEST TWO LINES */

//
@import "form_request";
//
//
.form_two-lines {
  @include media-breakpoint-up(lg) {
    width: 710px;
  }
  //
  .form {
    //
    &__form-group {
      &_checkbox,
      &_btn {
        @extend .mt-md-5;
      }
      //
      &_checkbox {
        @extend .col-md-8,
        .col-lg-9;
      }
      //
      &_btn {
        @extend .mb-10,
        .col-md-4,
        .col-lg-3;
      }
    }
    //
    &__label {
      &_input {
        @extend .col-md-3;
      }
      &_checkbox {
        @extend .col-md-8,
        .col-lg-8,
        .ml-lg-auto;
        @include media-breakpoint-only(md) {
          margin-left: 37.75%;
        }
      }
    }
    &__input_input {
      @extend .col-md-9;
    }
    //
    &__input-btn {
      @extend .py-md-10;
    }
  }
}
