/* FORM FEEDBACK */

//
@import "form";
//
//
.form_order {
  @extend .px-15,
  .p-sm-0,
  .container,
  .d-flex,
  .flex-wrap; //
  & .form {
    //
    &__form-group {
      @extend .col-12,
      .col-sm-6,
      .d-flex,
      .flex-wrap; //
      &_left {
        @extend .pl-sm-0,
        .pr-sm-10;
      }
      &_right {
        @extend .pr-sm-0,
        .pl-sm-10;
      }
    } //
    &__label {
      &:not([class*="checkbox"]) {
        @extend .mb-5,
        .mb-md-15,
        .col-12,
        .col-md-3,
        .col-lg-2,
        .d-flex,
        .align-items-center;
      }
      &_checkbox {
        @extend .ml-md-auto,
        .pl-25,
        .col-md-9,
        .col-lg-10;
      }
    } //
    &__input {
      @extend .pl-15,
      .mb-15,
      .form-control,
      .col-12,
      .col-md-9,
      .col-lg-10;
      height: 3.7rem;
      &_checkbox {
        @extend .d-none;
      }
    }
    &__form-group_right .form__label_contact {
      @extend .col-md-5,
      .col-lg-4;
    }
    &__form-group_right .form__input_contact {
      @extend .col-md-7,
      .col-lg-8;
    } //
    &__input-btn {
      @extend .ml-md-auto,
      .col-md-7,
      .col-lg-8;
      height: 3.7rem;
    }
  }
}