// FORM TEMPLATE

//- FORM
form(block='form')
  label(elem='label') Label
  input(elem='input' id='form_input' type='text' placeholder='Placeholder')
  |  
  label(elem='label' mods='checkbox')
    input(elem='input' mods='checkbox' type='checkbox' checked='checked')
    span(elem='indicator' mods='checkbox')
    span(elem='description' mods='checkbox') Checkbox
  |
  button(elem='input-btn' type='submit') Send