/* FORM REQUEST ONE LINE */

//
@import "form_request";
//
//
.form_one-line {
  @include media-breakpoint-up(md) {
    width: 710px;
  }
  //
  .form {
    //
    &__form-group {
      //
      &_input {
        @extend .col-md-9;
        order: 1;
      }
      //
      &_checkbox {
        @extend .col-md-9;
        order: 3;
        @include media-breakpoint-down(sm) {
          order: 2
        }
      }
      //
      &_btn {
        @extend .mb-10,
        .col-md-3;
        order: 2;
        @include media-breakpoint-down(sm) {
          order: 3
        }
      }
    }
    //
    &__label {
      &_input {
        @extend .col-md-5;
      }
      &_checkbox {
        @extend .col-md-7,
        .ml-md-auto;
      }
    }
    &__input_input {
      @extend .col-md-7;
    }
  }
}
