/* FORM FEEDBACK */

//
@import "form";
//
//
.form_feedback {
  @extend .container,
  .row;
  //
  .form {
    //
    &__form-group {
      @extend .col-12,
      .col-sm-6;
      //
      &_checkbox {
        @extend .col-lg-4,
        .ml-lg-auto;
      }
      //
      &_btn {
        @extend .mt-10,
        .mt-sm-0,
        .col-lg-2;
      }
    }
    //
    &__label {
      @extend .mb-5;
      flex: 1 100%;
      width: 100%;
    }
    //
    &__input {
      @extend .pl-15,
      .mb-15,
      .form-control;
      flex: 1 100%;
      width: 100%;
      height: 3.7rem;
      //
      &_message {
        @extend .pt-10;
        height: 11.4rem;
      }
    }
    //
    &__input-btn {
      @extend .py-10,
      .w-100,
      .h-100;
    }
  }
}
