// FORM REQUEST ONE LINE

//- FORM
form(block='form' mods='request one:line')  
  |
  div(elem='form-group' mods='input')
    label(elem='label' mods='input' for='form_contact') Ваш номер телефона или&nbsp;email
    input(elem='input' mods='input' id='form_contact' type='text' placeholder='Обязательно заполните это поле')      
  |
  div(elem='form-group' mods='checkbox')
    label(elem='label' mods='checkbox')
      input(elem='input' mods='checkbox' type='checkbox' checked='checked')
      span(elem='indicator' mods='checkbox')
      span(elem='description' mods='checkbox') Согласен на обработку личных данных
  |
  //- WHEN FORM DONE - ACTIVE
  div(elem='form-group' mods='btn')
    button(elem='input-btn' type='submit') Отправить