/* FORM TEMPLATE */

.form {
  //
  &__label {    
    color: $gray-dark;
    padding-bottom: 0;
  }
  //
  &__label_checkbox {
    @extend .checkbox-label;
    cursor: pointer;
  }
  //
  &__input_checkbox {
    @extend .checkbox-input;
  }
  //
  &__indicator_checkbox {
    @extend .checkbox-indicator;
    top: .2rem;
  }
  //
  &__description_checkbox {
    @extend .checkbox-description;
  }
  //
  &__input {
    @extend .mb-10,
    .form-control;
    //
  }
  //
  &__input-btn {
    @extend .btn-dft;
  }
}
