//- FORM FEEDBACK 

form(block='form' mods='feedback')
  |
  div(elem='form-group')
    label(elem='label' mods='name' for='form_name') Ваше имя
    input(elem='input' mods='name' id='form_name' type='text' placeholder='Обязательно заполните это поле')
    |
    label(elem='label' mods='contact' for='form_contact') Ваш номер телефона или email
    input(elem='input' mods='contact' id='form_contact' type='text' placeholder='Обязательно заполните это поле')
  |
  div(elem='form-group')
    label(elem='label' mods='message' for='form_message') Сообщение
    textarea(elem='input' mods='message' id='form_message' type='text' rows="5" placeholder='Обязательно заполните это поле')
  |
  div(elem='form-group' mods='btn')
    label(elem='label' mods='checkbox')
      input(elem='input' mods='checkbox' type='checkbox' checked='checked')
      span(elem='indicator' mods='checkbox')
      span(elem='description' mods='checkbox') Согласен на&nbsp;обработку личных данных  
    |
    //- WHEN FORM DONE ACTIVE
    button(elem='input-btn' type='submit') Отправить