// INDEX PROJECTS PROJECTS-NAV
div(elem='projects-nav')
  //-
  div(elem='nav-img' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class="carousel-cell")
    span(elem='project-name' mix='block:thumbnails elem:name') 
      span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»
  //-
  div(elem='nav-img' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class="carousel-cell")
    span(elem='project-name' mix='block:thumbnails elem:name') 
      span Бутик «SPAZIO»
  //-
  div(elem='nav-img' mix='block:thumbnails' style='background-image: url(img/002.jpg);' class="carousel-cell")
    span(elem='project-name' mix='block:thumbnails elem:name') 
      span Продуктовый супермаркет «Перекресток»
  //-
  div(elem='nav-img' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class="carousel-cell")
    span(elem='project-name' mix='block:thumbnails elem:name') 
      span Бутик «SPAZIO»
  //-
  div(elem='nav-img' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class="carousel-cell")
    span(elem='project-name' mix='block:thumbnails elem:name') 
      span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»