/* INDEX PROJECTS NAV */

//
@import "../blocks/thumbnails/thumbnails";
//
.solutions-lines-projects {
  //
  &__projects-nav {
    @extend .p-0,
    .col;
    height: 21.5rem;
    overflow: hidden;
    z-index: 1;
    @include media-breakpoint-only(lg) {
      height: 19.5rem;
    }
    @include media-breakpoint-down(md) {
      height: 17.5rem;
    }
    //
    .carousel-cell {
      height: 100%;
    }
  }
  //
  &__nav-img {
    @extend .px-md-25;
    width: 25rem;
    @include media-breakpoint-up(lg) {
      width: calc(1/3*100% - 1/2*.5rem);
    }
    cursor: pointer !important;
    margin: {
      right: .25rem;
      left: .25rem;
    }
  }
  //
  &__project-name {
    @extend .d-none,
    .d-md-flex;
  }
  // ACTIVE
  &__nav-img.is-selected {
    position: relative;
    &:before {
      @include after-before();
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      @include border ($aledo, 1);
      @include media-breakpoint-down(sm) {
        @include border ($aledo, 3);
      }
    }
  }
  //
  &__nav-img.is-selected &__project-name {
    background-color: $aledo;
    color: $gray;
    font-weight: 500;
    @include border ($aledo, 2);
  }
}
