// serie-tabs
div(block='serie-tabs') 
  nav(elem='nav' id='serie-tabs__nav_100359' class='nav nav-tabs' role='tablist')
    //-
    a(elem='nav-link' id='serie-tabs__configurator-tab_100359' class='nav-item nav-link active' title='configurator' data-toggle='tab' href='#serie-tabs__configurator_100359' role='tab' aria-controls='serie-tabs__configurator_100359' aria-selected='true') Выбор опций
    //-
    a(elem='nav-link' id='serie-tabs__all-modifications-tab_100359' class='nav-item nav-link' title='modifications' data-toggle='tab' href='#serie-tabs__all-modifications_100359' role='tab' aria-controls='serie-tabs__all-modifications_100359' aria-selected='false') Все модификации
    //-
    a(elem='nav-link' id='serie-tabs__description-tab_100359' class='nav-item nav-link' title='description' data-toggle='tab' href='#serie-tabs__description_100359' role='tab' aria-controls='serie-tabs__description_100359' aria-selected='false') Описание и комплектация
    //-
    a(elem='nav-link' id='serie-tabs__components-tab_100359' class='nav-item nav-link' title='components' data-toggle='tab' href='#serie-tabs__components_100359' role='tab' aria-controls='serie-tabs__components_100359' aria-selected='false') Компоненты
    //-
    //- DROPDOWN
    div(elem='nav-link' title='downloads' mods='dropdown' class="dropdown")  
      a(elem='nav-dropdown-toggler' id='serie-tabs__downloads-dropdown_100359' href="#" role="button" data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Материалы для скачивания
      |
      include ../serie-downloads/serie-downloads.pug
  |
  div(elem='panes' id='serie-tabs__panes_100359' class='tab-content')
    //-
    div(elem='pane' id='serie-tabs__configurator_100359' class='tab-pane fade show active' role='tabpanel' aria-labelledby='serie-tabs__configurator-tab_100359')
      include ../serie-configurator/serie-configurator.pug
    //-
    div(elem='pane' id='serie-tabs__all-modifications_100359' class='tab-pane fade' role='tabpanel' aria-labelledby='serie-tabs__all-modifications-tab_100359')
      include ../serie-modifications/serie-modifications.pug
    //-
    div(elem='pane' id='serie-tabs__description_100359' class='tab-pane fade' role='tabpanel' aria-labelledby='serie-tabs__description-tab_100359')
      include ../serie-description/serie-description.pug
    //-
    div(elem='pane' id='serie-tabs__components_100359' class='tab-pane fade' role='tabpanel' aria-labelledby='serie-tabs__components-tab_100359')
      include ../serie-components/serie-components.pug
      
  |
  div(elem='footer') Цены на предлагаемую продукцию зависят от курса $. Текущий курс $ ЦБ РФ: 59,8453 Р