/* serie-tabs */

.serie-tabs {
  @extend .container, .px-15, .px-sm-5;
  //
  &__nav {
    padding-bottom: 1px;
    @include border-bottom($gray-lighter);
  }
  //
  &__nav-link {
    @extend .mt-5, .px-15, .py-10, .btn;
    @include media-breakpoint-down(md) {
      flex: 1 0 auto;
    }
    margin: {
      right: 0.25rem;
      left: 0.25rem;
    }
    background: $btn-nav-background;
    color: $btn-nav-color;
    font-weight: $btn-nav-font-weight;
    white-space: nowrap;
    @include transition($transition-base);
    cursor: pointer;
    border-color: transparent !important;
    //
    &.active {
      @extend .font-weight-bold;
      background-color: $aledo-light;
    }
    // DROP
    &_dropdown {
      padding: 0 !important;
      margin-bottom: -0.1rem;
      max-width: 22.5rem;
      border: none;
      background-color: $gray-lighter;
    }
  }
  &__nav-dropdown-toggler {
    @extend .px-15, .py-10, .btn;
    width: 22.5rem;
    background-color: $gray-lighter;
    border: 1px solid $gray-lighter;
    &[aria-expanded="true"] {
      @extend .font-weight-bold;
      background-color: $aledo-light;
      border: 1px solid $aledo-light;
    }
  }
  //
  &__panes {
    @extend .py-25;
    @include transition($transition-base);
    @include border-bottom($gray-lighter);
    position: relative;
    &:before {
      @include after-before();
      left: 0;
      right: 0;
      bottom: -0.6rem;
      height: 0.5rem;
      background: $aledo-lightest;
    }
  }
  //
  &__footer {
    @extend .mt-10, .text-right;
    font-size: $font-size-small;
    color: $gray-light;
  }
}