/* solutions-cinema-quote */

// ICON
$icon-quote: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 120'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M 25.5614 60.1508L 62.611 120L 42.3629 120L 0 61.5075L 0 58.6432L 42.3629 0L 62.611 0L 25.5614 60.1508ZM 72.9504 60.1508L 110 120L 89.752 120L 47.389 61.5075L 47.389 58.6432L 89.752 0L 110 0L 72.9504 60.1508Z'/%3E%3C/svg%3E"),
"#",
"%23");
//
.solutions-cinema-quote {
  @extend .mt-50,
  .mt-lg-75,
  .container,
  .d-flex,
  .flex-row;
  background: {
    repeat: no-repeat;
    position: left top;
    size: ($spacer * 8.5) auto;
    image: $icon-quote;
  }
  @include media-breakpoint-down(xs) {
    margin-left: -($spacer * 3.5);
  }
  //
  &__quote {
    @extend .ml-100,
    .pr-25,
    .pb-15,
    .d-flex,
    .flex-column;
    flex: 1 auto;
  }
  //
  &__text {
    @extend .display-4;
    line-height: 1.945;
  }
  //
  &__name {
    @extend .mt-auto;
    text-align: right;
  }
  //
  &__desc {
    text-align: right;
    color: $gray-light;
  }
  //
  &__img {
    @extend .align-self-end,
    .d-none,
    .d-md-flex;
    flex: 0 0 26.5rem;
    height: 400px;
    width: 26.5rem;
    background: {
      image: url(../img/solutions-cinema-anton.png);
      repeat: no-repeat;
      size: contain;
      position: center bottom;
    }
  }
}
