// solutions-cinema-quote

section(block='solutions-cinema-quote')
  div(elem='quote')
    p(elem='text') 
      | Растущая конкуренция на&nbsp;рынке кинопроката заставляет кинотеатры искать все новые и&nbsp;новые способы привлечения посетителей. Современный и&nbsp;разнообразный дизайн интерьера&nbsp;&mdash; один из&nbsp;важнейших инструментов создания комфортной среды для зрителей. 
    p(elem='text')
      | Качественное освещение, в&nbsp;свою очередь&nbsp;&mdash; правило хорошего тона дизайна общественных пространств нашего времени.
    h5(elem='name') Антон Русихин
    p(elem='desc') 
      | Руководитель направления
      br
      | Aledo&nbsp;Cinema
  |
  //-
  div(elem='img')