/* serie-description */

.serie-description {
  @extend .mx-0,
  .w-100,
  .row;
  &__col {
    @extend .mb-25,
    .col-12,
    .col-lg-6;
    &:nth-of-type(2n):not([class*='special']) {
      @extend .ml-lg-auto,
      .col-lg-5;
    }
  }
  &__h3 {
    @extend .display-4;
  }
  &__text {
    @extend .mt-10;
    p:not(:last-of-type) {
      @extend .mb-10;
    }
  }
  &__list {
    @extend .mt-10,
    .list;
  }
  &__remark {
    @extend .mt-15;
    font-weight: $font-weight-bold;
  }
  &__h5 {}
  &__links-list {
    @extend .mt-15;
  }
  &__download-link {
    @extend .py-10,
    .pl-50,
    .pr-15,
    .d-flex,
    .align-items-center;
    position: relative;
    white-space: normal;
    &:hover {
      background-color: $gray-lighter;
    }
    &_type {
      &:after {
        @extend .d-flex,
        .justify-content-center,
        .align-items-center;
        position: absolute;
        content: '';
        height: 100%;
        width: 1.8rem;
        top: 0;
        left: 1.5rem;
        background: {
          repeat: no-repeat;
          position: 0% 50%;
        }
      }
      &.pdf {
        &:after {
          background-image: $icon-share-pdf;
        }
        &:hover:after {
          background-image: $icon-share-pdf-hover;
        }
      }
    }
  }
  &__special {
    @extend .pt-25,
    .mx-0,
    .row;
    @include border-dotted(top);
  }
  &__h3_special {
    @extend .col-12;
  }
  &__col_special {
    @extend .col-lg-6,
    .row;    
  }
  &__h5 {
    &_matrix {
      @extend .mb-10,
      .pl-30,
      .col-12,
      .text-uppercase;
      font-weight: $font-weight-bold;
      position: relative;
      &:before {
        @include after-before();
        top: .35rem;
        left: 0rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }
    }
    &_snowhite:before {
      background: $matrix-snowhite;
    }
    &_aroma:before {
      background: $matrix-aroma;
    }
    &_ruby:before {
      background: $matrix-ruby;
    }
    &_mela:before {
      background: $matrix-mela;
    }
  }
  &__text_illustrated {
    @extend .mt-25,
    .col-12,
    .col-sm-6,
    .col-lg-7;
  }  
  &__text-img {
    @extend .col-12,
    .col-sm-6,
    .col-lg-5,
    .align-self-start;
    margin-top: 6rem;
    //
    &_pull-right {
      @include media-breakpoint-up(sm) {
        order: -1;
      }
    }
  }
}