// serie-description
section(block='serie-description')
  div(elem='col')
    h3(elem='h3') Описание
    div(elem='text')
      | Элегантный компактный светодиодный трековый светильник серии UNE, разработанный специально для освещения торговых залов. Высокая эффективность — 113 лм/Вт и качественная цветопередача позволяет использовать его как альтернативу маталлогалогенным светильникам для акцентного освещения. Комбинированная оптическая система — линза и отражатель — создают очень равномерное световое пятно. Различные варианты цветности и цвета корпуса, а также разные углы рассеивания луча позволяют подобрать идеальное решение для самых сложных светотехнических задач. В корпус светильника встроен высоконадежный диммируемый драйвер производства MeanWell, рассчитанный на повышенную тепловую нагрузку, что гарантирует высокую надежность и стабильную работу в течение всего срока службы. В серию UNE входят также накладные светильники, что предоставляет архитекторам и дизайнерам широкие возможности для творчества при проектировании систем освещения. Производитель: Ledionopto, Тайвань.
  |
  div(elem='col')
    h3(elem='h3') Характеристики
    ul(elem='list')
      li Диммируется обычным электронным диммером (TRIAC)
      li Угол рассеивания светового луча: 4 версии – 15˚ / 25˚ / 35˚ / 55˚
      li Индекс цветопередачи CRI 80+ / 90+ / 97*
      li Цветовая температура 2700К / 3000К / 4000К*
      li Возможна установка специальных LED-матриц для торговых пространств: для хлеба, для мяса, для одежды, для косметики
      li Световая эффективность 113 лм/Вт при 3000 K
      li Обобщенный показатель дискомфорта UGR&lsaquo;19
      li Угол наклона светильника 90˚, угол поворота 355˚
      li Размеры: Ø 100 мм, H 210 мм
      li Вес: 1415 гр
      li Гарантия от производителя 3 года
    div(elem='remark') * Светильник может быть оснащен LED-матрицей с цветовой температурой и индексом цветопередачи на Ваш выбор.
  |
  div(elem='col')
    h3(elem='h3') Комплектация и условия эксплуатации
    ul(elem='list')
      li 
        b(class='text-primary') ВНИМАНИЕ! 
        | Источник питания встроен в корпус
      li Светильник подключается к трехфазному шинопроводу 220 В
      li Диапазон рабочих температур -20º — +40ºС
  |
  div(elem='col')
    h3(elem='h3') Область применения
    ul(elem='list')
      li Бутики и супермаркеты
      li Музеи и выставочные комплекты
      li Кафе и рестораны
      li Общественные интерьеры
      li Офисы и бизнес-центры
  |
  div(elem='col')
    h3(elem='h3') Диммирование (Управление яркостью)
    ul(elem='list')
      li Возможность и способ регулировки яркости зависит от выбранного блока питания
      li Для регулировки яркости с помощью фазового диммера выберите блоки питания с пометкой «TRIAC» на вкладке «Источники питания»
  |
  div(elem='col')
    h5(elem='h5') Мы рекомендуем следующие модели фазовых диммеров:
    div(elem='links-list')
      a(elem='download-link' mods='type' class='pdf' href='#') JUNG TRONIC 243 EX
      a(elem='download-link' mods='type' class='pdf' href='#') JUNG TRONIC 243 EX
      a(elem='download-link' mods='type' class='pdf' href='#') JUNG TRONIC 243 EX
      a(elem='download-link' mods='type' class='pdf' href='#') JUNG TRONIC 243 EX
      a(elem='download-link' mods='type' class='pdf' href='#') JUNG TRONIC 243 EX
      a(elem='download-link' mods='type' class='pdf' href='#') JUNG TRONIC 243 EX
      a(elem='download-link' mods='type' class='pdf' href='#') JUNG TRONIC 243 EX
  |
  div(elem='col')
    ul(elem='list')
      li Мы не гарантируем стабильную работу светильника и блока питания с другими моделями диммеров
      li 
        | Для разработки системы управления посредством протоколов DALI, 1-10V, DMX обращайтесь к 
        a(class='link_underline' href='#') специалистам нашей компании
  |
  div(elem='special' title='special')
    h3(elem='h3' mods='special') Специальные версии светильников для ритейла
    div(elem='col' mods='special')
      div(elem='text' mods='illustrated')
        h5(elem='h5' mods='matrix snowhite') Для одежды
        p Световые приборы со специальными LED-матрицами Snowhite разработаны специально для магазинов и бутиков с одеждой, тканями и предметами интерьера.
        p Спектр излучения светодиода подобран так, чтобы максимально качественно передавать белые цвета, придавая им особенный лоск и дополнительную белизну.
      img(elem='text-img' src='https://aledo-pro.ru/images/configurator/matrixes/img_5667d74fe0ba5.jpg' alt='Специальные версии светильников для ритейла. Для одежды')
    |
    div(elem='col' mods='special')
      div(elem='text' mods='illustrated')
        h5(elem='h5' mods='matrix ruby') Для мяса
        p Выгодно подчеркивает оттенки красного в Ваших товарах, делая их цвет насыщенным и сочным. Идеально подходит для освещения открытых мясных прилавков, кулинарии, красной рыбы и суши.
        p Уникальность LED-матрицы RUBY состоит в том, что основная доля ее излучения лежит в красной области спектра.
      img(elem='text-img' src='https://aledo-pro.ru/images/configurator/matrixes/img_5667d75ea8a52.jpg' alt='Специальные версии светильников для ритейла. Для мяса')
    |
    div(elem='col' mods='special')
      div(elem='text' mods='illustrated')
        h5(elem='h5' mods='matrix aroma') Для хлеба
        p LED-матрица Aroma разработана специально для освещения хлеба и выпечки, сыров, а так же фруктов, овощей и других товаров желтого и золотистого цветов. Основная доля световой мощности лежит в желто-оранжевой части спектра, что позволяет наиболее выгодно подчеркнуть эти цвета в освещаемой товарной выкладке.
      img(elem='text-img' mods='pull-right' src='https://aledo-pro.ru/images/configurator/matrixes/img_5667d7572ce51.jpg' alt='Специальные версии светильников для ритейла. Для хлеба')
    |
    div(elem='col' mods='special')
      div(elem='text' mods='illustrated')
        h5(elem='h5' mods='matrix mela') Для косметики
        p Уникальное в своем роде решение для освещения объектов в области индустрии красоты: косметологических салонов, школ визажистов, парфюмерных и косметических магазинов.
        p Специальная LED-матрица Mela имеет спектр, максимально приближенный к естественному солнечному, что крайне важно, когда речь идет о правильной передаче цветов и оттенков человеческой кожи.
      img(elem='text-img' mods='pull-right' src='https://aledo-pro.ru/images/configurator/matrixes/img_5667d74fe0ba5.jpg' alt='Специальные версии светильников для ритейла. Для косметики')
    |
    h5(elem='h5') Для заказа специализированных световых приборов обращайтесь к нам любым удобным для Вас способом.