/* project-form */

//
@import "../blocks/forms/form_request_one-line";
//
//
.project-form {
  @extend .px-15,
  .px-sm-0,
  .mx-0,
  .mt-50,
  .py-25,
  .container-fluid;
  margin-bottom: -5rem;
  overflow: hidden;
  background: $gray-lightest;
  //
  // HEADER
  &__header {
    @extend .px-15,
    .px-sm-0,
    .display-2,
    .text-center;
  }
  //
  &__form {
    @extend .mt-25,
    .mx-sm-auto,
    .mb-10;
    @include media-breakpoint-only(sm) {
      width: 540px;
    }
    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }
}
