// project-form
section(block='project-form')
  h2(elem='header') 
    | Хочу заказать проект
  //- FORM
  form(block='form' mods='request one:line' mix='block:project-form elem:form')  
    |
    div(elem='form-group' mods='input')
      label(elem='label' mods='input' for='project-form_contact') Ваш номер телефона или&nbsp;email
      input(elem='input' mods='input' id='project-form_contact' type='text' placeholder='Обязательно заполните это поле')      
    |
    div(elem='form-group' mods='checkbox')
      label(elem='label' mods='checkbox')
        input(elem='input' mods='checkbox' type='checkbox' checked='checked')
        span(elem='indicator' mods='checkbox')
        span(elem='description' mods='checkbox') Согласен на обработку личных данных
    |
    //- WHEN FORM DONE - ACTIVE
    div(elem='form-group' mods='btn')
      button(elem='input-btn' type='submit') Отправить