/* serie-downloads */

.serie-downloads {
  @extend .p-0,
  .pt-5,
  .flex-column;
  margin-top: 0.1rem !important;
  width: 22.5rem;
  background: $white;
  border: 1px solid;
  border-color: $aledo-light $gray-lighter $gray-lighter;
  @include shadow();
  &[x-placement*='top'] {
    transform: translateY(39px) !important;
  }
  //
  &__dropdown-item {
    @extend .py-10,
    .pl-50,
    .pr-15,
    .d-flex,
    .align-items-center;
    position: relative;
    white-space: normal;
    &:hover {
      background-color: $gray-lighter;
    }
    &_type {
      &:after {
        @extend .d-flex,
        .justify-content-center,
        .align-items-center;
        position: absolute;
        content:  attr(data-type);        
        @extend .text-uppercase;
        height: 100%;
        width: 1.8rem;
        top: 0;
        left: 1.5rem;
        font-size: .7rem;
        font-weight: $font-weight-bold;
        color: $white;
        background: {
          repeat: no-repeat;
          position: 0% 50%;
          image: $icon-share-file;
        }
      }
      &:hover:after {
        background-image: $icon-share-file-hover;
      }
      &.pdf {
        &:after {
          content: '';
          background-image: $icon-share-pdf;
        }
        &:hover:after {
          background-image: $icon-share-pdf-hover;
        }
      }
    }
  }
  &__dropdown-all {
    @extend .mt-5,
    .py-10,
    .btn,
    .text-uppercase;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    background: $gray-light;
    color: $white;
    transition: background .2s ease;
    &:hover {
      background: $gray;
      color: $white;
    }
  }
}

.dropdown-menu {
  max-height: 0;
  transition: max-height 0.35s ease;
  &.show {
    height: auto;
    max-height: 100rem;
    @extend .d-flex;
  }
}