// serie-downloads
div(block='serie-downloads' aria-labelledby='serie-downloads-toggler' class="dropdown-menu")
  a(elem='dropdown-item' mods='type' class='pdf' href='#') Описание продукта
  a(elem='dropdown-item' mods='type' class='pdf' href='#') Описание продукта предыдущей версии
  a(elem='dropdown-item' mods='type' class='pdf' href='#') Инструкция по установке
  a(elem='dropdown-item' mods='type' data-type='rar' href='#') 3D модель
  a(elem='dropdown-item' mods='type' data-type='zip' href='#') LDT
  a(elem='dropdown-all' href='#') Скачать всё