.project-aside {
  &__block {
    font-size: $font-size-small;
    &_links,
    &_sharing {
      @extend .mt-25;
    }
    &_product {
      @extend .mt-15;
    }
    &_categories {
      @extend .mt-5;
    }
  }
  &__title {
    color: $gray-light;
  }
  //
  &__categories {
    @extend .mt-5,
    .d-flex,
    .flex-wrap,
    .text-uppercase;
  }
  &__category {
    &:not(:last-of-type) {
      @extend .mr-15;
    }
    &_second {
      color: $gray-light;
    }
  }
  //
  &__product-links {
    @extend .mt-5;
  }
  &__product-link {
    @extend .py-5,
    .d-block;
    position: relative;
    //
    &:hover:before {
      @include after-before();
      top: 0;
      left: -1rem;
      right: -1rem;
      bottom: 0;
      background: $gray-lightest;
      z-index: -1;
    }
  }
  &__product-name {
    @extend .link_uppercase,
    .link_underline;
  }
  //
  &__product-slider {
    @extend .mx-auto,
    .d-block;
    @include border($gray-lighter);
    width: 20rem;
    height: 17.5rem;
    .carousel-cell {
      height: 100%;
    }
  }
  &__product-slide {
    @extend .w-100,
    .h-100;
    background: {
      size: contain;
      position: top;
      repeat: no-repeat;
    }
  }
  //
  &__tags {
    @extend .mt-35,
    .py-25;
    @include border-dotted(top);
    @include border-dotted(bottom);
  }
  &__tag {
    font-size: $font-size-small;
    &:not(:last-of-type) {
      @extend .mb-15;
    }
  }
  &__tag-name {
    color: $gray-light;
  }
  &__tag-value {
    &_list {
      @extend .mb-0,
      .list-unstyled;
    }
  }
  &__share-butons {
    @extend .mt-5;
  }
  &__share-buton {
    @extend .d-inline-block;
    &:not(:last-of-type) {
      @extend .mr-10;
    }
    width: 2.5rem;
    height: 2.5rem;
    background: {
      color: $gray-lighter;
      position: center;
      repeat: no-repeat;
      size: 2rem 2rem;
    }
    transition: $transition-base;    
    &_lnk {
      background-image: $icon-share-lnk;
      background-size: 1.65rem 1.65rem;
      &:hover {
        background-color: $gray-light;
      }
    }
    &_vk {
      background-image: $icon-share-vk;
      background-size: 1.65rem 1.65rem;
      &:hover {
        background-color: #507299;
      }
    }
    &_fb {
      background-image: $icon-share-fb;
      &:hover {
        background-color: #4267b2;
      }
    }
    &_pn {
      background-image: $icon-share-pn;
      &:hover {
        background-color: #bd081b;
      }
    }
  }
}
