div(block='project-aside')
  div(elem='block' mods='categories')    
    div(elem='title') Проект в категории:
    div(elem='categories')
      a(elem='category' mods='first' href='#') Рестораны
      a(elem='category' mods='second' href='#') Санкт-петербург
  |
  //-
  div(elem='block' mods='links')    
    div(elem='title') Осветительное оборудование в проекте:
    div(elem='product-links')
      a(elem='product-link' data-selector='0' href='#') 
        | Накладной прожектор 
        span(elem='product-name') Cylinder 30W
        |, LedionOpto, Тайвань
      a(elem='product-link' data-selector='1' href='#') 
        | Встраиваемый светильник 
        span(elem='product-name') TD16 ROUND 5W
        |, LedionOpto, Тайвань
      a(elem='product-link' data-selector='2' href='#') 
        | Карданный светильник 
        span(elem='product-name') Cardan Light 18W
        |, LedionOpto, Тайвань
  |
  //-
  div(elem='block' mods='product')
    div(elem='product-slider')
      div(elem='product-slide' style='background-image: url(https://aledo-pro.ru/images/series/img_56264308d1670.jpg)')
      div(elem='product-slide' style='background-image: url(https://aledo-pro.ru/images/series/img_564ed047f3285.jpg)')
      div(elem='product-slide' style='background-image: url(https://aledo-pro.ru/images/series/img_5745acf079ba5.jpg)')
  |
  //-
  div(elem='tags')
    //-
    div(elem='tag')
      p(elem='tag-name') Выполненные работы
      ul(elem='tag-value' mods='list') 
        li Поставка осветительного оборудования
        li Монтаж осветительного оборудования
    |
    //-
    div(elem='tag')
      p(elem='tag-name') Площадь
      p(elem='tag-value') 92 кв.м
    |
    //-
    div(elem='tag')
      p(elem='tag-name') Реализованные зоны
      ul(elem='tag-value' mods='list') 
        li Большой зал
        li Малый зал
  |
  //-
  div(elem='block' mods='sharing')
    div(elem='title') Поделиться
    div(elem='share-butons')
      a(elem='share-buton' mods='lnk' href='#')
      a(elem='share-buton' mods='vk' href='#')
      a(elem='share-buton' mods='fb' href='#')
      a(elem='share-buton' mods='pn' href='#')