// HEADER NAVBAR-BRAND NAVBAR-SM-MENU SEARCH-TOGGLER
//
.header {
    &__navbar-item_search-toggler {
        flex: 0 auto;
        padding: {
            right: 0 !important;
            left:  0 !important;
        }
    }
    &__navbar-link_search-toggler {        
        @extend .px-15;
    }
    //
    &__navbar-icon_search {
        background-image: $icon-search;
    }    
}
