//- SEARCH-TOGGLER
li(elem='navbar-item' mods='sm search:toggler')
  a(elem='navbar-link' mods='search:toggler' class='js-toggler js-search-toggler collapse-x show' href='#')
    span(elem='navbar-link-icon') 
      span(elem='navbar-icon' mods='search') &nbsp;