a(elem='scroll-down' id='js-scroll-down' href='#')
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 75 100')
    defs
      style.
        .l{fill:none;stroke:#D1D639;stroke-width:1.5px;animation:scroll 1s ease-out infinite;}.l1{animation-delay:0s;}.l2{animation-delay:.1s;}.l3{animation-delay:.2s;}.l4{animation-delay:.3s;}.l5{animation-delay:.4s;}@keyframes scroll{from{opacity:1;}to{opacity:.1;}}
    title scroll-down
    polyline.l.l5(points='0.5 65.5 37.5 99 74.5 65.5')
    polyline.l.l4(points='0.5 49.25 37.5 82.75 74.5 49.25')
    polyline.l.l3(points='0.5 33 37.5 66.5 74.5 33')
    polyline.l.l2(points='0.5 16.75 37.5 50.25 74.5 16.75')
    polyline.l.l1(points='0.5 0.5 37.5 34 74.5 0.5')