/* SOLUTION-CINEMA */

.solutions-cinema-video-banner {
  @extend .px-0,
  .container-fluid,
  .d-flex,
  .justify-content-center,
  .align-items-center;
  position: relative;
  overflow: hidden;
  background-color: $black;
  height: calc(100vh - 16.25rem);
  @include media-breakpoint-down(sm) {
    height: 75vw;
  }
  //
  &::after {
    @include after-before();
    background: {
      repeat: repeat;
      size: 10px;
      image: $icon-plus-pattern;
    }
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .75;
    z-index: 0;
  }
  //
  &__player {
    height: 100vw;
    min-width: 150vw;
    transition: opacity .2s ease;
    @include media-breakpoint-up(md) {
      opacity: 0;
    }
    @include media-breakpoint-down(sm) {
      background: {
        repeat: no-repeat;
        size: cover;
        image: url(../img/countdown.jpg);
      }
    }
  }
  //
  &__scroll-down {
    @extend .d-none,
    .d-md-block;
    position: absolute;
    bottom: ($spacer * 12.5);
    left: calc(50% - 3.75rem);
    width: ($spacer * 7.5);
    height: ($spacer * 10);
    z-index: 1;
  }
}
