// solutions-lines-form
section(block='solutions-lines-form')
  //-
  div(elem='header') Начать работу с нами просто
  div(elem='lead')
    | Оставьте данные для предварительного расчета и&nbsp;наш специалист вам всё расскажет
  |
  //- FORM
  form(block='form' mods='file' mix='block:solutions-lines-form elem:form' id='solutions-lines-form')
    |
    div(elem='form-col')
      div(elem='form-group' mods='inline-lg-up')
        label(elem='label' mods='inline-lg-up' for='solutions-lines-form_name') Ваше имя
        input(elem='input' mods='inline-lg-up' id='solutions-lines-form_name' type='text' placeholder='Обязательно заполните это поле')
      //-
      div(elem='form-group' mods='inline-lg-up')
        label(elem='label' mods='inline-lg-up' for='solutions-lines-form_tel') Номер телефона
        input(elem='input' mods='inline-lg-up' id='solutions-lines-form_tel' type='text' placeholder='Обязательно заполните это поле')
    |
    div(elem='form-col')
      div(elem='form-group' mods='inline-lg-up file')
        label(elem='label' mods='file' for='solutions-lines-form_file') Прикрепите эскиз
        input(elem='input' mods='file' id='solutions-lines-form_file' type="file" multiple aria-describedby="solutions-lines-form_file-text") 
        div(elem='file-text' id="solutions-lines-form_file-text") 
          | Перетащите чертеж (DWG, PDF, JPG, DOC) сюда или 
          span(elem='file-text-underline') загрузите файл
    |
    div(elem='form-col')
      div(elem='form-group' mods='inline-lg-up')
        label(elem='label' mods='inline-lg-up' for='solutions-lines-form_email') Email
        input(elem='input' mods='inline-lg-up' id='solutions-lines-form_email' type='text' placeholder='Обязательно заполните это поле')
      //-
      div(elem='form-group' mods='inline-lg-up')
        label(elem='label' mods='inline-lg-up' for='solutions-lines-form_city') Город
        input(elem='input' mods='inline-lg-up' id='solutions-lines-form_city' type='text' placeholder='Обязательно заполните это поле')    
    |
    div(elem='form-col')
      div(elem='form-group' mods='inline-lg-up')
        label(elem='label' mods='comment' for='solutions-lines-form_comment') Комментарий
        textarea(elem='input' mods='comment inline-lg-up' id='solutions-lines-form_comment' type='text' rows="5" placeholder='Обязательно заполните это поле')
    |
    div(elem='form-col' mods='checkbox')
      div(elem='form-group' mods='checkbox')
        label(elem='label' mods='checkbox')
          input(elem='input' mods='checkbox' type='checkbox' checked='checked')
          span(elem='indicator' mods='checkbox')
          span(elem='description' mods='checkbox') Согласен на&nbsp;обработку личных данных  
    |
    div(elem='form-col' mods='checkbox')
      //- WHEN FORM DONE ACTIVE
      div(elem='form-group' mods='btn')
        button(elem='input-btn' type='submit') Отправить