/* solutions-lines-form */

//
@import "../blocks/forms/form_file";
//
//
.solutions-lines-form {
  @extend .mt-25,
  .px-15,
  .px-sm-0,
  .container;
  //
  // Header
  &__header {
    @extend .px-5,
    .pb-5,
    .display-2,
    .text-center;
  }
  //
  &__lead {
    @extend .mx-auto,
    .display-3,
    .text-center;
    max-width: 60rem;
  }
  //
  &__form {
    @extend .px-0,
    .mt-25,
    .row;
  }
}