// HEADER NAVBAR-BRAND NAVBAR-SM-MENU MENU-TOGGLER
//
.header {
  &__navbar-item_menu-toggler {
    @extend .transition-fade;
  }
  //
  &__navbar-icon_menu {
    background-image: $icon-menu;
  }
  //
  &__navbar-link-icon {
    @extend .align-items-center;
    //
    span {
      width: auto;
    }
  }
  //
  // OPEN
  &__navbar-item_menu-toggler.active {
    @extend .font-weight-bold;
    color: $gray-dark;
  }
  //
  &__navbar-icon_menu.close-btn {
    background-image: $icon-close;
  }
}
