//- MENU-TOGGLER
li(elem='navbar-item' mods='sm upper:case menu:toggler')
  a(elem='navbar-link' class='js-toggler' data-toggle="collapse" data-target="#js-navbar-pages-toggle" aria-controls="js-navbar-pages-toggle" aria-expanded="false" href='#')
    span(elem='navbar-link-icon') 
      span Меню
      span(elem='navbar-icon' mods='menu pos:right') &nbsp;
//-