- var projects = [ {title:'Спортбар «Фонбет»', src:'https://aledo-pro.ru/images/projects/img_59b7d7af9b4a1.png', tags: {city: 'Санкт-Петербург', category: 'Рестораны' }, mods:'s', hash:'restorans'},{  title:'«Азбука Вкуса» на Марксистской', src:'https://aledo-pro.ru/images/projects/img_59b7cedf10f89.png', tags: {city: 'Санкт-Петербург', category: 'Магазины' }, mods:'s', hash:'stores'},{  title:'«Кашемир и Шёлк» в Красногорске', src:'https://aledo-pro.ru/images/projects/img_59b7d04daf06c.png', tags: {city: 'Санкт-Петербург', category: 'Магазины' }, mods:'l', hash:'stores'},{  title:'«Кашемир и Шёлк» на Трубной площади', src:'https://aledo-pro.ru/images/projects/img_59b7d39be74cb.png', tags: {city: 'Санкт-Петербург', category: 'Магазины' }, mods:'s', hash:'stores'},{  title:'«Азбука Вкуса» DAILY на Проспекте Мира', src:'https://aledo-pro.ru/images/projects/img_59b7ceba1f446.png', tags: {city: 'Санкт-Петербург', category: 'Магазины' }, mods:'s', hash:'stores'},{  title:'Российская Шахматная Федерация', src:'https://aledo-pro.ru/images/projects/img_59b7d59e41d32.png', tags: {city: 'Москва', category: 'Музеи' }, mods:'s', hash:'museums'},{  title:'Кулинария «ГречкаЛаб»', src:'https://aledo-pro.ru/images/projects/img_59b7cf1fab688.png', tags: {city: 'Москва', category: 'Рестораны' }, mods:'l', hash:'restorans'},{  title:'Спортбар «Фонбет»', src:'https://aledo-pro.ru/images/projects/img_59b7d7af9b4a1.png', tags: {city: 'Санкт-Петербург', category: 'Рестораны' }, mods:'s', hash:'restorans'},{  title:'«Азбука Вкуса» на Марксистской', src:'https://aledo-pro.ru/images/projects/img_59b7cedf10f89.png', tags: {city: 'Москва', category: 'Магазины' }, mods:'s', hash:'stores'},{  title:'«Кашемир и Шёлк» в Красногорске', src:'https://aledo-pro.ru/images/projects/img_59b7d04daf06c.png', tags: {city: 'Красногорск', category: 'Магазины' }, mods:'l', hash:'stores'},{  title:'«Кашемир и Шёлк» на Трубной площади', src:'https://aledo-pro.ru/images/projects/img_59b7d39be74cb.png', tags: {city: 'Санкт-Петербург', category: 'Магазины' }, mods:'s', hash:'stores'},{  title:'«Азбука Вкуса» DAILY на Проспекте Мира', src:'https://aledo-pro.ru/images/projects/img_59b7ceba1f446.png', tags: {city: 'Санкт-Петербург', category: 'Магазины' }, mods:'s', hash:'stores'},{  title:'Российская Шахматная Федерация', src:'https://aledo-pro.ru/images/projects/img_59b7d59e41d32.png', tags: {city: 'Санкт-Петербург', category: 'Музеи' }, mods:'s', hash:'museums'},{  title:'Кулинария «ГречкаЛаб»', src:'https://aledo-pro.ru/images/projects/img_59b7cf1fab688.png', tags: {city: 'Санкт-Петербург', category: 'Рестораны' }, mods:'l', hash:'restorans'}]
- var categories = [  {hash:'stores', category: 'Магазины'}, {hash:'museums', category: 'Музеи'}, {hash:'restorans', category: 'Рестораны'} ]
- var cities = [ 'Москва','Красногорск','Санкт-Петербург' ]
- var a = {"Ё":"YO","Й":"I","Ц":"TS","У":"U","К":"K","Е":"E","Н":"N","Г":"G","Ш":"SH","Щ":"SCH","З":"Z","Х":"H","Ъ":"'","ё":"yo","й":"i","ц":"ts","у":"u","к":"k","е":"e","н":"n","г":"g","ш":"sh","щ":"sch","з":"z","х":"h","ъ":"'","Ф":"F","Ы":"I","В":"V","А":"a","П":"P","Р":"R","О":"O","Л":"L","Д":"D","Ж":"ZH","Э":"E","ф":"f","ы":"i","в":"v","а":"a","п":"p","р":"r","о":"o","л":"l","д":"d","ж":"zh","э":"e","Я":"Ya","Ч":"CH","С":"S","М":"M","И":"I","Т":"T","Ь":"'","Б":"B","Ю":"YU","я":"ya","ч":"ch","с":"s","м":"m","и":"i","т":"t","ь":"'","б":"b","ю":"yu"}
- var transliterate = function (word) { return word.split('').map( function (char) { return a[char] || char; } ).join("").toLowerCase(); }
// projects
section(block='projects-projects')
  h1(elem='header') Наши проекты
  div(elem='filter')
    //-
    div(elem='filter-name')
    //-
    nav(elem='button-group')
      button(elem='button' class='active' href='javascript:;' data-filter="*") Все
      each category, val in categories
        button(elem='button' href='javascript:;' data-filter="."+category.hash)= category.category
      each city in cities
        button(elem='button' class="d-none" href='javascript:;' data-filter="."+transliterate(city))= city
  //-  
  div(elem='grid')
    div(elem='grid-sizer')
    each project, val in projects
      div(elem='grid-item' class=project.mods + ' ' + project.hash + ' ' + transliterate(project.tags.city))
        div(block='card' mods='image' mix='block:projects-projects elem:card')
          a(elem='image' mix='block:projects-projects elem:image' style='background-image:url(' + project.src + ')' href='#')
          div(elem='block' mix='block:projects-projects elem:block')
            p(elem='title' mix='block:projects-projects elem:title')
              a(elem='title-link' href='#')= project.title
            div(elem='tags' mix='block:projects-projects elem:tags')
              a(elem='card-tag' mix='block:projects-projects elem:tag mods:[city]' href='#filter='+transliterate(project.tags.city))= project.tags.city
              a(elem='card-tag' mix='block:projects-projects elem:tag mods:[category]' href='#filter='+project.hash)= project.tags.category