/* projects-projects */

//
@import "../blocks/cards/card_image";
//
//
.projects-projects {
  @extend .mt-35;
  //
  &__header {
    @extend .display-2,
    .text-center;
  }
  //
  &__filter {
    @extend .container;
    position: relative;
  }
  &__button-group {
    @extend .py-25,
    .d-none,
    .d-md-flex,
    .flex-wrap,
    .justify-content-between;
    background: $white;
    transition: opacity .85s ease .45s;
    //
    &.filtered {      
      opacity: 0;
      cursor: pointer;
      &:hover {
        opacity: 1;
        transition: opacity .65s ease;
      }
    }
  }
  &__button { 
    @extend .px-10,
    .py-5,
    .text-uppercase;
    background-color: transparent;
    color: $gray;
    border: 0;
    outline: 0;
    @include hover-focus {
      background: $gray-lightest;
      color: $gray-dark;
      outline: none;
      transition: all .2s ease;
      cursor: pointer;
    } 
    &.active {
      background: $aledo-lightest; 
    }
  }
  &__filter-name {
    @extend .w-100,
    .display-3,    
    .text-center;
    position: absolute;
    top: 2.25rem;
    z-index: -1;
  }
  //
  &__grid {
    @extend .mt-25,
    .mt-md-0,
    .p-0,
    .py-20,
    .container-fluid;
    @include clearfix;
    position: relative;
    background-color: $gray-lightest;
  }
  &__grid-sizer {
    width: percentage(1/12);
  }
  &__grid-aside {
    position: absolute;
    top: 45rem;
    width: 100%;
    height: 15rem;
    transition: opacity .35s ease-in-out .15s;
    opacity: .7;
    background: {
      repeat: repeat-x;
      position: center;
      size: auto 10rem;
      image: url(/img/clients.png);
    }
    &:hover {
      opacity: 1;
    }
  }
  &__grid-item {
    padding: .5rem;
    height: 45rem;    
  }
  &__card {
    @extend .h-100;
    border: none !important;
  }
  &__image {
    padding: 0;
    flex: 1 1 auto;
    min-height: 1px;
    opacity: .9;
    transition: opacity .35s ease;
    &:hover {
      opacity: 1;
    }
  }
  &__block {
    @extend .px-15,
    .px-md-25,
    .pt-md-25;
    flex: 0 0 auto;
    background: $white;
  }
  &__title {
    @extend .mb-25;
    font-weight: 300;
    a {
      text-decoration: none !important;
    }
  }
  &__tags {
    @extend .row;
  }
  &__tag {
    @extend .col;
    &_city {
    }
    &_category {
      @extend .px-5,
      .text-right,
      .text-uppercase;
    }
  }
}
.s {
  @include media-breakpoint-up(xs) {
    width: percentage(12/12);
  }
  @include media-breakpoint-up(sm) {
    width: percentage(6/12);
  }
  @include media-breakpoint-up(md) {
    width: percentage(4/12);
  }
  @include media-breakpoint-up(lg) {
    width: percentage(3/12);
  }
  @media (min-width: 1599px) {
    width: percentage(2/12);
  }
}

.l {
  @include media-breakpoint-up(xs) {
    width: percentage(12/12);
  }
  @include media-breakpoint-up(md) {
    width: percentage(8/12);
  }
  @include media-breakpoint-up(lg) {
    width: percentage(6/12);
  }
  @media (min-width: 1599px) {
    width: percentage(4/12);
  }
}