/* INDEX SOLUTIONS FORM */

//
@import "../blocks/forms/form_request_two-lines";
//
//

.solutions-solutions-form {
  @extend .px-0,
  .mx-0,
  .mt-50,
  .py-0,
  .py-sm-50,
  .py-md-75,
  .container-fluid;
  overflow: hidden;
  background: {
    position: center;
    size: cover;
    image: url(../img/form-back.png);
  }
  //
  &__wrapper {
    @extend .p-25,
    .container;
    position: relative;
    background: rgba($white, .75);
    @include border ($aledo, 5);
    //
    &::after {
      @include after-before();
      top: -($spacer * 2.5);
      bottom: -($spacer * 2.5);
      left: -($spacer * 2.5);
      right: -($spacer * 2.5);
      @include border ($white, 5);
    }
  }
  //
  // HEADER
  &__header {
    @extend .display-2,
    .text-center;
  }
  //
  &__form {
    @extend .mt-15,
    .mt-md-25,
    .mb-10;
    position: relative;
    z-index: 1;
  }
}
