// HEADER NAVBAR-BRAND NAVBAR-SM-MENU
//- 
nav(elem='navbar-sm-menu')
  ul(elem='navbar-nav' mods='sm sm:menu')
    |
    //- PHONE-TOGGLER
    include ../__phones-toggler/phones-toggler.pug
    |
    //- MENU-TOGGLER
    include ../__menu-toggler/menu-toggler.pug
    |
    //- SEARCH-TOGGLER
    include ../__search-toggler/search-toggler.pug