/* HEADER NAVBAR-BRAND NAVBAR-SM-MENU */

// 
.header {
  //
  &__navbar-sm-menu {
    @extend .py-0,
    .px-10,
    .px-sm-0,
    .d-md-none;
    @include border-top($gray-lighter);
    @include border-bottom($gray-light, 2);
  }
  //
  &__navbar-nav_sm-menu {
    @extend .d-flex;
    height: 5rem;
  }
  //
  // stuck
  &_stuck:not([class*="sm-open"]) &__navbar-sm-menu {
    @extend .d-none;
  }
  //
  // SM-OPEN
  &_sm-open &__navbar-sm-menu {
    @extend .border-bottom-0;
  }
  &_sm-open &__navbar-nav_sm-menu &__navbar-item_menu-toggler {
    @extend .d-none;
  }
}
