/*! Flickity v2.0.5
http://flickity.metafizzy.co
---------------------------------------------- */

//
//colors
$white: $white;
$aledo: $aledo;
$gray: $gray;
.flickity-enabled {
  position: relative;
  &:focus {
    outline: none;
  }
  &.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .flickity-viewport {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
      &.is-pointer-down {
        cursor: -webkit-grabbing;
        cursor: grabbing;
      }
    }
  }
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-prev-next-button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:active {
    opacity: 0.6;
  }
  &:disabled {
    opacity: 0;
    cursor: auto;
  }
  svg {
    display: none;
  }
  // custom style
  position: absolute;
  height: 100%;
  top: 0;
  width: 15%;
  background: transparent;
  //
  &:after {
    @include after-before();
    width: 4.5rem;
    height: 5rem;
    opacity: 0;
    top: calc(50% - 5rem/2);
    opacity: .25;
    background: {
      color: rgba($white, 0);
      position: 50% 50%;
      size: ($spacer * 1.75) ($spacer * 3.5);
      repeat: no-repeat;
    }
  }
  &:hover {
    &:after {
      opacity: .9;
      background-color: rgba($white, .8);
    }
  }
  &.next {
    background-position-x: calc(100% - 15px);
  }
  &.previous {
    background-position-x: 15px;
  }
  &.next {
    right: 0;
    &:after {
      right: 0;
      background-image: $icon-arrow-right;
    }
  }
  &.previous {
    left: 0;
    &:after {
      left: 0;
      background-image: $icon-arrow-left;
    }
  }
}

.flickity-rtl {
  .flickity-prev-next-button {
    &.previous {
      left: auto;
      right: 10px;
    }
    &.next {
      right: auto;
      left: 10px;
    }
  }
  .flickity-page-dots {
    direction: rtl;
  }
}

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: $gray;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
    &.is-selected {
      opacity: 1;
      background: $aledo;
    }
  }
}
