//- CARD ROUND UNAVAILABLE
div(block='card' mods='round unavailable') 
    div(elem='image' style='background-image: $img-holder;')
      a(elem='fader' mods='unavailable')
        div(elem='unavailable' tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="" data-content="Unavailable")
    p(elem='title') Unavailable