// CARD ROUND UNAVAILABLE
//
//
@import "card_round";
//
//
$icon-unavailable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='12.5' cy='12.5' r='11.5'/%3E%3Cpolyline class='a' points='19 7 12.5 13.5 8.17 9.17'/%3E%3Cline class='a' x1='1' y1='12.5' x2='4' y2='12.5'/%3E%3Cline class='a' x1='21' y1='12.5' x2='24' y2='12.5'/%3E%3Cline class='a' x1='12.5' y1='21' x2='12.5' y2='24'/%3E%3Cline class='a' x1='12.5' y1='1' x2='12.5' y2='4'/%3E%3C/svg%3E"),
"#",
"%23");
//
//
.card {
  &_unavailable {
    //
    &:hover .card__title {
      color: $gray-light;
    }
  }
  //
  &__fader_unavailable {
    background-image: none;
    //
    @include hover-focus {
      opacity: .99;
    }
  }
  &__unavailable {
    position: absolute;
    top: .5rem;
    left: calc(50% - 1.25rem);
    height: 2.5rem;
    width: 2.5rem;
    background-image: $icon-unavailable;
    cursor: pointer;
    //
    @include hover-focus {
      outline: 0;
    }
  }
}
