// CARD ROUND LIST

//
@import "card_round";
//
//
//
$round-card-size-base: ($spacer * 10);
//
$round-card-sizes: ( 
  xs: $round-card-size-base, 
  sm: $round-card-size-base * 1.5,
  md: $round-card-size-base * 1.75, 
  lg: $round-card-size-base * 2, 
  xl: $round-card-size-base * 2.25
) !default;
//
//
.card {
  &_list &__image {    
    @extend .d-flex,
    .flex-column,
    .justify-content-center;
    padding: 0;
    /*//
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $size: map-get($round-card-sizes, $breakpoint);
        width: $size;
        height: $size;
      }
    }*/
  }
  //
  &__fader_open-close {
    background-image: $icon-arrow-top;
    //
    @include hover-focus {
      outline: 0;
      opacity: .99;
    }
  }
  //
  &__list {        
    position: relative;
    display: none;
  }
  //
  &__link {
    @extend .link_read-more;
    position: relative;
  }
}
