// CARD IMAGE
//
.card {
  &_image {
    @extend .p-0,
    .card;
    user-select: none;
    transition: all .5s ease;
    @include border($gray-lighter);
  }
  //
  &__image {
    @extend .d-flex;
    width: 100%;
    padding-top: percentage(3/4);
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    flex: none;
  }
  //
  &__block {
    @extend .card-body,
    .d-flex,
    .flex-column;
    background: $gray-lightest;
  }
  //
  &__title {
    @extend .mb-15,
    .link_bold,
    .d-inline-flex,
    //.text-uppercase,
    .align-items-baseline;
  }
  //
  &__title-link {
    //@extend .link_underline;
  }
  //
  &__badge {
    @extend .ml-auto,
    .badge,
    .badge-primary,
    .text-uppercase;
    line-height: 1.1;
    font-size: $font-size-small;
    color: $gray;
  }
  //
  &__desc {
    @extend .mb-15;
  }
  //
  &__link {
    @extend .mb-15,
    .link_read-more;
    display: block;
  }
  //
  &__card-tag {
    @extend .mt-auto;
    color: $gray-light;
    font-size: $font-size-small;
    @include hover {
      color: $gray;
    }
  }
}
