//- CARD ROUND LIST
div(block='card' mods='round list') 
    div(elem='image' style='background-image: $img-holder;')
      div(elem='fader' mods='open:close')
      |
      ul(elem='list')
        li List
        li List
        li List
      |
      a(elem='link' href='#') Link
    p(elem='title') List