//- CARD IMAGE
div(block='card' mods='image')
  a(elem='image'style='background-image: $img-holder;')
  div(elem='block')
    p(elem='title')
      a(elem='title-link' href='#')
        | Title
    span(elem='badge') Bage
    p(elem='desc') 
      | Description
    a(elem='card-tag' href='#') Tag