// CARD ROUND
.card {
  &_round {
    background: transparent;
    border: 0;
    //
    &:hover .card__title {
      color: $aledo;
    }
  }
  //
  &_round &__image {
    @extend .d-block;
    padding-top: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  }
  //
  &__fader {
    @include after-before();
    @extend .w-100,
    .h-100;
    border-radius: 50%;
    top: calc(100% - 4.5rem);
    opacity: .5;
    background: {
      color: rgba($white, .9);
      repeat: no-repeat;
      position: center 5%;
      size: 25px 25px;
    }
    @include transition($transition-base);
  }
  //
  &_round &__title {
    @extend .mt-15,
    .w-100,
    .link_uppercase,
    .link_bold,
    .text-center;
    white-space: nowrap;
  }
}
