/* solutions-cinema-presentation */

.solutions-cinema-presentation {
  @extend .mt-50,
  .px-15,
  .px-sm-0,
  .container,
  .row;
  //
  &__col {
    @extend .col-12,
    .col-md-6,
    .d-flex,
    .flex-column,
    .justify-content-end;
    //
    &_presentation {
      @extend .mt-25,
      .mt-md-0;
    }
  }
  //
  // Header
  &__header {
    @extend .pb-5,
    .display-3;
    @include border-dotted (bottom);
  }
  //
  &__link:hover &__title,
  &__link:hover &__img {
    @include transition($transition-base);
  }
  &__link:hover &__title {
    color: $aledo;
  }
  &__link:hover &__img {
    @include border ($aledo, 2);
  }
  //
  &__img {
    @extend .mt-25,
    .d-block;
    width: 100%;
    min-height: ($spacer * 21.5);
    max-width: ($spacer * 33.5);
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    @include border ($gray, 2);
    //
    &_project {
      background-image: url(../img/solutions-cinema-project_compare.png);
    }
    &_presentation {
      background-image: url(../img/solutions-cinema-presentation.png);
    }
  }
  //
  &__title {
    @extend .mt-15,
    .d-inline-block,
    .text-uppercase;
    //
    & small {
      font-size: $font-size-small;
      color: $gray;
    }
  }
}
