// solutions-cinema-presentation

section(block='solutions-cinema-presentation')
  div(elem='col')
    h3(elem='header') Светотехнический расчёт по&nbsp;проекту
    |
    //-
    a(elem='link' class='js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle="modal" data-target="#js-solutions-cinema-sample-modal" href='#')
      div(elem='img' mods='project')
      p(elem='title') Кинотеатр «Формула Кино» в&nbsp;ТРЦ&nbsp;«Океания»
    
  div(elem='col' mods='presentation')
    h3(elem='header') Смотреть презентацию aledo
    |
    //-
    a(elem='link' href='download/aledo-presentation_web.pdf' target='_blank')
      div(elem='img' mods='presentation') 
      p(elem='title') 
        | Презентация 
        small 
          | PDF 
          sman.text-muted 4 Мб