/* projects-showcase */

$some-breakpoints: map-remove($grid-breakpoints, (xs, sm));
$icon-arrow-left--white: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.5 35'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray-lightest};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='17 34.5 1 17.5 17 0.5'/%3E%3C/svg%3E"), "#", "%23");
//
//
.projects-showcase {
  @extend .container-fluid;
  background: $gray-lightest;
  position: relative;
  //
  &__slider {
    @extend .pr-md-50,
    .container;
    overflow: hidden;
    height: 50rem;
    //
    .carousel-cell {
      height: 100%;
    }
    &>.flickity-viewport>.flickity-slider {
      transform: none !important;
    }
  }
  //
  &__slide {
    position: relative;
    width: 100%;
    left: 0 !important;
    background: $gray-light;
    opacity: 0;
    transition: opacity .8s ease;
    z-index: 0;
    //
    &.is-selected {
      opacity: 1;
      z-index: 1;
    }
  }
  &__img {
    @include media-breakpoint-down(md) {
      height: 100%;
      width: auto;
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
      height: auto;
    }
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__header {
    @extend .container;
    @each $breakpoint in map-keys($some-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $container-max-width: map-get($container-max-widths, $breakpoint);
        left: calc( 50% - #{$container-max-width}/2);
      }
    }
    bottom: 0;
    position: absolute;
    //
    &>.flickity-viewport {
      overflow: visible !important;
    }
    &>.flickity-viewport>.flickity-slider {
      transform: none !important;
    }
  }
  &__header-slide {
    width: auto;
    left: 0 !important;
    bottom: 0;
    background: $white;
    z-index: -1;
    position: absolute;
    @each $breakpoint in map-keys($some-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $container-max-width: map-get($container-max-widths, $breakpoint);
        max-width: calc( #{$container-max-width} - 18rem);
      }
    }
    //
    &.is-selected {
      z-index: 1;
      //
      &:before {
        @include after-before();
        height: 100%;
        width: 500%;
        left: -500%;
        bottom: 0;
        background: $white;
      }
    }
  }
  &__h3 {
    @extend .pt-15,
    .pr-25,
    .display-3,
    .d-block;
  }
  &__tags {
    @extend .pt-10,
    .row,
    .align-items-baseline;
    color: $gray-light;
  }
  &__tag {    
    @extend .col;
    &_city {
    }
    &_category {
      @extend .pr-30,
      .text-right,
      .text-uppercase;
      font-size: $font-size-small;
    }
  }
  &__cells {
    @extend .d-none,
    .d-md-block;
    position: absolute;
    bottom: 1.5rem;  
    z-index: 10;
    color: $gray-lighter;
    @each $breakpoint in map-keys($some-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $container-max-width: map-get($container-max-widths, $breakpoint);
        right: calc( 50% - #{$container-max-width}/2 + 7.5rem);
      }
    }
  }
  &__cell-index {
    color: $gray-lightest;
  }
  &__cells-lenght {}
  &__arrow {
    @extend .arrow-btn;
    background-color: transparent;
    //
    &_previous {
      @extend .arrow-btn-left;
      left: -7.5rem;
      background-image: $icon-arrow-left--white;
      
    }
    &_next {
      right: -7.5rem;
      @extend .arrow-btn-right;
    }
  }
}
