// projects-showcase
section(block='projects-showcase')
  div(elem='slider')
    //-
    div(elem='slide' class="carousel-cell")
      img(elem='img' src='https://aledo-pro.ru/images/projects/min_img_59d742f3b75889_41085712.jpg' alt='')
    //-
    div(elem='slide' class="carousel-cell")
      img(elem='img' src='https://aledo-pro.ru/images/projects/min_img_5980694c4270f2_51648523.jpg' alt='')
      div(elem='header') 
    //-
    div(elem='slide' class="carousel-cell")
      img(elem='img' src='https://aledo-pro.ru/images/projects/img_5a24ed48a573b.jpg' alt='')
      div(elem='header') 
    //-
    div(elem='slide' class="carousel-cell")
      img(elem='img' src='https://aledo-pro.ru/images/projects/img_5873a1dd31b38.jpg' alt='')
  //-
  //-
  div(elem='header') 
    div(elem='header-slide' class="carousel-cell")    
      a(elem='h3' href='#') «Кашемир и Шёлк» в&nbsp;Красногорске
      div(elem='tags')
        p(elem='tag' mods='city') Красногорск
        p(elem='tag' mods='category') Магазины
    div(elem='header-slide' class="carousel-cell")
      a(elem='h3' href='#') «Лосось-бар на&nbsp;Кирочной»
      div(elem='tags')
        p(elem='tag' mods='city') Санкт-Петербург
        p(elem='tag' mods='category') Рестораны
    div(elem='header-slide' class="carousel-cell")      
      a(elem='h3' href='#') Ювелирный салон «Master Exclusive Jewellery»
      div(elem='tags')
        p(elem='tag' mods='city') Москва
        p(elem='tag' mods='category') Магазины
    div(elem='header-slide' class="carousel-cell")
      a(elem='h3' href='#') Кинотеатр «Формула Кино» в&nbsp;ТРЦ&nbsp;«Океания»
      div(elem='tags')
        p(elem='tag' mods='city') Москва
        p(elem='tag' mods='category') Кинотеатры
  //-
  div(elem='cells')
    span(elem='arrow' mods='previous')
    span(elem='cell-index')
    span &nbsp;/&nbsp;
    span(elem='cells-lenght')
    span(elem='arrow' mods='next')
    