/* POPOVERS */


.popover {
  padding-top: .5rem;
  //
  .popover-image {
    height: 10.5rem;
    width: 100%;
    margin-bottom: 1rem;
    background: {
      color: $gray-lightest;
      size: cover;
      position: center;
    }
  }
  //
  .popover-text {
    font-size: $font-size-small;
    //
    &>a {
      @extend .link_underline;
    }
  }
}
