// INDEX CLIENTS
section(block='index-vendors')
  //-
  div(elem='header') 
    div(elem='h4') Мы поставляем для наших проектов:
    //-
    a(elem='link' href='/brands') Подробнее
  |
  //-
  div(elem='slider')
    each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
      div(elem='slide' style='background-image: url(img/vendor_' + val + '.png);' class="carousel-cell")    