/* INDEX CLIENTS */

.index-vendors {
  @extend .mt-35,
  .px-0,
  .w-100;
  position: relative;
  background-color: $gray-lightest;
  overflow: hidden;
  &:hover &__logos {
    filter: grayscale(0%);
    opacity: 1;
  }
  //
  &__header {
    @extend .pt-15,
    .pb-5,
    .px-15,
    .px-md-25,
    .container,
    .d-flex,
    .flex-row,
    .align-items-baseline;
    @include media-breakpoint-only(sm) {
      width: 100%;
    }
  }
  //
  &__h4 {
    @extend .display-4;
  }
  //
  &__link {
    @extend .ml-auto,
    .link_read-more;
  }
  //
  // SLIDER
  &__slider {
    @extend .mb-10;
    height: 10rem;
  }
  &__slider:hover &__slide {
    filter: grayscale(0%);
    opacity: 1;
  }
  //
  &__slide {
    @extend .mx-10;
    position: absolute;
    height: 100%;
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    transition: opacity .35s ease-in-out .15s;
    filter: grayscale(100%);
    opacity: 0;
  }
}
