/* INDEX PROJECTS */

.solutions-cinema-projects {
  @extend .px-0,
  .py-35,
  .container-fluid,
  .d-flex,
  .flex-column;
  background-color: $gray-lighter;
  //
  //
  &__projects-wrap {
    @extend .mt-15,
    .mb-md-15,
    .mx-15,
    .mx-sm-auto,
    .p-0,
    .container;
    overflow: hidden;
    position: relative;  
    background: $white;
    @include border ($gray);
    height: 70rem;
    @include media-breakpoint-only(md) {
      height: 37.5rem;
    }
    @include media-breakpoint-up(lg) {
      height: 45rem;
    }
    //
    &::after,
    &::before {
      @include after-before();
      width: 0;
      height: 0;
      border-style: solid;
    }
    &::before {
      border-width: 0 16px 16px 16px;
      border-color: transparent transparent $gray transparent;
      top: -15px;
      left: calc(50% - 16px);
    }
    &::after {
      border-width: 0 14px 14px 14px;
      border-color: transparent transparent $white transparent;
      top: -14px;
      left: calc(50% - 14px);
    }
    @include media-breakpoint-down(sm) {
      &::after {
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent $white transparent;
        top: -14px;
        left: calc(50% - 15px);
      }
    }
    //
    .carousel-cell {
      height: 100%;
    }
    & > .flickity-viewport > .flickity-slider {
      transform: none !important;
    }    
  }
  //
  &__project-details {
      left: 0 !important;
      opacity: 0;
      transition: opacity 0.35s ease-in-out;
      z-index: -1;
    }
    &__project-details.is-selected {
      opacity: 1;
      z-index: 0
    }
  //
  &__nav-wrap {
    @extend .p-0,
    .container,
    .row;
    //
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
      margin-top: ($spacer * 1.5);
    }
  }
}

// //
//
// Import ELEMENTS
@import "__project-details/project-details";
@import "__projects-nav/projects-nav";
