// serie-order // has-order / not-order
section(block='serie-order' class='has-order')
  div(elem='header') 
    h3 Ваш заказ
    a(elem='header-link' href='#') Перейти в корзину
  |
  //-
  div(elem='welcome-text')
    | Добавьте любое количество конфигураций серии или отправьте пустой запрос.
    | Наши специалисты свяжутся с вами и расскажут о сроках и условиях поставки, а также ответят на все ваши вопросы.
  |
  //-
  div(elem='table-wrapper')
    //- collapse.show
    div(elem='moreover' id='serie-order__table_100359'  class='collapse')
      table(elem='table')
        thead
        tbody(elem='tbody')
          tr(elem='tr')
            td(elem='cell' mods='nowrap')
              a(elem='cell-link' href='#') TL UNE 25 830 15 W TC 
            td(elem='cell' mods='description') Трековый / UNE / 25 Вт / 3000 лм / CRI 80+ / 3000 К / 15° / Белый / TRIAC
            td(elem='cell' mods='nowrap') 
              span(elem='product-price') 6 522 руб.
              span(elem='cell-name') /шт
            td(elem='cell') 
              include ../../blocks/forms/_input-counter.pug
            td(elem='cell' mods='nowrap') 
              span(elem='cell-name') Итого: 
              span(elem='product-sum') 6 522 Р
            td(elem='cell')
              button(elem='btn-delete')
          //-
          tr(elem='tr')
            td(elem='cell' mods='nowrap')
              a(elem='cell-link' href='#') TL UNE 25 830 15 W TC 
            td(elem='cell' mods='description') Трековый / UNE / 25 Вт / 3000 лм / CRI 80+ / 3000 К / 15° / Белый / TRIAC
            td(elem='cell' mods='nowrap') 
              span(elem='product-price') 6 522 руб.
              span(elem='cell-name') /шт
            td(elem='cell') 
              include ../../blocks/forms/_input-counter.pug
            td(elem='cell' mods='nowrap') 
              span(elem='cell-name') Итого: 
              span(elem='product-sum') 6 522 Р
            td(elem='cell')
              button(elem='btn-delete')
          //-
          tr(elem='tr')
            td(elem='cell' mods='nowrap')
              a(elem='cell-link' href='#') TL UNE 25 830 15 W TC 
            td(elem='cell' mods='description') Трековый / UNE / 25 Вт / 3000 лм / CRI 80+ / 3000 К / 15° / Белый / TRIAC
            td(elem='cell' mods='nowrap') 
              span(elem='product-price') 6 522 руб.
              span(elem='cell-name') /шт
            td(elem='cell') 
              include ../../blocks/forms/_input-counter.pug
            td(elem='cell' mods='nowrap') 
              span(elem='cell-name') Итого: 
              span(elem='product-sum') 6 522 Р
            td(elem='cell')
              button(elem='btn-delete')
          tr(elem='tr')
            td(elem='cell' mods='nowrap')
              a(elem='cell-link' href='#') TL UNE 25 830 15 W TC 
            td(elem='cell' mods='description') Трековый / UNE / 25 Вт / 3000 лм / CRI 80+ / 3000 К / 15° / Белый / TRIAC
            td(elem='cell' mods='nowrap') 
              span(elem='product-price') 6 522 руб.
              | /шт
            td(elem='cell') 
              include ../../blocks/forms/_input-counter.pug
            td(elem='cell' mods='nowrap') 
              span(elem='cell-name') Итого: 
              span(elem='product-sum') 6 522 Р
            td(elem='cell')
              button(elem='btn-delete')
    |
    //-
    button(elem="btn-more" type="button" data-toggle="collapse" data-target="#serie-order__table_100359" aria-expanded="false")
      | Показать все 
      span / Ещё 1 шт.
  |
  //-
  div(elem='table-footer')
    div(elem='links')
      a(elem='link' mods='excel' href='#')
      a(elem='link' mods='pdf' href='#')
    div(elem='sum') 
      | Сумма: 
      span(elem='total-price') 6 522 Р