/* serie-order */

@import '../blocks/forms/_input-counter';
//
.serie-order {
  @extend .px-15,
  .px-sm-5,
  .container;
  &__header {
    @extend .pb-5,
    .d-flex,
    .flex-wrap,
    .align-items-baseline;
    @include border-dotted(bottom); //
    & h3 {
      @extend .display-4;
    }
  }
  &__header-link {
    @extend .ml-10,
    .link_small,
    .link_underline;
    color: $gray-light;
  }
  &.not-order .serie-order {
    &__header-link,
    &__table-wrapper,
    &__table-footer {
      @extend .d-none;
    }
    &__welcome-text {
      @extend .d-block;
    }
  }
  &.has-order .serie-order {
    &__header-link,
    &__table-wrapper {    
      @extend .d-block;
    }
    &__table-footer {
      @extend .d-flex;
    }
    &__welcome-text {
      @extend .d-none;
    }
  }
  &__welcome-text {
    @extend .mt-25;
    max-width: 72rem;
  }
  &__table-wrapper {
    @extend .mt-25,
    .py-10,
    .w-100;
    position: relative;
    background: $aledo-lighter;
    @include border-dotted(bottom);
  }
  &__table {
    @extend .w-100,
    .table-responsive;
    font-size: $font-size-small;
  }
  &__tbody {}
  &__tr {
    &:hover {
      background: $aledo-light;
    }
  }
  &__cell {
    padding: .25rem 1rem;
    &_nowrap {
      white-space: nowrap;
    }
    &_description {
      min-width: 25rem;
    }
  }
  &__cell-link {
    @extend .link_uppercase;
    padding-bottom: .1rem;
    transition: $transition-base;
    &:hover {
      @include border-dotted(bottom, $gray-dark);
    }
  }
  &__cell-name {
    color: $gray-light;
  }
  &__product-price {}
  &__product-sum {
    font-weight: $font-weight-bold;
  }
  &__btn-delete {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background: {
      position: center;
      size: 1.5rem;
      repeat: no-repeat;
      image: $icon-close;
    }
    transition: $transition-base;
    &:hover {
      background-image: $icon-close-hover-dark;
    }
    &:focus {
      outline: none;
    }
  }
  &__btn-more {
    position: absolute;
    left: calc(50% - 20rem/2);
    bottom: -(2.5rem/2);
    width: 20rem;
    height: 2.5rem;
    font-size: $font-size-small;
    background: $white;
    color: $gray;
    line-height: 2rem;
    border-radius: 1.175rem;
    @include border($gray-lighter);
    cursor: pointer;
    transition: $transition-base;
    &:hover {
      background: $gray-lightest;
      color: $gray-dark;
    }
    &:focus {
      outline: none;
    }
    & span {
      color: $gray-light;
    }
  }
  &__moreover {
    @extend .d-block;
    height: 9.7rem;
    overflow-y: hidden;
    overflow-x: auto;
    transition: $transition-collapse;
    &.show {
      height: auto;
    }
  }
  &__moreover.show+&__btn-more {
    @include media-breakpoint-up(sm) {
      bottom: -3.5rem;      
    }
  }
  &__table-footer {
    @extend .mt-15,
    .flex-wrap,
    .justify-content-between;
  }
  &__links {}
  &__link {
    @extend .mr-10,
    .d-inline-block;
    width: 2rem;
    height: 2rem;
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
    }
    transition: $transition-base;
    &_excel {
      background-image: $icon-share-excel;
      &:hover {
        background-image: $icon-share-excel-hover;
      }
    }
    &_pdf {
      background-image: $icon-share-pdf;
      &:hover {
        background-image: $icon-share-pdf-hover;
      }
    }
  }
  &__sum {
    @extend .ml-auto;
  }
  &__total-price {
    font-size: $h5-font-size;
    font-weight: $font-weight-bold;
  }
}