// project-article
section(block='project-article')
  div(elem='tags')
    //-
    div(elem='tag')
      p(elem='tag-name') Заказчик
      p(elem='tag-value') ООО «Тропикания»
    |
    //-
    div(elem='tag')
      p(elem='tag-name') Авторы проекта
      p(elem='tag-value') Дизайн студия «Yucubedesign»
    |
    //-
    div(elem='tag')
      p(elem='tag-name') Менеджер проекта
      p(elem='tag-value') Русихин Антон, aledo СПб
  |
  //-
  div(elem='content')
    h2(elem='h2') Поставленная задача:
    div(elem='text')
      p Лосось-бар на Кирочной — это второе заведение сети, предлагающей разнообразные и в чём-то уникальные блюда из лосося и не только. Здесь можно окунуться в мир японской гастрономии и отведать блюда, рецепты которых рождены в самой Поднебесной. Кухня — главное достоинство ресторана, которой он славится у любителей японских блюд. Помимо классических и привычных супов и роллов, здесь можно попробовать смелые и вкусные эксперименты шеф-повара. К примеру, в умелых руках обычный ролл становится исконно русским блюдом, а заказав такое привычное оливье, можно получить салат в тайском исполнении.
      p Здесь всё выдержано в особом стиле — не только меню, но и интерьер. В Gourmet-ресторан «Лосось бар» образы подводного мира идеально гармонируют с орнаментами в стиле оригами.
      p Задачей aledo стало создание такого стиля освещения, который подчеркнёт особенности убранства интерьера, используя акценты на деталях и не будет перегружать пространство излишним светом.
    |
    h2(elem='h2') Предложенное осветительное решение:
    div(elem='text')
      p(elem='p') Для создания особой атмосферы, сочетающей чёткие линии и геометрические формы, было решено использовать светильники трёх разных типов и светодиодные ленты. Такое решение позволило соблюсти подводную тематику и мягко, но эффективно осветить места, отделив их от общего зала.
      p(elem='p') 
        | Основное освещение создано встраиваемыми светильниками 
        a(elem='link' href='#') TD16 ROUND 5W
        |  круглой формы и 
        a(elem='link' href='#') Cardan Light 18W
        |  — прямоугольными, с двумя источниками света. Грамотно комбинируя их расположение, нам удалось создать комфортное и мягкое общее освещение всего зала.
      p(elem='p') 
        | Для создания отдельных акцентов на определённых зонах и элементах интерьера были выбраны накладные светильники 
        a(elem='link' href='#') Cylinder 30W
        | . Подобраны варианты с разными углами рассеивания света, что позволило выделять как крупные зоны, так и небольшие декораторские решения.
