.project-article {
  &__tags {
    @extend .py-25,
    .d-flex,
    .flex-wrap,
    .justify-content-between;
    @include border-dotted(top);
    @include border-dotted(bottom);
  }
  &__tag {
    font-size: $font-size-small;
  }
  &__tag-name {
    color: $gray-light;
  }
  &__tag-value {}
  &__content {
    @extend .mt-25;
  }
  &__h2 {
    @extend .mb-10;
    font-size: $h6-font-size;
    color: $gray-light;
  }
  &__text {
    @extend .mb-25;
  }
  &__p {
    @extend .mb-10;
  }
  &__link {
    @extend .link_uppercase,
    .link_underline;
  }
}
