// ARROW
.arrow-btn {
  $arrow-height: ($spacer * 5);
  display: block;
  position: absolute;
  top: calc(50% - (5rem/2));
  height: $arrow-height;
  width: ($spacer * 4.5);
  background: {
    color: rgba($white, .9);
    position: 50% 50%;
    size: ($spacer * 1.75) ($spacer * 3.5);
    repeat: no-repeat;
  }
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s ease;
  @include hover {
    opacity: .9;
  }
  //
  &-right {
    right: 0;
    background-image: $icon-arrow-right;
  }
  &-left {
    left: 0;
    background-image: $icon-arrow-left;
  }
}