// ICONS
//
//ANGLES
$icon-angle-adjust-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M3.88,24.5,20,5.12,17.88,3,.5,17.5v7Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-adjust-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M5.54,24.5,20,5.12,17.88,3,.5,16.25V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-adjust-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M9.29,24.5,20,5.12,17.88,3,.5,12.63V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-adjust-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-adjust-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M18.42,24.5,20,5.12,17.88,3,.5,4.38V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-adjust-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}.c{fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='c' d='M17.88,3,.5,12.63'/%3E%3Cpath class='c' d='M9.29,24.5,20,5.12'/%3E%3Cpath class='c' d='M17.88,3,.5,16.25'/%3E%3Cpath class='c' d='M5.54,24.5,20,5.12'/%3E%3Cpolyline class='c' points='2.46 5.36 5.29 2.53 7.79 5.03'/%3E%3Cpath class='c' d='M7.13,11.2A11.58,11.58,0,0,1,5.3,2.49'/%3E%3Cpolyline class='c' points='17.54 20.91 20.36 18.08 17.86 15.58'/%3E%3Cpath class='c' d='M11.7,16.25a11.58,11.58,0,0,0,8.7,1.83'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-adjust-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}.c{fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='c' d='M17.88,3,.5,16.25'/%3E%3Cpath class='c' d='M5.54,24.5,20,5.12'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-fixed-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M15.89,24.5,14,3.5H11l-1.89,21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-fixed-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M11,3.5l-3,21h9l-3-21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-fixed-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M11,3.5l-6.11,21H20.11L14,3.5Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-fixed-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-fixed-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M11,3.5.5,12.5v12h24v-12L14,3.5Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-fixed-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}.c{fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='c' d='M11,3.5l-6.11,21'/%3E%3Cpath class='c' d='M20.11,24.5,14,3.5'/%3E%3Cpath class='c' d='M11,3.5l-3,21'/%3E%3Cpath class='c' d='M17,24.5l-3-21'/%3E%3Cpolyline class='c' points='2.29 11.67 2.29 7.67 5.83 7.67'/%3E%3Cpath class='c' d='M9.72,12.5A11.58,11.58,0,0,1,2.27,7.64'/%3E%3Cpolyline class='c' points='22.71 11.67 22.71 7.67 19.17 7.67'/%3E%3Cpath class='c' d='M15.28,12.5a11.58,11.58,0,0,0,7.45-4.86'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-fixed-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};}.c{fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='c' d='M11,3.5l-3,21'/%3E%3Cpath class='c' d='M17,24.5l-3-21'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-wallwasher: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:#{$gray};stroke-width:1px;}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-light};stroke-linejoin:bevel;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M14,3.5H.5v21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-matrix: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$matrix-snowhite};}.b{fill:#{$matrix-aroma};}.c{fill:#{$matrix-ruby};}.d{fill:#{$matrix-mela};}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='7.5' cy='7.44' r='7.5'/%3E%3Ccircle class='b' cx='27.5' cy='7.44' r='7.5'/%3E%3Ccircle class='c' cx='47.5' cy='7.44' r='7.5'/%3E%3Ccircle class='d' cx='67.5' cy='7.44' r='7.5'/%3E%3C/svg%3E"), "#", "%23");

$icon-dimming: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 20'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$gray};stroke-width:1px;fill:#{$aledo-light}}%3C/style%3E%3C/defs%3E%3Cpolygon class='a' points='24 10.39 21.1 11.51 21.1 19.5 24 19.5 24 10.39'/%3E%3Cpolygon class='a' points='28.9 8.49 26 9.61 26 19.5 28.9 19.5 28.9 8.49'/%3E%3Cpolygon class='a' points='11.3 19.5 14.2 19.5 14.2 14.19 11.3 15.31 11.3 19.5'/%3E%3Cpolygon class='a' points='19.1 12.29 16.2 13.41 16.2 19.5 19.1 19.5 19.1 12.29'/%3E%3Cpolygon class='a' points='38.7 4.69 35.8 5.81 35.8 19.5 38.7 19.5 38.7 4.69'/%3E%3Cpolygon class='a' points='9.3 16.09 0.5 19.5 9.3 19.5 9.3 16.09'/%3E%3Cpolygon class='a' points='45.6 2.01 45.6 19.5 49.5 19.5 49.5 0.5 45.6 2.01'/%3E%3Cpolygon class='a' points='33.8 6.59 30.9 7.71 30.9 19.5 33.8 19.5 33.8 6.59'/%3E%3Cpolygon class='a' points='43.6 2.79 40.7 3.91 40.7 19.5 43.6 19.5 43.6 2.79'/%3E%3C/svg%3E"), "#", "%23");

// 
// LIGHT
$icon-angle-light-adjust-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M3.88,24.5,20,5.12,17.88,3,.5,17.5v7Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-adjust-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M5.54,24.5,20,5.12,17.88,3,.5,16.25V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-adjust-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M9.29,24.5,20,5.12,17.88,3,.5,12.63V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-adjust-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-adjust-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M18.42,24.5,20,5.12,17.88,3,.5,4.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-adjust-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c,.d,.e{stroke-width:1px;}.a,.b,.d{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}.d{fill:none;}.e{fill:none;stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='d' d='M17.88,3,.5,12.63'/%3E%3Cpath class='d' d='M9.29,24.5,20,5.12'/%3E%3Cpath class='d' d='M17.88,3,.5,16.25'/%3E%3Cpath class='d' d='M5.54,24.5,20,5.12'/%3E%3Cpolyline class='e' points='2.46 5.36 5.29 2.53 7.79 5.03'/%3E%3Cpath class='e' d='M7.13,11.2A11.58,11.58,0,0,1,5.3,2.49'/%3E%3Cpolyline class='e' points='17.54 20.91 20.36 18.08 17.86 15.58'/%3E%3Cpath class='e' d='M11.7,16.25a11.58,11.58,0,0,0,8.7,1.83'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-adjust-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c,.d,.e{stroke-width:1px;}.a,.b,.d{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}.d{fill:none;}.e{fill:none;stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='d' d='M17.88,3,.5,16.25'/%3E%3Cpath class='d' d='M5.54,24.5,20,5.12'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-fixed-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M15.89,24.5,14,3.5H11l-1.89,21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-fixed-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M11,3.5l-3,21h9l-3-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-fixed-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M11,3.5l-6.11,21H20.11L14,3.5Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-fixed-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-fixed-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M11,3.5.5,12.5v12h24v-12L14,3.5Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-fixed-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c,.d,.e{stroke-width:1px;}.a,.b,.d{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}.d{fill:none;}.e{fill:none;stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='d' d='M11,3.5l-6.11,21'/%3E%3Cpath class='d' d='M20.11,24.5,14,3.5'/%3E%3Cpath class='d' d='M11,3.5l-3,21'/%3E%3Cpath class='d' d='M17,24.5l-3-21'/%3E%3Cpolyline class='e' points='2.29 11.67 2.29 7.67 5.83 7.67'/%3E%3Cpath class='e' d='M9.72,12.5A11.58,11.58,0,0,1,2.27,7.64'/%3E%3Cpolyline class='e' points='22.71 11.67 22.71 7.67 19.17 7.67'/%3E%3Cpath class='e' d='M15.28,12.5a11.58,11.58,0,0,0,7.45-4.86'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-fixed-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c,.d,.e{stroke-width:1px;}.a,.b,.d{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}.d{fill:none;}.e{fill:none;stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='d' d='M11,3.5l-3,21'/%3E%3Cpath class='d' d='M17,24.5l-3-21'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-light-wallwasher: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c{stroke-width:1px;}.a,.b{stroke:#{$gray-lighter};}.a{fill:#{$gray-lightest};}.b{fill:#{$aledo-lighter};}.c{fill:#{$gray-light};stroke:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='b' d='M14,3.5H.5v21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

// 
// WITHOUT BORDER
$icon-angle-btn-adjust-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M3.88,24.5,20,5.12,17.88,3,.5,17.5v7Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-adjust-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M3.88,24.5,20,5.12,17.88,3,.5,17.5v7Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-adjust-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M5.54,24.5,20,5.12,17.88,3,.5,16.25V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-adjust-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M5.54,24.5,20,5.12,17.88,3,.5,16.25V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-adjust-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M9.29,24.5,20,5.12,17.88,3,.5,12.63V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-adjust-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M9.29,24.5,20,5.12,17.88,3,.5,12.63V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-adjust-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-adjust-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-adjust-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M18.42,24.5,20,5.12,17.88,3,.5,4.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-adjust-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M18.42,24.5,20,5.12,17.88,3,.5,4.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-adjust-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.d,.e{stroke-with:1px;stroke:#{$gray-lighter};}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='d' d='M17.88,3,.5,12.63'/%3E%3Cpath class='d' d='M9.29,24.5,20,5.12'/%3E%3Cpath class='d' d='M17.88,3,.5,16.25'/%3E%3Cpath class='d' d='M5.54,24.5,20,5.12'/%3E%3Cpolyline class='e' points='2.46 5.36 5.29 2.53 7.79 5.03'/%3E%3Cpath class='e' d='M7.13,11.2A11.58,11.58,0,0,1,5.3,2.49'/%3E%3Cpolyline class='e' points='17.54 20.91 20.36 18.08 17.86 15.58'/%3E%3Cpath class='e' d='M11.7,16.25a11.58,11.58,0,0,0,8.7,1.83'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-adjust-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.d,.e{stroke-with:1px;stroke:#{$gray-lighter};}.b{fill:#{$white};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='d' d='M17.88,3,.5,12.63'/%3E%3Cpath class='d' d='M9.29,24.5,20,5.12'/%3E%3Cpath class='d' d='M17.88,3,.5,16.25'/%3E%3Cpath class='d' d='M5.54,24.5,20,5.12'/%3E%3Cpolyline class='e' points='2.46 5.36 5.29 2.53 7.79 5.03'/%3E%3Cpath class='e' d='M7.13,11.2A11.58,11.58,0,0,1,5.3,2.49'/%3E%3Cpolyline class='e' points='17.54 20.91 20.36 18.08 17.86 15.58'/%3E%3Cpath class='e' d='M11.7,16.25a11.58,11.58,0,0,0,8.7,1.83'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-adjust-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c,.d,.e{stroke:none;}.b,.d{stroke:#{$gray-lighter};}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='d' d='M17.88,3,.5,16.25'/%3E%3Cpath class='d' d='M5.54,24.5,20,5.12'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-adjust-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c,.d,.e{stroke:none;}.b,.d{stroke:#{$gray-lighter};}.b{fill:#{$white};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='c' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3Cpath class='d' d='M17.88,3,.5,16.25'/%3E%3Cpath class='d' d='M5.54,24.5,20,5.12'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-fixed-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M15.89,24.5,14,3.5H11l-1.89,21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-fixed-super-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M15.89,24.5,14,3.5H11l-1.89,21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-fixed-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M11,3.5l-3,21h9l-3-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-fixed-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M11,3.5l-3,21h9l-3-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-fixed-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M11,3.5l-6.11,21H20.11L14,3.5Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-fixed-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M11,3.5l-6.11,21H20.11L14,3.5Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-fixed-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-fixed-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-fixed-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M11,3.5.5,12.5v12h24v-12L14,3.5Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-fixed-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M11,3.5.5,12.5v12h24v-12L14,3.5Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-fixed-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.d,.e{stroke-width:1px;stroke:#{$gray-lighter};}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='d' d='M11,3.5l-6.11,21'/%3E%3Cpath class='d' d='M20.11,24.5,14,3.5'/%3E%3Cpath class='d' d='M11,3.5l-3,21'/%3E%3Cpath class='d' d='M17,24.5l-3-21'/%3E%3Cpolyline class='e' points='2.29 11.67 2.29 7.67 5.83 7.67'/%3E%3Cpath class='e' d='M9.72,12.5A11.58,11.58,0,0,1,2.27,7.64'/%3E%3Cpolyline class='e' points='22.71 11.67 22.71 7.67 19.17 7.67'/%3E%3Cpath class='e' d='M15.28,12.5a11.58,11.58,0,0,0,7.45-4.86'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-fixed-focusable: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.d,.e{stroke-width:1px;stroke:#{$gray-lighter};}.b{fill:#{$white};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='d' d='M11,3.5l-6.11,21'/%3E%3Cpath class='d' d='M20.11,24.5,14,3.5'/%3E%3Cpath class='d' d='M11,3.5l-3,21'/%3E%3Cpath class='d' d='M17,24.5l-3-21'/%3E%3Cpolyline class='e' points='2.29 11.67 2.29 7.67 5.83 7.67'/%3E%3Cpath class='e' d='M9.72,12.5A11.58,11.58,0,0,1,2.27,7.64'/%3E%3Cpolyline class='e' points='22.71 11.67 22.71 7.67 19.17 7.67'/%3E%3Cpath class='e' d='M15.28,12.5a11.58,11.58,0,0,0,7.45-4.86'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-fixed-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c,.d,.e{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='d' d='M11,3.5l-3,21'/%3E%3Cpath class='d' d='M17,24.5l-3-21'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-fixed-oval-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c,.d,.e{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}.d{fill:none;}.e{fill:none;}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3Cpath class='d' d='M11,3.5l-3,21'/%3E%3Cpath class='d' d='M17,24.5l-3-21'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-wallwasher: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$gray-lightest};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M14,3.5H.5v21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-btn-active-wallwasher: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.b,.c{stroke:none;}.b{fill:#{$white};}.c{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M14,3.5H.5v21Z'/%3E%3Crect class='c' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-color-filters: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#7ecbf1;}.b{fill:#87c796;}.c{fill:#fff59a;}.d{fill:#f09975;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M65,7.5A7.5,7.5,0,1,1,57.5,0,7.5,7.5,0,0,1,65,7.5Z'/%3E%3Cpath class='b' d='M40,7.5A7.5,7.5,0,1,1,32.5,0,7.5,7.5,0,0,1,40,7.5Z'/%3E%3Cpath class='c' d='M90,7.5A7.5,7.5,0,1,1,82.5,0,7.5,7.5,0,0,1,90,7.5Z'/%3E%3Cpath class='d' d='M15,7.5A7.5,7.5,0,1,1,7.5,0,7.5,7.5,0,0,1,15,7.5Z'/%3E%3C/svg%3E"), "#", "%23");

// Linear
$icon-angle-linear-adjust-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M5.54,24.5,20,5.12,17.88,3,.5,16.25V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-adjust-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M9.29,24.5,20,5.12,17.88,3,.5,12.63V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-adjust-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M13.07,24.5,20,5.12,17.88,3,.5,9.38V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-adjust-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M18.42,24.5,20,5.12,17.88,3,.5,4.38V24.5Z'/%3E%3Crect class='a' x='18.5' y='1.5' width='3' height='3' transform='translate(7.98 -13.26) rotate(45)'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-fixed-spot: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M11,3.5l-3,21h9l-3-21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-fixed-medium: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M11,3.5l-6.11,21H20.11L14,3.5Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-fixed-flood: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M10.91,3.5,1,24.5H23.81l-9.91-21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-fixed-wide: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M11,3.5.5,12.5v12h24v-12L14,3.5Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");

$icon-angle-linear-wallwasher: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cdefs%3E%3Cstyle%3E.a{stroke:#{$white};stroke-width:1px;fill:none;stroke-linejoin:bevel;}%3C/style%3E%3C/defs%3E%3Crect class='a' x='0.5' y='0.5' width='24' height='24'/%3E%3Cpath class='a' d='M14,3.5H.5v21Z'/%3E%3Crect class='a' x='11' y='0.5' width='3' height='3'/%3E%3C/svg%3E"), "#", "%23");