.link {
  //
  &_small {
    font-size: $font-size-small;
  }
  //
  &_uppercase {
    @extend .text-uppercase;    
  }
  //
  &_bold {
    @extend .font-weight-bold;
  }
  //
  &_underline {
    text-decoration: underline !important;
  }
  //
  &_read-more {
    @extend .link_small,
    .link_uppercase,
    .link_underline;
  }
}
