// INDEX PROJECTS PROJECT-DETAILS
div(elem='project-details' class="carousel-cell")
  |
  div(elem='project-block')
    h5(elem='project-title')
      | Бутик «SPAZIO»
    p(elem='project-desc')
      b Проект:
      |  Бутик «SPAZIO»
      br
      b Адрес:
      |  Мытищи, ул. Коммунистическая, 1, ТЦ «XL».
      br
      b Поставленная задача:
      br
      | «SPAZIO» — первый бутик брендовой одежды из будущей крупной сети, которую планируется открыть в разных районах Москвы и, возможно, за её пределами. Здесь представлена одежда именитых дизайнеров, лучшие коллекции и самые популярные модели. Поэтому проект освещения должен был решить сразу несколько задач:      
      br 
      | Готовый проект должен подчёркивать статус премиум-класса бутика «SPAZIO».
      br
      b Предложенное осветительное решение:
      br
      | Для реализации поставленной задачи подобраны светильники UNI с разными углами рассеивания света. Благодаря этому, удалось сделать акцент на представленных коллекциях товара с возможностью выделить определённые позиции. Также мы подчеркнули особенности интерьера салона, создав атмосферу тёплой роскоши.
      br
      | Для выделения кассовых зон и в примерочных использованы светильники 34W CARDAN MODULE. Они позволили добиться хорошей освещённости для наибольшего комфорта покупателей.
    a(elem='project-link' href='#') Подробнее
  |
  //- SLIDER
  div(elem='project-slider')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/001.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/001.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/001.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/001.jpg);')
