// INDEX PROJECTS PROJECT-DETAILS
div(elem='project-details' class="carousel-cell")
  |
  div(elem='project-block')
    h5(elem='project-title')
      | Продуктовый супермаркет «Перекресток»
    p(elem='project-desc')
      b Проект:
      |  Продуктовый супермаркет «Перекресток».
      br
      b Адрес:
      |  Москва, ул. Кузнецкий мост, 19, стр.1.
      br
      b Поставленная задача:
      br
      | «Перекрёсток» — одна из первых сетей супермаркетов городского формата и один из самых популярных брендов в сфере розничной торговли во многих городах России. На середину 2016 года сеть насчитывала более 500 торговых объектов, успешно работающих в 121 населённом пункте страны. Супермаркеты и магазины «Перекрёсток» располагаются не только в крупных, но и небольших городах России.
      br
      | Задача проекта — создать эффективное освещение товарных выкладок, которое будет выгодно подчёркивать продукцию с целью повышения её привлекательности для покупателей и идеально впишется в существующую архитектурную концепцию помещений.
      br
      b Предложенное осветительное решение:
      br
      | Этот филиал супермаркета «Перекрёсток» располагается в историческом здании с высокими потолками и арками, залы которого отделаны лепниной. Поэтому при выборе осветительного оборудования и создании проекта необходимо было учитывать важность сохранения целостности отделки помещения и его красоту. Осветительное оборудование должно не просто вписаться в интерьер, но и подчёркивать его красоту и величественность наряду с выполнением основной задачи — освещением товарных выкладок.
    |
    a(elem='project-link' href='#') Подробнее
  |
  //- SLIDER
  div(elem='project-slider')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/002.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/002.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/002.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/002.jpg);')
