// HEADER NAVBAR-BRAND NAVBAR-SM-MENU SEARCH-TOGGLER
//
.header {
    &__navbar-item_phones-toggler {
        
    }
    //
    &__navbar-icon_phone {
        background-image: $icon-phone;
    }
    //
    // OPEN
    &__navbar-item_phones-toggler.active {
        @extend .font-weight-bold;
        color: $gray-dark;
    }
    //
    &__navbar-icon_phone.close-btn {
        background-image: $icon-close;
    }
}
