//- PHONE-TOGGLER
li(elem='navbar-item' mods='sm upper:case phones:toggler')
  a(elem='navbar-link' class='js-toggler' data-toggle="collapse" data-target="#js-navbar-phones-toggle" aria-controls="js-navbar-phones-toggle" aria-expanded="false" aria-label="Toggle navigation" href='#')
    span(elem='navbar-link-icon') 
      span Позвонить
      span(elem='navbar-icon' mods='phone pos:right') &nbsp;