// _SUMMARY
div(elem='slide' mods='summary md')
  div(elem='body')
    div(elem='side' mods='left null')
    //-
    div(elem='center')
      img(elem='schema' src='./img/cm-une_schema.svg' alt='')
    //-
    div(elem='side' mods='right')
      div(elem='side-item')
        span(elem='size' mods='l') Диммируется
      div(elem='side-item')
        span(elem='size' mods='s') Световая эффективность
        span(elem='size' mods='l') 113 лм/Вт
      div(elem='side-item')
        span(elem='size' mods='s') Углы рассеивания
        span(elem='size' mods='l') 15˚ / 25˚ / 35˚ / 55˚
      div(elem='side-item')
        span(elem='size' mods='l') Гарантия 3 года
  //-
  div(elem='footer' mods='')
    div(elem='side-item')
      span(elem='size' mods='l') Первая строка
      span(elem='size' mods='m') Или какой-то более длинный текст
|
//-
div(elem='slide' mods='summary sm')
  div(elem='body')
    //-
    div(elem='center')
      img(elem='schema' src='./img/cm-une_schema.svg' alt='')
|
div(elem='slide' mods='summary sm')
  div(elem='body')
    //-
    div(elem='side' mods='right')
      div(elem='side-item')
        span(elem='size' mods='l') Диммируется
      div(elem='side-item')
        span(elem='size' mods='s') Световая эффективность
        span(elem='size' mods='l') 113 лм/Вт
      div(elem='side-item')
        span(elem='size' mods='s') Углы рассеивания
        span(elem='size' mods='l') 15˚ / 25˚ / 35˚ / 55˚
      div(elem='side-item')
        span(elem='size' mods='l') Гарантия 3 года