/* _SUMMARY */

.slider {
  background: $gray-lightest; //
  &__slide {
    &_summary {
      @extend .px-50,
      .py-25,
      .flex-column,
      .justify-content-center,
      .align-items-center;
      height: 100%;
      width: auto;
      max-width: 100%;
      margin-right: .5rem;
    } //
    &_sm {
      @extend .d-md-none,
      .d-flex;
    }
    &_md {
      @extend .d-none,
      .d-md-flex;
    }
  }
  &__body {
    @extend .row,
    .flex-nowrap,
    .justify-content-between,
    .align-items-center;
  }
  &__center {
    @extend .px-25,
    .pb-15,
    .col,
    .justify-content-center,
    .align-items-center;
  }
  &__schema {
    height: 35rem;
    max-width: calc(100vw - 3rem);
  }
  &__side {
    @extend .pb-15,
    .col,
    .flex-column,
    .justify-content-center,
    .align-items-center; //
    &_left {
      min-width: 30rem;
    }
    &_right {
      min-width: 30rem;
    }
    &_null {
      @extend .d-none;
    }
  }
  &__footer {
    @extend .pt-15,
    .w-100,
    .d-none,
    .d-xl-flex,
    .justify-content-center,
    .align-items-center;
    @include border-dotted (top, $gray-light, 1); //
    &_null {
      @extend .d-none;
    }
  } //
  &__side-item {
    @extend .w-100,
    .d-flex,
    .flex-column,
    .justify-content-center,
    .align-items-center;
    &:not(:last-of-type) {
      @extend .pb-15;
      @include border-dotted (bottom, $gray-light, 1);
    }
    &:not(:first-of-type) {
      @extend .pt-15;
    }
  }
  &__size {
    &_m {
      font-size: $display4-size;
      font-weight: $font-weight-light;
    }
    &_s {
      font-size: $font-size-base;
    }
    &_l {
      font-size: $display3-size;
      font-weight: $font-weight-light;
    }
  }
}