svg(elem='aledo-logo' xmlns='http://www.w3.org/2000/svg')
  defs
    style.
      .a{fill:#ccd131;}.b{fill:#615c5e;}
  title aledo-logo
  //-
  g#a
    path.a(d='M38.6,27.26c-1,.21-2.08.39-3.2.53s-2.24.3-3.37.47a12.59,12.59,0,0,0-3.05.85,5.54,5.54,0,0,0-2.2,1.67,4.67,4.67,0,0,0-.84,3,4,4,0,0,0,.5,2.08,4.16,4.16,0,0,0,1.3,1.38,5.27,5.27,0,0,0,1.92.76,10.29,10.29,0,0,0,2.2.24,11.75,11.75,0,0,0,4.22-.68A8.7,8.7,0,0,0,39,35.83a6.65,6.65,0,0,0,1.57-2.23,5.63,5.63,0,0,0,.53-2.26V26.24a6.18,6.18,0,0,1-2.47,1Zm7,15.29a4.27,4.27,0,0,1-3.08-1.08,4.72,4.72,0,0,1-1.14-3.55,11.91,11.91,0,0,1-4.8,3.55,15.73,15.73,0,0,1-5.9,1.08,16.67,16.67,0,0,1-3.84-.44,8.71,8.71,0,0,1-3.21-1.47A7.16,7.16,0,0,1,21.44,38a8.81,8.81,0,0,1-.79-3.91,8.92,8.92,0,0,1,.88-4.22,7.81,7.81,0,0,1,2.31-2.68,10.7,10.7,0,0,1,3.28-1.56q1.85-.53,3.79-.88c1.36-.27,2.67-.47,3.9-.61a22,22,0,0,0,3.26-.59,5.42,5.42,0,0,0,2.26-1.11,2.73,2.73,0,0,0,.83-2.14,5,5,0,0,0-.61-2.64A4.28,4.28,0,0,0,39,16.14a6.45,6.45,0,0,0-2.16-.71,16.79,16.79,0,0,0-2.38-.18,10.56,10.56,0,0,0-5.28,1.21Q27,17.65,26.85,21h-5A10.68,10.68,0,0,1,23,16.2a8.81,8.81,0,0,1,2.81-3.14,11.74,11.74,0,0,1,4.05-1.74,21.31,21.31,0,0,1,4.8-.53,28,28,0,0,1,4.08.3,10.56,10.56,0,0,1,3.67,1.2,7.09,7.09,0,0,1,2.65,2.55,8.19,8.19,0,0,1,1,4.35V34.81a11.67,11.67,0,0,0,.21,2.59c.14.55.6.82,1.37.82a5,5,0,0,0,1.53-.29v3.84a7,7,0,0,1-3.58.77Z')
    path.a(d='M4.92,13.64a3,3,0,1,0,2.1.87A3,3,0,0,0,4.92,13.64Zm0,7.87a4.91,4.91,0,1,1,3.46-1.44A4.91,4.91,0,0,1,4.92,21.51Z')
  //-
  g#ledo
    path.b(d='M57.32,0h-5V41.91h5Z')
    path.b(d='M83.41,20.49a8.43,8.43,0,0,0-4.52-4.55,8.55,8.55,0,0,0-3.44-.68,8.64,8.64,0,0,0-3.49.68,8.12,8.12,0,0,0-2.67,1.85,8.93,8.93,0,0,0-1.76,2.73,10.43,10.43,0,0,0-.77,3.31H84.21a10.23,10.23,0,0,0-.79-3.35ZM84.62,40a13.76,13.76,0,0,1-8.56,2.58,15.57,15.57,0,0,1-6.32-1.17,12.37,12.37,0,0,1-4.49-3.28,14,14,0,0,1-2.74-5,24.15,24.15,0,0,1-1.06-6.39,18.34,18.34,0,0,1,1.06-6.35,15.22,15.22,0,0,1,3-4.94A13.44,13.44,0,0,1,70,12.08a13.79,13.79,0,0,1,5.76-1.17,12.48,12.48,0,0,1,6.72,1.67,13.32,13.32,0,0,1,4.29,4.26A16.85,16.85,0,0,1,89,22.47a24.24,24.24,0,0,1,.5,5.81H66.78A12.09,12.09,0,0,0,67.22,32a8.64,8.64,0,0,0,1.7,3.17,8.53,8.53,0,0,0,3,2.26,10.36,10.36,0,0,0,4.28.82,8.64,8.64,0,0,0,5.19-1.47,7.09,7.09,0,0,0,2.67-4.46H89A12.11,12.11,0,0,1,84.61,40Z')
    path.b(d='M98.43,31.14a11.13,11.13,0,0,0,1.71,3.61,8.3,8.3,0,0,0,2.94,2.52,8.85,8.85,0,0,0,4.2,1,8.11,8.11,0,0,0,7.16-3.57A11.06,11.06,0,0,0,116,31a17.92,17.92,0,0,0,0-8.49,10.83,10.83,0,0,0-1.67-3.67,8.55,8.55,0,0,0-3-2.61,9.26,9.26,0,0,0-4.4-1,8.64,8.64,0,0,0-4.28,1,7.92,7.92,0,0,0-2.84,2.67,11.52,11.52,0,0,0-1.53,3.75A20,20,0,0,0,97.86,27a15.58,15.58,0,0,0,.56,4.14Zm17.92,10.77V37.8h-.12a7.34,7.34,0,0,1-3.84,3.64,14.83,14.83,0,0,1-5.82,1.11,13.67,13.67,0,0,1-6.14-1.28,12.7,12.7,0,0,1-4.35-3.47,15,15,0,0,1-2.61-5,20.64,20.64,0,0,1-.88-6.11,21.44,21.44,0,0,1,.84-6.1,14.46,14.46,0,0,1,2.58-5,12.48,12.48,0,0,1,4.34-3.41,13.84,13.84,0,0,1,6.08-1.26,14.64,14.64,0,0,1,2.52.24,12.81,12.81,0,0,1,2.7.79,11.59,11.59,0,0,1,2.6,1.47,8,8,0,0,1,2,2.26h.12V0h5V41.91Z')
    path.b(d='M130.49,31.68a10.23,10.23,0,0,0,2,3.57,8.74,8.74,0,0,0,3,2.19,9.19,9.19,0,0,0,7.33,0,8.75,8.75,0,0,0,3.06-2.19,10.21,10.21,0,0,0,2-3.57,14.9,14.9,0,0,0,.74-4.9,14.94,14.94,0,0,0-.74-4.91,10.56,10.56,0,0,0-2-3.64,8.64,8.64,0,0,0-3-2.23,9.18,9.18,0,0,0-7.33,0,8.64,8.64,0,0,0-3.08,2.23,10.56,10.56,0,0,0-2,3.61,15,15,0,0,0-.74,4.91,15,15,0,0,0,.74,4.9Zm-5.1-11.17a14.14,14.14,0,0,1,2.82-5,13.21,13.21,0,0,1,4.64-3.38,17,17,0,0,1,12.71,0,13.31,13.31,0,0,1,4.61,3.38,14.13,14.13,0,0,1,2.81,5,20.14,20.14,0,0,1,1,6.25A19.9,19.9,0,0,1,153,33a14.16,14.16,0,0,1-2.81,5,13,13,0,0,1-4.61,3.34,17.36,17.36,0,0,1-12.71,0A12.91,12.91,0,0,1,128.22,38a14.18,14.18,0,0,1-2.82-5,19.94,19.94,0,0,1-1-6.22A20.21,20.21,0,0,1,125.4,20.51Z')
  //-
  g#oooo
    path.b(d='M171.62,13.16a3.46,3.46,0,1,0,2.43,1A3.46,3.46,0,0,0,171.62,13.16Zm0,7.87a4.42,4.42,0,1,1,3.12-1.29A4.42,4.42,0,0,1,171.62,21Z')
    path.b(d='M188.18,13.16a3.46,3.46,0,1,0,2.44,1A3.46,3.46,0,0,0,188.18,13.16Zm0,7.87a4.42,4.42,0,1,1,3.12-1.29A4.42,4.42,0,0,1,188.18,21Z')
    path.b(d='M204.67,13.16a3.46,3.46,0,1,0,2.44,1A3.46,3.46,0,0,0,204.67,13.16Zm0,7.87a4.43,4.43,0,1,1,3.12-1.3A4.42,4.42,0,0,1,204.67,21Z')
    path.b(d='M221.2,13.16a3.46,3.46,0,1,0,2.44,1,3.46,3.46,0,0,0-2.44-1Zm0,7.87a4.43,4.43,0,1,1,3.12-1.3A4.42,4.42,0,0,1,221.21,21Z')