/* HEADER NAVBAR-BRAND NAVBAR-LOGO */

.header {
  //
  &__navbar-logo {
    @extend .mr-15,
    .py-10,
    .py-md-0,
    .d-flex,
    .flex-column;
    flex: 0 auto;
    @include hover-focus {
      text-decoration: none;
    }
  }
  //
  &__aledo-logo {
    height: 4.3rem;
    width: 22.7rem;
    @include media-breakpoint-down(xs) {
      width: 15.5rem;
    }
    //
    #a {
      @include transition($transition-base);
    }
    //
    #oooo {
      @extend .d-none,
      .d-sm-block;
    }
  }
  //
  &__logo-desc {
    @extend .mt-5,
    .flex-row;
    padding-left: 2rem;
    font-weight: 500;
    color: $gray !important;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    @include transition($transition-base);
    @include hover-focus {
      text-decoration: none;
    }
  }
  //    
  // stuck / OPEN    
  &_stuck &__navbar-logo,
  &_sm-open &__navbar-logo {
    @extend .py-5,
    .py-md-0,
    .flex-row;
  }
  //
  &_stuck &__logo-desc,
  &_sm-open &__logo-desc {
    @extend .mt-0,
    .pl-15,
    .pl-sm-25;
    span {
      @extend .pl-15,
      .pl-sm-25,
      .d-flex;
      border-left: 2px solid $gray;
    }
  }
  //
  &_stuck &__aledo-logo,
  &_sm-open &__aledo-logo {
    width: 5.1rem;
    //
    #a {
      transform: translate(0px, -5px);
    }
    //
    #ledo,
    #oooo {
      @extend .d-none;
    }
  }
}