// solutions-lines-summands
//-
section(block='solutions-lines-summands')
  div(elem='header') Для этого у нас есть все что нужно
  //-
  div(elem='summand' mods='components')
    div(elem='summand-h3') Компоненты
    div(elem='summand-text')
      | Мы&nbsp;используем светодиоды известных мировых производителей: Samsung, LG, Edison и&nbsp;др., и&nbsp;алюминиевые профили из&nbsp;Европы и&nbsp;России. Таким образом, наши клиенты и&nbsp;партнеры получают качественный свет в&nbsp;современном дизайне за&nbsp;разумные деньги.
  |
  div(elem='summand' mods='score')
    div(elem='summand-h3') Пятилетний опыт
    div(elem='summand-text')
      | Мы&nbsp;начали наш бизнес не&nbsp;очень давно, но&nbsp;и&nbsp;&laquo;не&nbsp;вчера&raquo;. С&nbsp;2011 года нами реализовано более 20&nbsp;000 метров профильных систем и&nbsp;мы&nbsp;отлично знаем, как работать с&nbsp;ними. Мы&nbsp;любим нестандартные решения, и&nbsp;нам нравится приятно удивлять тех, кто с&nbsp;нами работает:)
  |
  div(elem='summand' mods='handcare')
    div(elem='summand-h3') Заботливые руки
    div(elem='summand-text')
      | Руки наших специалистов растут из&nbsp;&laquo;нужного места&raquo;, да&nbsp;и&nbsp;просто мы&nbsp;любим делать нашу работу хорошо. Если мы&nbsp;и&nbsp;ошибёмся (что бывает, но&nbsp;крайне редко), то&nbsp;будьте уверены: мы&nbsp;исправим все так быстро, что вы&nbsp;даже не&nbsp;успеете расстроиться.
  |