/* solutions-lines-summands */

.solutions-lines-summands {
  //
  @extend .mt-50,
  .pb-35,
  .container,
  .row;
  @include border-dotted(bottom);
  //
  &__header {
    @extend .display-2,
    .col-12,
    .text-center;
  }
  //
  &__summand {
    @extend .mt-50,
    .col-12,
    .col-md-4,
    .text-center;
    position: relative;
    padding: 16rem 2.5rem 0;
    background: {
      size: auto 12.5rem;
      position: center top;
      repeat: no-repeat;
    }
    @include media-breakpoint-down(md) {
      background-size: auto 10rem;
      padding: 13.5rem 2.5rem 0;
    }
    //
    &_components {
      background-image: url(../img/solutions-lines-image_01.svg);
    }
    &_score {
      background-image: url(../img/solutions-lines-image_02.svg);
    }
    &_handcare {
      background-image: url(../img/solutions-lines-image_03.svg);
    }
    //
    &:not(:last-child):after {
      @include media-breakpoint-up(md) {
        @include after-before();
        width: 3.5rem;
        height: 3.5rem;
        top: 16rem;
        right: -1.75rem;
        background: {
          size: 100%;
          position: center;
          repeat: no-repeat;
          image: $icon-plus;
        }
      }
    }
  }
  &__summand-h3 {
    @extend .mb-25,
    .display-3,
    .text-uppercase;
  }
  &__summand-text {
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: $gray-light;
  }
}
