// INDEX ADV SLIDER
aside(block='index-ad-slider' mods='footer')
  //-
  a(elem='slide' mods='footer' style='background-image: url(https://aledo-pro.ru/images/banner/img_59033e664efe1.png)' href='https://aledo-pro.ru/promo/skill/')