/* INDEX ADV SLIDER */

.index-ad-slider {
  @extend .px-0,
  .container-fluid,
  .d-none,
  .d-md-flex;
  height: 40rem;
  @include media-breakpoint-only(md) {
    height: 25rem;
  }
  @include media-breakpoint-only(lg) {
    height: 32.5rem;
  }
  //
  &_footer {
    @extend .mt-50;
    height: 25rem;
  }
  .flickity-viewport {
    width: 100%;
  }
  //
  .carousel-cell {
    height: 100%;
  }
  // SLIDE
  &__slide {
    width: 100%;
    height: 100%;
    transition: 0s !important;
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
      color: #e0e0e0;
    }
    @media (min-width: 1400px) {
      background-size: contain;
    }
    &_footer {
      background-size: contain;
    }
  }
}
