// INDEX ADV SLIDER
aside(block='index-ad-slider')
  //-
  - var url = 'https://aledo-pro.ru'
  a(elem='slide' style='background-image: url(' + url + '/images/banner/img_597ee14bb6028.gif)' href=url + '/catalog/series/100100/')
  //-
  a(elem='slide' style='background-image: url(' + url + '/images/banner/img_59033e664efe1.png)' href=url + '/promo/skill/')
  //-
  a(elem='slide' style='background-image: url(' + url + '/images/banner/img_58b422058b6b3.jpg)' href=url + '/catalog/series/100114/')
  //-
  a(elem='slide' style='background-image: url(' + url + '/images/banner/img_587f249743121.png)' href=url + '/catalog/series/430/')
  //-
  a(elem='slide' style='background-image: url(' + url + '/images/banner/img_5565c85841840.jpg)' href=url + '/catalog/series/100089/')