/* INDEX PROJECT DETAILS */

.solutions-cinema-sample-modal {
  //
  //
  &__project-title {
    @extend .mt-25,
    .mt-md-0,
    .pb-15,
    .d-flex,
    .card-title,
    .text-uppercase;
    @include border-dotted (bottom);
  }
  //
  &__project-desc {
    @extend .mb-10;
  }
  //
  &__project-slider {
    @extend .w-100;
    min-height: 31.5rem;
    background: {
      color: $gray-lightest;
      image: $icon-loader;
      position: center;
      repeat: no-repeat;
      size: 75px;
    }
    @include media-breakpoint-up(lg) {
      height: 40rem;
    }
  }
  //
  &__slider-title {
    @extend .pb-5,
    .mt-25,
    .mb-15;
    @include border-dotted (bottom);
  }
  //
  &__project-img {
    @extend .w-100;
    background: {
      size: cover;
      position: center;
    }
    height: 40rem;
  }
}
