// INDEX PROJECTS PROJECT-DETAILS

h5(elem='project-title')
  | Кинотеатр «Формула Кино» В ТРЦ «Океания»
p(elem='project-desc') 
  b Проект: 
  | Кинотеатр «Формула Кино» В ТРЦ «Океания»
p(elem='project-desc')
  b Адрес: 
  | г. Москва, Кутузовский проспект, 57, ТРЦ «Океания», 4 этаж
p(elem='project-desc')
  b Поставленная задача: 
p(elem='project-desc')
  | Для кинотеатра «Формула Кино» на Кутузовском создан уникальный проект основного освещения, который практически полностью выполнен на непрерывных линиях из профильных светильников. Для реализации такого решения использовано более 350 метров профиля.
p(elem='project-desc')
  | Индивидуальные решения были разработаны для зрительного зала, высота потолков которого составляет 16 метров. Отдельная подсветка создана для зоны публичных выступлений, которая управляется при помощи протокола DALI.
p(elem='project-desc')
  | Система управления светильниками в зрительных залах позволяет плавно диммировать светильники для создания наиболее комфортного освещения до и после сеансов.
p(elem='project-desc')
  | Весь проект по созданию освещения в кинотеатре соответствует принципам высококачественного и при этом современного освещения с неординарным подходом к его реализации.
 
|
//- SLIDER-1
h5(elem='slider-title') Моделирование в&nbsp;среде Dialux
div(elem='project-slider' mods='dial')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-dial-1.png);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-dial-2.png);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-dial-3.png);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-dial-4.png);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-dial-5.png);' class='carousel-cell')
|
//- SLIDER-2
h5(elem='slider-title') Реализованный проект
div(elem='project-slider' mods='photos')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-photo-1.jpg);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-photo-2.jpg);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-photo-3.jpg);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-photo-4.jpg);' class='carousel-cell')
  div(elem='project-img' style='background-image: url(img/solutions-cinema-photo-5.jpg);' class='carousel-cell')