/* HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-PAGES_MD */

.header {
  //
  // MD-MORE
  &__navbar-item_md-more {
    @extend .d-lg-none,
    .d-none,
    .d-md-block;
  }
  &__navbar-icon_md-more {
    @extend .h-100;
    background: {
      size: ($spacer * 1.5);
      image: $icon-more;
    }
  }
  &__navbar-drop {
    @extend .p-0;
    margin-top: .2rem !important;
    @include shadow();
  }
  &__navbar-nav_md-drop {
    @extend .p-0;
    width: auto;
    height: 4.3rem !important;
    @include border-bottom($gray-light, 2);
  }
  &__navbar-item_md-drop {
    @extend .h-100;
  }
  // DROP SHOW
  .show {
    .header__navbar-link_md-more {
      background: $dropdown-link-active-bg;
    }
    .header__navbar-icon_md-more {
      background-image: $icon-close;
    }
  }
  //
  // stuck
&_stuck &__navbar-drop {
    margin-top: .1rem !important;
  }
  &_stuck &__navbar-nav_md-drop {
    height: 3.7rem !important;    
    background: $gray-lighter;
    @include border-bottom($gray-light, 1);
  }
}
