// HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-PAGES_MD

li(elem='navbar-item' mods='sm md:more' class='dropdown')
  a(elem='navbar-link' mods='md:more' class='js-toggler' id='navbar-more-toggler' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#')
    span(elem='navbar-icon' mods='md:more')
  |
  //- DROPDOWN
  div(elem='navbar-drop' aria-labelledby='navbar-more-toggler' class="dropdown-menu dropdown-menu-right")
    ul(elem='navbar-nav' mods='md:drop')
      li(elem='navbar-item' mods='sm md:drop')
        a(elem='navbar-link' href='#') 
          span Контакты