//- TABS
div(block='tabs')
  ul(elem='nav'class='nav-tabs' role='tablist')
    li(elem='nav-item' class="nav-item")
      a(elem='link' class='nav-link active' data-toggle='tab' role='tab' href='#tab-1') 1
    |
    li(elem='nav-item' class="nav-item")
      a(elem='link' class='nav-link' data-toggle='tab' role='tab' href='#tab-2') 2
    |
  //- Tab panes
  div(elem='panes'class='tab-content')
    div(elem='pane' class='tab-pane fade show active' role='tabpanel' id='tab-1') 111
    div(elem='pane' class='tab-pane fade' role='tabpanel' id='tab-2') 222