// TABS
.tabs {
  @extend .row,
  .no-gutters;
  //
  &__nav {
    @extend .m-0,
    .col-12,
    .col-md-3,
    .d-flex,
    .flex-wrap,
    .flex-column,
    .flex-sm-row,
    .flex-md-column;
    padding: 0 !important;
    list-style: none;
  }
  //
  &__nav-item {
    @extend .d-flex;
    flex: 1 auto;
  }
  //
  &__link {
    @extend .px-15,
    .px-md-0,
    .py-10,
    .btn-nav,
    .d-flex,
    .align-items-center,
    .justify-content-center;
    width: 100%;
    @include border($gray-lighter);
    //
    &.active {
      @extend .font-weight-bold;
      background-color: $aledo !important;
      @include border($aledo);
    }
  }
  &__panes {
    @extend .p-25,
    .col-12,
    .col-md-9;
    background-color: $white;
    @include border($aledo);
  }
  &__pane {
    @extend .h-100;
  }
}
