doctype html
html  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')   
    //-
    block title
    //-
    block head
      link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic', rel='stylesheet')
      link(rel="stylesheet" href="css/layout.css")      
  |
  body(block='body') 
    //- HEADER
    block header      
      include ../layout-blocks/header/header.pug
    |
    //- BEFORE MAIN
    block before-main-content
    |
    //- MAIN CONTENT
    main(elem='main-content')
      //-
      block content
    
    |
    //-
    //- FOOTER
    include ../layout-blocks/footer/footer.pug
    |
    //-
    //- USER REG POPUP
    include ../layout-blocks/header/__user-reg/user-reg.pug  
    | 
    //-
    div(elem='loader')
    |
    //-
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
    |
    //-
    block script
      script(src='js/libs.js', type='text/javascript')
      script(src='js/layout-main.js', type='text/javascript')
    |
    //-
      script.
        $(window).on('load', function() {
            $('.body__loader').css('display', 'none');
            $('.body__main-content').css('opacity', 1);
        });