//- INDEX
extends __layout.pug
//- BLOCK HEAD
block append title  
  - var title = 'Партнёры'
  include ../blocks/layout/title.pug
block append head
  link(rel="stylesheet" href="css/brands.css")
//- BEFORE MAIN
block before-main-content
  - var items = {'Главная': '/'}
  - var current = 'Партнёры'
  //- BREADCRUMS
  include ../blocks/breadcrumbs/breadcrumbs.pug
//- BLOCK CONTENT
block content
  //- items
  include ../brands-blocks/items.pug