doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Aledo
    //- 
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')   
    |
    link(rel="stylesheet" href="css/catalog.css")
  body(block='body') 
    .b-section__content.catalog
      .row.row-second
        .col-3 &nbsp;
        .col-9  
          |
          .row.row-second.subsection
            //-.show-info
            //-
            .col-3.series-tile(data-id='100100')
              |
              //- HOVER
              a.series-info(href='/catalog/series/100100/')
                .series-info__param
                  p.series-info__title Размер 
                  p.series-info__value.series-info__value_size Ø30×52
                .series-info__param_clearfix
                  .series-info__param_lm
                    p.series-info__title Световой поток  
                    p.series-info__value.series-info__value_lm 150...800
                  .series-info__param_dimming(title='Диммируемый')
                .series-info__param.series-info__param_sri
                  span.series-info__title.series-info__title_cri CRI 
                  span.series-info__value.series-info__value_cri 80+/ 90+/97
                .series-info__param.series-info__param_matrix(title='Спец. матрицы')
                  p.series-info__title.series-info__title_matrix LED-матрицы
                .series-info__param.series-info__param_angles
                  span.series-info__angle-icon.series-info__angle-icon_fixed-spot(title='15°')
                  span.series-info__angle-icon.series-info__angle-icon_fixed-oval-flood(title='Овальный:20*35°')
                  span.series-info__angle-icon.series-info__angle-icon_fixed-focusable(title='Фокусируемый:10-30°')
              |
              .series-tile__link                
                .tile-title-series
                  .series-tag-new New
                  a(href='/catalog/series/100100/')
                    div(style="padding-left: 50px;line-height: 19px;") 8W Mini Focus
                div(style='position: relative')
                  img(src='/img/img_575537a2e4fd7.jpg', alt='8W Mini Focus Track')
                  include ../catalog-blocks/__tag.pug
            .col-3.series-tile(data-id='100229')
              //- HOVER
              a.series-info(href='/catalog/series/100229/')
                .series-info__param
                  p.series-info__title Размер 
                  p.series-info__value.series-info__value_size 250×250×150
                .series-info__param_clearfix
                  .series-info__param_lm
                    p.series-info__title Световой поток  
                    p.series-info__value.series-info__value_lm 3550...5800
                  .series-info__param_dimming.series-info__param_disable(title='Диммируемый')
                .series-info__param.series-info__param_sri.series-info__param_disable
                  span.series-info__title.series-info__title_cri CRI 
                  span.series-info__value.series-info__value_cri 
                .series-info__param.series-info__param_matrix.series-info__param_disable(title='Спец. матрицы')
                  p.series-info__title.series-info__title_matrix LED-матрицы
                .series-info__param.series-info__param_angles
                  span.series-info__angle-icon.series-info__angle-icon_adjust-super-spot(title='10°')
                  span.series-info__angle-icon.series-info__angle-icon_adjust-spot(title='15°/25°')
                  span.series-info__angle-icon.series-info__angle-icon_adjust-medium(title='35°')
                  span.series-info__angle-icon.series-info__angle-icon_adjust-flood(title='50°')
                  span.series-info__angle-icon.series-info__angle-icon_adjust-oval-flood(title='Овальный:20*35°')
              |
              .series-tile__link
                .tile-title-series
                  .series-tag-temporary
                  a(href='/catalog/series/100100/')
                    div(style="padding-left: 50px;line-height: 19px;") 8W Mini Focus Track
                div(style='position: relative')
                  img(src='/img/img_575537a2e4fd7.jpg', alt='13W Woody')
                  include ../catalog-blocks/__tag.pug
            .col-3.series-tile(data-id='100118')
              //- HOVER
              a.series-info(href='/catalog/series/100118/')
                .series-info__param.series-info__param_disable
                  p.series-info__title Размер 
                  p.series-info__value.series-info__value_size
                .series-info__param_clearfix
                  .series-info__param_lm
                    p.series-info__title Световой поток  
                    p.series-info__value.series-info__value_lm 150...800
                  .series-info__param_dimming.series-info__param_disable(title='Диммируемый')
                .series-info__param.series-info__param_sri
                  span.series-info__title.series-info__title_cri CRI 
                  span.series-info__value.series-info__value_cri 80+/ 90+/97
                .series-info__param.series-info__param_matrix.series-info__param_disable(title='Спец. матрицы')
                  p.series-info__title.series-info__title_matrix LED-матрицы
                .series-info__param.series-info__param_angles
                  span.series-info__angle-icon.series-info__angle-icon_wallwasher(title='Волвошер')
              |
              .series-tile__link
                .tile-title-series
                  a(href='/catalog/series/100118/')
                    | 13W Multi-pro
                div(style='position: relative')
                  img(src='/img/img_575537a2e4fd7.jpg', alt='13W Multi-pro')
            .col-3.series-tile(data-id='100152')
              //- HOVER
              a.series-info(href='/catalog/series/100152/')
                .series-info__param
                  p.series-info__title Размер 
                  p.series-info__value.series-info__value_size Ø30×52
                .series-info__param_clearfix
                  .series-info__param_lm
                    p.series-info__title Световой поток  
                    p.series-info__value.series-info__value_lm 150...800
                  .series-info__param_dimming(title='Диммируемый')
                .series-info__param.series-info__param_sri
                  span.series-info__title.series-info__title_cri CRI 
                  span.series-info__value.series-info__value_cri 80+/ 90+/97
                .series-info__param.series-info__param_matrix.series-info__param_disable(title='Спец. матрицы')
                  p.series-info__title.series-info__title_matrix LED-матрицы
                .series-info__param.series-info__param_angles
                  span.series-info__angle-icon.series-info__angle-icon_adjust-spot(title='20°')
                  span.series-info__angle-icon.series-info__angle-icon_adjust-medium(title='30°/35°')
              |
              .series-tile__link
                .tile-title-series
                  a(href='/catalog/series/100152/')
                    | 17W AR111 Track
                div(style='position: relative')
                  img(src='/img/img_575537a2e4fd7.jpg', alt='17W AR111 Track')
    |
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')