//- INDEX
extends __layout.pug
//- BLOCK HEAD
block append title  
  - var title = 'Главная'
  include ../blocks/layout/title.pug
block append head
  //- Fancybox
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css')
  //-
  link(rel="stylesheet" href="css/index.css")
//- BLOCK CONTENT
block content
  //- SHOWCASE
  include ../index-blocks/index-showcase/index-showcase.pug  
  |
  //- SLIDER
  include ../index-blocks/index-warehouse-slider/index-warehouse-slider.pug  
  |
  //- VENDORS
  include ../index-blocks/index-vendors/index-vendors.pug
  |
  //- PROJECTS
  include ../index-blocks/index-projects/index-projects.pug
  |
  //- CLIENTS
  include ../index-blocks/index-clients/index-clients.pug
  |
  //- SERVICES
  include ../index-blocks/index-services/index-services.pug
  |
  //- SOLUTIONS
  include ../index-blocks/index-solutions/index-solutions.pug
  |
  //- SOLUTIONS FORM
  include ../index-blocks/index-solutions-form/index-solutions-form.pug
  |
  //- ADVERTISING SLIDER
  include ../index-blocks/index-ad-slider/index-ad-slider.pug
  |
  //- BLOG
  include ../index-blocks/index-blog/index-blog.pug
  |
  //- ABOUT US
  include ../index-blocks/index-about-us/index-about-us.pug
  |
  //- CONTACT
  include ../index-blocks/index-contact/index-contact.pug
  |
  //- WRITE US FORM
  include ../index-blocks/index-write-us/index-write-us.pug
  |
  //- ADVERTISING SLIDER
  include ../index-blocks/index-ad-slider/index-ad-slider-2.pug
  |
  //- sample-modal
  include ../solutions-cinema-blocks/solutions-cinema-sample-modal/solutions-cinema-sample-modal.pug 
  |
//- BLOCK SCRIPT
block append script  
  //- Fancybox
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js')
  //-
  script(src='js/index-main.js', type='text/javascript')
    