//- Services
extends __layout.pug
//- BLOCK HEAD
block append title  
  - var title = 'Проекты'
  include ../blocks/layout/title.pug
block append head
  //- css
  link(rel="stylesheet" href="css/projects.css")
//- BEFORE MAIN
block before-main-content
  - var items = {'Главная': '/'}
  - var current = 'Проекты'
  //- BREADCRUMS
  include ../blocks/breadcrumbs/breadcrumbs.pug
//- BLOCK CONTENT
block content
  //- projects-showcase
  include ../projects-blocks/projects-showcase/projects-showcase.pug  
  |
  //- projects-projects
  include ../projects-blocks/projects-projects/projects-projects.pug  
  |
  //- CLIENTS
  include ../projects-blocks/projects-clients/projects-clients.pug
  |
//- BLOCK SCRIPT
block append script
  //- MAIN SCRIPT  
  script(src='js/projects-main.js', type='text/javascript')