//- SOLUTIONS CINEMA
extends __layout.pug  
//- BLOCK HEAD
block append title  
  - var title = '«Лосось-бар на Кирочной»'
  include ../blocks/layout/title.pug
block append head
  //- Fancybox
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css')
  //-
  link(rel="stylesheet" href="css/project.css")
//- BEFORE MAIN
block before-main-content
  - var items = {'Главная': '/', 'Проекты': 'https://aledo-pro.ru/projects/'}
  - var current = '«Лосось-бар на Кирочной»'
  //- BREADCRUMS
  include ../blocks/breadcrumbs/breadcrumbs.pug
//- BLOCK CONTENT
block content
  //- SLIDER
  include ../project-blocks/project-slider/project-slider.pug
  div(block='project-wrapper')
    div(block='project-body')
      //- HEADER
      include ../project-blocks/project-header/project-header.pug
      //- project-article
      include ../project-blocks/project-article/project-article.pug
    |
    div(block='project-side')
      //- project-aside
      include ../project-blocks/project-aside/project-aside.pug
  |
  //- project-other-projects
  include ../project-blocks/project-other-projects/project-other-projects.pug
  |
  //- project-form
  include ../project-blocks/project-form/project-form.pug
  |
//- BLOCK SCRIPT
block append script
  //- Fancybox
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js')
  //- MAIN SCRIPT  
  script(src='js/project-main.js', type='text/javascript')