//- SOLUTIONS CINEMA
extends __layout_redused.pug  
//- BLOCK HEAD
block append title  
  - var title = '25W UNE Track Dim'
  include ../blocks/layout/title.pug
block append head
  //- styles
  link(rel="stylesheet" href="css/serie-configurator.css")
//- BLOCK CONTENT
block content
  .b-section-imitation
    // CONFIGURATOR
    include ../serie-blocks/serie-configurator/serie-configurator_reduced.pug
  .b-section-imitation
    // CONFIGURATOR
    include ../serie-blocks/serie-configurator/serie-configurator_reduced_has-special.pug