//- SOLUTIONS CINEMA
extends __layout.pug  
//- BLOCK HEAD
block append title  
  - var title = '25W UNE Track Dim'
  include ../blocks/layout/title.pug
block append head
  //- styles
  link(rel="stylesheet" href="css/serie.css")
//- BEFORE MAIN
block before-main-content
  - var items = {'Главная': '/', 'Каталог': 'https://aledo-pro.ru/catalog/', 'LED светильники': 'https://aledo-pro.ru/catalog/section/17/', 'Трековые светильники': 'https://aledo-pro.ru/catalog/subsection/17/'}
  - var current = '25W UNE Track Dim'
  //- BREADCRUMS
  include ../blocks/breadcrumbs/breadcrumbs.pug
//- BLOCK CONTENT
block content
  //- SLIDER
  include ../serie-blocks/serie-slider/serie-slider.pug
  //- HEADER
  include ../serie-blocks/serie-header/serie-header.pug
  //- serie-tabs
  include ../serie-blocks/serie-tabs/serie-tabs.pug
  //- serie-order
  include ../serie-blocks/serie-order/serie-order.pug
  //- serie-order-form
  include ../serie-blocks/serie-order-form/serie-order-form.pug
  //- serie-aside
  include ../serie-blocks/serie-aside/serie-aside.pug  
  //- serie-form
  include ../serie-blocks/serie-form/serie-form.pug
//- BLOCK SCRIPT
block append script
  //- MAIN SCRIPT  
  script(src='js/serie-main.js', type='text/javascript')