//- Services
extends __layout.pug
//- BLOCK HEAD
block append title  
  - var title = 'Услуги и решения'
  include ../blocks/layout/title.pug
block append head
  //- Fancybox
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css')
  //- css
  link(rel="stylesheet" href="css/services.css")
//- BEFORE MAIN
block before-main-content
  - var items = {'Главная': '/'}
  - var current = 'Услуги и решения'
  //- BREADCRUMS
  include ../blocks/breadcrumbs/breadcrumbs.pug
//- BLOCK CONTENT
block content
  //- services
  include ../services-blocks/services/services.pug  
  |
  //- SOLUTIONS FORM
  include ../services-blocks/services-solutions-form/services-solutions-form.pug
  |
  //- SOLUTIONS
  include ../services-blocks/solutions/solutions.pug  
  |
  //- sample-modal
  include ../solutions-cinema-blocks/solutions-cinema-sample-modal/solutions-cinema-sample-modal.pug 
  |
//- BLOCK SCRIPT
block append script
  //- Fancybox
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js')
  //- MAIN SCRIPT  
  script(src='js/services-main.js', type='text/javascript')