//- SOLUTIONS CINEMA
extends __layout.pug  
//- BLOCK HEAD
block append title  
  - var title = 'Решения для кинотеатров'
  include ../blocks/layout/title.pug
block append head
  link(rel="stylesheet" href="css/solutions-cinema.css")
//- BEFORE MAIN
block before-main-content
  - var items = {'Главная': '/', 'Услуги и решения': '/services'}
  - var current = 'Решения для кинотеатров'
  //- BREADCRUMS
  include ../blocks/breadcrumbs/breadcrumbs.pug
//- BLOCK CONTENT
block content
  //- VIDEO BANNER
  include ../solutions-cinema-blocks/solutions-cinema-video-banner/solutions-cinema-video-banner.pug
  |
  h1(block='solutions-cinema-header') Каким должен быть свет в&nbsp;кинотеатре?    
  |
  //- OPTONS
  include ../solutions-cinema-blocks/solutions-cinema-options/solutions-cinema-options.pug
  |
  //- CLIENTS
  include ../solutions-cinema-blocks/solutions-cinema-clients/solutions-cinema-clients.pug
  |
  //- PROJECTS
  include ../solutions-cinema-blocks/solutions-cinema-projects/solutions-cinema-projects.pug
  |
  //- QUOTE
  include ../solutions-cinema-blocks/solutions-cinema-quote/solutions-cinema-quote.pug
  |
  //- FORM
  include ../solutions-cinema-blocks/solutions-cinema-write-me/solutions-cinema-write-me.pug
  |
  //- PRESENTATION
  include ../solutions-cinema-blocks/solutions-cinema-presentation/solutions-cinema-presentation.pug
  |
  //- solutions-form
  include ../solutions-blocks/solutions-form/solutions-form.pug
  |
  //- other-solutions
  include ../solutions-blocks/solutions-other-solutions/solutions-other-solutions.pug  
  |
  //- sample-modal
  include ../solutions-cinema-blocks/solutions-cinema-sample-modal/solutions-cinema-sample-modal.pug 
  |
//- BLOCK SCRIPT
block append script
  // YOUTUBE API
  script.
    if ($(window).width() > 767) {
    var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }      
  //- MAIN SCRIPT  
  script(src='js/solutions-cinema-main.js', type='text/javascript')
  script(src='js/solutions-main.js', type='text/javascript')