//- SOLUTIONS LINES
extends __layout.pug  
block append title  
  - var title = 'Световые линии'
  include ../blocks/layout/title.pug
//- BLOCK HEAD
block append head
  |
  //- old styles   
  link(rel="stylesheet" href="https://stage.aledo-pro.ru/Content/css/libs/jquery-ui.min.css")
  |
  //- new styles
  link(rel="stylesheet" href="css/solutions-lines.css")
//- BEFORE MAIN
block before-main-content
  - var items = {'Главная': '/', 'Услуги и решения': '/services'}
  - var current = 'Световые линии'
  //- BREADCRUMS
  include ../blocks/breadcrumbs/breadcrumbs.pug
//- BLOCK CONTENT
block content
  //- solutions-lines-controller
  include ../solutions-lines-blocks/solutions-lines-controller/solutions-lines-controller.pug  
  |
  //- solutions-lines-summands
  include ../solutions-lines-blocks/solutions-lines-summands/solutions-lines-summands.pug 
  |
  //- solutions-lines-system
  include ../solutions-lines-blocks/solutions-lines-system/solutions-lines-system.pug 
  |
  //- PROJECTS
  include ../solutions-lines-blocks/solutions-lines-projects/solutions-lines-projects.pug 
  |
  //- solutions-lines-advantages
  include ../solutions-lines-blocks/solutions-lines-advantages/solutions-lines-advantages.pug 
  |
  //- solutions-lines-form
    include ../solutions-lines-blocks/solutions-lines-form/solutions-lines-form.pug 
    |
  //- solutions-form
  include ../solutions-blocks/solutions-form/solutions-form.pug
  |
  //- other-solutions
  include ../solutions-blocks/solutions-other-solutions/solutions-other-solutions.pug
  |
//- BLOCK SCRIPT
block append script
  //- MAIN SCRIPT  
  script(src='js/solutions-lines-main.js', type='text/javascript')
  script(src='js/solutions-main.js', type='text/javascript')
//-
  script.
    $(window).on( "load", function() {
      setTimeout( function() {
        $('.solutions-lines-controller__welcome').fadeOut('slow')
        }, 3500
      );
      setTimeout( function() {
        $('.solutions-lines-controller__welcome-instructions-wrap').fadeIn('slow')
        }, 1500
      );
    });
    $(window).on( "click", function() {
      $('.solutions-lines-controller__welcome-instructions-wrap').fadeOut('slow');
    });