/* solutions-lines-advantages */

.solutions-lines-advantages {
  
  //
  @extend .mt-50,
  .pb-35,
  .container,
  .row;
  @include border-dotted(bottom);
  //
  &__header {
    @extend .display-3,
    .col-12,
    .text-center;
  }
  //
  &__advantage {
    @extend .mt-50,
    .col-12,
    .col-md-4,
    .text-center;
    position: relative;
    padding: 16rem 2.5rem 0;
    background: {
      size: auto 12.5rem;
      position: center top;
      repeat: no-repeat;
    }
    @include media-breakpoint-down(md) {
      background-size: auto 10rem;
      padding: 13.5rem 2.5rem 0;
    }
    //
    &_mountage {
      background-image: url(../img/solutions-lines-image_04.svg);
    }
    &_chief-mountage {
      background-image: url(../img/solutions-lines-image_05.svg);
    }
    &_warranty {
      background-image: url(../img/solutions-lines-image_06.svg);
    }
  }
  &__advantage-h3 {
    @extend .mb-25,
    .display-3,
    .text-uppercase;
  }
  &__advantage-text {
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: $gray-light;
  }
}