// solutions-lines-advantages
section(block='solutions-lines-advantages')
  div(elem='header') 
    |Мы привыкли доводить все дела до&nbsp;логического завершения,
    br
    | поэтому готовы предложить ряд полезных сервисов
  div(elem='advantage' mods='mountage')
    div(elem='advantage-h3') Монтаж
    div(elem='advantage-text')
      | Профессиональная установка оборудования&nbsp;&mdash; залог его долговечной работы. Наши сотрудники специализируются на&nbsp;светодиодной технике, и&nbsp;готовы продемонстрирвать это на&nbsp;деле.
  |
  div(elem='advantage' mods='chief-mountage')
    div(elem='advantage-h3') Шеф-монтаж
    div(elem='advantage-text')
      | В&nbsp;случае, если у&nbsp;вас есть &laquo;под рукой&raquo; свои специалисты по&nbsp;электромонтажу, мы&nbsp;готовы организовать работу по&nbsp;установке вашими силами.
  |
  div(elem='advantage' mods='warranty')
    div(elem='advantage-h3') Гарантия до&nbsp;5&nbsp;лет
    div(elem='advantage-text')
      | Если у&nbsp;вас что-то сломается в&nbsp;гарантийный период, то&nbsp;мы&nbsp;приедем и&nbsp;все поправим. Если возникнут проблемы по&nbsp;истечении гарантии, то&nbsp;выезд и&nbsp;ремонт будут платными.