// INDEX SOLUTIONS
section(block='index-solutions')
  h2(elem='header')
    small.text-muted ...и&nbsp;готовые решения
  |
  div(elem='solutions-wrap')
    //-
    div(elem='solution')
      input(elem='input' id='index-solutions__solution-1' name='index-solutions__solution' type='radio' checked)
      label(elem='label' for='index-solutions__solution-1')
        include __solution/solution-1.pug
    |
    div(elem='solution')
      input(elem='input' id='index-solutions__solution-2' name='index-solutions__solution' type='radio')
      label(elem='label' for='index-solutions__solution-2')
        include __solution/solution-2.pug
    |
    div(elem='solution')
      input(elem='input' id='index-solutions__solution-3' name='index-solutions__solution' type='radio')
      label(elem='label' for='index-solutions__solution-3')
        include __solution/solution-3.pug
    |
    p(elem='devider')
    |
    div(elem='solution')
      input(elem='input' id='index-solutions__solution-4' name='index-solutions__solution' type='radio')
      label(elem='label' for='index-solutions__solution-4')
        include __solution/solution-4.pug    
  //-
    div(elem='solution')
        input(elem='input' id='index-solutions__solution-5' name='index-solutions__solution' type='radio' checked)
        label(elem='label' for='index-solutions__solution-5')
          include __solution/solution-1.pug
    |
    //-
    div(elem='solution')
      input(elem='input' id='index-solutions__solution-6' name='index-solutions__solution' type='radio')
      label(elem='label' for='index-solutions__solution-6')
        include __solution/solution-1.pug
    |