/* INDEX SOLUTIONS */

.index-solutions {
  @extend .mt-35,
  .p-0,
  .container;
  //
  // HEADER
  &__header {
    @extend .px-15,
    .px-sm-0,
    .mb-25,
    .index-header;
    & small {
      @extend .ml-md-5;
    }
  }
  //
  &__solutions-wrap {
    @extend .row,
    .align-items-stretch,
    .justify-content-center;
  }
  //
  // XS 
  @include media-breakpoint-down(xs) {
    //
    &__solutions-wrap {
      overflow: hidden;
      padding: 0 !important;
      margin: 0 !important;
      align-items: stretch !important;
    }
  }
  //
  &__solution {
    @extend .px-0,
    .px-md-10,
    .col,
    .align-items-end,
    .justify-content-center,
    .d-flex;
    //
    &:nth-last-of-type(n+5),
    &:nth-last-of-type(n+5)~& {
      max-width: (1/3)*100%;
      //
      &~.index-solutions__devider {
        @extend .d-lg-flex;
      }
    }
    //
    // SM MD
    @include media-breakpoint-between(sm,md) {
      min-width: (1/2)*100%;
    }
    //
    // XS
    @include media-breakpoint-down(xs) {
      min-width: 100%;
    }
  }
  //
  &__devider {
    @extend .w-100,
    .d-none;
  }
  //
  &__label {
    @extend .align-items-sm-center,
    .justify-content-sm-center,
    .d-flex;
  }
  //
  &__input:checked+&__label {
    padding: 0 !important;
  }
  //
  &__input {
    position: absolute;
    display: none;
  }
}

// //
//
// Import ELEMENTS
@import "__solution/solution";
