// brands items
section(block='brand-items')
  h1(elem='header') Наши партнёры
  div(elem='brand-item')
    a(elem='brand-img' href='#' style='background-image: url(img/brand-01.png);')
    div(elem='brand-block')
      h3(elem='brand-title')
        | TRAXON ecue
        small Германия
      a(elem='brand-link' href='#' target='_blank') www2.traxontechnologies.com
      p(elem='brand-desc') 
        | История развития компании Traxon&nbsp;&amp;&nbsp;e:cue берет свое начало в&nbsp;1995&nbsp;году во&nbsp;Франкфурте-на-Майне (Германия) с&nbsp;изготовления LED-продукции для небольших магазинов розничной торговли. Вскоре производство компании было перенесено в&nbsp;Гонконг, и&nbsp;уже в&nbsp;2002&nbsp;году начался выпуск светодиодных светильников для профессионального архитектурного освещения. 
  |
  div(elem='brand-item')
    a(elem='brand-img' href='#' style='background-image: url(img/brand-02.png);')
    div(elem='brand-block')
      h3(elem='brand-title')
        | iGuzzini
        small Италия
      a(elem='brand-link' href='#' target='_blank') www.iguzzini.com
      p(elem='brand-desc')
        | IGuzzini&nbsp;&ndash; это один из&nbsp;мировых лидеров в&nbsp;производстве технического и&nbsp;архитектурного освещения, это гарантия итальянского качества и&nbsp;шика.Фабрика iGuzzini уже более полувека проводит качественно новые эксперименты со&nbsp;светом. С&nbsp;1958&nbsp;года начинается история компании, а&nbsp;началось все с&nbsp;маленькой компании, которая производила лампы, люстры и&nbsp;канделябры, и&nbsp;была известна как Harvey Creazioni.