/* INDEX BLOG POST */

.brand-items {
  @extend .px-25,
  .px-sm-0,
  .container;
  //
  &__header {
    @extend .display-2,
    .text-center;
  }
  &__brand-item {
    @extend .mt-25,
    .mt-md-50,
    .row,
    .align-items-start;
  }
  &__brand-img {
    @extend .mb-25,
    .mb-md-0,
    .col-md-3;
    min-height: 20rem;
    background: {
      position: center;
      repeat: no-repeat;
      size: 80%;
    }
    transition: $transition-base;
    @include border($gray-lighter);
    @include media-breakpoint-down(sm) {
      width: 25rem;
      margin-left: 1rem;
    }
    &:hover {
      @include border($aledo);
    }
  }
  //
  &__brand-block {
    @extend .p-0,
    .col-md-8,
    .ml-md-auto,
    .row,
    .align-items-baseline,
    .no-gutters;    
  }
  //
  &__brand-title {
    @extend .display-3,
    .col-md-7;
    //
    & small {
      @extend .ml-10;
      font-weight: $font-weight-light;
      color: $gray-light;
    }
  }
  //
  &__brand-link {
    @extend .mt-10,
    .mt-md-0,
    .link_underline,
    .text-md-right,
    .col-md-5;
    color: $gray-light;
  }
  //
  &__brand-desc {
    @extend .mt-25,
    .pb-25,
    .col-12;
  }
}
