/* INDEX PROJECTS */

.index-projects {
  @extend .mt-35,
  .px-0,
  .py-35,
  .container-fluid,
  .d-flex,
  .flex-column;
  background-color: $gray-lightest;
  //
  &__header {
    @extend .mx-15,
    .mx-sm-auto,
    .container,
    .index-header;
    order: 1;
    //
    & small {
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }
  &__projects-wrap {
    @extend .mt-15,
    .mb-md-15,
    .mx-15,
    .mx-sm-auto,
    .p-0,
    .container;
    position: relative;
    background: $white;
    order: 2;
    overflow: hidden;
    @include border ($gray);
    height: 70rem;
    @include media-breakpoint-only(md) {
      height: 37.5rem;
    }
    @include media-breakpoint-up(lg) {
      height: 45rem;
    }
    @include media-breakpoint-down(sm) {
      order: 3;
    }
    @include media-breakpoint-down(xs) {
      width: calc(100% - 3rem);
    }
    //
    &::after,
    &::before {
      @include after-before();
      width: 0;
      height: 0;
      border-style: solid;
    }
    &::before {
      border-width: 16px 16px 0 16px;
      border-color: $gray transparent transparent transparent;
      bottom: -16px;
      left: calc(50% - 16px);
    }
    &::after {
      border-width: 14px 14px 0 14px;
      border-color: $white transparent transparent transparent;
      bottom: -15px;
      left: calc(50% - 14px);
    }
    @include media-breakpoint-up(xl) {
      &::before {
        left: calc(50% - 158px);
      }
      &::after {
        border-width: 15px 15px 0 15px;
        left: calc(50% - 157px);
      }
    }
    @include media-breakpoint-down(sm) {
      &::before {
        border-width: 0 16px 16px 16px;
        border-color: transparent transparent $gray transparent;
        top: -15px;
        left: calc(50% - 16px);
      }
      &::after {
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent $white transparent;
        top: -14px;
        left: calc(50% - 15px);
      }
    }
    //
    .carousel-cell {
      height: 100%;
    }
    &>.flickity-viewport>.flickity-slider {
      transform: none !important;
    }
  }
  //
  &__project-details {
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    z-index: -1;
  }
  &__project-details.is-selected {
    opacity: 1;
    z-index: 0
  }
  //
  &__nav-wrap {
    @extend .p-0,
    .container,
    .row;
    order: 3;
    //
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
      margin-top: ($spacer * 1.5);
      order: 2;
    }
  }
  //
  &__filter-wrap {
    @extend .p-0,
    .pl-xl-25,
    .col-xl-3,
    .row,
    .no-gutters,
    .d-none,
    .d-md-flex;
  }
  //
  &__projects-btn {
    @extend .btn-border,
    .d-block;
    //
    &_sm-down {
      @extend .mt-25,
      .mx-auto,
      .px-35,
      .d-md-none;
      order: 4;
    }
    //
    &_md-up {
      @extend .mt-15,
      .col-md-3,
      .col-xl-12,
      .align-self-center;
    }
  }
}

// //
//
// Import ELEMENTS
@import "__project-details/project-details";
@import "__projects-nav/projects-nav";
@import "__projects-filters/projects-filters";
