// INDEX PROJECTS
section(block='index-projects')
  h2(elem='header')
    | Мы реализуем проекты
    small.text-muted по&nbsp;всей России
  |
  div(elem='projects-wrap')
    //- Project DETAIL
    include __project-details/project-details.pug
    include __project-details/project-details-1.pug
    include __project-details/project-details-2.pug
    include __project-details/project-details-1.pug
    include __project-details/project-details.pug
  |
  div(elem='nav-wrap')
    //- NAV
    include __projects-nav/projects-nav.pug
    |
    div(elem='filter-wrap')
      //- FILTERS
      include __projects-filters/projects-filters.pug  
      //- LINK
      a(elem='projects-btn' mods='md:up' href='#') Все проекты
  |
  //- LINK
  a(elem='projects-btn' mods='sm:down' href='#') Все проекты