// HEADER USER LOGIN
div(elem='user-login' class='collapse' id='js-user-login-toggle')
  //-
  //- CLOSE BUTTON
  a(elem='input-btn' mods='small user:close' class='js-toggler'  data-toggle="collapse" data-target="#js-user-login-toggle" aria-controls="js-user-login-toggle" aria-expanded="true" href='#')
  //-
  //- FORM
  form(elem='header-form' mods='user:login')
    label(elem='header-label' mods='user:login') Вход в&nbsp;
      span.d-lg-none ЛК
      span.d-none.d-lg-inline личный кабинет
    input(elem='input' mods='user:login' id='header__user-login' type='text', placeholder='Логин' autofocus)
    |
    input(elem='input' mods='user:login' id='header__user-password' type='password', placeholder='Пароль')
    |
    //- WHEN FORM DONE ACTIVE
    button(elem='input-btn' mods='small login' type='submit') Войти
       |
    a(elem='input-btn' mods='small link' class='js-toggler' data-toggle="modal" data-target="#js-user-reg-modal" href='#') Зарегистрироваться