/* AHEADER USER-LOGIN */

//
.header {
  &__user-login {
    @extend .mx-0,
    .mx-md-auto,
    .p-15,
    .py-md-25,
    .px-md-0,
    .container-fluid,
    .justify-content-start,
    .flex-column,
    .flex-md-row-reverse;
    background: $gray-lighter;
    font-size: $font-size-small;
    //
    &.collapse {
      display: none !important;
    }
    &.show {
      display: flex !important;
    }
    &.collapsing {
      display: flex !important;
      transition: all .25s ease-out;
    }
  }
  //
  &__header-form_user-login {
    @extend .mb-5,
    .mb-md-0,
    .form-inline;
    flex-wrap: nowrap;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  //
  &__header-label_user-login {
    @extend .mb-5,
    .mb-md-0,
    .mr-md-15,
    .justify-content-start;
    white-space: nowrap;
    @include media-breakpoint-down(sm) {
      flex: 1 100%;
      padding-left: 5px;
    }
  }
  //
  &__input_user-login {
    @extend .mx-5,
    .py-10,
    .mb-10,
    .mb-md-0,
    .ml-md-0,
    .mr-md-10;
    font-size: $font-size-small;
    @include media-breakpoint-down(sm) {
      flex: 1 47%;
    }
    @include media-breakpoint-down(xs) {
      flex: 1 100%;
    }
  }
  //
  &__input-btn {
    //
    &_small {
      @extend .mx-5,
      .mx-md-0,
      .py-10;
      font-size: $font-size-small;
      @include media-breakpoint-down(sm) {
        margin-bottom: $spacer;
        flex: 1 47%;
      }
    }
    //
    &_login {
      @extend .btn-dft;
    }
    //
    &_link {
      padding: {
        right: ($spacer * 1.5) !important;
        left: ($spacer * 1.5) !important;
      }
      background: rgba($gray-light, .0);
      @include media-breakpoint-up(md) {
        @include hover {
          text-decoration: underline;
        }
      }
    }
    //
    &_user-close {
      content: '';
      @extend .mb-0,
      .px-10,
      .px-md-25;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: ($spacer * 1.5);
      background-image: $icon-close;
      @include media-breakpoint-down(sm) {
        align-self: flex-end;
      }
      @include media-breakpoint-up(md) {
        align-self: center;
      }
    }
  }
  //
  // LOGIN-ICON
  &__navbar-link_login {
    @extend .font-weight-bold;
    //
    & .header__navbar-icon {
      position: relative;
      &::before {
        @include after-before();
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color: $gray-lighter transparent transparent transparent;
        top: -4rem;
        left: -.4rem;
        @include media-breakpoint-only(md) {
          top: -6.4rem;
        }
        @include media-breakpoint-down(sm) {
          top: -1.7rem;
        }
      }
    }
  }
  &_stuck &__navbar-link_login {
    & .header__navbar-icon:before {
      top: -2rem;
      @include media-breakpoint-only(md) {
        top: -4.5rem;
      }
    }
  }
  //
  // OPEN 
  &_sm-open &__user-login {
    order: 1;
  }
  &_sm-open &__header-form_user-login {
    margin-bottom: 0 !important;
  }
  &_sm-open &__navbar-link_login &__navbar-icon {
    &::before {
      border-width: 0 15px 15px 15px;
      border-color: transparent transparent $gray-lighter transparent;
      top: 2rem;
    }
  }
}
