//- ORDER CALL
li(elem='navbar-item' mods='sm upper:case order:call')
    a(elem='navbar-link' mods='order:call' class='js-toggler collapse-x show' href='#') 
      span 
        span Заказать обратный звонок
    |
    //- FORM
    form(elem='header-form' mods='order:call' class='collapse-x')
     div(elem='input-group' mods='order:call')
       input(elem='input' mods='order:call' id='header__order-call' type='tel', placeholder='Напишите ваш номер телефона' autofocus)
       div(elem='input-group-addon') 
         //- WHEN FORM DONE
         button(elem='input-btn' mods='order:call' id='js-order-call-send' type='submit')
         //- CLOSE FORM
         a(elem='input-btn' mods='close' class='js-toggler show' id='js-order-call-close' href='#')