/* HEADER NAVBAR-BRAND NAVBAR-SM-MENU ORDER-CALL */

//
.header {
  &__navbar-item_order-call {
    flex: 0 0 5rem;
    max-height: 5rem !important;
  }
  //
  &__navbar-link_order-call {
    background: rgba($aledo, .5);
  }
  //
  &__navbar-link_order-call,
  &__header-form_order-call {
    &.collapse-x {
      display: none !important;
      width: 0rem;
      @include transition($transition-collapse-x);
      &.show {
        display: flex !important;
        width: 100%;
      }
    }
  }
  //
  &__header-form_order-call {
    @extend .form-inline,
    .w-100;
  }
  &__input-group_order-call {
    @extend .input-group,
    .w-100;
    @include border (rgba($aledo, .5), $size: 3);
  }
  &__input-group-addon {
    @extend .input-group-addon,
    .border-0,
    .p-0;
  }
  &__input-btn {
    &_order-call {
      padding: ($spacer * 2.4) ($spacer * 2.5);
      background: $aledo;
      background-position: center;
      background-size: ($spacer * 2);
      background-repeat: no-repeat;
      background-image: $icon-arrow;
      display: none;
    }
    &_close {
      padding: ($spacer * 2.4) ($spacer * 2.5);
      display: none;
      //
      &.show {
        display: block;
      }
    }
  }
}
