// HEADER
header(block='header' class='js-header' mods='user:unlog')
  //-
  include __user-login/user-login.pug  
  //-
  include __navbar-brand/navbar-brand.pug  
  //-  
  include __navbar-menu_sm/navbar-menu_sm.pug
  //-
  include __navbar-pages/navbar-pages.pug  