/* ALEDO HEADER */

.header {
  background-color: $white;
  position: relative;
  //
  &__navbar-nav {
    @extend .mb-0,
    .flex-row,
    .justify-content-between;
    flex: 1 100%;
    list-style: none;
    color: $navbar-light-color;
    @include make-container();
    @include make-container-max-widths();
    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }
  // HEADER-FORM
  //
  &__header-label {
    color: $gray-dark;
  }
  //
  &__input {
    @extend .form-control;
  }
  //
  &__input-group-addon {
    @extend .input-group-addon,
    .border-0,
    .p-0;
  }
  //
  &__input-btn {
    content: '';
    @extend .btn;
    padding: ($spacer * 2.2) ($spacer * 2.5);
    border-color: rgba($gray, 0) !important;
    cursor: pointer;
    //
    &_close {
      background: {
        color: rgba($gray, .2);
        position: center;
        size: ($spacer * 1.5);
        repeat: no-repeat;
        image: $icon-close;
      }
    }
    //
    &.show {
      display: block;
    }
  }
  //
  // stuck
  &.header_stuck {
    @extend .fixed-top;
    @include border-bottom();
    @include shadow();
    z-index: $zindex-header;
  }
  //
  // SM-OPEN
  &.header_sm-open {
    @extend .fixed-top;
    @extend .h-100;
  }
}

// //
//
// Import ELEMENTS
@import "__navbar-brand/navbar-brand";
@import "__navbar-logo/navbar-logo";
@import "__navbar-items/navbar-items";
@import "__navbar-pages/navbar-pages";
@import "__navbar-pages_md/navbar-pages_md";
@import "__user-group/user-group";
@import "__menu-toggler/menu-toggler";
@import "__phones-toggler/phones-toggler";
@import "__search-toggler/search-toggler";
@import "__navbar-menu_sm/navbar-menu_sm";
@import "__navbar-phones_sm/navbar-phones_sm";
@import "__search-menu/search-menu";
@import "__order-call/order-call";
@import "__user-login/user-login";
@import "__user-reg/user-reg";
