// INDEX CONTACT
section(block='index-contact')
  //-
  h2(elem='header') Наши контакты
  |  
  //-
  div(elem='addresses')
    //-
    div(elem='address') 
      //-
      h3(elem='address-header') Санкт-Петербург
      //-
      div(elem='address-text')        
        //-
        p
          | 190005,
          br
          | Санкт-Петербург,
          br
          | Измайловский пр., 31/163
          br
          | шоу-рум kaledoscop
        p
          | Пн—Пт: 10:00—19:00
          br
          | Сб, Вс: выходной
        p.plus
          | +7 (812) 448 58 49
        p
          | info@aledo-pro.ru
      |
      //-
      a(elem='map-link' target='_blank' href='https://yandex.ru/maps/-/C6GZJQIP') На карте
    //-
    |  
    //-
    div(elem='address')
      //-
      h3(elem='address-header') Москва
        
      //-
      div(elem='address-text')        
        //-
        p
          | 115114,
          br
          | Москва,
          br
          | Летниковская ул., 11/10, стр.1
          br
          | 4-й этаж, офис 20
        p
          | Пн—Пт: 10:00—19:00
          br
          | Сб, Вс: выходной
        p.plus
          | +7 (499) 703 24 42 
        p
          | info@aledo-pro.ru
      |
      //-
      a(elem='map-link' target='_blank' href='https://yandex.ru/maps/-/C6s5qMPR') На карте