/* INDEX CONTACT */

.index-contact {
  @extend .mt-50,
  .mt-md-75,
  .px-15,
  .px-sm-5,
  .container;
  //
  // Header
  &__header {
    @extend .px-5,
    .pb-5,
    .display-3;
    @include border-dotted (bottom);
  }
  //
  // Addresses
  &__addresses {
    @extend .mt-35,
    .row;
  }
  //
  &__address {
    @extend .col-12,
    .col-md-6;
  }
  //
  &__address-header {
    @extend .pl-5,
    .mb-20,
    .display-2;
  }
  //
  &__address-text {
    @extend .float-left;
    white-space: nowrap;
    //
    p {
      //
      &:not(.plus) {
        @extend .mb-20,
        .pl-5;
      }
    }
  }
  //
  &__map-link {
    @extend .float-left,
    .link_read-more;
    position: relative;
    //
    &::after {
      @include after-before();
      height: 25px;
      width: 16px;
      top: -10px;
      left: 60px;
      background: $icon-map no-repeat;
    }
  }
}
