/* HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-PHONES */

.header {
  //    
  &__navbar-nav_phones {
    @extend .d-md-none,
    .transition-fade;
    //
    @include media-breakpoint-down(sm) {
      &.collapse {
        display: none !important;
        @include transition($transition-collapse);
        //
        &.show {
          display: flex !important;
          flex: 1 1 100%;
          height: 100%;
        }
      }
      &.collapsing {
        opacity: 0;
      }
    }
  }
  //
  // SM-OPEN
  &_sm-open &__navbar-nav_phones {
    @extend .flex-column,
    .justify-content-between,
    .container;
    overflow-y: auto;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
  &_sm-open &__navbar-nav_phones &__navbar-item {
    flex: 1 1 50%;
    min-height: 5.6rem;
    & span {
      display: block;
    }
  }
  //
  // USER-LOGGED 
  &_user-logged &__navbar-item_user-logged {
    @extend .font-weight-bold;
    @include border ($gray, 2);
  }
}
