// HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-PHONES
ul(elem='navbar-nav' mods='phones' class='collapse' id='js-navbar-phones-toggle')
  //-
  li(elem='navbar-item' mods='sm user:logged')
    a(elem='navbar-link' href='tel:+78124485849') 
      span 
        span +7 (812) 448 58 49
        span.text-muted  Санкт-Петербург
  //-
  li(elem='navbar-item' mods='sm')
    a(elem='navbar-link' href='tel:+74997032442') 
      span 
        span +7 (499) 703 24 42
        span.text-muted  Москва
  //-
  li(elem='navbar-item' mods='sm')
    a(elem='navbar-link' href='tel:+78005555672') 
      span 
        span 8 (800) 555 56 72
        span.text-muted  Работаем по всей РФ
  //-
  include ../__order-call/order-call.pug