/* HEADER USER REG MODAL */

.body {
  //
  &__user-reg {
    @extend .modal,
    .fade;
  }
  //
  &__user-reg-dialog {
    @extend .modal-dialog;
    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }
  //
  &__user-reg-content {
    @extend .modal-content;
    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }
  //
  // MODAL HEADER
  &__user-reg-header {
    @extend .modal-header,
    .align-items-baseline;
    flex: 0 0 auto;
  }
  //
  &__close-btn {
    @extend .px-10,
    .btn;
    height: 2rem;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: $icon-close;
  }
  //
  &__user-reg-h-group {
    @extend .flex-column;
  }
  //
  &__user-reg-h6 {
    @extend .text-uppercase,
    .font-weight-bold;
  }
  //
  &__user-reg-text {
    @extend .mb-0;
  }
  //
  // MODAL BODY
  &__user-reg-body {
    @extend .modal-body;
    overflow-y: auto;
    //
    &_success {
      display: none;
    }
  }
  //
  &__user-reg-h2 {
    @extend .modal-title,
    .display-2,
    .text-center;
  }
  &__user-reg-text {
    @extend .mt-15,
    .text-center;
  }
  //
  // FORM
  &__form_user-reg {}
  //
  &__input_user-reg {
    @extend .mb-10,
    .form-control;
  }
  //
  &__input-btn_user-reg {
    @extend .py-10,
    .btn-dft;
    flex: 1 100%;
  }
  //
  &__label_checkbox {
    @extend .checkbox-label;
  }
  //
  &__input_checkbox {
    @extend .checkbox-input;
  }
  //
  &__indicator_checkbox {
    @extend .checkbox-indicator;
  }
  //
  &__description_checkbox {
    @extend .checkbox-description;
  }
  //
  // MODAL FOOTER
  &__user-reg-footer {
    @extend .modal-footer;
    flex: 0 0 auto;
  }
  //   
  // SUCCESS
  &__user-reg.success & {
    &__user-reg-h-group {
      opacity: 0;
    }
    &__user-reg-body {
      &_reg-form {
        display: none;
      }
      &_success {
        @extend .px-50,
        .pb-75,
        .d-flex,
        .flex-column;
      }
    }
    &__input-btn_user-reg {
      @extend .mt-25,
      .py-10,
      .align-self-center;
      flex: 0 auto;
    }
    &__user-reg-footer {
      display: none;
    }
  }
}
