// USER-REG Modal / add class "success"
div(elem='user-reg' class='not:success' id="js-user-reg-modal" tabindex='-1' role='dialog' aria-labelledby='user-reg-modal' aria-hidden='true')
  div(elem='user-reg-dialog' role='document')
    div(elem='user-reg-content')
      |
      div(elem='user-reg-header')
        div(elem='user-reg-h-group')
          h6(elem='user-reg-h6') Регистрация
          p(elem='user-reg-text') Заполните все поля формы
        //- CLOSE BUTTON
        a(elem='close-btn' class='js-toggler' data-dismiss='modal' aria-hidden='true' aria-label='Close' href='#')
      |
      div(elem='user-reg-body' mods='reg:form')
        //-
        //- FORM
        form(elem='form' mods='user:reg' id='user-reg-form')
          |
          input(elem='input' mods='user:reg' id='user-reg__user-name' type='text', placeholder='ФИО' autofocus)
          |
          input(elem='input' mods='user:reg' id='user-reg__user-phone'       type='tel', placeholder='Контактный телефон')
          |
          input(elem='input' mods='user:reg' id='user-reg__user-city'       type='text', placeholder='Город')
          |
          input(elem='input' mods='user:reg' id='user-reg__user-email'       type='email', placeholder='E-mail')
          |
          input(elem='input' mods='user:reg' id='user-reg__user-password' type='password', placeholder='Пароль')
          |
          input(elem='input' mods='user:reg' id='user-reg__user-repassword' type='password', placeholder='Повторите пароль')
          |
          label(elem='label' mods='checkbox')
            input(elem='input' mods='checkbox' type='checkbox' checked='checked')
            span(elem='indicator' mods='checkbox')
            span(elem='description' mods='checkbox') подписаться на рассылку (информация о скидках, акциях)          
      |
      //- SUCCESS
      div(elem='user-reg-body' mods='success')
        h2(elem='user-reg-h2' id='user-reg-modal') Поздравляем!
        p(elem='user-reg-text')
          | Вы успешно зарегистрированы на сайте aledo-pro.ru! 
        |
        //- WHEN FORM DONE ACTIVE
        a(elem='input-btn' mods='user:reg' class='js-toggler' data-dismiss='modal' aria-hidden='true' aria-label='Close' href='#') Закрыть
      |
      //- FOOTER
      div(elem='user-reg-footer')
        |
        //- WHEN FORM DONE ACTIVE
        button(elem='input-btn' mods='user:reg' type='submit' form='user-reg') Сохранить данные