// INDEX SHOWCASE CARDS
div(block='card' mods='image' mix='block:index-showcase elem:card')
  div(elem='image' mix='block:index-showcase elem:image' style='background-image: url(img/01-3.png);')
  div(elem='block' mix='block:index-showcase elem:block')
    p(elem='title')
      a(elem='title-link' href='#')
        | 9W TOMMY
    p(elem='desc' mix='block:index-showcase elem:desc') 
      | Компактный трековый светильник с&nbsp;равномерным светораспределением. Глубокий рассеиватель предотвращает ослепление и&nbsp;гарантирует комфортную световую среду. Компактный трековый светильник с&nbsp;равномерным светораспределением. Глубокий рассеиватель предотвращает ослепление и&nbsp;гарантирует комфортную световую среду.
    a(elem='link' mix='block:index-showcase elem:link' href='#') Подробнее
    a(elem='tag' href='#') Трековые светильники
