// INDEX SHOWCASE CARD 1
div(block='card' mods='image' mix='block:index-showcase elem:card')
  div(elem='image' mix='block:index-showcase elem:image' style='background-image: url(img/skill_sra_04.png);')
  div(elem='block' mix='block:index-showcase elem:block')
    p(elem='title')
      a(elem='title-link' href='#')
        | Skill RA 100
      span(elem='badge') NEW
    p(elem='desc' mix='block:index-showcase elem:desc') 
      | Мощность&nbsp;       
      b 40&nbsp;Вт
      br
      | Питание&nbsp;
      b 220&nbsp;VAC
      br
      | Световой поток до&nbsp;
      b 3500&nbsp;лм
      br
      |  Угол свечения&nbsp;
      b 25&deg;... 40&deg;
      br
      | Цвет корпуса&nbsp;
      b Черный, Белый.
    a(elem='link' mix='block:index-showcase elem:link' href='#') Подробнее
    a(elem='tag' href='#') Поворотные встраиваемые светильники