/* INDEX SHOWCASE CARDS */

//
@import "../blocks/cards/card_image";
//
//
.index-showcase {
  &__card {
    @extend .align-self-start,
    .align-self-md-stretch;
  }
  //
  &__image {
    transition: opacity .2s ease;
    @include media-breakpoint-down(sm) {
      height: ($spacer * 20);
    }
    @include media-breakpoint-only(md) {
      min-height: 60%;
    }
  }
  &__block {
    transition: background .2s ease;
  }
  //
  // CLOSE
  &__input:not(:checked)+&__label {
    .index-showcase {
      //
      &__card {
        cursor: pointer;
      }
      &__card:hover {
        .index-showcase__image {
          opacity: .9;
        }
        .index-showcase__block {
          background: rgba($gray-lighter, .75);
        }
      }
      &__desc,
      &__link {
        margin: 0 !important;
        height: 0;
        opacity: 0;
        z-index: -1;
      }
    }
  }
  //
  // OPEN
  &__input:checked+&__label {
    //
    &:nth-of-type(1) {
      .index-showcase__card {
        @extend .flex-md-row;
      }
    }
    &:nth-of-type(2) {
      .index-showcase__card {
        @extend .flex-md-row-reverse;
      }
    }
    //
    .index-showcase {
      //
      &__card {
        cursor: default;
      }
      &__image {
        @include media-breakpoint-up(lg) {
          min-width: 60%;
          padding-top: 52.5%;
          width: 60%;
        }
        @include media-breakpoint-only(md) {
          width: 50%;
          padding-top: 0;
        }
      }
      &__block {
        @extend .pt-md-25;
        @include hover {
          background: $gray-lightest;
        }
      }
      &__desc,
      &__link {
        @extend .d-block;
        opacity: 1;
        transition: opacity .2s ease .4s;
      }
    }
  }
}
