// SOLUTION-CINEMA OPTIONS
section(block='solutions-cinema-options')
  h3(elem='header') Мы&nbsp;считаем, что, как минимум, таким:
  //-
  div(elem='option')
    div(elem='icon' mods='trust')
    div(elem='block')
      h3(elem='title') Надёжным
      p(elem='lead') Иметь гарантию 3&ndash;5&nbsp;лет и&nbsp;более.
  |
  //-
  div(elem='option')
    div(elem='icon' mods='effective')
    div(elem='block')
      h3(elem='title') Эффективным
      p(elem='lead') Иметь световую эффективность 90+&nbsp;лм/Вт.
  |
  //-
  div(elem='option')
    div(elem='icon' mods='functional')
    div(elem='block')
      h3(elem='title') Функциональным
      p(elem='lead') Решать задачи объекта, быть &laquo;полезным&raquo; и&nbsp;комфортным.
  |
  //-
  div(elem='option')
    div(elem='icon' mods='adjustive')
    div(elem='block' mods='adjustive')
      h3(elem='title') Управляемым
      p(elem='lead') Быть совместимым с&nbsp;различными портоколами управления освещением.