/* SOLUTION-CINEMA OPTIONS */

// ICONS
$icon-trust: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M50,1A49,49,0,1,0,91.65,24.17L47.54,68.68,27.39,48.53'/%3E%3C/svg%3E"),
"#",
"%23");
$icon-effective: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 125 70'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='62.5' cy='61.25' r='7'/%3E%3Cline class='a' x1='62.5' y1='17.58' x2='62.5' y2='6.65'/%3E%3Cline class='a' x1='30.91' y1='30.66' x2='23.19' y2='22.94'/%3E%3Cline class='a' x1='17.83' y1='62.25' x2='6.9' y2='62.25'/%3E%3Cline class='a' x1='94.09' y1='30.66' x2='101.81' y2='22.94'/%3E%3Cline class='a' x1='107.17' y1='62.25' x2='118.1' y2='62.25'/%3E%3Cpath class='a' d='M1,64.12C1,29.68,28.53,1.75,62.5,1.75S124,29.68,124,64.12'/%3E%3Cpolyline class='a' points='70.5 52.32 98.75 40.58 74.46 59.17'/%3E%3C/svg%3E"),
"#",
"%23");
$icon-functional: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M13.67,1.21A12.5,12.5,0,1,0,24.3,7.12L13,18.47,7.9,13.33'/><line class='a' x1='38.92' y1='13.71' x2='98.92' y2='13.71'/%3E%3Cpath class='a' d='M13.63,74a12.5,12.5,0,1,0,10.63,5.91L13,91.27,7.86,86.12'/%3E%3Cline class='a' x1='38.87' y1='86.5' x2='98.87' y2='86.5'/%3E%3Cpath class='a' d='M13.63,37.6a12.5,12.5,0,1,0,10.63,5.91L13,54.87,7.86,49.73'/%3E%3Cline class='a' x1='38.87' y1='50.1' x2='98.87' y2='50.1'/%3E%3C/svg%3E"),
"#",
"%23");
$icon-adjustive: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='11.63' y1='23' x2='11.63' y2='1'/%3E%3Cline class='a' x1='11.63' y1='99' x2='11.63' y2='37.75'/%3E%3Cline class='a' x1='50' y1='63.15' x2='50' y2='1'/%3E%3Cline class='a' x1='50' y1='99' x2='50' y2='77.89'/%3E%3Cline class='a' x1='88.37' y1='42.63' x2='88.37' y2='1'/%3E%3Cline class='a' x1='88.37' y1='99' x2='88.37' y2='57.37'/%3E%3Ccircle class='a' cx='11.63' cy='30.38' r='7.37'/%3E%3Ccircle class='a' cx='50' cy='70.52' r='7.37'/%3E%3Ccircle class='a' cx='88.37' cy='50' r='7.37'/%3E%3C/svg%3E"),
"#",
"%23");
//
.solutions-cinema-options {
  @extend .px-25,
  .px-sm-0,
  .mt-35,
  .container,
  .row,
  .align-items-start;
  overflow: hidden;
  //
  &__header {
    @extend .col-12,
    .display-3;
    color: $gray-light;
  }
  //
  &__option {
    @extend .mt-15,
    .mt-sm-25,
    .mt-lg-50,
    .mb-lg-25,
    .col-12,
    .col-lg-6,
    .d-flex,
    .flex-sm-row,
    .flex-column;
    &:nth-child(2) {
      @extend .mt-25,
      .mt-sm-50;
    }
    &:nth-child(odd) {
      @extend .col-md-8,
      .ml-md-auto,
      .col-lg-6,
      .ml-lg-0;
    }
  }
  //
  &__icon {
    @extend .mr-25,
    .mr-lg-35;
    flex: 0 ($spacer * 12.5);
    min-width: ($spacer * 12.5);
    max-width: ($spacer * 12.5);
    height: ($spacer * 12.5);
    background: {
      position: top center;
      size: ($spacer * 10);
      repeat: no-repeat;
    }
    @include media-breakpoint-down(xs) {
      background-position: bottom center;
    }
    //
    &_trust {
      background-image: $icon-trust;
    }
    &_effective {
      background-size: contain;
      background-image: $icon-effective;
    }
    &_functional {
      background-image: $icon-functional;
    }
    &_adjustive {
      background-image: $icon-adjustive;
    }
  }
  //
  &__block {
    @extend .mt-15;
    flex: 1 auto;
    @include media-breakpoint-down(xs) {
      flex: 1 100%;
    }
    //
    &_adjustive:after {
      @extend .mt-15;
      display: block;
      content: "";
      width: 100%;
      min-width: ($spacer * 25);
      height: ($spacer * 5);
      background: {
        image: url(../img/logos.png);
        size: contain;
        repeat: no-repeat;
      }
      left: 0;
    }
  }
  //
  &__title {
    @extend .display-3,
    .text-uppercase;
  }
  //
  &__lead {
    @extend .mt-5;
    color: $gray-light;
    font-size: lead-font-size;
  }
}
