// serie-configurator // has-special / not-special
section(block='serie-configurator')
  div(elem='col' mods='left')
    div(elem='thumbnails-slider')
      img(elem='thumbnail' style='background-image: url(./img/une-thumb-white.png)' alt='')
  div(elem='col' mods='body' class='has-special')
    div(elem='params' class='has-special')
      //-
      div(elem='param-name') Мощность
      div(elem='param-buttons')
        div(elem='btn-group' role="group")
          button(elem='btn' type='button' class='chosen') 25 Вт
    |
    div(elem='params' mods='coloring' class='has-special')
      //-
      div(elem='param-name' mods='coloring' class='chosen') Цветопередача
      div(elem='param-buttons')
        div(elem='btn-group' role='group')
          button(elem='btn' type='button' class='chosen') CRI 80+
          button(elem='btn' type='button') CRI 90+
          button(elem='btn' type='button') CRI 97          
      //-
      div(elem='param-name' mods='coloring' class='chosen') Цветовая температура
      div(elem='param-buttons')
        div(elem='btn-group' role='group')
          button(elem='btn' type='button' mods='ct warmer') 2700 К
          button(elem='btn' type='button' mods='ct warm' class='chosen') 3000 К
          button(elem='btn' type='button' mods='ct neutral') 4000 К
          //-
            button(elem='btn' type='button' mods='ct cold') 5000 К
            button(elem='btn' type='button' mods='ct colder') 6000 К          
      |
      //- SPECIAL PARAMS
      div(elem='params' mods='special')
        div(elem='param-name' mods='special coloring')
          | Специальные решения
        div(elem='param-buttons' mods='special')
          div(elem='btn-group' mods='special' role="group")
            button(elem='btn' type='button' mods='special') Для одежды
            button(elem='btn' type='button' mods='special') Для мяса
            button(elem='btn' type='button' mods='special') Для хлеба
            button(elem='btn' type='button' mods='special') Для косметики  
    |
    div(elem='params' class='has-special')
      //-
      div(elem='param-name') Угол свечения
      div(elem='param-buttons')
        div(elem='btn-group' role='group')
          button(elem='btn' type='button' mods='angle adjust-spot' class='chosen') 15°
          button(elem='btn' type='button' mods='angle adjust-medium') 25°
          button(elem='btn' type='button' mods='angle adjust-medium') 35°
          button(elem='btn' type='button' mods='angle adjust-flood') 55°
          
      //-
      div(elem='param-name') Цвет корпуса
      div(elem='param-buttons')
        div(elem='btn-group' role='group' mods='body-color')
          button(elem='btn' type='button' data-selector='0' mods='body-color white' class='chosen')
          button(elem='btn' type='button' data-selector='1' mods='body-color black')
          button(elem='btn' type='button' data-selector='2' mods='body-color silver')          
      //-
      div(elem='param-name') Диммирование
      div(elem='param-buttons')
        div(elem='btn-group' role="group")
          button(elem='btn' type='button' class='chosen') TRIAC            
  |
  div(elem='col' mods='right')
    div(elem='set')
      div(elem='set-header')
        div(elem='set-name') Артикул        
        span(elem='set-code') 
          span(elem='set-name') Код
          | 19764
      |
      div(elem='set-serie' class='resize') TL UNE 25 RUB 15 W TC
      |
      ul(elem='set-description')
        li(elem='set-item')
          span(elem='set-item-name') Световой поток
          span(elem='set-item-value') 2700 лм
        li(elem='set-item')
          span(elem='set-item-name') Гарантия
          span(elem='set-item-value') 3 года
        li(elem='set-item')
          span(elem='set-item-name') Влагозащищённость
          span(elem='set-item-value') IP 20
      |
      div(elem='set-price')
        span(elem='set-price-name') Цена
        span(elem='set-price-value') 6 522 руб.
      |
      button(elem='add-button' type='button' mods='product') Добавить к заказу
      |
      button(elem='share-button' type='button')