/* serie-configurator */

@import "../blocks/thumbnails/thumbnails";
//
.serie-configurator {
  @extend .mr-0,
  .row,
  .justify-content-sm-between;
  //
  &__col {
    &_left {
      @extend .d-none,
      .d-xl-flex,
      .col-xl-2;
    }
    &_body {
      @extend .pl-xl-15,
      .col-12,
      .col-md-7,
      .col-lg-8,
      .col-xl-7;
    }
    &_right {
      @extend .ml-md-auto,
      .p-0,
      .col-12,
      .col-md-5,
      .col-lg-4,
      .col-xl-3,
      .d-flex,
      .justify-content-end;
    }
    &.has-special {
      @extend .row,
      .px-0,
      .pl-xl-15,
      .mx-0,
      .justify-content-sm-between,
      .justify-content-md-start;
    }
  }
  &__col.has-special &__params_coloring {
    @extend .col-12,
    .col-sm-8,
    .col-lg-9;
    position: relative;
  }
  &__thumbnails-slider {
    @extend .w-100;
    height: 16.5rem;
    @include border($gray-lighter);
    .carousel-cell {
      height: 100%;
    }
  }
  &__thumbnail {
    @extend .w-100,
    .h-100;
    border: none;
    background: {
      size: cover;
      position: top;
      repeat: no-repeat;
    }
  }
  &__params {
    @extend .row,
    .px-0,
    .mx-0;
    &.not-special {
      @extend .col-lg-11,
      .col-xl-10;
    }
    &.has-special {
      @extend .col-sm-8,
      .col-lg-9;
    }
    &_special {
      @extend .px-md-15,
      .col-12,
      .col-sm-4,
      .col-md-3;
      @include media-breakpoint-up(sm) {
        position: absolute;
        top: -1.3rem;
        right: -(percentage(1/2));
        max-width: 15rem;
      }
      @include media-breakpoint-up(lg) {
        right: -15rem;
        top: -4.8rem;
      }
    }
  }
  &__param-name {
    font-size: $font-size-small;
    //
    @extend .mb-5,
    .pt-5,
    .col-12,
    .col-lg-4;
    white-space: nowrap;
    line-height: 2.5rem;
    //
    &:not([class*="special"]):not(:last-of-type) {
      @extend .mb-lg-25;
    }
    &_coloring {
      color: $gray-lighter;
      //
      &.chosen {
        color: $gray;
      }
    }
    &_special {
      @extend .mb-sm-10;
      flex: 0;
      @include media-breakpoint-up(sm) {
        max-width: 12rem;
        white-space: normal;
      }
      position: relative;
      line-height: 1.5rem;
    }
  }
  &__param-buttons {
    @extend .col-12,
    .mb-20;    
    //
    &:not([class*="special"]){
      @extend .col-lg-8,
      .mb-lg-25;
    }
    width: 100%;
    &_special {}
  }
  &__btn-group {
    @extend .w-100,
    .d-flex,
    .flex-wrap,
    .btn-group;
    &_special {
      @extend .btn-group-vertical;
      margin-top: .3rem;
    }
    &:not([class*="body-color"]) {
      @include media-breakpoint-down(xs) {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .btn,
        .btn-group {
          width: 100%;
        }
        >.btn+.btn,
        >.btn+.btn-group,
        >.btn-group+.btn,
        >.btn-group+.btn-group {
          margin-top: -$input-btn-border-width;
          margin-left: 0;
        }
      }
    }
    &_body-color {
      @extend .justify-content-between,
      .justify-content-sm-start,
      .btn-group;
    }
  }
  &__btn {
    @extend .btn,
    .btn-secondary;
    font-size: $font-size-small !important;
    line-height: 2rem !important;
    cursor: pointer;
    background: $white;
    color: $gray;
    width: 100%;
    @include border($gray-lighter);
    //
    &:hover {
      background-color: $gray-lighter;
    }
    &:focus {
      box-shadow: 0 0 0 3px rgba($gray-lighter, 0.5);
    }
    &.chosen {
      background-color: $aledo-lighter;
      font-weight: $font-weight-bold;
    }
    //
    &_ct {
      &:after {
        @include after-before();
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        top: calc(50% - 1rem/2);
        left: 1rem;
        @include media-breakpoint-down(xs) {
          left: calc(50% - 3.5rem);
        }
      }
    }
    &_warmer:after {
      background-color: $warmer;
    }
    &_warm:after {
      background-color: $warm;
    }
    &_neutral:after {
      background-color: $neutral;
    }
    &_cold:after {
      background-color: $cold;
    }
    &_colder:after {
      background-color: $colder;
    }
    //
    &_angle {
      background: {
        position: left center;
        size: contain;
        repeat: no-repeat;
      }
      @include media-breakpoint-down(xs) {
        background-position: calc(50% - 3.5rem);
      }
    }
    &_adjust {
      &-super-spot {
        background-image: $icon-angle-btn-adjust-super-spot !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-adjust-super-spot !important;
        }
      }
      &-spot {
        background-image: $icon-angle-btn-adjust-spot !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-adjust-spot !important;
        }
      }
      &-medium {
        background-image: $icon-angle-btn-adjust-medium !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-adjust-medium !important;
        }
      }
      &-flood {
        background-image: $icon-angle-btn-adjust-flood !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-adjust-flood !important;
        }
      }
      &-wide {
        background-image: $icon-angle-btn-adjust-wide !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-adjust-wide !important;
        }
      }
      &-focusable {
        background-image: $icon-angle-btn-adjust-focusable !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-adjust-focusable !important;
        }
      }
      &-oval-flood {
        background-image: $icon-angle-btn-adjust-oval-flood !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-adjust-oval-flood !important;
        }
      }
    }
    &_fixed {
      &-super-spot {
        background-image: $icon-angle-btn-fixed-super-spot !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-fixed-super-spot !important;
        }
      }
      &-spot {
        background-image: $icon-angle-btn-fixed-spot !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-fixed-spot !important;
        }
      }
      &-medium {
        background-image: $icon-angle-btn-fixed-medium !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-fixed-medium !important;
        }
      }
      &-flood {
        background-image: $icon-angle-btn-fixed-flood !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-fixed-flood !important;
        }
      }
      &-wide {
        background-image: $icon-angle-btn-fixed-wide !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-fixed-wide !important;
        }
      }
      &-focusable {
        background-image: $icon-angle-btn-fixed-focusable !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-fixed-focusable !important;
        }
      }
      &-oval-flood {
        background-image: $icon-angle-btn-fixed-oval-flood !important;
        &:active,
        &.chosen {
          background-image: $icon-angle-btn-active-fixed-oval-flood !important;
        }
      }
    }
    &_wallwasher {
      background-image: $icon-angle-btn-wallwasher !important;
      &:active,
      &.chosen {
        background-image: $icon-angle-btn-active-wallwasher !important;
      }
    }
    //
    &_body-color {
      width: 2.5rem !important;
      height: 2.5rem !important;
      border-radius: 50% !important;
      &:not(:last-of-type) {
        margin-right: 2.5rem;
      }
      &.chosen {
        box-shadow: 0 0 1px 5px rgba($aledo-lightest, 1);
      }
    }
    &_white {
      background: $white !important;
    }
    &_black {
      background: $black !important;
    }
    &_silver {
      background: $gray-light !important;
    }
  }
  &__col.not-special &__btn {
    @include media-breakpoint-up(sm) {
      width: percentage(1/4);
    }
    &:nth-of-type(5) {
      margin-left: 0px !important;
    }
    &:nth-of-type(n+5) {
      margin-top: -1px !important;
    }
  }
  &__col.has-special &__btn:not([class*="special"]) {
    @include media-breakpoint-up(sm) {
      width: percentage(1/3);
    }
    &:nth-of-type(4) {
      margin-left: 0px !important;
    }
    &:nth-of-type(n+4) {
      margin-top: -1px !important;
    }
  }
  //
  &__set {
    @extend .mt-15,
    .mt-md-0,
    .p-15,
    .d-flex,
    .flex-column,
    .justify-content-between;
    position: relative;
    min-width: 100%;
    background: $gray-lightest;
    font-size: $font-size-small;
  }
  &__set-header {
    @extend .pr-25,
    .d-flex,
    .flex-nowrap,
    .justify-content-between;
  }
  &__set-name {
    @extend .mr-5;
    color: $gray-light;
  }
  &__set-serie {
    @extend .py-5;
    height: 3.5rem;
    font-size: $display4-size;
    font-weight: $font-weight-bold;
  }
  &__set-code {
    @extend .ml-auto;
    color: $gray;
  }
  &__set-description {
    @extend .mt-10,
    .p-15;
    background: $gray-lighter;
  }
  &__set-item {
    @extend .list-unstyled;
    &:not(:last-of-type) {
      @extend .mb-5;
    }
  }
  &__set-item-name {
    @extend .mr-5;
  }
  &__set-item-value {
    font-size: $font-size-base;
  }
  &__set-price {
    @extend .mt-auto;
  }
  &__set-price-name {
    @extend .mr-5;
    font-size: $display5-size;
  }
  &__set-price-value {
    font-size: $display3-size;
    font-weight: $font-weight-bold;
  }
  &__add-button {
    @extend .mt-10,
    .btn-dft_inverted;
    height: 3.5rem;
    box-shadow: none;
    outline: none !important;
    cursor: pointer;
    &_product {
      @extend .w-100;
    }
  }
  &__share-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.75rem;
    height: 2.75rem;
    background: {
      position: center;
      repeat: no-repeat;
      color: $gray-light;      
      size: 1.75rem;
      image: $icon-share-lnk;
    }
    border: 0;
    box-shadow: none;
    outline: none !important;
    cursor: pointer;
    transition: $transition-base;
    &:hover {
      background-color: $aledo;
    }
  }
}
