// serie-aside _cards_products
- for (var x = 0; x < 3; x++)
  div(elem='card' mods='half')
    div(block='card' mods='image' mix='block:serie-aside-products')
      a(elem='image' mix='block:serie-aside-products elem:image' href='#' style='background-image: url(https://aledo-pro.ru/images/series/img_56264308d1670.jpg);')
      div(elem='block')
        span(elem='title' mix='block:serie-aside-products elem:title')
          a(elem='title-link' mix='block:serie-aside-products elem:title-link' href='#')
            | 13W Multi-pro
        p(elem='text' mix='block:serie-aside-products elem:text') 150...800&nbsp;лм
        p(elem='icons' mix='block:serie-aside-products elem:icons')
          span(elem='angle-icon' mods='fixed-spot' title='15°')
          span(elem='angle-icon' mods='fixed-medium' title='35°')
          span(elem='angle-icon' mods='fixed-oval-flood' title='8-35°')