// serie-aside _cards
div(elem='card')
  div(block='card' mods='image')
    a(elem='image' href='#' style='background-image: url(https://aledo-pro.ru/images/series/img_56f25c2507c1d.jpg);')
    div(elem='block')
      p(elem='title')
        a(elem='title-link' href='#')
          | Трехфазный Nordic
        span(elem='badge') New
//-
div(elem='card')
  div(block='card' mods='image')
    a(elem='image' href='#' style='background-image: url(https://aledo-pro.ru/images/series/img_56f25c15494e0.jpg)')
    div(elem='block')
      p(elem='title')
        a(elem='title-link' href='#')
          | Трехфазный Nordic  встраиваемый
//-
div(elem='card')
  div(block='card' mods='image')
    a(elem='image' href='#' style='background-image: url(https://aledo-pro.ru/images/series/img_58ab0085224c1.jpg)')
    div(elem='block')
      p(elem='title')
        a(elem='title-link' href='#')
          | Трехфазный Art