// serie-aside
div(elem='projects-wrapper')
  h3(elem='h3') Проекты со светильниками серии UNE
  //-
  div(elem='slider')
    //-
    a(elem='img' mods='slide' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
      span(elem='name' mix='block:thumbnails elem:name') 
        span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»
    //-
    a(elem='img' mods='slide' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
      span(elem='name' mix='block:thumbnails elem:name') 
        span Бутик «SPAZIO»
    //-
    a(elem='img' mods='slide' mix='block:thumbnails' style='background-image: url(img/002.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
      span(elem='name' mix='block:thumbnails elem:name') 
        span Продуктовый супермаркет «Перекресток»
    //-
    a(elem='img' mods='slide' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
      span(elem='name' mix='block:thumbnails elem:name') 
        span Бутик «SPAZIO»
    //-
    a(elem='img' mods='slide' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
      span(elem='name' mix='block:thumbnails elem:name') 
        span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»