// serie-aside
aside(block='serie-aside')
  div(elem='other-products')
    h3(elem='h3') 
      | Шинопровод
      span(elem='small') Минимальная сумма отгрузки шинопровода без заказа трековых светильников — 30 000 Р
    //-
    div(elem='cards')
      include ./_cards.pug
  |
  div(elem='projects')
    include ./_projects.pug
  |
  div(elem='other-products')
    div(elem='col')
      h3(elem='h3') 
        | Светильники серии 
        a(elem='h3-link' href='#') UNE
      |
      div(elem='cards')
        include _cards_products.pug
    |
    div(elem='col')
      h3(elem='h3') 
        a(elem='h3-link' href='#') Трековые светильники
        |  для трёхфазного шинопровода
      |
      div(elem='cards')
        include _cards_products.pug