/* serie-aside */

@import '../blocks/cards/card_image.scss';
//
.serie-aside {
  //
  &__other-products {
    @extend .mt-35,
    .px-15,
    .px-sm-5,
    .container,
    .row,
    .align-items-stretch;
  }
  &__col {
    @extend .pr-md-15,
    .col-md-6,
    .row;
    align-items:last baseline;
    &:nth-child(2) {
      @extend .pl-md-15,
      .mt-15,
      .mt-md-0;
    }
  }
  &__cards {
    @extend .w-100,
    .row,
    .d-flex,
    .align-items-stretch;
  }
  &__card {
    @extend .mb-10,
    .col-6,
    .col-md-3,
    .col-xl-2;
    //
    &_half {
      @extend .col-md-6,
      .col-xl-4;
    }
  }
  &__h3 {
    @extend .mb-15,
    .align-self-baseline;
    font-size: $h5-font-size;
  }
  &__small {
    @extend .ml-5,
    .text-muted;
    font-size: $font-size-base;
  }
  &__h3-link {
    @extend .link_underline;
  }
  //
  &__projects {
    @extend .mt-35,
    .pt-25,
    .pb-35,
    .container-fluid;
    background-color: $gray-lightest;
  }
  &__projects-wrapper {
    @extend .container;
  }
  &__slider {
    @extend .p-0,
    .col-12;
    //
    & .flickity-prev-next-button {      
      width: 4.5rem;
      opacity: 0;
    }
    &:hover .flickity-prev-next-button {
      opacity: .8;
    }
  }
  &__img_slide {
    @extend .mr-5;
    background-position: center;
    width: 20rem;
    height: 17.5rem;
    @include media-breakpoint-up(md) {
      width: calc(1/3*100% - .5rem);
    }
    @include media-breakpoint-up(lg) {
      width: calc(1/4*100% - .5rem);
    }
     @include media-breakpoint-up(xl) {
      width: calc(1/5*100% - .5rem);
    }
  }
}

.card {
  &_image {
    height: 100%;
  }
  &__image {
    padding: 0;
    height: 15rem;
    background-size: contain;
    background-position: 50% 0%;
  }
  &__block {
    background-color: $white;
    transition: $transition-base;
  }
  &:hover &__block {
    background-color: $gray-lightest;
  }
  &__title {
    margin-bottom: 0 !important;
  }
  &__title-link {
    font-weight: $font-weight-bold;
  }
}

.serie-aside-products {
  &__title-link {
    @extend .link_underline;
  }
  //
  &__image {}
  //
  &__title,
  &__text {
    margin-bottom: 10px !important;
  }
  //
  &__text {
    font-size: $font-size-small;
  }
}

//
// ICONS
.card {
  &__angle-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
    }
    &_adjust {
      &-super-spot {
        background-image: $icon-angle-light-adjust-super-spot;
      }
      &-spot {
        background-image: $icon-angle-light-adjust-spot;
      }
      &-medium {
        background-image: $icon-angle-light-adjust-medium;
      }
      &-flood {
        background-image: $icon-angle-light-adjust-flood;
      }
      &-wide {
        background-image: $icon-angle-light-adjust-wide;
      }
      &-focusable {
        background-image: $icon-angle-light-adjust-focusable;
      }
      &-oval-flood {
        background-image: $icon-angle-light-adjust-oval-flood;
      }
    }
    &_fixed {
      &-super-spot {
        background-image: $icon-angle-light-fixed-super-spot;
      }
      &-spot {
        background-image: $icon-angle-light-fixed-spot;
      }
      &-medium {
        background-image: $icon-angle-light-fixed-medium;
      }
      &-flood {
        background-image: $icon-angle-light-fixed-flood;
      }
      &-wide {
        background-image: $icon-angle-light-fixed-wide;
      }
      &-focusable {
        background-image: $icon-angle-light-fixed-focusable;
      }
      &-oval-flood {
        background-image: $icon-angle-light-fixed-oval-flood;
      }
    }
    &_wallwasher {
      background-image: $icon-angle-light-wallwasher;
    }
  }
}
