// SERIE HEADER // is-manager
section(block='serie-header' class='')
  div(elem='serie-title')
    span(elem='small') Серия
    h1(elem='h1') 25W UNE Track Dim
  div(elem='aside' mods='tags')
    div(elem='tags')
      //-
      div(elem='tag')
        p(elem='tag-name') Срок службы 
        p(elem='tag-value') 40 000 часов
      |
      //-
      div(elem='tag')
        p(elem='tag-name') Гарантия
        p(elem='tag-value') 3 года
  div(elem='aside' mods='manager')
    a(elem='info-button' href='#')
      span(elem='warning') Сборная позиция!
      span(elem='info-button-content') Информация для сотрудников