/* SERIE HEADER */

.serie-header {
  @extend .px-15,
  .px-sm-5,
  .pt-25,
  .pb-15,
  .container,
  .d-flex,
  .flex-wrap,
  .justify-content-md-between,
  .align-items-end;
  &__serie-title {
    @extend .mr-md-auto,
    .mb-10,
    .pr-25,
    .d-flex,
    .flex-wrap,
    .align-items-end;
  }
  &__small {
    font-size: $lead-font-size;
    font-weight: $font-weight-light;
    color: $gray-light;    
    line-height: 2.8rem;
  }
  &__h1 {
    @extend .pl-10,
    .text-uppercase;
    font-size: $display3-size;
    font-weight: $font-weight-bold;
    line-height: 3.5rem;
  }
  //
  &__aside {
    @extend .mb-10;
    //
    &_tags {
      @extend .d-md-flex;
    }
    &_manager {
      @extend .d-none;
    }
  }
  // is-manager
  &.is-manager & {
    &__aside {
      &_tags {
        @extend .d-none;
      }
      &_manager {
        @extend .d-flex;
      }
    }
  }
  &__tags {
    @extend .d-none,
    .d-md-flex,
    .flex-wrap;
  }
  &__tag:not(:last-of-type) {
    @extend .mr-35;
  }
  &__tag-name {
    font-size: $font-size-small;
    line-height: 1.5rem;
  }
  &__tag-value {}
  //
  &__info-button {
    @extend .p-0,
    .btn,
    .d-flex,
    .flex-wrap;  
    font-weight: $btn-dft-font-weight;
    line-height: 3.5rem;
  }
  &__warning {
    @extend .px-15,
    .d-inline-flex,
    .bg-warning;
    height: 3.5rem;
  }
  &__info-button-content {    
    @extend .px-15,
    .d-inline-flex,
    .text-uppercase;
    height: 3.5rem;
    background: $gray-lighter;
  }
}
