/* Services */

//
@import "../blocks/tabs/tabs";
//
//
.services {
  @extend .container-fluid;
  //
  &__container {
    @extend .container;
  }
  //
  &__header {
    @extend .display-2;
  }
  //
  &__tabs {
    @extend .mt-10;
    min-height: 51rem;
  }
}

// //
//
// Import ELEMENTS
@import "__tabs/tabs";