// Services
section(block='services')
  div(elem='container')
    h1(elem='header') Наши услуги
    //- TABS
    div(block='tabs' mix='block:services elem:tabs')
      ul(elem='nav' mix='block:services elem:nav' class='nav nav-tabs' role='tablist')
        li(elem='nav-item' class="nav-item")
          a(elem='link' class='nav-link active' data-toggle='tab' role='tab' href='#tab-design') 
            | Светотехническое
            br
            | проектирование
        |
        li(elem='nav-item' class="nav-item")
          a(elem='link' class='nav-link' data-toggle='tab' role='tab' href='#tab-warehouse') 
            | Поставка оборудования
            br
            | со склада
        |
        li(elem='nav-item' class="nav-item")
          a(elem='link' class='nav-link' data-toggle='tab' role='tab' href='#tab-project') 
            | Проектные
            br
            | работы
        |
        li(elem='nav-item' class="nav-item")
          a(elem='link' class='nav-link' data-toggle='tab' role='tab' href='#tab-visualisation') 
            | 3d визуализация
            br
            | объектов
        |
        li(elem='nav-item' class="nav-item")
          a(elem='link' class='nav-link' data-toggle='tab' role='tab' href='#tab-system') 
            | Внедрение систем
            br
            | управления освещением
        |
        li(elem='nav-item' class="nav-item")
          a(elem='link' class='nav-link' data-toggle='tab' role='tab' href='#tab-customising') 
            | Кастомизация
            br
            | оборудования
        |
        li(elem='nav-item' class="nav-item")
          a(elem='link' class='nav-link' data-toggle='tab' role='tab' href='#tab-installation') 
            | Монтажные
            br
            | и&nbsp;пусконаладочные работы
      //- Tab panes
      div(elem='panes' mix='block:services elem:panes' id='js-services__panes' class='tab-content')
        div(elem='pane' class='tab-pane fade show active' role='tabpanel' id='tab-design')
          include __tabs/tab-design.pug
        |
        div(elem='pane' role='tabpanel' class='tab-pane fade' id='tab-warehouse') 
          include __tabs/tab-warehouse.pug
        |
        div(elem='pane' role='tabpanel' class='tab-pane fade' id='tab-project')
          include __tabs/tab-project.pug
        |
        div(elem='pane' role='tabpanel' class='tab-pane fade' id='tab-visualisation') 
          include __tabs/tab-visualisation.pug
        |
        div(elem='pane' role='tabpanel' class='tab-pane fade' id='tab-system') 
          include __tabs/tab-system.pug
        |
        div(elem='pane' role='tabpanel' class='tab-pane fade' id='tab-customising') 
          include __tabs/tab-customising.pug
        |
        div(elem='pane' role='tabpanel' class='tab-pane fade' id='tab-installation') 
          include __tabs/tab-installation.pug