/* thumbnails */

.thumbnails {
  @extend .p-15,
  .d-flex;
  opacity: .9;
  transition: opacity .2s ease;
  background: {
    position: center;
    size: cover;
  }
  //
  &:hover {
    opacity: .99;
  }
  //
  &__name {
    @extend .py-5,
    .px-15,
    .align-self-end,
    .text-uppercase;
    overflow-x: hidden;
    color: $white;
    font-weight: 300;
    background-color: rgba($gray, .6);
    @include border ($white, 2);
    @include hover {
      color: $aledo;
      @include border ($aledo, 2);
    }
    & span {
      display: flex;
      white-space: nowrap;
    }
  }
}
