// SERIE SLIDER
section(block='slider' mix='block:project-slider')
  a(elem='slide' mix='block:project-slider elem:slide mods:[fancybox]' class="carousel-cell" data-fancybox='zoom' href='https://aledo-pro.ru/images/projects/img_5980690891e840_65853130.jpg')
    img(elem='img' src='https://aledo-pro.ru/images/projects/min_img_5980690891e840_65853130.jpg' alt='')
  a(elem='slide' mix='block:project-slider elem:slide mods:[fancybox]' class="carousel-cell" data-fancybox='zoom' data-type="image" href='https://aledo-pro.ru/images/projects/img_5980697314ed73_75777255.jpg')
    img(elem='img' src='https://aledo-pro.ru/images/projects/min_img_5980697314ed73_75777255.jpg' alt='')
  a(elem='slide' mix='block:project-slider elem:slide mods:[fancybox]' class="carousel-cell" data-fancybox='zoom' data-type="image" href='https://aledo-pro.ru/images/projects/img_598069d12d6309_01032879.jpg')
    img(elem='img' src='https://aledo-pro.ru/images/projects/min_img_598069d12d6309_01032879.jpg' alt='')
  a(elem='slide' mix='block:project-slider elem:slide mods:[fancybox]' class="carousel-cell" data-fancybox='zoom' data-type="image" href='https://aledo-pro.ru/images/projects/img_598069f79f3a87_23875670.jpg')
    img(elem='img' src='https://aledo-pro.ru/images/projects/min_img_598069f79f3a87_23875670.jpg' alt='')