/* SERIE SLIDER */

@import "../blocks/slider/slider";
//
//
.project-slider {
  @extend .p-0;
  @include media-breakpoint-up(md) {
    margin-bottom: 7rem;
  }
  height: 43rem;
  background: $gray-lightest;
  &__slide {
    // zoom
    &_fancybox {
      &:after {
        @include after-before();
        top: calc(50% - 7.5rem/2);
        left: calc(50% - 7.5rem/2);             
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        background: {
          color: rgba($white, .5);
          position: center;
          size: 3.6rem;
          repeat: no-repeat;
          image: $icon-arrow-zoom;
        }
        cursor: pointer;
        opacity: 0;
        transition: opacity .2s ease-in-out .2s;
      }
      &:hover:after {
        opacity: 1;
      }
    }
  }
  //
  .flickity {
    &-prev-next-button {
      &[disabled] {
        opacity: 0;
      }
    }
    //
    &-page-dots {
      @extend .py-10,
      .d-none,
      .d-md-block;            
      bottom: -7rem;      
      background: $gray-lighter;
      .dot {
        width: 7.5rem;
        height: 5rem;
        margin: 0 .25rem;
        border-radius: 0;
        opacity: .9;
        box-sizing: content-box;
        border: 3px solid $gray-lighter;
        background: inherit;
        transition: all .2s ease-in-out;
        background: {
          size: cover !important;
          position: center !important;
          repeat: no-repeat;
        }
        &:hover {
          opacity: 1;
          border: 3px solid $gray-lightest;
        }
        &.is-selected {
          background: inherit;
          border: 3px solid $aledo;
        }
      }
    }
  }
}

//
// Fancybox
.fancybox {
  &-show-thumbs &-inner {
    right: 0;
  }
  &-thumbs {
    @extend .d-flex,
    .flex-wrap,
    .justify-content-center;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba($gray-dark,.75);
    &>ul {
      width: initial;
    }
  }
  &-thumbs>ul>li:before {
    border: 3px solid $aledo;
  }
  //
  &-bg {
    background: $gray-dark;
  }
  &-image, &-spaceball {
    @include media-breakpoint-up(md) {
      left: 4rem;
      width: calc(100% - 8rem);
      height: calc(100% - 8rem);
    }
  }
  &-arrow {
    @extend .arrow-btn,
    .arrow-btn-right;
    top: 50%;
    @include media-breakpoint-up(md) {
      top: calc(50% - 4rem);
    }
    opacity: .1;
    &:after {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &[disabled] {
      display: none;
    }
  }
  &-show-nav &-arrow {
    opacity: .2;
    &:hover {
      opacity: .8;
    }
  }
  //
  &-button {
    background-color: transparent;
    &:after,
    &:before {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &:hover:not([disabled]) {
      background-color: transparent;
    }
    &--close {
      background: {
        position: center;
        size: 2rem;
        repeat: no-repeat;
        image: $icon-close;
      } //
      &:hover {
        background: {
          position: center !important;
          size: 2rem !important;
          repeat: no-repeat !important;
          image: $icon-close-hover !important;
        }
      }
    }
  }
}
