/* FOOTER */

.footer {
  @extend .mt-50,
  .pt-35,
  .pb-25;
  left: 0;
  right: 0;
  bottom: 0;
  background: $gray-lighter;
  font-size: $font-size-small;
  //
  &__container {
    @extend .px-25,
    .px-sm-0,
    .container,
    .row,
    .align-items-start;
  }
  //
  &__addresses {
    @extend .px-0,
    .col-6,
    .col-md-3;
    //
    p {
      @extend .mb-15;
      white-space: nowrap;
      //
      &:not(.plus) {
        @extend .pl-5;
      }
    }
  }
  //
  // NAV
  &__navbar {
    @extend .px-10,
    .px-sm-0,
    .col-12,
    .col-sm-5,
    .col-md-8,
    .ml-sm-auto,
    .row,
    .justify-content-between;
  }
  //
  &__col {
    @extend .px-0,
    .col-12,
    .col-md-3,
    .d-flex,
    .flex-column,
    .align-items-start;
    //
    &_site-map {
      @include media-breakpoint-down(md) {
        min-width: 100% !important;
        margin-top: ($spacer * 1.5);
      }
      @include media-breakpoint-up(lg) {
        flex: 0 15%;
      }
    }
  }
  //
  &__header {
    @extend .w-100;
  }
  //
  &__h6 {
    @extend .mb-10,
    .py-10,
    .py-md-0,
    .pr-20,
    .d-inline-block;
    font-weight: $font-weight-bold;
    //
    @include media-breakpoint-down(sm) {
      cursor: pointer;
      position: relative;
      //
      &:after {
        @include after-before();
        width: 0;
        height: 0;
        top: 16px;
        right: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $gray transparent transparent transparent;
      }
    }
    // HOVER
    @include hover {
      color: $gray-dark;
      &:after {
        border-color: $gray-dark transparent transparent transparent;
      }
      &[aria-expanded='true']:after {
        border-color: transparent transparent $gray-dark transparent;
      }
    }
    // SHOW
    &[aria-expanded='true']:after {
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $gray transparent;
    }
  }
  //  
  &__nav.show~&__header:after {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $gray transparent;
  }
  //
  &__nav {
    @extend .p-0;
    list-style: none !important;
    //    
    @include media-breakpoint-up(md) {
      display: block !important;
      height: auto !important;
    }
  }
  //
  &__nav-link {
    @extend .pr-15,
    .mb-5,
    .d-block;
    text-decoration: underline !important;
    //
    &_site-map {
      padding: 0 !important;
      @include media-breakpoint-only(md) {
        flex: 1 100%;
      }
    }
  }
  //
  //
  &__copyright {
    @extend .mt-25,
    .pt-10,
    .w-100;
    @include border-dotted (top);
  }
}
