// FOOTER
footer(block='footer')
  div(elem='container')
    //- ADDRESSES
    div(elem='addresses')
      p
        | 190005,
        br
        | Санкт-Петербург,
        br
        | Измайловский пр., 31/163
        br
        | шоу-рум kaledoscop
      p
        | 115114,
        br
        | Москва,
        br
        | Летниковская ул., 11/10, стр.1
        br
        | 4-й этаж, офис 20
      p
        | Пн-Пт: 10.00-19.00
        br
        | Сб,Вс: выходной
      p
        | Бесплатно по РФ
        br
        | 8 (800) 555 56 72
      p.plus
        | +7 (812) 448 58 49 СПБ
        br
        | +7 (499) 703 24 42 МСК
    |
    //- NAV
    nav(elem='navbar' id='footer__navbar' role="tablist" aria-multiselectable="true")
      div(elem='col')
        div(elem='header' data-toggle="collapse" data-parent="#footer__navbar" data-target="#footer__nav_to-clients" aria-expanded="true" role="tab") 
          h6(elem='h6') Клиентам
        |
        ul(elem='nav' mods='to:clients' id='footer__nav_to-clients' class="collapse show" role="tabpanel" aria-labelledby="footer__header_to-clients")
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Профессиональные даунлайты Skill
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Каталог
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Услуги и решения
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Партнёрам
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Cервис aledo-pro
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Сервис и гарантия
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Оплата и доставка
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Архив товаров
      |
      div(elem='col')
        div(elem='header' data-toggle="collapse" data-parent="#footer__navbar" data-target="#footer__nav_about-us" aria-expanded="false" role="tab") 
          h6(elem='h6') О нас
        |
        ul(elem='nav' mods='about:us' id='footer__nav_about-us' class="collapse" role="tabpanel" aria-labelledby="footer__header_about-us")
          li(elem='nav-item') 
            a(elem='nav-link' href='#') О компании
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Работа у нас
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Отзывы
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Проекты
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Производители
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Преимущества
      |
      div(elem='col')
        div(elem='header' data-toggle="collapse" data-parent="#footer__navbar" data-target="#footer__nav_downloads" aria-expanded="false" role="tab") 
          h6(elem='h6') Скачать
        |
        ul(elem='nav' mods='downloads' id='footer__nav_downloads' class="collapse" role="tabpanel" aria-labelledby="footer__header_downloads")
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Инструкции
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Сертификаты
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Каталоги
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Брошюры
          li(elem='nav-item') 
            a(elem='nav-link' href='#') Архив 3D моделей
      |
      div(elem='col' mods='site:map')
        a(elem='nav-link' mods='site:map' href='/sitemap') Карта сайта
        a(elem='nav-link' mods='site:map' href='/cabinet') Личный кабинет
    |
    //-
    div(elem='copyright')
      | Сайт содержит материалы, охраняемые авторским правом, и&nbsp;средства индивидуализации. Любое использование без согласования с&nbsp;правообладателем запрещено.