// service warehouse
div(elem='pane-content')
  h3(elem='pane-header') Светотехническое проектирование
  div(elem='pane-body')
    p(elem='pane-lead' mods='padding-bottom') 
      | Мы&nbsp;профессионально проектируем освещение в&nbsp;магазинах, ресторанах и&nbsp;кафе, офисах, музеях и&nbsp;частных апартаментах.
    |
    p(elem='pane-desc')
      | В&nbsp;рамках стандартного светотехнического проекта мы&nbsp;готовим следующие материалы:
    |
    ul(elem='list')
      li Расчет освещения в&nbsp;среде Dialux.
      li Расстановка оборудования в&nbsp;AutoCAD, PDF.
      li Подготовка спецификаций.
    |
    div(elem='pane-links')
      p(elem='pane-h4') Примеры наших проектных работ
      a(elem='pane-link' href='#') Все проекты
      //-
      a(elem='pane-col' class='js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle="modal" data-target="#js-solutions-cinema-sample-modal" href='#')
        div(elem='pane-img' mix='block:thumbnails' style='background-image: url(img/sc-project.png);')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span КИНОТЕАТР «ФОРМУЛА КИНО» В ТРЦ «ОКЕАНИЯ»
      //-
      a(elem='pane-col' class='js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle="modal" data-target="#js-solutions-cinema-sample-modal" href='#')
        div(elem='pane-img' mix='block:thumbnails' style='background-image: url(img/002.jpg);')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span МИНИМАРКЕТ «АВ DAILY»