// service warehouse
div(elem='pane-content')
  h3(elem='pane-header') Поставка оборудования со&nbsp;склада
  div(elem='pane-body')
    p(elem='pane-desc')
      | На&nbsp;сегодняшний день на&nbsp;нашем складе находится десятки тысяч светодиодных светильников и&nbsp;ламп, а&nbsp;также других компонентов для светодиодных систем освещения, поэтому мы&nbsp;готовы отгрузить вам нужное оборудование в&nbsp;течение нескольких дней после оплаты счета.
    |
    div(elem='pane-info')
      div(elem='info-wrap')
        span(elem='info-count') 836&nbsp;189
        span(elem='info-block')
          p(elem='info-date') на 18.05.2017 14:46 (GMT+3)
          p(elem='info-desc') 
            | единиц товара
            br
            |на&nbsp;складе
    |
    p(elem='pane-lead' mods='warehouse') 
      | Подробную информацию по&nbsp;оборудованию, которое входит в&nbsp;складскую программу вы&nbsp;можете посмотреть в&nbsp;каталоге.
    |
    //- LINK
    a(elem='pane-btn' mods='sm:down' href='#') Перейти в каталог