// service installation
div(elem='pane-content')
  h3(elem='pane-header') Монтажные и&nbsp;пусконаладочные работы
  div(elem='pane-body')
    p(elem='pane-lead' mods='padding-bottom') 
      | Наша компания осуществляет установку светотехнического и&nbsp;электротехнического оборудования:
    |
    ul(elem='list')
      li Установка осветительных приборов.
      li Монтаж систем управления освещением, щитового оборудования.
      li Электромонтажные работы.
    |
    div(elem='pane-links')
      p(elem='pane-h4') Наши проекты
      a(elem='pane-link' href='#') Все проекты
      //-
      div(elem='pane-slider')
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span Бутик «SPAZIO»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/002.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span Продуктовый супермаркет «Перекресток»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/001.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span Бутик «SPAZIO»
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/003.jpg);' class='carousel-cell js-toggler' id='js-solutions-cinema-sample-modal-toggler' data-toggle='modal' data-target='#js-solutions-cinema-sample-modal' href='#')
          span(elem='pane-name' mix='block:thumbnails elem:name') 
            span ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»