// service warehouse
div(elem='pane-content')
  h3(elem='pane-header') 3D-визуализация объектов
  div(elem='pane-body')
    p(elem='pane-lead' mods='padding-bottom') 
      | Для качественной презентации светотехнических решений, в&nbsp;особенности архитектурных, мы&nbsp;готовим визуальные материалы:
    |
    ul(elem='list')
      li Разработка моделей в&nbsp;3ds Max.
      li Рендеринг.
      li Визуализация динамических сценариев освещения.
    |
    div(elem='pane-links')
      p(elem='pane-h4' mods='without:link') Примеры наших визуализаций
      //-
      div(elem='pane-slider')
        //-
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/viz_01.jpg);' class='carousel-cell js-toggler' data-fancybox="gallery" href="img/viz_01.jpg")
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/viz_02.jpg);' class='carousel-cell js-toggler' data-fancybox="gallery" href="img/viz_02.jpg")
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/viz_03.jpg);' class='carousel-cell js-toggler' data-fancybox="gallery" href="img/viz_03.jpg")
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/viz_04.jpg);' class='carousel-cell js-toggler' data-fancybox="gallery" href="img/viz_04.jpg")
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/viz_05.jpg);' class='carousel-cell js-toggler' data-fancybox="gallery" href="img/viz_05.jpg")
        a(elem='pane-img' mods='slide' mix='block:thumbnails' style='background-image: url(img/viz_06.jpg);' class='carousel-cell js-toggler' data-fancybox="gallery" href="img/viz_06.jpg")
          