// service customising
div(elem='pane-content')
  h3(elem='pane-header') Кастомизация оборудования
  div(elem='pane-body')
    p(elem='pane-lead' mods='padding-bottom') 
      | Зачастую, в&nbsp;проектной работе мы&nbsp;сталкиваемся с&nbsp;нестандартными задачами пожеланиями заказчиков и&nbsp;партнеров, поэтому мы&nbsp;стараемся гибко подходить к&nbsp;решению задач различных:
    |
    ul(elem='list')
      li Осуществляем покраску приборов по&nbsp;палитре RAL.
      li Установливаем специализированные источники света.
      li Подбираем оптические аксессуаров &laquo;под задачу проекта&raquo; и&nbsp;дорабатываем световые приборы.
    |
    div(elem='pane-scroller')
      div(elem='pane-img' mods='scroller' mix='block:thumbnails' style='background-image: url(img/services-customising-01.png);' class='carousel-cell')
      div(elem='pane-img' mods='null' class='carousel-cell')