/* solutions-lines-system */

.solutions-lines-system {
  //
  @extend .mt-50,
  .container;
  //
  &__header {
    @extend .display-3,
    .col-12,
    .text-center;
    color: $gray-light;
  }
  //
  &__system-row {
    @extend .mt-35,
    .d-flex,
    .flex-column,
    .flex-md-row,
    .justify-content-between;
  }
  //
  &__system-item {
    @extend .mb-15,
    .mb-md-0,
    .pb-15,
    .pb-md-0,
    .text-center;
    position: relative;
    @include media-breakpoint-down(sm) {
      @include border-dotted(bottom);
    }
  }
  //
  &__devider {
    @extend .d-none,
    .d-md-block;
    width: 1.5rem;
    height: 5rem;
    background: {
      size: 100%;
      position: center;
      repeat: no-repeat;
      image: $icon-dotted-slash;
    }
  }
}
