// solutions-lines-system
section(block='solutions-lines-system')
  div(elem='header')
    | Мы&nbsp;разработаем, произведем и&nbsp;установим линейную систему 
    br
    | для решения практически любых ваших задач
  |
  div(elem='system-row')
    div(elem='system-item')
      | Встраиваемые, накладные
      br
      | и подвесные конструкции
    |
    div(elem='devider')
    |
    div(elem='system-item')
      | Цветовая температура
      br
      | от 3000 К до 6000 К
    |
    div(elem='devider')
    |
    div(elem='system-item')
      | Световой поток
      br
      | от 100 до 4000 лм/п.м.
    |
    div(elem='devider')
    |
    div(elem='system-item')
      | Гарантия
      br
      | от 3 до 5 лет