// COMPONENTS
//
// Import
@import "_components/links";
@import "_components/arrows";
@import "_components/icons_angles";
//
//
//
p {
  margin-top: 0;
  margin-bottom: 0;
}

//
a:focus {
  outline: 0;
}

//
// CONTAINER 
.container {
  @include make-container();
  @include make-container-max-widths();
}

.display-5 {
  font-size: $display5-size;
  font-weight: $display5-weight;
  line-height: $display-line-height;
}

// LEAD
.lead {
  font: {
    size: $lead-font-size;
    weight: $lead-font-weight;
  }
  line-height: 1.5;
}

// LIST 
.list {
  @extend .pl-25,
  .list-unstyled;
  line-height: 1.5;
  & li {
    @extend .mb-5;
    position: relative;
    &:before {
      @include after-before();
      top: .75rem;
      left: -2.5rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: $aledo;
    }
  }
}

// BTNs
.btn-dft {
  @extend .btn,
  .text-uppercase;
  background: $btn-dft-background;
  color: $btn-dft-color;
  font-weight: $btn-dft-font-weight;
  @include border ($btn-dft-background);
  @include transition($transition-base);
  cursor: pointer;
  @include hover {
    background: $btn-dft-hover-background;
    color: $btn-dft-hover-color;
    @include border ($btn-dft-hover-background);
  }
  //
  &:disabled {
    opacity: 1;
    background: $btn-dft-disabled-bg;
    @include border ($btn-dft-disabled-bg);
    @include hover {
      color: $btn-dft-color;
    }
  }
  //
  &_inverted {
  @extend .btn,
    .text-uppercase;
    background: $btn-dft-hover-background;
    color: $btn-dft-color;
    font-weight: $btn-dft-font-weight;
    @include transition($transition-base);
    @include border ($btn-dft-hover-background);
    @include hover {
      background: $btn-dft-background;
      color: $btn-dft-color;
      @include border ($btn-dft-background);
    }
  }
}

.btn-nav {
  @extend .btn,
  .text-uppercase;
  background: $btn-nav-background;
  color: $btn-nav-color;
  font-weight: $btn-nav-font-weight;
  white-space: normal;
  @include transition($transition-base);
  cursor: pointer;
  @include hover {
    background: $btn-nav-hover-background;
  }
}

.btn-border {
  @extend .btn,
  .text-uppercase;
  background-color: transparent;
  color: $btn-border-color;
  font-weight: $btn-border-font-weight;
  @include border ($btn-border-color, $size: 2);
  @include transition($transition-base);
  cursor: pointer;
  @include hover {
    color: $btn-border-hover-color;
    @include border ($btn-border-hover-color, $size: 2);
  }
}

//
.custom-control {
  min-height: (1.6rem * $line-height-base);
}

//
.checkbox {
  &-label {
    @extend .custom-control,
    .custom-checkbox;
    padding-left: ($spacer * 2.5);
  }
  &-input {
    @extend .custom-control-input;
  }
  &-indicator {
    @extend .custom-control-indicator;
  }
  &-description {
    @extend .custom-control-description;
  }
}

// Fixed
//
.js-fixed {
  overflow: hidden;
}

//
// FADE
//
.transition-fade {
  opacity: 1 !important;
  @include transition($transition-fade);
}

//
//
.fade {
  opacity: 0;
  @include transition($transition-fade);
  &.show {
    opacity: 1;
  }
}

// COLLAPSE
//
.collapse {
  display: none;
  &.show {
    display: block;
  }
}

// fix
.collapse {
  visibility: visible !important;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

// CARD-DECK
.card-deck {
  display: flex;
  flex-flow: row wrap;
  .card {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    &:not(:first-child) {
      margin-left: $card-deck-margin;
    }
    &:not(:last-child) {
      margin-right: $card-deck-margin;
    }
  }
}

// Tabbable tabs
//
.tab-content {
  >.tab-pane {
    display: none;
  }
  >.active {
    display: flex;
  }
}

// Popover directions
.popover {
  &.bs-popover-top {
    margin-bottom: ($popover-arrow-width + 3);
    .arrow::before {
      bottom: -($popover-arrow-outer-width + 3);
      margin-left: -($popover-arrow-outer-width - 3);
    }
    .arrow::after {
      bottom: -($popover-arrow-outer-width - 2);
      margin-left: -($popover-arrow-outer-width - 3);
    }
  }
  &.bs-popover-bottom {
    margin-top: ($popover-arrow-width + 3);
    .arrow::before {
      top: -($popover-arrow-outer-width + 3);
      margin-left: -($popover-arrow-outer-width - 3);
    }
    .arrow::after {
      top: -($popover-arrow-outer-width - 2);
      margin-left: -($popover-arrow-outer-width - 3);
    }
  }
}

// ? BUTTON
.info-btn {
  position: absolute;
  padding: 0;
  right: -2.5rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  color: $gray-light;
  font-weight: 700;
  line-height: 1.75rem;
  @include border($gray-light, 1.5);
  cursor: pointer;
  transition: $transition-base;
  &:hover {
    color: $gray;
    @include border($gray, 1.5);
  }
  &:focus {
    outline: none;
    color: $aledo;
    @include border($aledo, 1.5);
  }
}
