// Colors
$white:                     #ffffff;
//
// Create grayscale
$gray-dark:                 #262425;
$gray:                      #615C5E;
$gray-light:                #A4A5A6;
$gray-back:                 #CACBCC;
$gray-lighter:              #DBDDDC;
$gray-lightest:             #EFF0F0;

// Create aledo colors
$aledo-dark:                 #918F61;
$aledo:                      #D1D639;
$aledo-light:                #E0E39E;
$aledo-lighter:              #EEF4CB;
$aledo-lightest:             #EEF3E1;

$theme-colors: (
  primary: $aledo,
  secondary: $gray-light,
  success: $aledo-light,
  info: $aledo-lightest,
  warning: #EDCACE,
  danger: $red,
  light: $gray-lightest,
  dark: $gray-dark
);

// Matrix color
$matrix-snowhite: #c7d9f0;   
$matrix-aroma: #ead11f;   
$matrix-ruby: #ebb;   
$matrix-mela: #e9c5de;

// COLOR TEMPERATURE
$warmer: #F0D775;
$warm: #FFF5BF;
$neutral: #DFE0E0;
$cold: #D1F4F9;
$colder: #8EEDF1;

// Options
//
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;

// Spacing
//

$spacer:   1rem;
$spacers: (
  0:   0,
  5:   ($spacer * .5),
  10:  ($spacer * 1),
  15:  ($spacer * 1.5),
  20:  ($spacer * 2),
  25:  ($spacer * 2.5),
  30:  ($spacer * 3),
  35:  ($spacer * 3.5),
  50:  ($spacer * 5),
  75:  ($spacer * 7.5),
  100: ($spacer * 10)
);

$px: ($spacer / 10);
$border-width: 1px;
$border-color: $gray-light;

// Body
//

$body-bg:       $white;
$body-color:    $gray;

// Links
//

$link-color:            $gray;
$link-decoration:       none;
$link-hover-color:      $gray-dark;
$link-hover-decoration: none;

// Grid columns
//

$grid-columns:               12;
$grid-gutter-width:          10px;

// Fonts
//
$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", sans-serif;
$font-family-base:       $font-family-sans-serif;

// Make REM `10px`
$rem: 10;

$font-size-base: 1.4rem; 

$font-size-small: 1.2rem;
$font-size-lg:   1.4rem;
$font-size-sm:   1.4rem;
$font-size-xs:   1.4rem;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.43;

$small-font-size: 71%;

$text-muted: $gray-light;

$h1-font-size: 4.5rem;
$h2-font-size: 3.4rem;
$h3-font-size: 2.4rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;

$headings-margin-bottom: 0;
$headings-font-family:   inherit;
$headings-font-weight:   300;
$headings-line-height:   1.325;
$headings-color:         inherit;

$display1-size: 4.5rem;
$display2-size: 3.4rem;
$display3-size: 2.4rem;
$display4-size: 1.8rem;
$display5-size: 1.6rem;

$display1-weight:     300;
$display2-weight:     300;
$display3-weight:     300;
$display4-weight:     300;
$display5-weight:     300;
$display-line-height: $headings-line-height;

$lead-font-size:   1.6rem;
$lead-font-weight: 400;

// Components
//
$transition-base:        all .2s ease-in-out;
$transition-link:        all .1s ease;
$transition-fade:        opacity .15s linear;
$transition-collapse:    height .35s ease;
$transition-collapse-x:  width .25s ease-out;

// Z-index master list
//
$zindex-dropdown-backdrop:  990;
$zindex-navbar:             1000;
$zindex-dropdown:           1000;
$zindex-fixed:              1030;
$zindex-sticky:             1030;
$zindex-modal-backdrop:     1040;
$zindex-modal:              1050;
$zindex-popover:            1060;
$zindex-tooltip:            1070;
$zindex-header:             1030;

// Navbar
//
$navbar-padding-x:                  0rem;
$navbar-padding-y:                  0rem;

$navbar-brand-padding-y:            0rem;
$navbar-light-color:                $gray;
$navbar-light-hover-color:          $gray-dark;
$navbar-light-hover-background:     rgba($gray, .2);
$navbar-light-active-color:         $gray-dark;
$navbar-light-disabled-color:       $gray-light;

// Buttons
//
$btn-dft-background: $gray;
$btn-dft-color: $white;
$btn-dft-font-weight: 700;
$btn-dft-hover-background: $aledo;
$btn-dft-hover-color: $gray;
$btn-dft-disabled-bg: $gray-lighter;

$btn-nav-background: $gray-lightest;
$btn-nav-color: $gray;
$btn-nav-font-weight: 400;
$btn-nav-hover-background: $gray-lighter;

$btn-border-color: $gray;
$btn-border-font-weight: 700;
$btn-border-hover-color: $aledo;

$btn-box-shadow:                 none;
$btn-focus-box-shadow:           none;
$btn-focus-box-shadow:           none;
$btn-active-box-shadow:          none;

// Forms

$input-padding-x:                ($spacer * 1.5);
$input-padding-y:                $spacer;
$input-line-height:              1.25;

$input-bg:                       lighten($gray-light, 25%);
$input-bg-disabled:              $gray-lightest;

$input-color:                    $gray-dark;
$input-border-color:             rgba($gray-dark,.15);
$input-btn-border-width:         $border-width; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba($gray-dark,.075);

$input-border-radius:            $border-radius;
$input-border-radius-lg:         $border-radius-lg;
$input-border-radius-sm:         $border-radius-sm;

$input-focus-bg:                 $gray-lightest;
$input-focus-border-color:       $gray-dark;
$input-focus-box-shadow:         $input-box-shadow, $btn-focus-box-shadow;
$input-focus-color:              $input-color;

$input-color-placeholder:        $gray-light;

$input-padding-x-sm:             1.5rem;
$input-padding-y-sm:             1rem;

$input-padding-x-lg:             1.5rem;
$input-padding-y-lg:             1rem;

$input-height:                   (($font-size-base * $input-line-height) + ($input-padding-y * 2));
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2));
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2));

// Custom
$custom-control-gutter:   2.4rem;
$custom-control-spacer-x: 0;
$custom-control-spacer-y: .4rem;

$custom-control-indicator-size:       ($spacer * 1.5);
$custom-control-indicator-margin-y:   (($line-height-base * .625rem) - $custom-control-indicator-size) / -2;
$custom-control-indicator-bg:         $gray-lighter;
$custom-control-indicator-bg-size:    100%;
$custom-control-indicator-box-shadow: inset 0 .35rem .35rem rgba($gray-dark,.1);

$custom-control-indicator-disabled-bg:       $gray-lighter;
$custom-control-description-disabled-color:  $gray-light;

$custom-control-indicator-checked-color:      $gray;
$custom-control-indicator-checked-bg:         $aledo-lighter;
$custom-control-indicator-checked-box-shadow: none;

$custom-control-indicator-focus-box-shadow: none;

$custom-control-indicator-active-color:      $white;
$custom-control-indicator-active-bg:         $aledo;
$custom-control-indicator-active-box-shadow: none;

$custom-checkbox-indicator-border-radius: $border-radius;
$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$aledo-lightest};}.b{fill:#{$gray};}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M12.31,0,6.43,5.79l-3.06-3L.62,5.48l5.84,5.75L15,2.8V15H0V0Z'/%3E%3Cpath class='b' d='M6.43,9.64,2.14,5.42,3.36,4.22l3.06,3L13.77,0,15,1.21S9.28,6.63,6.43,9.64Z'/%3E%3C/svg%3E"), "#", "%23");

$custom-checkbox-indicator-indeterminate-bg: $aledo;
$custom-checkbox-indicator-indeterminate-box-shadow: none;
    
// Modals

// Padding applied to the modal body
$modal-inner-padding:         ($spacer * 1.5);

$modal-dialog-margin:         0;
$modal-dialog-sm-up-margin-y: ($spacer * 3.5);

$modal-title-line-height:     $line-height-base;

$modal-content-bg:               $white;
$modal-content-border-color:     $aledo;
$modal-content-border-width:     5px;
$modal-content-xs-box-shadow:    none;
$modal-content-sm-up-box-shadow: none;

$modal-backdrop-bg:           $gray;
$modal-backdrop-opacity:      .75;
$modal-header-border-color:   $gray-lighter;
$modal-footer-border-color:   $modal-header-border-color;
$modal-header-border-width:   0;
$modal-footer-border-width:   0;
$modal-header-padding:        ($spacer * 1.5);

$modal-lg:                    800px;
$modal-md:                    500px;
$modal-sm:                    100%;

$modal-transition:            transform .3s ease-out;

// Dropdowns
//
$dropdown-min-width:             2rem;
$dropdown-padding-y:             .5rem;
$dropdown-margin-top:            ($px * 2);
$dropdown-bg:                    $gray-lightest;
$dropdown-border-color:          rgba($gray-dark,.15);
$dropdown-border-width:          0;
$dropdown-divider-bg:            $gray-lighter;
$dropdown-box-shadow:            none;

$dropdown-link-color:            $gray-dark;
$dropdown-link-hover-color:      darken($gray-dark, 5%);
$dropdown-link-hover-bg:         $gray-lightest;

$dropdown-link-active-color:     $component-active-color;
$dropdown-link-active-bg:        rgba($gray, .2);

$dropdown-link-disabled-color:   $gray-light;

$dropdown-item-padding-x:        1.5rem;

$dropdown-header-color:          $gray-light;

// Navs

$nav-link-padding-y:            1rem;
$nav-link-padding-x:            1.5rem;
$nav-link-disabled-color:       $gray-lightest;

$nav-tabs-border-color:                       $gray-lighter;
$nav-tabs-border-width:                       $border-width;
$nav-tabs-border-radius:                      $border-radius;
$nav-tabs-link-hover-border-color:            $gray-lighter;
$nav-tabs-link-active-color:                  $gray;
$nav-tabs-link-active-bg:                     $aledo-light;
$nav-tabs-link-active-border-color:           $gray-lighter;


// Badges

$badge-default-bg:            $aledo;

$badge-color:                 $gray;
$badge-link-hover-color:      $white;
$badge-font-size:             100%;
$badge-font-weight:           $font-weight-bold;
$badge-padding-x:             .4rem;
$badge-padding-y:             .25rem;

// Cards

$card-spacer-x:            ($spacer * 1.5);
$card-spacer-y:            ($spacer * 1.5);
$card-border-width:        0;
$card-border-radius:       $border-radius;
$card-border-color:        rgba($gray-dark,.125);
$card-border-radius-inner: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg:              $gray-lightest;
$card-bg:                  $white;

$card-link-hover-color:    $white;

$card-img-overlay-padding: 1.25rem;

$card-deck-margin:          ($grid-gutter-width / 2);

$card-columns-count:        3;
$card-columns-gap:          1.25rem;
$card-columns-margin:       $card-spacer-y;

// Popovers

$popover-inner-padding:               1px;
$popover-bg:                          $white;
$popover-max-width:                   200px;
$popover-border-width:                3px;
$popover-border-color:                $aledo;
$popover-box-shadow:                  none;

$popover-header-bg:                    $popover-bg;
$popover-header-padding-x:             15px;
$popover-header-padding-y:             10px;

$popover-body-padding-x:           15px;
$popover-body-padding-y:           10px;

$popover-arrow-width:                 10px;
$popover-arrow-height:                5px;
$popover-arrow-color:                 $popover-bg;

$popover-arrow-outer-width:           ($popover-arrow-width + 3px);
$popover-arrow-outer-color:           $popover-border-color;

//
// ICONS
$icon-loader: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='100' height='100' fill='none' class='bk'%3E%3C/rect%3E%3Ccircle cx='50' cy='50' r='40' stroke='#eff0f0' fill='none' stroke-width='10' stroke-linecap='round'%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='40' stroke='#d1d639' fill='none' stroke-width='6' stroke-linecap='round'%3E%3Canimate attributeName='stroke-dashoffset' dur='2s' repeatCount='indefinite' from='0' to='502'%3E%3C/animate%3E%3Canimate attributeName='stroke-dasharray' dur='2s' repeatCount='indefinite' values='150.6 100.4;1 250;150.6 100.4'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E"), "#", "%23");

$icon-user: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='7.38' cy='3.5' r='2.75'/%3E%3Cpath class='a' d='M.75,14.25v-2.8A10,10,0,0,1,7.5,8.75a10,10,0,0,1,6.75,2.7v2.8Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-user-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray-light};stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='7.38' cy='3.5' r='2.75'/%3E%3Cpath class='a' d='M.75,14.25v-2.8A10,10,0,0,1,7.5,8.75a10,10,0,0,1,6.75,2.7v2.8Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-user-logged: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$aledo};stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='7.38' cy='3.5' r='2.75'/%3E%3Cpath class='a' d='M.75,14.25v-2.8A10,10,0,0,1,7.5,8.75a10,10,0,0,1,6.75,2.7v2.8Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-shop: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}.b{fill:none};%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='0 0.75 2.53 0.75 5.41 12.84 12.78 12.84'/%3E%3Cpolygon class='a b' points='3.19 3.54 13.88 3.54 12.78 9.56 4.63 9.56 3.19 3.54'/%3E%3Cline class='a' x1='6.33' y1='12.84' x2='6.33' y2='15'/%3E%3Cline class='a' x1='10.56' y1='12.84' x2='10.56' y2='15'/%3E%3C/svg%3E"), "#", "%23");

$icon-shop-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}.b{fill:#{$gray-light};}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='0 0.75 2.53 0.75 5.41 12.84 12.78 12.84'/%3E%3Cpolygon class='a b' points='3.19 3.54 13.88 3.54 12.78 9.56 4.63 9.56 3.19 3.54'/%3E%3Cline class='a' x1='6.33' y1='12.84' x2='6.33' y2='15'/%3E%3Cline class='a' x1='10.56' y1='12.84' x2='10.56' y2='15'/%3E%3C/svg%3E"), "#", "%23");

$icon-shop-full: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}.b{fill:#{$aledo};}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='0 0.75 2.53 0.75 5.41 12.84 12.78 12.84'/%3E%3Cpolygon class='a b' points='3.19 3.54 13.88 3.54 12.78 9.56 4.63 9.56 3.19 3.54'/%3E%3Cline class='a' x1='6.33' y1='12.84' x2='6.33' y2='15'/%3E%3Cline class='a' x1='10.56' y1='12.84' x2='10.56' y2='15'/%3E%3C/svg%3E"), "#", "%23");

$icon-menu: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cline class='a' y1='2.25' x2='15' y2='2.25'/%3E%3Cline class='a' y1='7.5' x2='15' y2='7.5'/%3E%3Cline class='a' y1='12.75' x2='15' y2='12.75'/%3E%3C/svg%3E"), "#", "%23");

$icon-close: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='0.63' y1='14.38' x2='14.38' y2='0.63'/%3E%3Cline class='a' x1='14.37' y1='14.38' x2='0.63' y2='0.62'/%3E%3C/svg%3E"), "#", "%23");

$icon-close-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='0.63' y1='14.38' x2='14.38' y2='0.63'/%3E%3Cline class='a' x1='14.37' y1='14.38' x2='0.63' y2='0.62'/%3E%3C/svg%3E"), "#", "%23");

$icon-close-hover-dark: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray-dark};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='0.63' y1='14.38' x2='14.38' y2='0.63'/%3E%3Cline class='a' x1='14.37' y1='14.38' x2='0.63' y2='0.62'/%3E%3C/svg%3E"), "#", "%23");

$icon-phone: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray};}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M14,15A14.5,14.5,0,0,1,0,1,1,1,0,0,1,1,0H3.23a1,1,0,0,1,1,.76l.74,3a1,1,0,0,1-.22.9L3.17,6.43c1.48,2.79,3.17,4.71,5.7,5.79l1.91-1.76a1,1,0,0,1,.95-.23l2.54.71a1,1,0,0,1,.73,1V14A1,1,0,0,1,14,15Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-search: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='14.5' y1='14.5' x2='10' y2='10'/%3E%3Ccircle class='a' cx='6.15' cy='6.15' r='5.35'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='6.61 0.75 13.75 7.5 6.61 14.25'/%3E%3Cline class='a' x1='13.5' y1='7.5' y2='7.5'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-large: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 50'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='25.75 49.5 1.25 25 25.75 0.5'/%3E%3Cline class='a' x1='1.5' y1='25' x2='59.5' y2='25'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-large-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 50'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='25.75 49.5 1.25 25 25.75 0.5'/%3E%3Cline class='a' x1='1.5' y1='25' x2='59.5' y2='25'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-left: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.5 35'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='17 34.5 1 17.5 17 0.5'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-right: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.5 35'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='0.5 0.5 16.5 17.5 0.5 34.5'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-top: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 17.5'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='0.5 16.75 17.5 0.75 34.5 16.75'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-bottom: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 17.5'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='34.5 0.75 17.5 16.75 0.5 0.75'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-big-dotted-bottom: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 45.7'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{fill:none;stroke:#{$aledo};stroke-miterlimit: 10}.a{stroke-dasharray:2 2;}.b{stroke-width:3px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='13.97' x2='13.97' y2='43.3'/%3E%3Cpolyline class='b' points='26.73 30.6 13.93 43.3 1.23 30.6'/%3E%3C/svg%3E"), "#", "%23");

$icon-arrow-zoom: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='20.5 35.5 0.5 35.5 0.5 15.5'/%3E%3Cpolyline class='a' points='15.5 0.5 35.5 0.5 35.5 20.5'/%3E%3Cline class='a' x1='0.5' y1='35.5' x2='35.25' y2='0.75'/%3E%3C/svg%3E"), "#", "%23");

$icon-more: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray}}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M1,8.5a1,1,0,0,1-1-1H0a1,1,0,0,1,2,0H2A1,1,0,0,1,1,8.5Z'/%3E%3Cpath class='a' d='M7.5,8.5a1,1,0,0,1-1-1h0a1,1,0,0,1,2,0h0A1,1,0,0,1,7.5,8.5Z'/%3E%3Cpath class='a' d='M14,8.5a1,1,0,0,1-1-1h0a1,1,0,0,1,2,0h0A1,1,0,0,1,14,8.5Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-bullet: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$aledo};}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='5' cy='5' r='5'/%3E%3C/svg%3E"), "#", "%23");

$icon-check: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$aledo};}.b{fill:#{$white};}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M7.49,13.6l-5-4.92,1.42-1.4,3.57,3.5,8.57-8.42,1.43,1.41S10.82,10.09,7.49,13.6Z'/%3E%3Cpath class='b' d='M16.06,2.36l1.43,1.41s-6.67,6.32-10,9.83l-5-4.92,1.42-1.4,3.57,3.5,8.57-8.42m0-2.1L7.48,8.68,3.91,5.18.35,8.68l7.18,7.06,12.12-12L16.06.26Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-map: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 25'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='8' cy='7.95' r='2.96'/%3E%3Cpath class='a' d='M15.25,8.25c0,4-7.25,15.33-7.25,15.33S.75,12.25.75,8.25a7.25,7.25,0,0,1,14.5,0Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-plus: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-width:2px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='17.5' x2='17.5' y2='35'/%3E%3Cline class='a' y1='17.5' x2='35' y2='17.5'/%3E%3C/svg%3E"), "#", "%23");

$icon-plus-small: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='5' x2='5' y2='10'/%3E%3Cline class='a' y1='5' x2='10' y2='5'/%3E%3C/svg%3E"), "#", "%23");

$icon-plus-small-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray-dark};stroke-width:1px;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='5' x2='5' y2='10'/%3E%3Cline class='a' y1='5' x2='10' y2='5'/%3E%3C/svg%3E"), "#", "%23");

$icon-minus-small: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1px;}%3C/style%3E%3C/defs%3E%3Cline class='a' y1='5' x2='10' y2='5'/%3E%3C/svg%3E"), "#", "%23");

$icon-minus-small-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray-dark};stroke-width:1px;}%3C/style%3E%3C/defs%3E%3Cline class='a' y1='5' x2='10' y2='5'/%3E%3C/svg%3E"), "#", "%23");

$icon-dotted-slash: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 50'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$gray};stroke-width:1px;stroke-dasharray:1.5 2;}%3C/style%3E%3C/defs%3E%3Cline class='a' x1='13.7' y1='2.82' x2='0.98' y2='46.44'/%3E%3C/svg%3E"), "#", "%23");

$icon-plus-pattern: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$white};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cline class='a' y1='2.5' x2='5' y2='2.5'/%3E%3Cline class='a' x1='2.5' y1='5' x2='2.5'/%3E%3C/svg%3E"), "#", "%23");

$icon-scroll-down: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 35'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;stroke:#{$aledo};stroke-width:1.5px;}%3C/style%3E%3C/defs%3E%3Cpolyline class='a' points='0.5 0.5 37.5 34 74.5 0.5'/%3E%3C/svg%3E"), "#", "%23");

$img-holder: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray-lightest};}.a{fill:#{$gray-lighter};}%3C/style%3E%3C/defs%3E%3Crect class='a' width='100' height='100'/%3E%3Cpath class='b' d='M52.7,50.36c-.31.06-.63.12-1,.16l-1,.14a3.84,3.84,0,0,0-.93.26,1.69,1.69,0,0,0-.67.51,1.42,1.42,0,0,0-.26.9A1.23,1.23,0,0,0,49,53a1.27,1.27,0,0,0,.4.42,1.61,1.61,0,0,0,.59.23,3.14,3.14,0,0,0,.67.07,3.58,3.58,0,0,0,1.29-.21,2.65,2.65,0,0,0,.88-.52,2,2,0,0,0,.48-.68,1.72,1.72,0,0,0,.16-.69V50a1.88,1.88,0,0,1-.75.31ZM54.83,55a1.3,1.3,0,0,1-.94-.33,1.44,1.44,0,0,1-.35-1.08,3.63,3.63,0,0,1-1.46,1.08,4.79,4.79,0,0,1-1.8.33,5.08,5.08,0,0,1-1.17-.13,2.65,2.65,0,0,1-1-.45,2.18,2.18,0,0,1-.66-.8,2.69,2.69,0,0,1-.24-1.19,2.72,2.72,0,0,1,.27-1.29,2.38,2.38,0,0,1,.71-.82,3.26,3.26,0,0,1,1-.47q.56-.16,1.16-.27c.42-.08.81-.14,1.19-.19a6.7,6.7,0,0,0,1-.18,1.65,1.65,0,0,0,.69-.34.83.83,0,0,0,.25-.65,1.53,1.53,0,0,0-.19-.8,1.31,1.31,0,0,0-.49-.47,2,2,0,0,0-.66-.22,5.12,5.12,0,0,0-.73-.06,3.22,3.22,0,0,0-1.61.37,1.55,1.55,0,0,0-.7,1.39H47.59A3.26,3.26,0,0,1,47.95,47a2.69,2.69,0,0,1,.86-1A3.58,3.58,0,0,1,50,45.5a6.5,6.5,0,0,1,1.46-.16,8.52,8.52,0,0,1,1.24.09,3.22,3.22,0,0,1,1.12.37,2.16,2.16,0,0,1,.81.78A2.5,2.5,0,0,1,55,47.9v4.76a3.56,3.56,0,0,0,.06.79c0,.17.18.25.42.25a1.53,1.53,0,0,0,.47-.09v1.17a2.14,2.14,0,0,1-1.09.23Z'/%3E%3Cpath class='b' d='M42.44,46.21a.91.91,0,1,0,.64.26A.9.9,0,0,0,42.44,46.21Zm0,2.4a1.5,1.5,0,1,1,1.06-.44A1.5,1.5,0,0,1,42.44,48.61Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-temporary: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 25'%3E%3Cdefs%3E%3Cstyle%3E.a,.b{stroke:none;}.a{fill:#{$gray};}.b{fill:#{$gray-lighter};}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M8.85,24,22.6.22,23.9,1,10.15,24.78Z'/%3E%3Cpath class='b' d='M25.58,9,22.84,4.79,14.4,19.41h7.65a3.57,3.57,0,0,1,7.13,0h2.47v-8L25.82,9.22l-.15-.06Z'/%3E%3Cpolygon class='b' points='23.11 19.27 23.43 19.3 23.07 19.26 23.11 19.27'/%3E%3Ccircle class='b' cx='7.15' cy='19.52' r='2.19'/%3E%3Cpath class='b' d='M25.62,17.33a2.19,2.19,0,0,0-2.18,2h0a2,2,0,0,0,0,.23c0,.08,0,.15,0,.23a2.19,2.19,0,1,0,2.18-2.42Z'/%3E%3Cpath class='b' d='M20,2.72H.35V19.41H3.59a3.56,3.56,0,0,1,7.06-.51Z'/%3E%3Cpath d='M8.85,24,22.6.22,23.9,1,10.15,24.78Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-lnk: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$white};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M 6.72346 6.21951L 7.96855 5C 8.09305 5.12195 8.09305 5.12195 8.21756 5.2439L 9.96068 6.95122C 10.4587 7.43902 10.8322 8.17073 10.8322 8.90244C 10.8322 9.63415 10.5832 10.2439 10.0852 10.7317L 6.59895 14.1463C 6.10092 14.6341 5.35387 15 4.60682 15C 3.85976 15 3.11271 14.7561 2.61468 14.1463L 0.87156 12.439C 0.249017 11.9512 0 11.2195 0 10.4878C 0 9.7561 0.249017 9.14634 0.87156 8.53658L 1.4941 7.92683C 1.74312 8.41463 1.99214 8.78049 2.49017 9.14634L 2.73919 9.39024L 1.4941 10.6098L 4.60682 13.6585L 9.46265 8.90244L 6.72346 6.21951ZM 8.96461 0C 9.71166 0 10.4587 0.243902 10.9567 0.853658L 12.6999 2.56098C 13.1979 3.04878 13.5714 3.78049 13.5714 4.5122C 13.5714 4.87805 13.4469 5.2439 13.1979 5.73171C 12.9489 6.09756 12.6999 6.46341 12.4509 6.70732L 12.0773 7.07317C 11.8283 6.58537 11.4548 6.21951 11.0813 5.85366L 10.8322 5.60976L 12.0773 4.39024L 8.96461 1.46341L 4.10878 6.21951L 6.72346 8.78049L 5.47837 10.122L 5.22936 9.87805L 3.48624 8.17073C 2.9882 7.68293 2.61468 6.95122 2.61468 6.21951C 2.61468 5.4878 2.8637 4.87805 3.48624 4.26829L 6.97248 0.853658C 7.47051 0.243902 8.21756 0 8.96461 0Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-vk: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$white};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M 0.0797914 1.28161e-07L 6.01797 1.28161e-07C 7.97077 1.28161e-07 9.6128 0.936503 9.6128 2.8893C 9.6128 4.53133 8.98707 5.15286 7.81539 5.85839C 7.89518 5.93818 8.59651 6.16916 8.83168 6.24895C 9.22224 6.40433 9.45742 6.63951 9.69259 6.87469C 10.3939 7.57601 10.4737 8.20175 10.4737 9.29783C 10.4737 11.7966 8.05056 13.1278 5.70721 13.1278L 0 13.1278L 0.0797914 1.28161e-07ZM 3.28406 3.43524L 3.28406 5.15286C 4.8463 5.15286 6.25315 5.38804 6.25315 3.67042C 6.25315 2.10818 4.61112 2.41895 3.28406 2.41895L 3.28406 3.43524ZM 3.28406 10.7047C 4.92609 10.7047 7.03427 11.0155 7.03427 9.06266C 7.03427 7.10986 4.92609 7.42063 3.28406 7.42063L 3.28406 10.7047Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-fb: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 17'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$white};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M 0.0755927 4.99748L 1.63783 4.99748L 1.63783 4.29615L 1.63783 3.59483L 1.63783 3.51503C 1.63783 2.81371 1.63783 1.79741 2.10818 1.17168C 2.65412 0.470351 3.35965 1.2816e-07 4.53133 1.2816e-07C 6.48413 1.2816e-07 7.34504 0.310768 7.34504 0.310768L 6.95448 2.65412C 6.95448 2.65412 6.32874 2.49874 5.70301 2.49874C 5.07727 2.49874 4.53133 2.73392 4.53133 3.35965L 4.53133 3.59483L 4.53133 4.37594L 4.53133 5.07727L 7.03007 5.07727L 6.87469 7.34084L 4.53133 7.34084L 4.53133 15.2318L 1.56224 15.2318L 1.56224 7.26104L -2.56321e-07 7.26104L -2.56321e-07 4.99748L 0.0755927 4.99748Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-pn: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$white};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' fill-rule='evenodd' d='M 8.28125 7.45058e-08C 3.75 7.45058e-08 7.45058e-08 3.75 7.45058e-08 8.28125C 7.45058e-08 11.6406 2.03125 14.6094 4.92188 15.8594C 4.92188 15.3125 4.92187 14.6094 5.07812 13.9844C 5.23437 13.2812 6.17188 9.45312 6.17188 9.45312C 6.17188 9.45312 5.9375 8.90625 5.9375 8.125C 5.9375 6.875 6.64063 6.01563 7.5 6.01563C 8.28125 6.01563 8.59375 6.5625 8.59375 7.26563C 8.59375 8.04688 8.125 9.14063 7.89063 10.2344C 7.65625 11.0938 8.35938 11.7969 9.21875 11.7969C 10.7813 11.7969 11.875 9.76562 11.875 7.42188C 11.875 5.625 10.625 4.21875 8.4375 4.21875C 5.9375 4.21875 4.375 6.09375 4.375 8.20312C 4.375 8.90625 4.60938 9.45312 4.92188 9.84375C 5.07812 10 5.07812 10.0781 5.07812 10.3125C 5 10.4688 4.92188 10.8594 4.92188 10.9375C 4.84375 11.1719 4.6875 11.25 4.53125 11.1719C 3.35937 10.7031 2.8125 9.45312 2.8125 8.04688C 2.8125 5.70313 4.76563 2.89063 8.75 2.89063C 11.875 2.89063 13.9844 5.15625 13.9844 7.65625C 13.9844 10.9375 12.1875 13.3594 9.53125 13.3594C 8.67188 13.3594 7.8125 12.8906 7.5 12.3438C 7.5 12.3438 7.03125 14.2188 6.95313 14.6094C 6.79688 15.2344 6.40625 15.8594 6.09375 16.4062C 6.875 16.6406 7.65625 16.7188 8.4375 16.7188C 12.9688 16.7188 16.7188 13.0469 16.7188 8.4375C 16.5625 3.75 12.8125 7.45058e-08 8.28125 7.45058e-08Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-excel: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 20'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray-light};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M18.61,2.89H11.36V0l-.2.1L.2,2.59l-.2.1v.1L.1,17.71v.2H.3l10.95,2,.2.1V17h7.38V2.89ZM11.37,4.68h1.47V9.25H11.39Zm0,5.47h1.44V15H11.42ZM13.93,15V10.15h3.18V15Zm3.18-5.57H13.93V4.68h3.18ZM2.89,5.87A.76.76,0,0,1,4,6.27c.2.3.7,1.29,1.29,2.49C6,7.56,6.47,6.57,6.67,6.27a.76.76,0,0,1,1.09-.4A.84.84,0,0,1,8.16,7c0,.1-.9,1.69-2,3.48,1.09,2,2,3.88,1.59,4.08s-1.39-1.09-2.49-2.69c-1,1.59-2,2.89-2.49,2.69-.3-.2.6-2.09,1.59-4.08C3.38,8.66,2.49,7.06,2.49,7A.84.84,0,0,1,2.89,5.87Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-excel-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 20'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#02723b;stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M18.61,2.89H11.36V0l-.2.1L.2,2.59l-.2.1v.1L.1,17.71v.2H.3l10.95,2,.2.1V17h7.38V2.89ZM11.37,4.68h1.47V9.25H11.39Zm0,5.47h1.44V15H11.42ZM13.93,15V10.15h3.18V15Zm3.18-5.57H13.93V4.68h3.18ZM2.89,5.87A.76.76,0,0,1,4,6.27c.2.3.7,1.29,1.29,2.49C6,7.56,6.47,6.57,6.67,6.27a.76.76,0,0,1,1.09-.4A.84.84,0,0,1,8.16,7c0,.1-.9,1.69-2,3.48,1.09,2,2,3.88,1.59,4.08s-1.39-1.09-2.49-2.69c-1,1.59-2,2.89-2.49,2.69-.3-.2.6-2.09,1.59-4.08C3.38,8.66,2.49,7.06,2.49,7A.84.84,0,0,1,2.89,5.87Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-pdf: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 20'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray-light};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M.5,0h0A.64.64,0,0,0,0,.63V19.38A.64.64,0,0,0,.62,20H16.53a.65.65,0,0,0,.62-.62V4.89a.65.65,0,0,0-.08-.27L12.34,0a.61.61,0,0,0-.19,0H.5ZM7.65,2.86h.28a1,1,0,0,1,.7.28c.76.76.41,2.61,0,4.15l0,.16a6.8,6.8,0,0,0,1.84,2.95,8.37,8.37,0,0,0,1,.67A13.45,13.45,0,0,1,12.94,11c1.43,0,2.29.25,2.62.8a.92.92,0,0,1,.14.63,1.12,1.12,0,0,1-.32.76,1.36,1.36,0,0,1-1,.34,8.42,8.42,0,0,1-3.46-.85,24.19,24.19,0,0,0-4.64.87L6,13.61c-1.43,2.44-2.49,3.54-3.42,3.54A1,1,0,0,1,2.1,17l-.55-.35,0-.06A1,1,0,0,1,1.45,16a4.52,4.52,0,0,1,2.17-2.44,6.67,6.67,0,0,1,1-.56c.35-.6.72-1.3,1.11-2.07A19.43,19.43,0,0,0,7,7.53H7a5.68,5.68,0,0,1-.25-3.77A1.1,1.1,0,0,1,7.65,2.86Zm.17.71-.08.14a4.16,4.16,0,0,0,.08,2.36l.06,0c.08-.37.11-.69.18-.95l0-.18c.12-.66.09-1-.1-1.27Zm.09,5.21a17.08,17.08,0,0,1-1.17,2.76,6.94,6.94,0,0,0-.58,1.2l.13,0a21.76,21.76,0,0,1,3.85-1.07,4,4,0,0,1-.47-.37A7.07,7.07,0,0,1,7.92,8.78ZM12.72,12a.3.3,0,0,0-.26.11,6.16,6.16,0,0,0,2.19.59l.22,0h0c.06,0,.09,0,.1-.15a.45.45,0,0,0-.1-.13C14.8,12.24,14.33,12,12.72,12ZM4.34,14a4.83,4.83,0,0,0-.55.36A4.24,4.24,0,0,0,2.4,16.34C2.92,16.17,3.6,15.41,4.34,14Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-pdf-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 20'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#cb0504;stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M.5,0h0A.64.64,0,0,0,0,.63V19.38A.64.64,0,0,0,.62,20H16.53a.65.65,0,0,0,.62-.62V4.89a.65.65,0,0,0-.08-.27L12.34,0a.61.61,0,0,0-.19,0H.5ZM7.65,2.86h.28a1,1,0,0,1,.7.28c.76.76.41,2.61,0,4.15l0,.16a6.8,6.8,0,0,0,1.84,2.95,8.37,8.37,0,0,0,1,.67A13.45,13.45,0,0,1,12.94,11c1.43,0,2.29.25,2.62.8a.92.92,0,0,1,.14.63,1.12,1.12,0,0,1-.32.76,1.36,1.36,0,0,1-1,.34,8.42,8.42,0,0,1-3.46-.85,24.19,24.19,0,0,0-4.64.87L6,13.61c-1.43,2.44-2.49,3.54-3.42,3.54A1,1,0,0,1,2.1,17l-.55-.35,0-.06A1,1,0,0,1,1.45,16a4.52,4.52,0,0,1,2.17-2.44,6.67,6.67,0,0,1,1-.56c.35-.6.72-1.3,1.11-2.07A19.43,19.43,0,0,0,7,7.53H7a5.68,5.68,0,0,1-.25-3.77A1.1,1.1,0,0,1,7.65,2.86Zm.17.71-.08.14a4.16,4.16,0,0,0,.08,2.36l.06,0c.08-.37.11-.69.18-.95l0-.18c.12-.66.09-1-.1-1.27Zm.09,5.21a17.08,17.08,0,0,1-1.17,2.76,6.94,6.94,0,0,0-.58,1.2l.13,0a21.76,21.76,0,0,1,3.85-1.07,4,4,0,0,1-.47-.37A7.07,7.07,0,0,1,7.92,8.78ZM12.72,12a.3.3,0,0,0-.26.11,6.16,6.16,0,0,0,2.19.59l.22,0h0c.06,0,.09,0,.1-.15a.45.45,0,0,0-.1-.13C14.8,12.24,14.33,12,12.72,12ZM4.34,14a4.83,4.83,0,0,0-.55.36A4.24,4.24,0,0,0,2.4,16.34C2.92,16.17,3.6,15.41,4.34,14Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-file: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 20'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray-light};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M 0.499513 0.00316849L 0.499513 0.0060256C 0.217369 0.0605972 -0.0049173 0.339312 8.27197e-05 0.631028L 8.27197e-05 19.3768C 8.27197e-05 19.7025 0.294512 19.9997 0.616656 19.9997L 16.5281 19.9997C 16.851 19.9997 17.1453 19.7025 17.1453 19.3754L 17.1453 4.88533C 17.1396 4.78976 17.1124 4.69547 17.0667 4.6119L 12.3353 0.0414544C 12.2738 0.0180257 12.2081 0.0050256 12.1424 0.00245416L 0.616085 0.00245416C 0.577799 -0.00126013 0.537799 -0.000545813 0.499513 0.00316849Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-share-file-hover: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 20'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$aledo};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M 0.499513 0.00316849L 0.499513 0.0060256C 0.217369 0.0605972 -0.0049173 0.339312 8.27197e-05 0.631028L 8.27197e-05 19.3768C 8.27197e-05 19.7025 0.294512 19.9997 0.616656 19.9997L 16.5281 19.9997C 16.851 19.9997 17.1453 19.7025 17.1453 19.3754L 17.1453 4.88533C 17.1396 4.78976 17.1124 4.69547 17.0667 4.6119L 12.3353 0.0414544C 12.2738 0.0180257 12.2081 0.0050256 12.1424 0.00245416L 0.616085 0.00245416C 0.577799 -0.00126013 0.537799 -0.000545813 0.499513 0.00316849Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-ascending: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 12'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M9,12,7.89,9.26H0V12Z'/%3E%3Cpath class='a' d='M0,0V2.74H5.25L4.14,0Z'/%3E%3Cpath class='a' d='M7.12,7.37,6,4.63H0V7.37Z'/%3E%3C/svg%3E"), "#", "%23");

$icon-descending: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 12'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{$gray};stroke:none;}%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M0,0V2.74H7.89L9,0Z'/%3E%3Cpath class='a' d='M4.14,12,5.25,9.26H0V12Z'/%3E%3Cpath class='a' d='M0,4.63V7.37H6L7.12,4.63Z'/%3E%3C/svg%3E"), "#", "%23");