// MIXINS
// // Shadow
@mixin shadow ($shadow-color: $gray, $shadow-opacity: .2, $shadow-spacer: 0rem) {
    &::after {
        @include after-before();
        left: 0;
        right: 0;
        bottom: - ($spacer / 2) - $shadow-spacer;
        height: ($spacer / 2);
        background: linear-gradient(180deg, $shadow-color 0%, transparent 100%);
        opacity: $shadow-opacity;
    }
}

//
// // After-before
@mixin after-before() {
    display: block;
    content: "";
    position: absolute;
}

//
// // Border
//
@mixin border ($color: $border-color, $size: 1) {
    border: #{$size}px solid $color !important;
}

@mixin border-top ($color: $border-color, $size: 1) {
    border-top: #{$size}px solid $color !important;
}
@mixin border-bottom ($color: $border-color, $size: 1) {
    border-bottom: #{$size}px solid $color !important;
}
@mixin border-left ($color: $border-color, $size: 1) {
    border-left: #{$size}px solid $color !important;
}
@mixin border-right ($color: $border-color, $size: 1) {
    border-right: #{$size}px solid $color !important;
}

@mixin border-dotted ($direction: null, $color: $border-color, $size: 1) {
    @if $direction==null {
        border: #{$size}px dotted $color !important;
    }
    border-#{$direction}: #{$size}px dotted $color !important;
}
