/* BS4 */
$grid-gutter-width:          30px !important;

@import "bs";
//
//
html {
  font-size: percentage(10 / 16);
}
//
// HEADERS
//colors
$white_90: rgba(255, 255, 255, 0.9);
$color_suva_gray_approx: #85878a;
$color_tacha_approx: #cad45a;
$color_fall_green_approx: #e8f3b3;
//urls
$url_0: url(/images/sprite-other-30x.png);
body {
  color: $gray;
}
a.link {
  color: $gray !important;
  text-decoration: underline;
  transition: all 0.1s ease-out;
}
a:hover {
  color: inherit;
}

.b-section__content {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.row-second {
  margin-top: 30px;
}
.c-block__title {
  font-weight: 300;
  line-height: 28px;
  max-height: 35px;
  text-transform: uppercase;
  background-color: #EEF3E1;
  padding: 5px 15px;
}
.c-block__title span {
  text-transform: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.series-tile {
  max-height: 210px;
  overflow: visible;
  &.news-popup .tile-title-series {
    font-size: 12px;
  }
}

.tile-title-series {
  padding: 0;
  font-size: 13px;
  height: 65px;
  margin-top: 5%;
  text-transform: uppercase;
  background-color: $white_90;
  text-decoration: underline;
}

.icon-download {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 3px solid $color_suva_gray_approx;
  background-image: $url_0;
  background-repeat: no-repeat;
  background-position: 4px 1px;
}

.icon-jpg {
  background-position: 4px 1px;
}

.icon-pdf {
  background-position: -26px 1px;
}

.icon-clip {
  //Instead of the line below you could use @include background-origin($origin)
  background-origin: border-box;
  background-position: -53px 3px;
  background-color: $color_tacha_approx;
  border: 0 dotted $color_suva_gray_approx;
}

.icon-photo {
  background-position: -262px 0;
  width: 35px;
}

.icon-title {
  margin-left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: 10px;
}

#vacancy-resume-button {
  margin-top: 30px;
  cursor: pointer;
  .icon-download {
    background-color: $color_tacha_approx;
    border: none;
  }
  &:hover .icon-download {
    background-color: $color_fall_green_approx;
  }
}

.subsection .tile-title-series {
  height: 37px;
  line-height: 17px;
}

.series-tags-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 5px 0;
  color: #615C5E;
  background: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
  box-sizing: content-box;
}

.series-tags-block .tag-name,
.series-tags-block svg {
  vertical-align: middle;
}

.series-tags-block .tag-tooltip {
  display: none;
  background-color: white;
  border: 3px solid #CCD131;
  padding: 10px 20px;
}

//

/* NEW CODE */

@import "../catalog-blocks/catalog-hovers";
