/* BS4 */

@import "bs";
//
/* FLICKITY Slider */

@import "../libs/flickity/flickity";
//
//
// Fancybox
.fancybox {
  &-bg {
    background: $gray-dark;
  }
  &-image-wrap {
   // @include border ($aledo, 4);
  }
  &-arrow {
    @extend .arrow-btn,
    .arrow-btn-right;
    top: 50%;
    &:after {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &[disabled] {
      display: none;
    }
  }
  //
  &-button {
    background-color: transparent;
    &:after,
    &:before {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &:hover:not([disabled]) {
      background-color: transparent;
    }
    &--close {
      background: {
        position: center;
        size: 2rem;
        repeat: no-repeat;
        image: $icon-close;
      } //
      &:hover {
        background: {
          position: center !important;
          size: 2rem !important;
          repeat: no-repeat !important;
          image: $icon-close-hover !important;
        }
      }
    }
  }
}
//
// HEADERS
.index-header {
  @extend .display-2;
  //
  & small {
    @extend .ml-0,
    .ml-lg-5;
    font-weight: $font-weight-light;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}

//

/* INDEX PAGE */

//

/* BLOCKS */

//
// index-showcase
@import "../index-blocks/index-showcase/index-showcase";
//
// index-warehouse-slider
@import "../index-blocks/index-warehouse-slider/index-warehouse-slider";
//
// index-vendors
@import "../index-blocks/index-vendors/index-vendors";
//
// index-projects
@import "../index-blocks/index-projects/index-projects";
//
// index-clients
@import "../index-blocks/index-clients/index-clients";
//
// index-services
@import "../index-blocks/index-services/index-services";
//
// index-solutions
@import "../index-blocks/index-solutions/index-solutions";
//
// index-solutions-form
@import "../index-blocks/index-solutions-form/index-solutions-form";
//
// index-ad-slider
@import "../index-blocks/index-ad-slider/index-ad-slider";
//
// index-blog
@import "../index-blocks/index-blog/index-blog";
//
// index-about-us
@import "../index-blocks/index-about-us/index-about-us";
//
// index-contact
@import "../index-blocks/index-contact/index-contact";
//
// index-write-us
@import "../index-blocks/index-write-us/index-write-us";
//
// solutions-cinema-sample-modal
@import "../solutions-cinema-blocks/solutions-cinema-sample-modal/solutions-cinema-sample-modal";
