// BS4
@import "bs";
//
// REM 10px
html {
  font-size: percentage(10 / 16);
}
//
.body {
  overflow-x: hidden;
  //
  &__main-content {    
    //opacity: 0;
    //transition: opacity .4s ease;
  }
  //
  /*&__loader {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: {
      color: $white;
      image: $icon-loader;
      position: center;
      repeat: no-repeat;
      size: 100px;
    }
    z-index: -1;
  }*/
}


/* BLOCKS */

//
// header
@import "../layout-blocks/header/header";
//
// footer
@import "../layout-blocks/footer/footer";
