/* BS4 */

@import "bs";
//
/* FLICKITY Slider */

@import "../libs/flickity/flickity";
//


/* project PAGE */

//
@import "../blocks/breadcrumbs/breadcrumbs";
//
//
.project-wrapper {
  @extend .px-15,
  .px-sm-5,
  .pt-25,
  .pb-35,
  .container,
  .row;
  @include border-dotted(bottom);
}

.project-body {
  @extend .col-7;
}

.project-side {
  @extend .ml-auto,
  .col-4;
}

/* BLOCKS */

//
// project-slider
@import "../project-blocks/project-slider/project-slider";
//
// project-header
@import "../project-blocks/project-header/project-header";
//
// project-article
@import "../project-blocks/project-article/project-article";
//
// project-aside
@import "../project-blocks/project-aside/project-aside";
//
// project-other-projects
@import "../project-blocks/project-other-projects/project-other-projects";
//
// project-form
@import "../project-blocks/project-form/project-form";