/* BS4 */

@import "bs";
//
/* FLICKITY Slider */

@import "../libs/flickity/flickity";
//
.isotope,
.isotope .isotope-item {
  transition-duration: 0.8s;
}
.isotope {
  transition-property: height, width;
}
.isotope .isotope-item {
  transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  transition-duration: 0s;
}

/* SERIE PAGE */

//
@import "../blocks/breadcrumbs/breadcrumbs";
//
@import "../blocks/popover/popover";

/* BLOCKS */

//
// serie-slider
@import "../serie-blocks/serie-slider/serie-slider";
//
// serie-header
@import "../serie-blocks/serie-header/serie-header";
//
// serie-tabs
@import "../serie-blocks/serie-tabs/serie-tabs";
//
// serie-configurator
@import "../serie-blocks/serie-configurator/serie-configurator";
//
// serie-order
@import "../serie-blocks/serie-order/serie-order";
//
// serie-order-form
@import "../serie-blocks/serie-order-form/serie-order-form";
//
// serie-aside
@import "../serie-blocks/serie-aside/serie-aside";
//
// serie-form
@import "../serie-blocks/serie-form/serie-form";
//
// serie-description
@import "../serie-blocks/serie-description/serie-description";
//
// serie-components
@import "../serie-blocks/serie-components/serie-components";
//
// serie-downloads
@import "../serie-blocks/serie-downloads/serie-downloads";
//
// serie-modifications
@import "../serie-blocks/serie-modifications/serie-modifications";
