/* BS4 */

@import "bs";

/* SERIE PAGE */


.b-section-imitation {
  max-width: 1100px;
  min-width: 1100px;
  padding: 0 15px;
  margin: 2.5rem auto 0;
  position: relative;
}

//
// serie-configurator
@import "../serie-blocks/serie-configurator/serie-configurator_reduced";