/* BS4 */

@import "bs";
//
//

/* FLICKITY Slider */

@import "../libs/flickity/flickity";
//
//
// Fancybox
.fancybox {
  &-bg {
    background: $gray-dark;
  }
  &-image-wrap {
   // @include border ($aledo, 4);
  }
  &-arrow {
    @extend .arrow-btn,
    .arrow-btn-right;
    top: 50%;
    &:after {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &[disabled] {
      display: none;
    }
  }
  //
  &-button {
    background-color: transparent;
    &:after,
    &:before {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &:hover:not([disabled]) {
      background-color: transparent;
    }
    &--close {
      background: {
        position: center;
        size: 2rem;
        repeat: no-repeat;
        image: $icon-close;
      } //
      &:hover {
        background: {
          position: center !important;
          size: 2rem !important;
          repeat: no-repeat !important;
          image: $icon-close-hover !important;
        }
      }
    }
  }
}

//
//
@import "../blocks/breadcrumbs/breadcrumbs";
//

/* Services */


/* BLOCKS */

//
// services
@import "../services-blocks/services/services";
//
// services-solutions-form
@import "../services-blocks/services-solutions-form/services-solutions-form";
//
// solutions
@import "../services-blocks/solutions/solutions";
//
// solutions-cinema-sample-modal
@import "../solutions-cinema-blocks/solutions-cinema-sample-modal/solutions-cinema-sample-modal";
