/* BS4 */

@import "bs";
//
//

/* FLICKITY Slider */

@import "../libs/flickity/flickity";
//
//
@import "../blocks/breadcrumbs/breadcrumbs";
//
.breadcrumbs {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 16.25rem;
    z-index: 1000;
    &,
    & a {
      color: $gray-lighter !important;
    }
  }
  $some-breakpoints: map-remove($grid-breakpoints, (xs, sm));
  @each $breakpoint in map-keys($some-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $container-max-width: map-get($container-max-widths, $breakpoint);
      left: calc( 50% - #{$container-max-width}/2);
    }
  }
}


/* SOLUTION-LINES */

a {
  text-decoration: none;
}


/* BLOCKS */

//
// solutions-lines-lines-controller
@import "../solutions-lines-blocks/solutions-lines-controller/solutions-lines-controller";
//
// solutions-lines-lines-summands
@import "../solutions-lines-blocks/solutions-lines-summands/solutions-lines-summands";
//
// solutions-lines-lines-system
@import "../solutions-lines-blocks/solutions-lines-system/solutions-lines-system";
//
// solutions-lines-projects
@import "../solutions-lines-blocks/solutions-lines-projects/solutions-lines-projects";
//
// solutions-lines-lines-advantages
@import "../solutions-lines-blocks/solutions-lines-advantages/solutions-lines-advantages";
//
// solutions-lines-lines-form
@import "../solutions-lines-blocks/solutions-lines-form/solutions-lines-form";
//
//
// solutions-lines-solutions-form
@import "../solutions-lines-blocks/solutions-form/solutions-form";
//
/////////////////////////////
//
// solutions-lines-other-solutions
@import "../solutions-blocks/solutions-other-solutions/solutions-other-solutions";
