/* BS4 */

@import "bs";
//
//
/* FLICKITY Slider */

@import "../libs/flickity/flickity";
//
//
/* BLOCKS */

@import "../blocks/breadcrumbs/breadcrumbs";
//
.breadcrumbs {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 16.25rem;
    z-index: 1000;
    &,
    & a {
      color: $white !important;
    }
  }
  $some-breakpoints: map-remove($grid-breakpoints, (xs, sm));
  @each $breakpoint in map-keys($some-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $container-max-width: map-get($container-max-widths, $breakpoint);
      left: calc( 50% - #{$container-max-width}/2);
    }
  }
}

/* SOLUTION-CINEMA */

//
//HEADER
.solutions-cinema-header {
  @extend .px-25,
  .py-15,
  .display-2;
  position: relative;
  background: $white;
  z-index: 2;
  display: inline-block;
  transform: translateY(-75px);
  //
  @include media-breakpoint-down(sm) {
    transform: translateY(0);
  }
  //
  // stuck
  &_stuck {
    transform: translateY(0);
  }
}


/* BLOCKS */

//
// solutions-cinema-video-banner
@import "../solutions-cinema-blocks/solutions-cinema-video-banner/solutions-cinema-video-banner";
//
// solutions-cinema-options
@import "../solutions-cinema-blocks/solutions-cinema-options/solutions-cinema-options";
//
// solutions-cinema-clients
@import "../solutions-cinema-blocks/solutions-cinema-clients/solutions-cinema-clients";
//
// solutions-cinema-projects
@import "../solutions-cinema-blocks/solutions-cinema-projects/solutions-cinema-projects";
//
// solutions-cinema-quote
@import "../solutions-cinema-blocks/solutions-cinema-quote/solutions-cinema-quote";
//
// solutions-cinema-write-me
@import "../solutions-cinema-blocks/solutions-cinema-write-me/solutions-cinema-write-me";
//
// solutions-cinema-presentation
@import "../solutions-cinema-blocks/solutions-cinema-presentation/solutions-cinema-presentation";
//
// solutions-cinema-other-solutions
@import "../solutions-blocks/solutions-other-solutions/solutions-other-solutions";
//
// solutions-cinema-solutions-form
@import "../solutions-blocks/solutions-form/solutions-form";
//
// solutions-cinema-sample-modal
@import "../solutions-cinema-blocks/solutions-cinema-sample-modal/solutions-cinema-sample-modal";


