/* INDEX PROJECT DETAILS */

.index-projects {
  //
  &__project-details {
    @extend .w-100,
    .h-100,
    .card,
    .flex-column,
    .flex-md-row;
  }
  //
  &__project-slider {
    @extend .px-0,
    .h-100,
    .d-flex,
    .col-md-7;
    background-color: $gray-lighter;
    //
    .flickity-viewport {
      width: 100%;
    }
    .carousel-cell {
      height: 100%;
    }
    .flickity-prev-next-button {
      opacity: 0;
    }
    &:hover .flickity-prev-next-button {
      opacity: .5;
      //
      &:hover {
        opacity: .8;
      }
    }
    //    
  }
  //
  &__project-img {
    width: 100%;
    background: {
      size: cover;
      position: center;
    }
  }
  //
  &__project-block {
    @extend .p-sm-25,
    .card-body,
    .d-flex,
    .col-md-5,
    .flex-column;
    cursor: default;
    flex: 0 0 auto;
  }
  //
  &__project-title {
    @extend .pb-15,
    .d-flex,
    .card-title,
    .text-uppercase;
    @include border-dotted (bottom);
  }
  //
  &__project-desc {
    @extend .mb-25,
    .mb-lg-50,
    .d-flex,
    .flex-column,
    .card-text;
  }
  //
  &__project-link {
    @extend .mt-auto,
    .text-uppercase,
    .align-self-end;
    font-size: $font-size-small;
    @include hover {
      text-decoration: underline !important;
    }
  }
}
