// INDEX PROJECTS PROJECT-DETAILS
div(elem='project-details' class='carousel-cell')
  |
  div(elem='project-block')
    h5(elem='project-title')
      | ЮВЕЛИРНЫЙ САЛОН «MASTER EXCLUSIVE JEWELLERY» в торговой галерее «Модный сезон»
    p(elem='project-desc') 
      b Проект: 
      | Ювелирный салон «Master Exclusive Jewellery» в торговой галерее «Модный сезон».
      br
      b Адрес:
      | Город Москва, ул. Охотный ряд, 2.
      br
      b Поставленная задача: 
      br
      | С 1994 года ювелирный салон «Master Exclusive Jewellery» создаёт уникальные, эксклюзивные украшения, выполненные по оригинальному дизайну собственных дизайнеров-ювелиров. В коллекции салона представлен большой ассортимент украшений и наручных часов как для женщин, так и для мужчин. В каждой... 
    a(elem='project-link' href='#') Подробнее
  |
  //- SLIDER
  div(elem='project-slider')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/003.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/003.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/003.jpg);')
    div(elem='project-img' class='carousel-cell' style='background-image: url(img/003.jpg);')