/* INDEX SOLUTIONS SOLUTION */

//
@import "../blocks/cards/card_round";
@import "../blocks/cards/card_round_list";
//
$round-card-sizes: ( xs: $round-card-size-base * 2, sm: $round-card-size-base * 1.75, md: $round-card-size-base * 2, lg: $round-card-size-base * 1.75, xl: $round-card-size-base * 2.25);
//
$round-card-opens: ( xs: 1, sm: 1.65, md: 1.65, lg: 1.65, xl: 1.65);
//
.index-solutions {
  //
  &__solution-card {
    cursor: pointer;
  }
  //
  &__image {
    //
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $size: map-get($round-card-sizes, $breakpoint);
        width: $size;
        height: $size;
      }
    }
  }
  //
  &__label {
    margin-bottom: 0;
    //
    &:not(:last-child) {
      @extend .mb-15,
      .mb-sm-0;
    }
  }
  //
  &__link {
    display: none;
  }
  //
  // XS 
  @include media-breakpoint-down(xs) {
    //
    &__label {
      width: 100%;
    }
    //
    &__solution:nth-of-type(2n+1) {
      .index-solutions {
        &__solution-card {
          flex-direction: row !important;
          margin-left: -5rem;
        }
        &__title {
          margin-left: ($spacer * 1.5) !important;
        }
        &__fader {
          left: calc(100% - 4.5rem);
          background: {
            position: 5% center;
            image: $icon-arrow-right;
          }
        }
      }
    }
    //
    &__solution:nth-of-type(2n) {
      .index-solutions {
        &__label {
          justify-content: flex-end;
        }
        &__solution-card {
          flex-direction: row-reverse !important;
          margin-right: -5rem;
        }
        &__title {
          margin-right: ($spacer * 1.5) !important;
        }
        &__fader {
          right: calc(100% - 4.5rem);
          background: {
            position: 95% center;
            image: $icon-arrow-left;
          }
        }
      }
    }
    //
    &__image {
      flex-shrink: 0;
    }
    //
    &__fader {
      top: 0;
    }
    //
    &__title {
      align-items: center;
      display: flex;
      margin-top: 0 !important;
    }
    //
    // (sx_open)
    &__solution:first-child &__input:checked+&__label &__solution-card {
      margin-top: 0;
    }
    &__solution:last-child &__input:checked+&__label &__solution-card {
      margin-bottom: 0;
    }
    &__solution:nth-of-type(2n) &__input:checked+&__label &__fader {
      background-image: $icon-arrow-right;
    }
    &__solution:nth-of-type(2n+1) &__input:checked+&__label &__fader {
      background-image: $icon-arrow-left;
    }
  }
  //
  // OPEN
  &__input:checked+&__label {
    //
    .index-solutions {
      //
      &__image {
        @extend .pt-75,
        .pt-sm-0,
        .pb-35,
        .pb-sm-0,
        .mb-15,
        .mb-sm-0;
        @each $breakpoint in map-keys($grid-breakpoints) {
          @include media-breakpoint-up($breakpoint) {
            $size: map-get($round-card-sizes, $breakpoint);
            $open: map-get($round-card-opens, $breakpoint);
            width: $size * $open;
            height: $size * $open;
          }
        }
      }
      //
      &__title {
        color: $gray-light !important;
      }
      //
      &__fader {
        top: 0px !important;
        opacity: .99;
        background: {
          position: center 95%;
          image: $icon-arrow-bottom;
        }
      }
      //
      &__list {
        @extend .pr-50, //.px-sm-50,
        //.px-xl-75,
        .pl-50,
        .pl-xl-75, //.pr-sm-25,
        .pr-sm-30,
        .pr-xl-35,
        .m-0,
        .list,
        .d-flex,
        .flex-column,
        .align-self-center;
        /*@include media-breakpoint-between(sm,lg) {
          width: $round-card-size-base * 3;
        }*/
        //
        li {
          margin-bottom: .5rem;
          line-height: 2rem;
        }
      }
      //
      &__link {
        @extend .mt-5,
        .mb-0,
        .pl-50,
        .pl-xl-75,
        .text-sm-left;
        display: block;
        &_null {
          display: none !important;
        }
      }
    }
    //
    // XS OPEN
    @include media-breakpoint-down(xs) {
      //
      .index-solutions {
        //
        &__solution-card {
          width: 100%;
          margin: ($spacer * 2.5) 0;
        }
        //
        &__image,
        &__fader {
          height: 100%;
          width: 100%;
          border-radius: 0;
        }
        //
        &__fader {
          left: 0;
          right: 0;
          background-position: 95% center;
        }
        //
        &__title {
          position: absolute;
          align-self: flex-start;
          width: 100%;
          text-align: left !important;
          top: ($spacer * 3.5);
          left: ($spacer * 2.5);
          padding-bottom: ($spacer * .5);
          color: $gray !important;
          @include border-bottom ($aledo, 2);
        }
      }
    }
  }
  //
  // MORE 4 SOLUTIONS
  &__solution {
    //
    // LG UP
    @include media-breakpoint-up(lg) {
      &:nth-last-of-type(n+5),
      &:nth-last-of-type(n+5)~&:nth-of-type(-n+3) {
        align-items: flex-start !important;
        //
        .index-solutions {
          //
          &__solution-card {
            margin-bottom: ($spacer * 1.5);
            flex-direction: column-reverse;
          }
          //
          &__title {
            margin: 0 auto ($spacer * 1.5) !important;
          }
          //
          &__fader {
            bottom: calc(100% - 4.5rem);
            top: inherit;
            background: {
              position: center 95%;
              image: $icon-arrow-bottom;
            }
          }
          //
          &__input:checked+.index-solutions__label {
            .index-solutions__fader {
              background-position: center 5%;
              background-image: $icon-arrow-top;
            }
            .index-solutions__list {
              padding-top: ($spacer * 1.5) !important;
            }
          }
        }
      }
    }
    //
    // SM MD
    @include media-breakpoint-between(sm, md) {
      //
      &:nth-last-of-type(-n+4):first-child,
      &:nth-last-of-type(-n+4)~&:nth-of-type(-n+2) {
        align-items: flex-start !important;
        //
        .index-solutions {
          //
          &__solution-card {
            margin-bottom: ($spacer * 1.5);
            flex-direction: column-reverse;
          }
          //
          &__title {
            margin: 0 auto ($spacer * 1.5) !important;
          }
          //
          &__fader {
            bottom: calc(100% - 4.5rem);
            top: inherit;
            background: {
              position: center 95%;
              image: $icon-arrow-bottom;
            }
          }
          //
          &__input:checked+.index-solutions__label {
            .index-solutions__fader {
              background-position: center 5%;
              background-image: $icon-arrow-top;
            }
            .index-solutions__list {
              padding-top: ($spacer * 1.5) !important;
            }
          }
        }
      }
      //
      &:nth-last-of-type(n+5):first-child,
      &:nth-last-of-type(n+5)~&:nth-of-type(-n+2) {
        margin-bottom: ($spacer * 1.5);
      }
      //
      &:nth-last-of-type(n+5)~&:nth-last-of-type(-n+2):last-child,
      &:nth-last-of-type(n+6)~&:nth-last-of-type(-n+2) {
        margin-top: ($spacer * 2.5);
      }
    }
  }
}
