// INDEX SOLUTIONS SOLUTION 1
div(block='card' mods='round list' mix='block:index-solutions elem:solution-card  mods:[1]')
  div(elem='image' mix='block:index-solutions elem:image' style='background-image: url(img/s-1.png);')
    div(elem='fader' mods='open:close' mix='block:index-solutions elem:fader')
    ul(elem='list' mix='block:index-solutions elem:list')
      li Реализуем задумки архитекторов и&nbsp;заказчиков с&nbsp;помощью света;
      li Разрабатываем системы управления освещением;
      li Производим и&nbsp;поставляем светильники &laquo;под проект&raquo;.
    a(elem='link' mix='block:index-solutions elem:link' href='/solution/cinema') Подробнее
  |
  //-
  h5(elem='title' mix='block:index-solutions elem:title') Для кинотеатров