// INDEX SOLUTIONS SOLUTION 2
div(block='card' mods='round list' mix='block:index-solutions elem:solution-card  mods:[2]')
  div(elem='image' mix='block:index-solutions elem:image' style='background-image: url(img/s-2.png);')
    div(elem='fader' mods='open:close' mix='block:index-solutions elem:fader')
    ul(elem='list' mix='block:index-solutions elem:list')
      li Проектируем освещение торговых пространств
      li Разрабатываем концепцию освещения и бренд-бук по свету
      li Переводим на LED и модернизируем существующие системы освещения
    a(elem='link' mix='block:index-solutions elem:link' href='/solutions/view/5/') Подробнее
  |
  //-
  h5(elem='title' mix='block:index-solutions elem:title') Для ритейла