// WRITE ME FORM
section(block='solutions-cinema-write-me')
  //-
  h2(elem='header') Напишите мне
  |
  //- FORM
  form(block='form' mods='feedback' mix='block:solutions-cinema-write-me elem:form' id='solutions-cinema-write-me-form')
    |
    div(elem='form-group')
      label(elem='label' mods='name' for='solutions-cinema-write-me_name') Ваше имя
      input(elem='input' mods='name' id='solutions-cinema-write-me_name' type='text' placeholder='Обязательно заполните это поле')
      |
      label(elem='label' mods='contact' for='solutions-cinema-write-me_contact') Ваш номер телефона или email
      input(elem='input' mods='contact' id='solutions-cinema-write-me_contact' type='text' placeholder='Обязательно заполните это поле')
    |
    div(elem='form-group')
      label(elem='label' mods='message' for='solutions-cinema-write-me_message') Сообщение
      textarea(elem='input' mods='message' id='solutions-cinema-write-me_message' type='text' rows="5" placeholder='Обязательно заполните это поле')
    |
    div(elem='form-group' mods='checkbox')
      label(elem='label' mods='checkbox')
        input(elem='input' mods='checkbox' type='checkbox' checked='checked')
        span(elem='indicator' mods='checkbox')
        span(elem='description' mods='checkbox') Согласен на&nbsp;обработку личных данных  
    |
    //- WHEN FORM DONE ACTIVE
    div(elem='form-group' mods='btn')
      button(elem='input-btn' type='submit') Отправить