/* WRITE ME FORM */

//
@import "../blocks/forms/form_feedback";
//
//
.solutions-cinema-write-me {
  @extend .py-25,
  .px-0,
  .container-fluid;
  background: $gray-lightest;
  //
  // Header
  &__header {
    @extend .px-15,
    .px-sm-5,
    .display-3,
    .container;
  }
  //
  &__form {
    @extend .px-15,
    .px-sm-0,
    .mt-15,
    .mb-10,
    .container;
  }
}
