/* solutions-other-solutions */

//
@import "../blocks/cards/card_round_unavailable";
//
//
.solutions-cinema-other-solutions {
  @extend .mt-50,
  .mb-75,
  .container,
  .row;
  //
  // Header
  &__header {
    @extend .px-15,
    .px-sm-0,
    .mt-25,
    .mt-lg-0,
    .mb-lg-35,
    .display-3,
    .w-100,
    .text-center,
    .text-sm-left,
    .order-2,
    .order-lg-1;
    @include media-breakpoint-up(lg) {
      padding-left: percentage(4/12) !important;
    }
  }
  //
  //
  &__back {
    @extend .col-11,
    .ml-auto,
    .col-sm-6,
    .ml-sm-auto,
    .col-lg-4,
    .ml-lg-0,
    .d-flex,
    .align-items-center,
    .order-1,
    .order-lg-2;
  }
  //
  &__link {
    @extend .link_uppercase,
    .link_bold;
    //
    &:hover {
      color: $aledo;
    }
    //
    &_back {
      @extend .pl-75,
      .d-block,
      .text-nowrap;
      position: relative;
      //
      &::before {
        @include after-before();
        width: ($spacer * 7.5);
        height: ($spacer * 5);
        left: 0;
        top: -($spacer * .5);
        background: {
          size: contain;
          repeat: no-repeat;
          image: $icon-arrow-large;
        }
      }
      //
      &:hover:before {
        background-image: $icon-arrow-large-hover;
      }
    }
  }
  //
  &__row {
    @extend .mt-sm-25,
    .mt-lg-0,
    .col-12,
    .col-lg-8,
    .row,
    .order-3;
  }
  //
  &__column {
    @extend .col,
    .d-flex,
    .justify-content-center,
    .justify-content-sm-start;
    @include media-breakpoint-down(xs) {
      min-width: 100%;
      margin-top: ($spacer * 2.5);
    }
  }
  //
  &__card {
    width: ($spacer * 15);
    height: ($spacer * 15);    
  }
}
