// solutions-other-solutions

section(block='solutions-cinema-other-solutions')
  |
  h2(elem='header') Другие решения
  //-
  div(elem='back')
    a(elem='link' mods='back' href='/solutions')
      p Вернуться на страницу
      p Услуг и решений
  //- SOLUTIONS
  div(elem='row')
    |
    div(elem='column')
      a(block='card' mods='round' mix='block:solutions-cinema-other-solutions elem:card' href='/solutions/view/5') 
        div(elem='image' style='background-image: url(img/s-1.png);')
        p(elem='title') Для ритейла
    |
    div(elem='column')
       a(block='card' mods='round' mix='block:solutions-cinema-other-solutions elem:card' href='/solutions/cinema') 
        div(elem='image' style='background-image: url(img/s-2.png);')
        p(elem='title') Для кинотеатров
    |
    div(elem='column')
      div(block='card' mods='round unavailable' mix='block:solutions-cinema-other-solutions elem:card') 
        div(elem='image' style='background-image: url(img/s-3.png);')
          div(elem='fader' mods='unavailable')
            div(elem='unavailable' tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="" data-content="В настоящий момент раздел заполняется")
        p(elem='title') Для ресторанов