/* SOLUTIONS LINES CONTROLLER */

$icon-dimming: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 376 35'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:none;}.b{clip-path:url(#a);}.c{fill:#{$aledo};}.d{fill:#{$gray-lighter};fill-opacity:.5;}%3C/style%3E%3CclipPath id='a'%3E%3Cpath class='a' d='M361,0h15V35H361ZM336,35h15V0H336Zm-25,0h15V0H311Zm-25,0h15V0H286Zm-25,0h15V0H261Zm-25,0h15V0H236Zm-25,0h15V0H211Zm-25,0h15V0H186Zm-25,0h15V0H161Zm-25,0h15V0H136Zm-25,0h15V0H111ZM86,35h15V0H86ZM61,35H76V0H61ZM0,35H51V0H0Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='b'%3E%3Cpolygon class='d' points='376 35 0 35 376 0 376 35'/%3E%3Cpolygon class='c' points='376 35 0 35 376 0 376 35'/%3E%3C/g%3E%3C/svg%3E"),
"#",
"%23");
//
//
.solutions-lines-controller {
  position: relative;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background: {
    color: $black;
    size: cover;
    repeat: no-repeat;
    position: center top;
    image: url(https://stage.aledo-pro.ru/Content/images/landing/render/3000.jpg);
  }
  height: calc(100vh - 16.25rem);
  @include media-breakpoint-down(sm) {
    height: 40rem;
  }
  //
  &__header {
    @extend .d-block;
    margin: 0;
    padding: 1.5rem;
    z-index: 10;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    color: $white;
    font-size: 2.4rem;
    line-height: 3.5rem;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    background-color: rgba($gray, .9);
    @include media-breakpoint-only(sm) {
      right: 0 !important;
    }
    @include media-breakpoint-up(md) {
      top: 3.5rem;
      bottom: auto;
      left: auto;
      padding: 2.5rem;
      white-space: nowrap;
      background: {
        color: transparent;
        image: url(../img/solutions-lines-header-back.png);
        size: 100%;
        repeat: no-repeat;
        position: center;
      }
    }
  }
  //
  &__scroll-btn {
    @extend .mt-10,
    .mt-sm-0,
    .py-10,
    .px-35,
    .btn,
    .text-uppercase,
    .d-none,
    .d-md-block;
    font-weight: $btn-dft-font-weight;
    background: $aledo;
    @include border ($aledo);
    @include transition($transition-base);
    &:hover {
      background: $gray;
      color: $white;
      @include border ($gray);
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 15.5rem;
      z-index: 5;
    }
  }
  //
  &__header,
  &__scroll-btn {
    $some-breakpoints: map-remove($grid-breakpoints, (xs, sm));
    @each $breakpoint in map-keys($some-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $container-max-width: map-get($container-max-widths, $breakpoint);
        right: calc( 50% - #{$container-max-width}/2);
      }
    }
  }
  //
  &__welcome {
    @extend .w-100,
    .h-100;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba($gray-dark, .5);
    color: $white;
    z-index: 9;
    color: $white;
    font-size: 3.4rem;
    font-weight: $font-weight-light;
    display: none;
    @include media-breakpoint-up(md) {
      display: table;
    }
  }
  &__welcome-text {
    display: table-cell;
    vertical-align: middle;
  }
  //
  &__welcome-instructions {
    @extend .pt-50,
    .w-100;
    padding-bottom: 15rem;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, rgba($gray-dark, 0.5) 85%, transparent 100%);
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  &__welcome-instructions-container {
    @extend .container,
    .row;
  }
  //
  &__welcome-instruction {
    @extend .col-4;
    padding: {
      right: 0 !important;
      left: 0 !important;
    }
    font-size: 2.4rem;
    line-height: 3.5rem;
    text-align: center;
    color: $aledo;
    width: 100%;
    padding-bottom: 5rem;
    background: {
      image: $icon-arrow-big-dotted-bottom;
      size: 28px 45px;
      position: center bottom;
      repeat: no-repeat;
    }
    z-index: 1000;
    //
    &_color {
      @extend .col-7,
      .ml-auto;
    }
  }
  //
  //
  &__controller {
    @extend .py-25,
    .w-100,
    .d-none,
    .d-md-block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba($gray-dark, .25);
  }
  //
  &__controller-container {
    @extend .container,
    .row,
    .no-gutters;
    color: $white;
  }
  //
  &__control {
    position: relative;
    padding: {
      right: 0 !important;
      left: 0 !important;
    }
    &_dimming {
      @extend .col-4;
    }
    &_temperature {
      @extend .col-3,
      .ml-auto;
      text-align: right;
    }
    &_or {
      flex: 0 0 4.33333%;
      max-width: 4.33333%;
      color: $gray-light;
      text-align: center;
    }
    &_color {
      flex: 0 0 28.66666%;
      max-width: 28.66666%;
      position: relative;
    }
  }
  //
  &__slider-values {
    position: absolute;
    top: -.5rem;
    color: $gray-lighter;
    font-size: $font-size-small;
    &_min {
      left: 0;
    }
    &_dim {
      top: 3rem
    }
    &_max {
      right: 0;
    }
  }
  //
  &__description {
    @extend .mt-20;
  }
  //
  &__slider {
    @extend .mt-15;
    height: 3.5rem;
    border: none;
    border-radius: 0;
    background: none;
    background: {
      position: center;
      size: 100% 35px;
    }
    //
    &_temperature {
      background-image: linear-gradient(90deg, #F9EB6E 0%, #E5E5E5 50%, #69E9FF 100%);
    }
    &_or,
    &_color {
      background-color: rgba($gray-lighter, .5);
    }
  }
  &__slider-back {
    width: 100%;
    height: 3.5rem;
    position: absolute;
    .dim-c {
      transform-origin: left bottom;
      transform: scale(.5);
    }
  }
  //
  &__slider &__slider-handle {
    @extend .d-flex,
    .align-items-center,
    .justify-content-center;
    display: inline-block;
    text-align: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    top: -1.25rem;
    margin-left: -3.125rem;
    background: $white;
    color: $gray;
    font-weight: $font-weight-bold;
    @include border($aledo,
    5);
    cursor: pointer;
    &:focus {
      outline: none !important;
    }
  }
  &__slider_temperature {
    opacity: .5;
  }
  &__control_active &__slider {
    opacity: 1;
  }
  &__slider-handle {
    visibility: hidden;
  }
  &__control_active &__slider-handle {
    visibility: visible;
  }
  //
  &__colors {
    @extend .d-flex,
    .flex-nowrap,
    .justify-content-between,
    .align-items-center;
    position: absolute;
    top: .75rem;
    left: -.75rem;
    width: calc(100% + 1.5rem);
  }
  &__color-item {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0px solid $white;
    transition: $transition-base;
    cursor: pointer;
    &:hover {
      border: 5px solid $white;
    }
    &_type_1,
    &_type_1:after {
      background-image: linear-gradient(to right, #f330da 0%, #0060ff 100%);
    }
    &_type_2,
    &_type_2:after {
      background-image: linear-gradient(to right, #eaff00 0%, #ff00ea 100%);
    }
    &_type_3,
    &_type_3:after {
      background-image: linear-gradient(to right, #3059f3 0%, #00ccff 100%);
    }
    &_type_4,
    &_type_4:after {
      background-image: linear-gradient(to right, #f33083 0%, #d8ff00 100%);
    }
    &_type_5,
    &_type_5:after {
      background-image: linear-gradient(to right, #b530f3 0%, #00ff91 100%);
    }
  }
  //
  &__control_active &__color-item_chosen {
    border: 5px solid $white;
    position: relative;
    //
    &:before {
      @include after-before();
      top: -1.1rem;
      left: -1.17rem;
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
      background: $white;
      @include border($aledo,
      5);
    }
    &:after {
      @include after-before();
      top: -0.5rem;
      left: -0.5rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 5px solid $white;
    }
  }
}

//
//
.color-controller {
  @extend .w-100,
  .h-100,
  .d-none,
  .d-md-block;
  position: absolute;
  //
  &__image-wrapper {
    @extend .w-100,
    .h-100;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
    //
    &_active {
      opacity: 1;
    }
    &_lights {
      transition: opacity 0.2s;
    }
  }
  &__image {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    transform: translate(-50%, -40%);
    //
    &_lights {
      transition: opacity 0.2s;
    }
  }
}

.ng-fade {
  @extend .w-100,
  .h-100;
  position: absolute;
  transition: all 1.5s;
  &.ng-fade.ng-hide {
    opacity: 0;
  }
}
