// SOLUTIONS LINES CONTROLLER
section(block='solutions-lines-controller' ng-controller="ColorManagementController as colorCtrl")
  h1(elem='header')
      | Создаём атмосферу
      br
      | с помощью световых линий
  |
  a(elem='scroll-btn' id='js-scroll-down' href='#') Узнать подробнее
  |
  //- WELCOME
  div(elem='welcome') 
    div(elem='welcome-text') Управляй атмосферой! 
  |
  div(elem='welcome-instructions')
    div(elem='welcome-instructions-container')
      //-
      div(elem='welcome-instruction') Регулируй яркость
      //-
      div(elem='welcome-instruction' mods='color') Меняй цветовую температуру и&nbsp;сценарии освещения
  |
  //-
  div(block='color-controller')
    div(private-scope='' in-view='$inview = $inview')
      div(style='display:none' br-lazy-compile='$inview')
        img(ng-style='/Content/images/landing/render/{{image}}.jpg' ng-repeat='image in ::colorCtrl.images')
    div(elem='image-wrapper' mods='active')  
      img(elem='image' alt='' src='/Content/images/landing/render/night.jpg' nopin='nopin')
    div(elem='fade' class='ng-fade' ng-show='colorCtrl.activeSection === 1')
      div(elem='image-wrapper' mods='active' ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 1}")
        img(elem='image' alt='' src='/Content/images/landing/render/3000.jpg' nopin='nopin' ng-style="{'opacity' : colorCtrl.activeSection === 1 ? colorCtrl.light * 0.01: 0}")
      div(elem='image-wrapper' mods='active' ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 1}")
        img(elem='image' mods='lights' alt='' src='/Content/images/landing/render/lights/3000.png' ng-style="{'opacity' : colorCtrl.activeSection === 1 ? colorCtrl.light * 0.01 +0.2: 0}" nopin='nopin')
      div(elem='image-wrapper' mods='active' ng-style="{'opacity' :(colorCtrl.temperature - 3000) /(5000-3000)*100 * 0.02}" ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 1}")
        img(elem='image' alt='' src='/Content/images/landing/render/4000.jpg' nopin='nopin' ng-style="{'opacity' : colorCtrl.activeSection === 1 ? colorCtrl.light * 0.01: 0}")
      div(elem='image-wrapper' mods='active lights' ng-style="{'opacity' :(colorCtrl.temperature - 3000) /(5000-3000)*100 * 0.02}" ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 1}")
        img(elem='image' mods='lights' alt='' src='/Content/images/landing/render/lights/4000.png' nopin='nopin' ng-style="{'opacity' : colorCtrl.activeSection === 1 ? colorCtrl.light * 0.01 +0.2: 0}")
      div(elem='image-wrapper' mods='active' ng-style="{'opacity' :((colorCtrl.temperature - 3000) /(5000-3000)*100 -50) * 0.02}" ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 1}")
        img(elem='image' alt='' src='/Content/images/landing/render/5000.jpg' nopin='nopin' ng-style="{'opacity' : colorCtrl.activeSection === 1 ? colorCtrl.light * 0.01: 0}")
      div(elem='image-wrapper' mods='active lights' ng-style="{'opacity' :((colorCtrl.temperature - 3000) /(5000-3000)*100 -50) * 0.02}" ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 1}")
        img(elem='image' alt='' src='/Content/images/landing/render/lights/5000.png' nopin='nopin' ng-style="{'opacity' : colorCtrl.activeSection === 1 ? colorCtrl.light * 0.01+0.2: 0}")
    div(elem='fade' class='ng-fade' ng-repeat='type in ::colorCtrl.colorTypes' ng-show='colorCtrl.activeSection === 2')
      div(elem='image-wrapper' ng-style="{'opacity' : colorCtrl.activeSection === 2 && colorCtrl.colorType === type ? colorCtrl.light * 0.01: 0}" ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 2}")
        img(elem='image' alt='' src='/Content/images/landing/render/gradient_{{::type}}.jpg' nopin='nopin')
      div(elem='image-wrapper' mods='lights' ng-style="{'opacity' : colorCtrl.activeSection === 2 && colorCtrl.colorType === type ? colorCtrl.light * 0.01: 0}" ng-class="{'color-controller__image-wrapper_active' : colorCtrl.activeSection === 2}")
        img(elem='image' alt='' src='/Content/images/landing/render/lights/gradient_{{::type}}.png' nopin='nopin')
  |
  //-
  div(elem='controller')
    div(elem='controller-container')
      div(elem='control' mods='dimming active')
        span(elem='slider-values' mods='min dim') 0%
        span(elem='slider-values' mods='max') 100%
        |
        div(elem='slider' mods='dimming' class='ng-pristine ng-untouched ng-valid ng-scope ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all' private-scope='', in-view='$inview = $inview', ui-slider='{value:colorCtrl.light}', color-management-slider='{value}', ng-model='colorCtrl.light', ng-model-options="{ debounce: 100, animate: 'slow' }")
          svg(elem='slider-back' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 376 35' preserveAspectRatio="none")
            defs
              style.
                .dim-a{fill:none;}.dim-b{clip-path:url(#dim-a);}.dim-c{fill:#D1D639;}.dim-d{fill:#DBDDDC;fill-opacity:.5;}
              clippath#dim-a
                path.dim-a(d='M361,0h15V35H361ZM336,35h15V0H336Zm-25,0h15V0H311Zm-25,0h15V0H286Zm-25,0h15V0H261Zm-25,0h15V0H236Zm-25,0h15V0H211Zm-25,0h15V0H186Zm-25,0h15V0H161Zm-25,0h15V0H136Zm-25,0h15V0H111ZM86,35h15V0H86ZM61,35H76V0H61ZM0,35H51V0H0Z')
            g.dim-b
              polygon.dim-d(points='376 35 0 35 376 0 376 35')
              polygon.dim-c(points='376 35 0 35 376 0 376 35')
          span(elem='slider-handle' class='ui-slider-handle ui-state-default ui-corner-all' tabindex='0', style='left: 50%;') 50%
        |
        div(elem='description')
          | Яркость
      div(elem='control' mods='temperature active' ng-class="{'solutions-lines-controller__control_active' : colorCtrl.activeSection === 1 }")
        span(elem='slider-values' mods='min') 3000K
        span(elem='slider-values' mods='max') 5000K
        |
        div(elem='slider' mods='temperature' class='ng-pristine ng-untouched ng-valid ng-scope ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all active' color-management-slider='{value}K', ui-slider="{step:20, min:3000, max:5000, value:colorCtrl.temperature, animate: 'slow'}", ng-model='colorCtrl.temperature', ng-mousedown='colorCtrl.activeSection = 1', ng-model-options='{ debounce: 100 }')
          span(elem='slider-handle' class='ui-slider-handle ui-state-default ui-corner-all' tabindex='0', style='left: 50%;') 4000K
        |
        div(elem='description')
          | Цветовая температура
      div(elem='control' mods='or')
        div(elem='slider' mods='or')
        |
        div(elem='description')
          | или
      div(elem='control' mods='color active' ng-class="{'solutions-lines-controller__control_active' : colorCtrl.activeSection === 2 }")
        div(elem='slider' mods='color')
        div(elem='colors')
          div(elem='color-cell' class='ng-scope' ng-repeat='type in ::colorCtrl.colorTypes')
            div(elem='color-item' mods='type_1 chosen' ng-class="{'solutions-lines-controller__color-item_chosen': colorCtrl.colorType === type && colorCtrl.activeSection === 2}" ng-mousedown='colorCtrl.activeSection = 2' ng-click='colorCtrl.colorType = type')
          each val in [2, 3, 4, 5]
            div(elem='color-cell' class='ng-scope' ng-repeat='type in ::colorCtrl.colorTypes')
              div(elem='color-item' mods='type_' + val ng-class="{'solutions-lines-controller__color-item_chosen': colorCtrl.colorType === type && colorCtrl.activeSection === 2}" ng-mousedown='colorCtrl.activeSection = 2' ng-click='colorCtrl.colorType = type')
        |
        div(elem='description')
          | Цвет свечения