/* INDEX SHOWCASE SLIDER */

.index-warehouse-slider {
  @extend .mt-25;
  //  
  .flickity-prev-next-button {
    width: 4.5rem;
    //
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
    @include media-breakpoint-up(md) {
      &:after {
        background-color: transparent !important;
      }
      &.previous {
        left: -1.5rem;
      }
      &.next {
        right: -1.5rem;
      }
    }
  }
  //
  &__header {
    @extend .container,
    .px-15,
    .px-md-25;
  }
  //
  &__slider {
    @extend .mt-10,
    .px-0,
    .px-md-25,
    .container;
    overflow: hidden;
    height: 34.5rem;
    @include media-breakpoint-up(md) {
      height: 34.5rem;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 100%;
      //overflow-x: hidden;
    }
  }
  //
  &__card {
    @extend .mx-5,
    .d-flex,
    .h-100;
    transition: all 0s linear;
    transition: opacity .35s ease-in-out;
    opacity: 0;
    width: 22.5rem;
    @include media-breakpoint-between(sm, md) {
      width: calc((1/3)*100% - (2/3) * 1rem);
    }
    @include media-breakpoint-only(lg) {
      width: calc((1/4)*100% - (3/4) * 1rem);
    }
    @include media-breakpoint-up(xl) {
      width: calc((1/5)*100% - (4/5) * 1rem);
    }
  }
  //
  &__image {
    flex: 0 17.5rem;
    padding-top: 0;
    max-height: 17.5rem;
  }
  //
  &__title,
  &__text {
    margin-bottom: 10px !important;
  }
  //
  &__text {
    font-size: $font-size-small;
  }
}

//
// ICONS
.card {
  &__angle-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
    }
    &_adjust {
      &-super-spot {
        background-image: $icon-angle-light-adjust-super-spot;
      }
      &-spot {
        background-image: $icon-angle-light-adjust-spot;
      }
      &-medium {
        background-image: $icon-angle-light-adjust-medium;
      }
      &-flood {
        background-image: $icon-angle-light-adjust-flood;
      }
      &-wide {
        background-image: $icon-angle-light-adjust-wide;
      }
      &-focusable {
        background-image: $icon-angle-light-adjust-focusable;
      }
      &-oval-flood {
        background-image: $icon-angle-light-adjust-oval-flood;
      }
    }
    &_fixed {
      &-super-spot {
        background-image: $icon-angle-light-fixed-super-spot;
      }
      &-spot {
        background-image: $icon-angle-light-fixed-spot;
      }
      &-medium {
        background-image: $icon-angle-light-fixed-medium;
      }
      &-flood {
        background-image: $icon-angle-light-fixed-flood;
      }
      &-wide {
        background-image: $icon-angle-light-fixed-wide;
      }
      &-focusable {
        background-image: $icon-angle-light-fixed-focusable;
      }
      &-oval-flood {
        background-image: $icon-angle-light-fixed-oval-flood;
      }
    }
    &_wallwasher {
      background-image: $icon-angle-light-wallwasher;
    }
  }
}
