// INDEX SHOWCASE SLIDER
div(block='index-warehouse-slider')
  //-
  h4(elem='header') Новые поступления на&nbsp;склад
  div(elem='slider' id='js-index-warehouse-slider')
    |
    - for (var x = 0; x < 8; x++)
      div(block='card' mods='image' mix='block:index-warehouse-slider elem:card' class='carousel-cell')
        a(elem='image' mix='block:index-warehouse-slider elem:image' href='#' style='background-image: url(img/skill_sra_04.png);')
        div(elem='block')
          span(elem='title' mix='block:index-warehouse-slider elem:title')
            a(elem='title-link' href='#')
              | Skill RA 100
          p(elem='text' mix='block:index-warehouse-slider elem:text') 150...800&nbsp;лм
          p(elem='text' mix='block:index-warehouse-slider elem:text')
            span(elem='angle-icon' mods='fixed-spot' title='15°')
            span(elem='angle-icon' mods='fixed-medium' title='35°')
            span(elem='angle-icon' mods='fixed-oval-flood' title='8-35°')
          a(elem='tag' href='#') Поворотные встраиваемые светильники