/* HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-PAGES */

.header {
  //
  &__navbar-pages {
    @extend .py-0;
    @include transition($transition-base);
    @include media-breakpoint-up(md) {
      @include border-top($gray-lighter);
      @include border-bottom($gray-light, 2);
    }
  }
  //    
  &__navbar-nav_pages {
    @extend .d-md-flex;
    @include media-breakpoint-up(md) {
      display: block;
      height: 4.2rem !important;
    }
    //
    @include media-breakpoint-down(sm) {
      &.collapse {
        display: none !important;
        @include transition($transition-collapse);
        //
        &.show {
          display: flex !important;
          flex: 1 1 100%;
          height: 100% !important;
        }
      }
      &.collapsing {
        opacity: 0;
      }
    }
  }
  // ITEM
  &__navbar-nav_pages &__navbar-item {
    flex: 0 auto;
    //
    &.active {
      @include media-breakpoint-down(sm) {
        background-color: $aledo-lightest;
      }
      @include media-breakpoint-up(md) {
        position: relative;
        &::after {
          @include after-before();
          left: 0;
          right: 0;
          bottom: -2px;
          @include border-bottom($gray-dark, 4);
          z-index: 1001;
        }
      }
      & a {
        color: $navbar-light-active-color;
        font-weight: 500;
      }
    }
    // SM-DOWN
    &_sm-down {
      @extend .d-md-none;
    }
  }
  //
  &__navbar-nav_pages &__navbar-link {
    @extend .px-15;
  }
  //
  // MD-OVER
  &__navbar-item_md-over {
    @include media-breakpoint-only(md) {
      display: none;
    }
  }
  //
  &__navbar-sm_open {
    @extend .d-none;
  }
  //
  // stuck
  &_stuck &__navbar-pages {
    @extend .border-0;
    @include media-breakpoint-up(md) {
      background: $gray-lighter;
    }
  }
  &_stuck &__navbar-nav_pages {
    @include media-breakpoint-up(md) {
      height: 3.7rem !important;
    }
  }
  &_stuck &__navbar-pages &__navbar-item.active {
    &::after {
      bottom: -1px;
      @include border-bottom($gray-dark, 3);
    }
  }
  //
  // SM OPEN
  &_sm-open {
    @extend .d-flex,
    .flex-column,
    .justify-content-between;
  }
  &_sm-open &__navbar-brand {
    flex: 0 0 5rem;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
  &_sm-open &__navbar-sm-menu {
    flex: 0 0 4.5rem;
  }
  &_sm-open &__navbar-pages {
    @extend .flex-column,
    .justify-content-between,
    .border-top-0,
    .border-bottom-0;
    flex: 1 1 0%;
    min-height: 8rem;
    background: $white !important;
  }
  &_sm-open &__navbar-nav_pages {
    @extend .flex-column,
    .justify-content-between,
    .container;
    overflow-y: auto;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
  &_sm-open &__navbar-nav_pages &__navbar-item {
    flex: 1 1 100%;
    min-height: 4.5rem;
  }
  &_sm-open &__navbar-nav_pages &__navbar-item_search-toggler {
    @extend .d-none;
  }
  &_sm-open &__navbar-sm_open {
    @extend .d-flex,
    .transition-fade;
    flex: 0 0 4.8rem;
    background: $white;
  }
  &_sm-open &__navbar-sm_open &__navbar-nav_user-group {
    @extend .d-flex,
    .flex-row,
    .transition-fade;
    height: 5rem;
  }
}
