// HEADER NAVBAR-BRAND NAVBAR-NAV NAVBAR-PAGES
nav(elem='navbar-pages')
  ul(elem='navbar-nav' mods='pages' class='collapse' id='js-navbar-pages-toggle')
    li(elem='navbar-item' mods='sm')
      a(elem='navbar-link' href='#') 
        span Каталог
    li(elem='navbar-item' mods='sm' class='active')
      a(elem='navbar-link' href='#') 
        span Проекты
    li(elem='navbar-item' mods='sm')
      a(elem='navbar-link' href='#') 
        span Услуги и решения
    li(elem='navbar-item' mods='sm')
      a(elem='navbar-link' href='#') 
        span Доставка и оплата
    li(elem='navbar-item' mods='sm')
      a(elem='navbar-link' href='#') 
        span Блог
    //- MD-OVER
    li(elem='navbar-item' mods='sm md:over')
      a(elem='navbar-link' href='#') 
        span Контакты
    |
    //- MD-MORE
    include ../__navbar-pages_md/navbar-pages_md.pug  
    |
    //- SM-DOWN
    li(elem='navbar-item' mods='sm sm:down')
      a(elem='navbar-link' href='#') 
        span О компании
    li(elem='navbar-item' mods='sm sm:down')
      a(elem='navbar-link' href='#')
        span Партнёрам 
    |
    //- SEARCH-TOGGLER
    include ../__search-toggler/search-toggler.pug
  |
  //-
  include ../__navbar-phones_sm/navbar-phones_sm.pug
|
//- NAVBAR-ITEMS_SM
div(elem='navbar-sm' mods='open')
  include ../__user-group/user-group.pug
|
//- SEARCH-TOGGLER
include ../__search-menu/search-menu.pug